// // Body
$body-bg: #fefefe;

// Cards
$card-spacer-x: 0.9375rem;
$card-spacer-y: 0.625rem;
$card-cap-bg: #fbfbfb;
$card-border-color: #e8eced;

// Borders
$border-radius: .125rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;

// Nav Pills
$nav-pills-border-radius: 0;
$white:#FFFFFF;
$primary:#52b245;
$success:#52b245;
$primary-light:#E7F4E5;
$grey:#f2f2f2;
$black:#000000;
$secondary:#1DACD6;
$blue:#3C4B64;
$med-grey:#bebebe;
$dark-grey:#686868;


$shadow-secondary:rgba(29, 172, 214, 0.2);
$shadow-primary:rgba(69, 150, 58, 0.4);
$shadow-info:rgba(23, 162, 184, 0.2);
$light-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
$breakpoint-tablet: 768px;
$breakpoint-mobile: 576px;

