<template>
  <div>
  <PazienteSelezionato></PazienteSelezionato>
  <EsamiPromemoria></EsamiPromemoria>
 <CRow class="home-paziente">
   <CCol col="6" md="3">
    <router-link to="paziente">
     <CCard>
       <CCardBody class="card-pagina-paziente">
          <CCol  sm="12" class="text-center">
            <fa icon="user"></fa>
            <div>
              <h6><b>Scheda Clinica</b></h6>
            </div>
          </CCol>
       </CCardBody>
     </CCard>
    </router-link>
   </CCol>
    <CCol col="6" md="3">
    <router-link to="dati-clinici">
     <CCard>
       <CCardBody class="card-pagina-paziente">
          <CCol  sm="12" class="text-center">
            <fa icon="file-medical-alt"></fa>
            <div>
              <h6><b>Dati Clinici</b></h6>
            </div>
          </CCol>
       </CCardBody>
     </CCard>
    </router-link>
   </CCol>
  <CCol col="6" md="3">
    <router-link to="monitoraggio-remoto">
     <CCard>
       <CCardBody class="card-pagina-paziente">
          <CCol  sm="12" class="text-center">
            <fa icon="rss"></fa>
            <div>
              <h6><b>Monitoraggio Remoto</b></h6>
            </div>
          </CCol>
       </CCardBody>
     </CCard>
    </router-link>
   </CCol>
    <CCol  col="6" md="3" v-if="User.role == 'medico'">
      <router-link :to="'messaggi?idChat='+paziente.idUser">
        <CCard>
       <CCardBody class="card-pagina-paziente">
          <CCol sm="12" class="text-center">
            <fa icon="comments"></fa>
            <h6><b>Messaggi</b></h6>
          </CCol>
       </CCardBody>
     </CCard>
      </router-link>
   </CCol>
   <CCol  col="6" md="3" >
     <router-link to="diagnosi">
      <CCard>
       <CCardBody class="card-pagina-paziente">
          <CCol sm="12" class="text-center">
            <fa icon="stethoscope"></fa>
            <h6><b>Diagnosi</b></h6>
          </CCol>
       </CCardBody >
     </CCard>
     </router-link>
   </CCol>
   <CCol  col="6" md="3" >
     <router-link to="terapia">
       <CCard>
       <CCardBody class="card-pagina-paziente">
          <CCol sm="12" class="text-center">
            <fa icon="pills"></fa>
            <h6><b>Terapia</b></h6>
          </CCol>
       </CCardBody>
     </CCard>
     </router-link>
   </CCol>
   <CCol  col="6" md="3" >
     <router-link to="esami">
        <CCard>
       <CCardBody class="card-pagina-paziente">
          <CCol sm="12" class="text-center">
            <fa icon="file-medical"></fa>
            <h6><b>Esami Laboratorio</b></h6>
          </CCol>
       </CCardBody>
     </CCard>
     </router-link>
   </CCol>
    <CCol  col="6" md="3" >
      <router-link to="esami-strumentali">
        <CCard>
       <CCardBody class="card-pagina-paziente">
          <CCol sm="12" class="text-center">
            <fa icon="laptop-medical"></fa>
            <h6><b>Esami Strumentali</b></h6>
          </CCol>
       </CCardBody>
     </CCard>
      </router-link>
   </CCol>
   <CCol  col="6" md="3" >
        <router-link to="piani-terapeutici">
        <CCard>
       <CCardBody class="card-pagina-paziente">
          <CCol sm="12" class="text-center">
            <fa icon="file-invoice"></fa>
            <h6><b>Piani Terapeutici</b></h6>
          </CCol>
       </CCardBody>
     </CCard>
      </router-link>
   </CCol>
    <CCol  col="6" md="3" >
      <router-link to="interventi">
        <CCard>
       <CCardBody class="card-pagina-paziente">
          <CCol sm="12" class="text-center">
            <fa icon="heartbeat"></fa>
            <h6><b>Interventi</b></h6>
          </CCol>
       </CCardBody>
     </CCard>
      </router-link>
   </CCol>
       <CCol  col="6" md="3" v-if="User.role == 'paziente'">
        <router-link to="medici-assegnati">
        <CCard>
       <CCardBody class="card-pagina-paziente">
          <CCol sm="12" class="text-center">
            <fa icon="user-md"></fa>
            <h6><b>{{User.role == 'paziente' ? 'I tuoi Medici' : 'Medici Assegnati' }}</b></h6>
          </CCol>
       </CCardBody>
     </CCard>
     </router-link>
   </CCol>
    <CCol  col="6" md="3" >
      <router-link to="appuntamentipaziente">
        <CCard>
       <CCardBody class="card-pagina-paziente">
          <CCol sm="12" class="text-center">
            <fa icon="calendar-alt"></fa>
            <h6><b>Appuntamenti</b></h6>
          </CCol>
       </CCardBody>
     </CCard>
      </router-link>
   </CCol>
       <CCol  col="6" md="3"  v-if="User.role == 'medico'">
      <router-link to="allarmi">
        <CCard>
       <CCardBody class="card-pagina-paziente">
          <CCol sm="12" class="text-center">
            <fa icon="bell"></fa>
            <h6><b>Allarmi</b></h6>
          </CCol>
       </CCardBody>
     </CCard>
      </router-link>
   </CCol>
    <CCol  col="6" md="3" v-if="User.role == 'paziente'" >
      <router-link to="teleconsulto">
        <CCard>
       <CCardBody class="card-pagina-paziente">
          <CCol sm="12" class="text-center">
            <fa icon="headset"></fa>
            <h6><b>Teleconsulto</b></h6>
          </CCol>
       </CCardBody>
     </CCard>
      </router-link>
   </CCol>
    <CCol  col="6" md="3" >
      <router-link :to="{name:'private.prescrizioni'}">
        <CCard>
       <CCardBody class="card-pagina-paziente">
          <CCol sm="12" class="text-center">
            <fa icon="file-alt"></fa>
            <h6><b>Prescrizioni Farmaci</b></h6>
          </CCol>
       </CCardBody>
     </CCard>
      </router-link>
   </CCol>
    <CCol  col="6" md="3" >
      <router-link :to="{name:'private.prescrizioni_esami'}">
        <CCard>
       <CCardBody class="card-pagina-paziente">
          <CCol sm="12" class="text-center">
            <fa icon="file-alt"></fa>
            <h6><b>Prescrizioni Esami</b></h6>
          </CCol>
       </CCardBody>
     </CCard>
      </router-link>
   </CCol>
    <CCol  col="6" md="3" >
     <router-link :to="{name:'private.anticoagulanti'}">
        <CCard>
       <CCardBody class="card-pagina-paziente">
          <CCol sm="12" class="text-center">
            <fa icon="file-medical"></fa>
            <h6><b>Anticoagulante</b></h6>
          </CCol>
       </CCardBody>
     </CCard>
     </router-link>
   </CCol>
       <CCol  col="6" md="3" >
     <router-link :to="{name:'private.api_key'}">
        <CCard>
       <CCardBody class="card-pagina-paziente">
          <CCol sm="12" class="text-center">
            <fa icon="file-medical"></fa>
            <h6><b>Api Key</b></h6>
          </CCol>
       </CCardBody>
     </CCard>
     </router-link>
   </CCol>
 </CRow>

  </div>
</template>

<script>
import axios from 'axios'
import _ from 'lodash'
import Form from 'vform'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'
import EsamiPromemoria from '~/components/private/EsamiPromemoriaComponent.vue'

import { mapGetters, mapMutations, mapActions } from 'vuex'
export default {
  name: 'HomePaziente',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    PazienteSelezionato,
    EsamiPromemoria

  },

 data () {
    return {
    }
 },


  computed: {
    ...mapGetters({
      User: 'auth/user',
      paziente: 'pazienti/getPaziente'
    }),
  },


mounted () {
  },

  methods: {

  }


}
</script>
