<template>
  <div>
   <CRow>
    <CCol sm="12 my-2 p-0">
      <h4 class="sub_heading">Benvenuto, {{User.name}}</h4>
    </CCol>
   </CRow>
  <CRow>
    <CCol class="col-6">
      <router-link to="allarmi-scattati"> 
        <CWidgetProgressIcon
          :header="allarmi_attivi.toString()"
          text="Allarmi Attivi"
          color="info">
          <CIcon name="cil-bell" height="36"/>
        </CWidgetProgressIcon>
      </router-link>
    </CCol>
    <CCol class="col-6">
      <router-link to="messaggidaleggere"> 
        <CWidgetProgressIcon
          :header="messaggi.toString()"
          text="Messaggi"
          color="info">
          <CIcon name="cil-chat-bubble" height="36"/>
        </CWidgetProgressIcon>
      </router-link>
    </CCol>
   <!-- <CCol class="col-4">
      <router-link to="pazienti"> 
      <CWidgetProgressIcon
        :header="pazienti_in_cura.toString()"
        text="Pazienti in Cura"
        color="info">
        <CIcon name="cil-people" height="36"/>
      </CWidgetProgressIcon>
      </router-link>
    </CCol>
      <CCol class="col-4">
        <router-link to="richieste-pazienti">
          <CWidgetProgressIcon
            :header="pazienti_in_attesa.toString()"
            text="Richieste di pazienti in sospeso"
            color="info">
            <CIcon name="cil-user-follow" height="36"/>
          </CWidgetProgressIcon>
        </router-link>
      </CCol>
      <CCol class="col-4">
        <router-link to="calendario">
          <CWidgetProgressIcon
            :header="visite.toString()"
            text="N° VISITE DATA CORRENTE"
            color="info">
            <CIcon name="cil-calendar" height="36"/>
          </CWidgetProgressIcon>
        </router-link>
      </CCol>-->
    </CRow>
  </div>
</template>

<script>

import axios from 'axios'
import _ from 'lodash'
import Form from 'vform'
import UltimiAllarmi from '~/pages/private/medici/pagine/allarmi_scattati'
import Notification from '~/components/private/Notification.vue'
import { mapGetters, mapMutations, mapActions } from 'vuex'


export default {
  name: 'Home',
  components: {
      UltimiAllarmi,
      Notification
  },

 data () {
    return {
      pazienti_in_cura: '',
      pazienti_in_attesa: '',
      visite: ''
    }
 },

  computed: {
    ...mapGetters({
      User: 'auth/user',
      allarmi_attivi: 'private/getCounterAllarmiAttivi',
      messaggi: 'private/getCounterMessaggi',
    }),
  },


mounted () {
    this.caricaDashboard();
    this.countAllarmiAttivi();
    this.countMessaggi();
  },

methods:{

  ...mapActions({
      countAllarmiAttivi: 'private/countAllarmiAttivi',
      countMessaggi:'private/countMessaggi'
  }),

  caricaDashboard(){
      var url = '/api/dashboard-medico'
      axios.get(url)
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.pazienti_in_cura = res.data.pazienti_in_cura.toString();
            this.pazienti_in_attesa = res.data.pazienti_in_attesa.toString();
            this.visite = res.data.visite.toString();
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },
  }
}
</script>
