<template>
  <div>

    <CCard>
      <CCardHeader>
            <h4>Impostazioni</h4>
      </CCardHeader>
      <CCardBody>
        <CRow>
          <CCol sm="4">
            <CTextarea label="Intestazione Piani Terapeutici" v-model="formOpzione.intestazionePianiTerapeutici" name="intestazionepianiterapeutici"></CTextarea>
          </CCol>
          <CCol sm="12">
           <CButton color="success" @click="aggiornaImpostazioni">Salva</CButton>
          </CCol>
        </CRow>
      </CCardBody>
    </CCard>

  </div>
</template>

<script>


  import axios from 'axios'
  import Form from 'vform'



  import { mapGetters, mapMutations, mapActions } from 'vuex'


    export default {
    name: 'Opzione',
    components: {

    },

    data () {
      return {
        formOpzione: {
          intestazionePianiTerapeutici: ''
        },
      }
    },

    watch: {

    },

    mounted () {
      this.getOpzioni();
    },
    /*
    METODI
    */
    methods: {
          getOpzioni(){
          this.$store.commit('private/setPreload', true);
          var url = '/api/impostazioni'
          axios.get(url)
            .then(res => {
          this.$store.commit('private/setPreload', false)
          if(res.data){
              this.formOpzione.intestazionePianiTerapeutici = res.data['0'].intestazionePianiTerapeutici
            }
          else {
              this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
          })
          .catch(err => {
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
            })
      },


        aggiornaImpostazioni(){
          var url = '/api/impostazioni'
          var payload = this.formOpzione
          this.$store.commit('private/setPreload', true)

          axios.post(url,payload)
            .then(res => {
            this.$store.commit('private/setPreload', false)
              if (res.data.success === true) {
                this.$store.commit('private/setMessaggioSuccesso', 'Aggiornamento Riuscito')
                this.modalAggiungiOrdine = false;
              } else {
                this.$store.commit('private/setMessaggioErrore', res.data.message)
              }
            })
            .catch(err => {
              this.$store.commit('private/setPreload', false)
              this.$store.commit('private/setMessaggioErrore', 'Errore Inserismento')
            })
          },
      }
    }
    </script>
