<template>
  <div class="c-app">
    <TheSidebar />
    <CWrapper>
      <TheHeader />
      <div class="c-body">
        <main class="c-main">
          <CContainer fluid>
            <transition name="fade-page" mode="out-in">
              <router-view />
            </transition>
          </CContainer>
        </main>
      </div>
    </CWrapper>
  <!-- PRELOADER ERROR -->
    <div v-show="preloader" class="preloader">
      <div class="btn-loading">
      </div>
    </div>
  <!-- TOASTBAR ERROR -->
    <transition name="fade" @after-enter="afterEnterErrore">
        <div class="alert-wrapper" v-show="errore">
          <div class="alert alert-danger" role="alert">
            {{ messaggio_errore }}
          </div>
        </div>
    </transition>

    <transition name="fade" @after-enter="afterEnterSuccesso">
        <div class="alert-wrapper" v-show="successo">
          <div class="alert alert-success" role="alert">
            {{ messaggio_successo }}
          </div>
        </div>
    </transition>
      <div @click="$store.commit('sidebar/toggleSidebarMobile')" class="c-sidebar-backdrop hidden" :class="{'c-show':SideBarShow}"></div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'

import TheSidebar from '~/components/private/TheSidebar'
import TheHeader from '~/components/private/TheHeader'
import _ from 'lodash'

export default {
  name: 'TheContainer',
  components: {
    TheSidebar,
    TheHeader
  },

  middleware: 'auth',

watch:{
    $route (to, from){
      this.$store.commit('sidebar/hideSidebarMobile');
    }
},

mounted () {
    if(this.User.role == 'medico'){
          this.$router.push({ name: 'private.homemedico' })
      }

    else if(this.User.role == 'paziente'){

      var paziente_corrente={
            name:  this.User.name,
            url_media: this.User.url_media,
            idPaziente: this.User.id
      }
      this.$store.commit('pazienti/setPaziente', paziente_corrente)
      this.$router.push({name: 'private.homepaziente'})
      }
  },

  computed: {
    ...mapGetters({
      preloader: 'private/getPreloader',
      User: 'auth/user',
      messaggio_errore: 'private/getMessaggioErrore',
      errore:'private/getErrore',
      messaggio_successo: 'private/getMessaggioSuccesso',
      successo:'private/getSuccesso',
      SideBarShow: 'sidebar/statoSidebar'
    }),
    ...mapMutations([
      'private/setPreload',
      'private/setError',
      'private/setErrore',
      'private/setMessaggioErrore',
      'private/setSuccesso',
      'private/setMessaggioSuccesso',
    ]),
    tabs () {
      return [
        {
          icon: 'user',
          name: this.$t('profile'),
          route: 'settings.profile'
        },
        {
          icon: 'lock',
          name: this.$t('password'),
          route: 'settings.password'
        }
      ]
    }
  },

  methods: {
    afterEnterErrore: function (el) {
      this.$store.commit('private/hideErrore')
    },
    afterEnterSuccesso: function (el) {
      this.$store.commit('private/hideSuccesso')
    }
  }
}
</script>

<style>
.settings-card .card-body {
  padding: 0;
}
</style>
