<template>
    <div>
  <!-- FORM RICERCA -->
    <div>
    <CRow>
      <CCol sm="12 mb-2">
        <h5 class="sub_heading">Gestione Medici</h5>
      </CCol>
    </CRow>
    <form @submit.prevent="filtraMedici">
    <CRow>
      <CCol sm="12">
        <CCard>
          <CCardHeader class="text-center">
            <CRow>
            <CCol class="sm-9">
            </CCol>
            <CCol class="sm-3">
            <CButton @click="collapse = !collapse" color="info">
               <fa icon="filter"></fa> Filtra
            </CButton >
            <CButton @click="mostraModal('aggiungi')" color="primary" class="ml-2"><span><i class="fas fa-plus"></i></span> Aggiungi Medico </CButton>
            </CCol>
            </CRow>
          </CCardHeader>
          <CCollapse :show="collapse">
          <CCardBody>
            <CRow>
            <CCol sm="4">
              <CInput label="Cerca per Nome o Cognome" v-model="formRicerca.keyword"></CInput>
            </CCol>
            <CCol sm="4">
                <CButton color="primary" type="submit" class="btn-margin-top"><span><i class="fas fa-search"></i></span>  Cerca</CButton>
            </CCol>
            </CRow>
          </CCardBody>
          </CCollapse>
        </CCard>
      </CCol>
    </CRow>
    </form>
    </div>
<!-- TABELLA RISULTATI -->
    <div>
      <vuetable ref="vuetable"
                :api-mode="false"
                :fields="fields"
                :per-page="perPage"
                :data-manager="dataManager"
                no-data-template="Nessun Risultato"
                pagination-path="pagination"
                :css="css.table"
                @vuetable:pagination-data="onPaginationData">
        <div slot="actions" slot-scope="props">
          <CButton  v-c-tooltip="'Modifica Medico'" color="primary" @click="mostraModal('modifica', props.rowData.id)">
            <i class="fas fa-edit"></i>
          </CButton>
          <CButton  v-c-tooltip="'Elimina Medico'" color="danger" @click="apriConferma(props.rowData.id)">
            <i class="fas fa-trash"></i>
          </CButton>
        </div>
      </vuetable>
      <vuetable-pagination-info ref="paginationInfo" info-template="Visualizzati da {from} a {to} di {total} totali" no-data-template="Nessun Risultato"
          ></vuetable-pagination-info>
      <div style="padding-top:10px">
        <vuetable-pagination ref="pagination" :css="css.pagination" @vuetable-pagination:change-page="onChangePage" />
      </div>
    </div>
<!-- MODAL AGGIUNGI/MODIFICA UTENTE -->
    <CModal :title= this.titlemodal color="primary" :show.sync="modalAggiungiMedico">
      <CRow>
          <CCol sm="6">
              <CInput v-model="formMedico.nome" value="utente.nome" label="Nome " name="nome"></CInput>
          </CCol>
            <CCol sm="6">
              <CInput v-model="formMedico.cognome" value="utente.cognome" label="Cognome " name="cognome"></CInput>
          </CCol>
          <CCol sm="6">
              <CInput v-model="formMedico.telefono" type="text" label="Telefono" name="telefono"></CInput>
          </CCol>
          <CCol sm="6">
              <CInput v-model="formMedico.email" type="email" label="Email" name="email"></CInput>
          </CCol>
          <CCol sm="6">
            <div class="form-group">
              <repartiComponente v-on:selezionaReparto="aggiornaRepartoMedico"></repartiComponente>
              </div>
          </CCol>
          <CCol sm="6">
              <CInput v-model="formMedico.codice_odm" type="fax" label="Codice Odm" name="codice_odm"></CInput>
          </CCol>
          <CCol sm="6">
              <CInput v-model="formMedico.provincia_odm" type="pec" label="Provincia Odm" name="provincia_odm"></CInput>
          </CCol>
          <CCol sm="6">
          </CCol>
          <CCol sm="12" v-if="statomodal=='modifica'">
              <label for="modificapassword" class="mt-5">Aggiorna Password</label>
              <input v-model="formMedico.modificapassword" type="checkbox" id="modificapassword" value="on"/>
          </CCol>
          <CCol sm="6">
             <CInput v-model="formMedico.password" type="password" label="Password" name="password"></CInput>
          </CCol>
           <CCol sm="6">
              <CInput v-model="formMedico.password_2" type="password" label="Conferma Password" name="password_2"></CInput>
          </CCol>
      </CRow>
      <template #footer>
        <CButton color="default" @click="modalAggiungiMedico = false">
          Chiudi
        </CButton>
        <CButton v-if="statomodal == 'aggiungi'" color="success"  @click="inserisciMedico">
          Salva
        </CButton>
        <CButton v-if="statomodal == 'modifica'" color="success"  @click="modificaUtente">
          Modifica
        </CButton>
      </template>
    </CModal>
<!-- MODAL CANCELLAZIONE -->
    <CModal
      title="Conferma Cancellazione"
      color="danger"
      :show.sync="modalConferma">
      Sei sicuro?
      <template #footer>
        <CButton color="default" @click="modalConferma = false">
          Chiudi
        </CButton>
        <CButton color="danger" @click="cancellaUtente(id)">
          Conferma
        </CButton>
      </template>
    </CModal>
    </div>
</template>

<script>
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import axios from 'axios'
import VuetableFieldHandle from 'vuetable-2/src/components/VuetableFieldHandle.vue'
import Form from 'vform'
import _ from 'lodash'
import vSelect from 'vue-select'

import repartiComponente from '~/components/private/RepartiSelectComponent.vue'

export default {
  name: 'Medici',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    vSelect,
    repartiComponente
  },

  data () {
    return {
      titlemodal: '',
      statomodal: '',
      idUtente: '',
      modalConferma: false,
      modalAggiungiMedico: false,
      css: TableStyle,
      reparti: '',
      utente: '',
      fields: [
        {
          name: 'nome',
          title: 'Nome',
          sortField: 'nome',
        },
        {
          name: 'cognome',
          title: 'Cognome',
          sortField: 'cognome',
        },
        {
          name: 'nomeReparto',
          title: 'Reparto',
          sortField: 'nomeReparto',
        },
        {
          name: 'actions',
          title: 'Azioni'
        }
      ],
      formRicerca: new Form({
        keyword: '',
      }),
      formMedico: new Form({
        nome:'',
        cognome:'',
        telefono:'',
        email:'',
        reparto:'',
        codice_odm:'',
      }),
      perPage: 10,
      data: [],
      collapse: true,
      innerCollapse: false
    }
  },
  watch: {
    data (newVal, oldVal) {
      this.$refs.vuetable.refresh()
    }
  },

/*
  METODI
*/
  methods: {

/*
  AGGIORNAMENTO REPARTO MEDICO
*/
  aggiornaRepartoMedico(value){
    this.formMedico.reparto=value;
  },

    mostraModal (stato,id){
        if(stato == 'aggiungi'){
            this.statomodal = 'aggiungi'
            this.titlemodal = 'Inserisci Medico';
            //this.formUtente.role = '0';
            this.formMedico.operazione = 'inserimento';
            this.modalAggiungiMedico = true;
        }
        else if(stato == 'modifica'){
           this.titlemodal = 'Modifica Utente';
          this.formMEdico.operazione = 'modifica';
          this.statomodal = 'modifica';
          this.idUtente = id;
          this.apriUtente()
        }
    },

    removeRow (idUtente) {
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idUtente == idUtente) {
          this.data.splice(i, 1)
          break
        }
      }
    },

    aggiornaRow(){
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].id == this.idUtente) {
          this.data[i]=this.formUtente;
           this.$refs.vuetable.refresh()
          break
        }
      }
    },
    apriConferma(id){
      this.modalConferma = true;
      this.id = id;
    },

/*
  FILTRA MEDICI
*/
  filtraMedici(){
    this.$store.commit('private/setPreload', true)
      var url = '/api/medici';
      axios.get(url,{
      params:{
        keyword:this.formRicerca.keyword,
      }
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.data = res.data['0']
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
     },

  /*
    INSERISCI Medico
  */
    inserisciMedico(){
      var url = '/api/medico';
      var payload = this.formMedico;
      this.$store.commit('private/setPreload', true)

      axios.post(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success){
            this.formMedico.reset();
            this.$store.commit('private/setMessaggioSuccesso', 'Inserimento Riuscito')
            this.modalAggiungiMedico = false;
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },

    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },

    dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    }
  }
}
</script>
