<template>
  <!-- FORM RICERCA -->
    <div>
    <backButton></backButton>
    <CRow>
      <CCol sm="12 mb-2">
        <h4 class="sub_heading">Messaggi</h4>
      </CCol>
    </CRow>
    <div class="container-fluid h-100">
			<div class="row h-100">
				<div class="col-md-12 col-xl-12 chat">
					<div class="card-chat shadow-sm">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
                  <img :src="ricevente.url_media == null ? resource+'images/user.png' : resource+'uploads/'+ricevente.url_media" class="icon-image">
								</div>
								<div class="user_info">
									<span><b>{{ricevente.name}}</b></span>
								</div>
								<div class="video_cam">
								</div>
							</div>
							<span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
							<div class="action_menu">
								<ul>
								</ul>
							</div>
						</div>
						<div id="msg_card_body" class="card-body msg_card_body">
              <div v-for="messaggio in chat_corrente" :key="messaggio.idMessaggio">
               <div class="d-flex mb-4" :class="{'justify-content-end' :messaggio.idMittente == User.id}">
								<div class="msg_cotainer shadow-sm" :class="{'msg_cotainer_send ' :messaggio.idMittente == User.id}">
									<span class="msg">{{messaggio.messaggio}}</span>
									<span class="msg_time">{{messaggio.created_at | date('D / M / YYYY - HH:mm')}}</span>
								</div>
							</div>
              </div>
						</div>
						<div class="card-footer">
            <form @submit.prevent="invia_messaggio()">
							<div class="input-group">
								<textarea ref="textmessaggio" id="text-messaggio" name="" v-model="messaggio" class="form-control type_msg" placeholder="Scrivi Messaggio..."></textarea>
								<div class="input-group-append">
									<span @click="invia_messaggio()" class="input-group-text send_btn"> <fa icon="paper-plane"> </fa></span>
								</div>
							</div>
              </form>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</template>

<script>

import axios from 'axios'
import _ from 'lodash'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'
import backButton from '~/components/private/backButton.vue'
export default {
  name: 'Messaggi',
  components: {
    PazienteSelezionato,
    backButton
  },

  data () {
    return {
      resource: this.$resource_url,
      chat_corrente:[],
      messaggio:'',
      idRicevente:'',
      ricevente:{}
    }
  },
  mounted () {

    if(this.$route.query.idChat){
      this.idRicevente=this.$route.query.idChat;
      this.$refs.textmessaggio.focus();
      this.getMessaggi();
      this.getRicevente();
    }

  },

  computed: {
   ...mapGetters({
     paziente: 'pazienti/getPaziente',
      User: 'auth/user'
   })
  },
/*
  METODI
*/
  methods: {

    invia_messaggio(){
      var url = '/api/messaggio';
      var payload={};
      if(this.messaggio==''){
        this.$store.commit('private/setMessaggioErrore', 'Inserisci un Messaggio');
        return;
      }
      if(this.idRicevente==''){
        this.$store.commit('private/setMessaggioErrore', 'Seleziona un Ricevente');
        return;
      }
      payload.idRicevente=this.idRicevente,
      payload.messaggio=this.messaggio,
      axios.post(url,payload)
        .then(res => {
        if(res.data.success === true){
            this.$store.commit('private/setMessaggioSuccesso', 'Messaggio Inviato');
            var messaggio={
              idMittente:this.User.id,
              messaggio:this.messaggio,
              created_at:'',
            };
            this.chat_corrente.push(messaggio);
            this.messaggio='';
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },

/*
  CARICAMENTO MESSAGGI INIZIALI
*/
  getMessaggi(){
    this.$store.commit('private/setPreload', true)
      var url = '/api/messaggi';
      axios.get(url,{
      params:{
        idChat:this.idRicevente
      }
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.chat_corrente = res.data
            setTimeout(function() {
              var objDiv = document.getElementById("msg_card_body");
                objDiv.scrollTop = objDiv.scrollHeight;
              }, 100);

          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
     },

/* GET RICEVETENTE  */
  getRicevente(){
      this.$store.commit('private/setPreload', true)
      var url = '/api/avatar/'+ this.idRicevente;
      axios.get(url)
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.ricevente = res.data['0']['0']
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
     }

  }
}
</script>
