<template>
  <div>
    <form @submit.prevent="filtraPazienti">
    <CRow>
      <CCol sm="12">
        <h4 class="sub_heading">Pazienti</h4>
      </CCol>
      <CCol sm="12">
        <CCard>
          <CCardHeader class="text-center">
          </CCardHeader>
          <CCollapse :show="collapse">
          <CCardBody>
            <CRow  class="row-center">
            <CCol sm="9">
              <CInput v-model="formRicerca.keyword" label="Cerca per Nome o Cognome" name="keyword"></CInput>
            </CCol>
            <CCol sm="3">
                <CButton class="btn-block" color="primary" type="submit"><i class="fas fa-search"></i> Cerca</CButton>
            </CCol>
            </CRow>
          </CCardBody>
          </CCollapse>
        </CCard>
      </CCol>
    </CRow>
    </form>
    <div>
      <vuetable ref="vuetable"
               :api-mode="false"
                :fields="fields"
                :per-page="perPage"
               :data-manager="dataManager"
               no-data-template="Nessun Risultato"
               pagination-path="pagination"
                :css="css.table"
               @vuetable:pagination-data="onPaginationData"
               @vuetable:row-clicked="apriPaziente"
     >
        <div slot="actions" slot-scope="props" class="text-right">

          <CButton  v-c-tooltip="'Scheda Paziente'"  color="info">
             Vai al Paziente <fa icon="sign-in-alt"/>
          </CButton>
         <!-- <CButton  v-c-tooltip="'Cancella Paziente'" color="danger" @click="apriConferma(props.rowData.idUser)">
            <i class="fas fa-trash"></i>
          </CButton>-->
        </div>
      </vuetable>
          <vuetable-pagination-info ref="paginationInfo"
             info-template="Visualizzati da {from} a {to} di {total} totali"
             no-data-template="Nessun Risultato"
          ></vuetable-pagination-info>

      <div style="padding-top:10px">
       <vuetable-pagination ref="pagination" :css="css.pagination"
            @vuetable-pagination:change-page="onChangePage"
       />
      </div>
    </div>



  </div>
</template>

<script>
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import axios from 'axios'
import VuetableFieldHandle from 'vuetable-2/src/components/VuetableFieldHandle.vue'
import _ from 'lodash'
import Form from 'vform'
import vSelect from 'vue-select'

import Datepicker from 'vuejs-datepicker';
import {it} from 'vuejs-datepicker/dist/locale'

import { mapGetters, mapMutations, mapActions } from 'vuex'


export default {
  name: 'Pazienti',

  components: {
    Vuetable,
    Datepicker,
    VuetablePagination,
    vSelect,
    VuetablePaginationInfo,
  },

  data () {
    return {
      it: it,
      format: "dd/MM/yyyy",
      titlemodal: '',
      resource: this.$resource_url,
      modalConferma: false,
      idPaziente: '',
      medici:[],
      css: TableStyle,
      formPaziente: new Form({

      }),
      formRicerca: new Form({
        keyword: '',
      }),
      fields: [
        {
          name: 'url_media',
          title: '',
          formatter: (value) => {
            if(value== null){
               return '<img class="icon-image" src="'+this.resource+'images/user.png">';
            }
            else{
          return '<img class="icon-image" src="'+this.resource+'uploads/'+value+'">';
            }

          }
        },
        {
          name: 'name',
          title: 'Paziente',
          sortField: 'name',
          dataClass:'text-capitalize'
        },
        {
          name: 'actions',
          title: 'Azioni'
        }
      ],
      perPage: 10,
      data: [],
      collapse: true,
      innerCollapse: false
    }
  },

  watch: {
    data (newVal, oldVal) {
      this.$refs.vuetable.refresh()
    }
  },

  mounted () {
    this.filtraPazienti();
  },
  /*
  METODI
*/
  methods: {

    apriPaziente(paziente){

      var paziente_corrente={
            name:  paziente.data.name,
            idPaziente: paziente.data.idUser,
            url_media: paziente.data.url_media
      }

      this.$store.commit('pazienti/setPaziente', paziente_corrente)
      this.$router.push({name: 'private.homepaziente'})
    },

    onSearch:_.debounce(function(e){
      if(e.length > 3){
        var url = '/api/medici';
        axios.get(url,{
        params:{
          nome: e
        }
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.data = res.data['0'];
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
      }
    },500),

     mostraModal (stato,id){
        if(stato == 'aggiungi'){
            this.titlemodal = 'Inserisci Paziente';
            this.formPaziente.operazione = 'inserimento';
        }
        else if(stato == 'modifica'){
          this.titlemodal = 'Modifica Utente';
          this.formPaziente.operazione = 'modifica';
          this.idUtente = id;
        }
    },
/*
  FILTRA PAZIENTI
*/
  filtraPazienti(){
    this.$store.commit('private/setPreload', true)
      var url = '/api/pazienti-medici';
      axios.get(url,{
      params:{
        keyword:this.formRicerca.keyword,
      }
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.data = res.data['0']
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
     },

 /* inserisciPaziente(){
    this.$router.push({path: '/private/pazienti/inserisci_paziente'})
  },*/

/*
  APRI PAZIENTE SINGOLO
*/
/*schedaPaziente(id) {
     this.$store.commit('pazienti/setIdPaziente', id)
    this.$router.push('paziente');
  },
  */
    apriConferma (idPaziente) {
      this.modalConferma = true,
      this.idRichiesta = idRichiesta
    },

    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
          this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },

    removeRow (idPaziente) {
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idPaziente == idPaziente) {
          this.data.splice(i, 1)
          break
        }
      }
    },

    aggiornaRow(){
      var idPaziente=this.formPaziente.idPaziente;
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idPaziente == idPaziente) {
          this.data[i]=this.formRichiesta;
           this.$refs.vuetable.refresh()
          break
        }
      }
    },

    dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    },

  }
}
</script>

<style>
button.ui.button {
  padding: 8px 3px 8px 10px;
	margin-top: 1px;
	margin-bottom: 1px;
}
</style>
