<template>
  <div>
     <CRow>
      <CCol sm="12">
        <CCard>
          <CCardHeader>
            <h4>Profilo</h4>
          </CCardHeader>
          <CCardBody>
            <form @submit.prevent="aggiornaProfilo()">
              <CRow>
            <CCol sm="3">
              <CInput label="Nome" name="nome" v-model="formUtente.nome"></CInput>
            </CCol>
            <CCol sm="3">
              <CInput label="Cognome" name="cognome" v-model="formUtente.cognome"></CInput>
            </CCol>
              <CCol sm="3">
              <CInput label="Email" type="email" name="email" v-model="formUtente.email"></CInput>
            </CCol>
             <CCol sm="3">
               <CInput label="Telefono" name="telefono" v-model="formUtente.telefono"></CInput>
            </CCol>
            <CCol sm="3">
              <label for="modificapassword" class="mt-4">Modifica Password</label>
              <input id="modificapassword" type="checkbox" name="modificapassword" value="on" v-model="formUtente.modificapassword">
            </CCol>
            <CCol sm="3">
              <CInput label="Password" type="password" name="password" v-model="formUtente.password"></CInput>
            </CCol>
            <CCol sm="3">
              <CInput label="Conferma Password" type="password" name="password_2" v-model="formUtente.password_2"></CInput>
            </CCol>
             <CCol sm="3">
              <CButton color="success" class="mt-4" type="submit">Modifica</CButton>
            </CCol>
            </CRow>
            </form>
          </CCardBody>
        </CCard>
      </CCol>
     </CRow>
  </div>
</template>

<script>
import axios from 'axios'
import Form from 'vform'
import _ from 'lodash'

export default {
  name: 'profilo',

  components: {

  },

  data () {
    return {
      formUtente: new Form({
      })
    }
  },


  mounted () {
     this.caricaProfilo()
  },
  /*
    METODI
  */
  methods: {
    /*
      CARICA UTENTE
    */
    caricaProfilo(){
      var url = '/api/profilo';
      this.$store.commit('private/setPreload', true)

      axios.get(url)
        .then(res => {
            this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.formUtente = res.data['0']['0'];
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          alert('errore invio')
        })
    },

    aggiornaProfilo(){
      var url = '/api/profilo';
      var payload = this.formUtente;

      this.$store.commit('private/setPreload', true)

      axios.put(url,payload)
        .then(res => {
            this.$store.commit('private/setPreload', false)
          if (res.data.success === true) {
            this.$store.commit('private/setMessaggioSuccesso', 'Aggiornamento Riuscito')
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          alert('errore invio')
        })
    }
  }
}
</script>
