<template>
  <div>
    <CRow>
      <CCol sm="12"><h4 class="sub_heading">Sezione Prontuario</h4></CCol>

      <CCol sm="12">
        <CCard>
          <CCardHeader>
            <CRow>
              <CCol sm="12" class="text-right">
                <CButton v-if="User.role=='admin'" color="success" @click="mostraModal('aggiungi')"><fa icon="plus"></fa> Aggiungi Principio</CButton>
              </CCol>
            </CRow>
          </CCardHeader>
          <CCardBody>
            <CRow>
              <CCol sm="12">
                <!--SEZIONE TABELLA  RICHIESTA-->
                <vuetable ref="vuetable"
                          :api-mode="false"
                          :fields="fields"
                          :per-page="perPage"
                          :data-manager="dataManager"
                          no-data-template="Nessun Risultato"
                          pagination-path="pagination"
                          :css="css.table"
                          @vuetable:pagination-data="onPaginationData">
                  <div slot="actions" slot-scope="props" class="text-right">
                    <div class="text-right dropdown p-0">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Visualizza Azioni
                      </button>
                      <div class="dropdown-menu-custom dropdown-menu" aria-labelledby="dropdownMenuButton">

                        <span>
                          <CButton @click="mostraModal('aggiorna',props.rowData)">
                            <fa icon="edit"></fa> Modifica Principio
                          </CButton>
                        </span>
                        <span>
                          <CButton class="btn-block btn text-left" @click="apriConferma(props.rowData.id_principio)">
                              <fa icon="trash"></fa> Cancella Principio
                          </CButton>
                        </span>
                      </div>
                    </div>
                  </div>
                </vuetable>
                <vuetable-pagination-info ref="paginationInfo" info-template="Visualizzati da {from} a {to} di {total} totali" no-data-template="Nessun Risultato"
                ></vuetable-pagination-info>
                <div style="padding-top:10px">
                  <vuetable-pagination ref="pagination" :css="css.pagination" @vuetable-pagination:change-page="onChangePage" />
                </div>
              </CCol>
            </CRow>
          </CCardBody>
        </CCard>
      </CCol>


      <!-- Modal Aggiungi/Modifica Principio -->
      <form id="formPrincipio" @submit.prevent="statomodal == 'aggiungi' ? inserisciPrincipio() : aggiornaPrincipio()">
        <CModal
          title="Principio"
          color="primary"
          :show.sync="modalPrincipio">
          <CRow>
            <CCol sm="6">
              <CInput label="Nome Principio" name="nomePrincipio" v-model="formPrincipio.nomePrincipio"></CInput>
            </CCol>
            <CCol sm="6">
              <CInput label="Nome Commerciale" name="nome_commerciale" v-model="formPrincipio.nome_commerciale"></CInput>
            </CCol>
          </CRow>
          <template #footer>
            <CButton color="default" @click="modalPrincipio = false">
              Chiudi
            </CButton>
            <CButton type="submit" color="success" >
              {{statomodal == 'aggiungi' ? 'Salva' : 'Aggiorna'}}
            </CButton>
          </template>
        </CModal>
      </form>

      <!--MODAL CANCELLAZIONE -->
      <CModal
        title="Conferma Cancellazione"
        color="danger"
        :show.sync="modalConferma">
        Sei sicuro?
        <template #footer>
          <CButton color="default" @click="modalConferma = false">
            Chiudi
          </CButton>
          <CButton color="danger" @click="cancellaPrincipio()">
            Conferma
          </CButton>
        </template>
      </CModal>

    </CRow>
  </div>
</template>


<script>

import axios from 'axios'
import Form from 'vform'
import vSelect from 'vue-select'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'
import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
  name: 'Prontuario',

  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    vSelect,
  },

  data () {
    return {
      formPrincipio: new Form({

      }),
      modalConferma: false,
      modalPrincipio: false,
      css:TableStyle,
      id_principio: '',
      titlemodal:'',
      statomodal: '',
      data: [],
      disabled: false,
      perPage: 50,
      fields: [
      {
      title: '#ID',
      name: 'id_principio',
      sortField: true,
      },
      {
      title: 'Nome Principio',
      name: 'nomePrincipio',
      sortField: true,
      },
      {
        title: 'Nome Commerciale',
        name: 'nome_commerciale',
        sortField: true,
      },
      {
      name: 'actions',
      title: 'Azioni',
      sortField: false
      },
      ]
    }
  },

  computed: {

    ...mapGetters({
    paziente: 'pazienti/getPaziente',
    User: 'auth/user'
    })

  },

  mounted () {
    this.getProntuario()
  },


  //WATCH TABELLA
  watch: {
    data (newVal, oldVal) {
    this.$refs.vuetable.refresh()
    }
  },

  /*
  METODI
  */
  methods: {

    /* MOSTRA MODAL */
    mostraModal(stato,principio){

      this.formPrincipio = new Form({

      })

      this.statomodal = stato

      if(stato == 'aggiungi'){
          this.modalPrincipio = true
      }

      if(stato == 'aggiorna'){
          this.modalPrincipio = true
          this.id_principio = principio.id_principio
          this.formPrincipio.nomePrincipio = principio.nomePrincipio
          this.formPrincipio.nome_commerciale = principio.nome_commerciale
      }

    },


    /* GET PRONTUARIO */
    getProntuario(){

      this.$store.commit('private/setPreload', true)
      var url='api/prontuario'
      axios.get(url)
        .then(res => {
          this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.data = res.data
          } else {
            this.$store.commit('private/ setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          console.log(err);
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },

    /* INSERISCI PRINCIPIO */
    inserisciPrincipio(){
      this.$store.commit('private/setPreload', true)

      var url='api/prontuario'

      const formData = new FormData(document.getElementById("formPrincipio"));
      let data = {};
      for (let [key, val] of formData.entries()) {
        Object.assign(data, { [key]: val })
      }

      var payload = data

      axios.post(url,payload)
        .then(res => {
          this.$store.commit('private/setPreload', false)
          if (res.data.success === true) {
            this.$store.commit('private/setMessaggioSuccesso','Principio Aggiunto')
            this.modalPrincipio = false
            this.getProntuario()
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          console.log(err);
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore')
        })
    },


    /** AGGIORNA PRINCIPIO */
    aggiornaPrincipio(){
      this.$store.commit('private/setPreload', true)

      var url='api/prontuario/' + this.id_principio

      const formData = new FormData(document.getElementById("formPrincipio"));
      let data = {};
      for (let [key, val] of formData.entries()) {
        Object.assign(data, { [key]: val })
      }

      var payload = data

      axios.put(url,payload)
        .then(res => {
          this.$store.commit('private/setPreload', false)
          if (res.data.success === true) {
            this.$store.commit('private/setMessaggioSuccesso','Principio Aggiornato')
            this.modalPrincipio = false
            this.getProntuario()
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          console.log(err);
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore')
        })
    },


    apriConferma(id_principio){
      this.id_principio = id_principio
      this.modalConferma = true
    },

    /* CANCELLA PRINCIPIO */
    cancellaPrincipio(){
      this.$store.commit('private/setPreload', true)

      var url='api/prontuario/' + this.id_principio

      axios.delete(url)
        .then(res => {
          this.$store.commit('private/setPreload', false)
          if (res.data.success === true) {
            this.$store.commit('private/setMessaggioSuccesso','Principio Cancellato')
            this.modalConferma = false
            this.getProntuario()
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          console.log(err);
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore')
        })
    },

    /*
 FUNZIONI PER LA TABELLA
 */
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },


    dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    }
  }

  }

</script>

<style>
</style>

