<template>
    <div>
  <!-- FORM RICERCA -->
    <div>
    <form @submit.prevent="filtraReparti">
    <CRow>
      <CCol sm="12">
        <CCard>
          <CCardHeader class="text-center">
            <CRow>
            <CCol class="sm-9">
            </CCol>
            <CCol class="col-md-4 col-12">
            <CButton @click="collapse = !collapse" color="info">
                <span><i class="fas fa-filter"></i></span> Filtra
            </CButton >
            <CButton @click="mostraModal('aggiungi')" color="primary" class="ml-2"><span><i class="fas fa-plus"></i></span> Aggiungi Reparto </CButton>
            </CCol>
            </CRow>
          </CCardHeader>
          <CCollapse :show="collapse">
          <CCardBody>
            <CRow>
            <CCol sm="4">
              <CInput label="Cerca per Nome" name="nome" v-model="formRicerca.nomeReparto"></CInput>
            </CCol>
            <CCol sm="4">
              <CButton type="submit" color="success" class="mt-3">Cerca</CButton>
            </CCol>
            </CRow>
          </CCardBody>
          </CCollapse>
        </CCard>
      </CCol>
    </CRow>
    </form>
    </div>
<!-- TABELLA RISULTATI -->
    <div>
      <vuetable ref="vuetable"
                :api-mode="false"
                :fields="fields"
                :per-page="perPage"
                :data-manager="dataManager"
                no-data-template="Nessun Risultato"
                pagination-path="pagination"
                :css="css.table"
                @vuetable:pagination-data="onPaginationData">
        <div slot="actions" slot-scope="props">
          <CButton  v-c-tooltip="'Modifica Reparto'" color="primary" @click="mostraModal('modifica', props.rowData)">
            <i class="fas fa-edit"></i>
          </CButton>
          <!--<CButton  v-c-tooltip="'Elimina Reparto'" color="danger" @click="apriConferma(props.rowData.idReparto)">
            <i class="fas fa-trash"></i>
          </CButton>-->
        </div>
      </vuetable>
      <vuetable-pagination-info ref="paginationInfo" info-template="Visualizzati da {from} a {to} di {total} totali" no-data-template="Nessun Risultato"
          ></vuetable-pagination-info>
      <div style="padding-top:10px">
        <vuetable-pagination ref="pagination" :css="css.pagination" @vuetable-pagination:change-page="onChangePage" />
      </div>
    </div>
<!-- MODAL AGGIUNGI/MODIFICA REPARTO -->
    <CModal :title= this.titlemodal color="primary" :show.sync="modalReparto">
      <CRow>
          <CCol sm="6">
              <CInput v-model="formReparto.codiceReparto" label="Codice Reparto" name="codiceReparto"></CInput>
          </CCol>
            <CCol sm="6">
              <CInput v-model="formReparto.nomeReparto" label="Nome Reparto" name="nome"></CInput>
          </CCol>
      </CRow>
      <template #footer>
        <CButton color="default" @click="modalReparto = false">
          Chiudi
        </CButton>
        <CButton  v-if="formReparto.operazione == 'inserimento'" color="success"  @click="inserisciReparto">
          Inserisci
        </CButton>
        <CButton v-if="formReparto.operazione == 'modifica'" color="success" @click="aggiornaReparto">
          Aggiorna
        </CButton>
      </template>
    </CModal>
<!-- MODAL CANCELLAZIONE -->
    <CModal
      title="Conferma Cancellazione"
      color="danger"
      :show.sync="modalConferma">
      Sei sicuro?
      <template #footer>
        <CButton color="default" @click="modalConferma = false">
          Chiudi
        </CButton>
        <CButton color="danger" @click="cancellaReparto(idReparto)">
          Conferma
        </CButton>
      </template>
    </CModal>
    </div>
</template>

<script>
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import axios from 'axios'
import VuetableFieldHandle from 'vuetable-2/src/components/VuetableFieldHandle.vue'
import Form from 'vform'
import _ from 'lodash'
import vSelect from 'vue-select'
import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
  name: 'Reparti',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    vSelect
  },

  data () {
    return {
      titlemodal: '',
      statomodal: '',
      idReparto: '',
      modalConferma: false,
      modalReparto: false,
      css: TableStyle,
      reparto: '',
      fields: [
        {
          name: 'codiceReparto',
          title: 'Codice Reparto',
          sortField: 'codiceReparto',
        },
        {
          name: 'nomeReparto',
          title: 'Nome Reparto',
          sortField: 'nomeReparto',
        },
        {
          name: 'actions',
          title: 'Azioni',
        }
      ],
      formRicerca: new Form({
        nome: ''
      }),
      formReparto: new Form({
        idReparto:'',
        operazione:'',
        codiceReparto:'',
        nomeReparto:'',
      }),
      perPage: 10,
      data: [],
      collapse: true,
      innerCollapse: false
    }
  },
  watch: {
    data (newVal, oldVal) {
      this.$refs.vuetable.refresh()
    }
  },
  /*
  METODI
*/
  methods: {
    mostraModal (stato,reparto){
      this.formReparto.reset();
        if(stato == 'aggiungi'){
            this.titlemodal = 'Inserisci Reparto';
            this.formReparto.operazione = 'inserimento';
            this.modalReparto = true;
        }
        else if(stato == 'modifica'){
            this.titlemodal = 'Modifica Reparto';
            this.formReparto.fill(reparto);
            this.formReparto.operazione = 'modifica';
            this.modalReparto = true;
        }
    },

    filtraReparti(){
      this.$store.commit('private/setPreload', true)
      var url = '/api/reparti';
      axios.get(url,{
      params:{
        nomeReparto:this.formRicerca.nomeReparto,
      }
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.data = res.data.result
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },

/*
  INSERISCI REPARTO
*/
    inserisciReparto(){
      var url = '/api/reparto';
      var payload = this.formReparto;
      this.$store.commit('private/setPreload', true)
      axios.post(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success === true){
           this.modalReparto = false;
            this.$store.commit('private/setMessaggioSuccesso', 'Inserimento Riuscito');
             this.filtraReparti();
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },

/*
  AGGIORNA REPARTO
*/
    aggiornaReparto(){
      var url = 'api/reparto/'+ this.formReparto.idReparto;
      this.$store.commit('private/setPreload', true)
      var payload = this.formReparto;
       axios.put(url,payload)
        .then(res => {
            this.$store.commit('private/setPreload', false)
          if (res.data.success === true) {
            this.$store.commit('private/setMessaggioSuccesso', 'Aggiornamento Riuscito')
            this.modalReparto = false;
            this.filtraReparti();

          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },

    apriConferma(idReparto){
      this.modalConferma = true;
      this.idReparto = idReparto;
    },

/*
  CANCELLA  Reparto
*/
  cancellaReparto (idReparto) {
      var url = '/api/reparto/' + idReparto
      this.$store.commit('private/setPreload', true)
      axios.delete(url)
        .then(res => {
           this.$store.commit('private/setPreload', false)
          if (res.data.success) {
            this.modalConferma = false
            this.removeRow(idReparto)
            this.$store.commit('private/setMessaggioSuccesso', 'Cancellazione Riuscita')
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore')
        })
    },


    aggiornaRow(){
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].id == this.idUtente) {
          this.data[i]=this.formUtente;
           this.$refs.vuetable.refresh()
          break
        }
      }
    },


    removeRow (idReparto) {
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idReparto == idReparto) {
          this.data.splice(i, 1)
          break
        }
      }
    },

    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },


    dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    }
  }
}
</script>
