<template>
    <div>
  <!-- FORM RICERCA -->
    <div>
    <form @submit.prevent="caricaUtenti">
    <CRow>
      <CCol sm="12">
        <CCard>
          <CCardHeader class="text-center">
            <CRow>
            <CCol class="sm-9">
            </CCol>
            <CCol class="sm-3">
            <CButton @click="collapse = !collapse" color="info">
                <span><i class="fas fa-filter"></i></span> Filtra
            </CButton >
            <CButton @click="mostraModal('aggiungi')" color="primary" class="ml-2"><span><i class="fas fa-plus"></i></span> Aggiungi Utente </CButton>
            </CCol>
            </CRow>
          </CCardHeader>
          <CCollapse :show="collapse">
          <CCardBody>
            <CRow>
            <CCol sm="4">
              <CInput label="Cerca per Nome o Cognome" name="keywords" v-model="formRicerca.name"></CInput>
            </CCol>
            <CCol sm="4">
              <div role="group" class="form-group">
              <label for="ruolo" class="mb-0">Seleziona Ruolo</label>
              <select  v-model="formRicerca.ruolo" class="custom-select custom-select-md" name="stato">
                <option value="0">Tutti</option>
                <option value="admin">Admin</option>
                <option value="medico">Medico</option>
                <option value="paziente">Paziente</option>
                <option value="infermiere">Infermiere</option>
              </select>
              </div>
            </CCol>
            <CCol sm="4">
                <CButton color="primary" type="submit" class="btn-margin-top"><span><i class="fas fa-search"></i></span>  Cerca</CButton>
            </CCol>
            </CRow>
          </CCardBody>
          </CCollapse>
        </CCard>
      </CCol>
    </CRow>
    </form>
    </div>
<!-- TABELLA RISULTATI -->
    <div>
      <vuetable ref="vuetable"
                :api-mode="false"
                :fields="fields"
                :per-page="perPage"
                :data-manager="dataManager"
                no-data-template="Nessun Risultato"
                pagination-path="pagination"
                :css="css.table"
                @vuetable:pagination-data="onPaginationData">
        <div slot="actions" slot-scope="props">
          <CButton  v-c-tooltip="'Modifica Utente'" color="primary" @click="mostraModal('modifica', props.rowData)">
            <i class="fas fa-edit"></i>
          </CButton>
          <CButton  v-c-tooltip="'Elimina Utente'" color="danger" @click="apriConferma(props.rowData.id)">
            <i class="fas fa-trash"></i>
          </CButton>
        </div>
      </vuetable>
      <vuetable-pagination-info ref="paginationInfo" info-template="Visualizzati da {from} a {to} di {total} totali" no-data-template="Nessun Risultato"
          ></vuetable-pagination-info>
      <div style="padding-top:10px">
        <vuetable-pagination ref="pagination" :css="css.pagination" @vuetable-pagination:change-page="onChangePage" />
      </div>
    </div>
<!-- MODAL AGGIUNGI/MODIFICA UTENTE -->
    <CModal :title= this.titlemodal color="primary" :show.sync="modalAggiungiUtente">
      <form id="formUtente" @submit.prevent="statomodal== 'aggiungi' ? inserisciUtente() : modificaUtente()">
       <CRow>
          <CCol sm="6">
              <CInput v-model="formUtente.meta.nome"  label="Nome" name="nome"></CInput>
          </CCol>
          <CCol sm="6">
              <CInput v-model="formUtente.meta.cognome"  label="Cognome" name="cognome"></CInput>
          </CCol>
          <CCol sm="12">
              <CInput v-model="formUtente.email" type="email" label="Email" name="email"></CInput>
          </CCol>
          <CCol sm="12">
            <label for="Ruolo" class="mb-0">Ruolo</label>
              <select  v-model="formUtente.role" class="custom-select custom-select-md" name="role">
                <option value="admin">Admin</option>
                <option value="medico">Medico</option>
                <option value="paziente">Paziente</option>
                <option value="infermiere">Infermiere</option>
              </select>
          </CCol>
          <CCol sm="6">
              <CInput  v-if="statomodal == 'aggiungi'" v-model="formUtente.password" type="password" label="Password" name="password" class="mt-3"></CInput>
          </CCol>
           <CCol sm="6">
              <CInput  v-if="statomodal == 'aggiungi'" v-model="formUtente.password_2" type="password" label="Conferma Password" name="password_2" class="mt-3"></CInput>
          </CCol>
          <CCol sm="12">
            <CButton type="submit" class="btn btn-block mt-3" color="success">
                {{statomodal == 'aggiungi' ? 'Aggiungi Utente' : 'Modifica Utente'}}
            </CButton>
          </CCol>
        </CRow>
      </form>
      <form id="formPassword" @submit.prevent="aggiornaPassword()">
        <CRow>
          <CCol sm="6">
              <CInput  v-if="statomodal == 'modifica'"  v-model="formPassword.password" type="password" label="Password" name="password" class="mt-3"></CInput>
          </CCol>
           <CCol sm="6">
              <CInput  v-if="statomodal == 'modifica'"  v-model="formPassword.password_2"  type="password" label="Conferma Password" name="password_2" class="mt-3"></CInput>
          </CCol>
          <CCol sm="12" v-if="statomodal == 'modifica'"> 
              <CButton color="primary" class="btn btn-block mt-3" type="submit">Aggiorna Password</CButton>
          </CCol>
        </CRow>
      </form>
      <template #footer>
        <CButton color="default" @click="modalAggiungiUtente = false">
          Chiudi
        </CButton>
      </template>
    </CModal>
<!-- MODAL CANCELLAZIONE -->
    <CModal
      title="Conferma Cancellazione"
      color="danger"
      :show.sync="modalConferma">
      Sei sicuro?
      <template #footer>
        <CButton color="default" @click="modalConferma = false">
          Chiudi
        </CButton>
        <CButton color="danger" @click="cancellaUtente(id)">
          Conferma
        </CButton>
      </template>
    </CModal>
    </div>
</template>

<script>
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import axios from 'axios'
import VuetableFieldHandle from 'vuetable-2/src/components/VuetableFieldHandle.vue'
import Form from 'vform'
import _ from 'lodash'
import vSelect from 'vue-select'

export default {
  name: 'Utenti',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    vSelect
  },

  data () {
    return {
      titlemodal: '',
      statomodal: '',
      idUtente: '',
      modalConferma: false,
      modalAggiungiUtente: false,
      css: TableStyle,
      utente: '',
      fields: [
        {
          name: 'name',
          title: 'Nome Utente',
          sortField: 'name',
        },
        {
          name: 'email',
          sortField: 'email'
        },
        {
          name: 'role',
          title: 'Ruolo',
          dataClass: 'text-uppercase',
        },
        {
          name: 'actions',
          title: 'Azioni'
        }
      ],
      formRicerca: new Form({
        name: '',
        ruolo: '0'
      }),
      formPassword: new Form({
        password: '',
        password_2: ''
      }),
      formUtente: new Form({
        meta: {
 
        },
        email: '',
        role: '',
        password: '',
        password_2: ''
      }),
      perPage: 10,
      data: [],
      collapse: true,
      innerCollapse: false
    }
  },
  watch: {
    data (newVal, oldVal) {
      this.$refs.vuetable.refresh()
    }
  },
  /*
  METODI
*/
  methods: {
    mostraModal (stato,utente){

        this.formUtente.meta = {}
        this.formUtente.email = ''
        this.formUtente.role = ''
        this.formUtente.password = ''
        this.formUtente.password_2 = ''

        if(stato == 'aggiungi'){
            this.statomodal = 'aggiungi'
            this.titlemodal = 'Inserisci Utente';
            this.formUtente.operazione = 'inserimento';
            this.modalAggiungiUtente = true;
        }
        else if(stato == 'modifica'){
          console.log(utente);
          this.statomodal = 'modifica'
          this.titlemodal = 'Modifica Utente';
          this.modalAggiungiUtente = true;
          this.idUtente = utente.id
          this.formUtente.meta= utente.meta
          this.formUtente.email = utente.email
          this.formUtente.role = utente.role

        }
    },

    removeRow (idUtente) {
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idUtente == idUtente) {
          this.data.splice(i, 1)
          break
        }
      }
    },

    aggiornaRow(){
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].id == this.idUtente) {
          this.data[i]=this.formUtente;
           this.$refs.vuetable.refresh()
          break
        }
      }
    },
    apriConferma(id){
      this.modalConferma = true;
      this.id = id;
    },

/*
  INSERISCI UTENTE
*/
    inserisciUtente(){
      var url = '/api/utente-store';
      var payload = this.formUtente;
      this.$store.commit('private/setPreload', true)
      axios.post(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success === true){
            this.$store.commit('private/setMessaggioSuccesso', 'Inserimento Riuscito')
            this.modalAggiungiUtente = false;
            this.caricaUtenti()
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          console.log(err)
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },

   
/*
  CARICA UTENTE SINGOLO
*/

/*
apriUtente() {
      var url = '/api/utente/' + this.idUtente
      this.$store.commit('private/setPreload', true)
      axios.get(url)
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.formUtente = res.data['0']['0'];
            this.modalAggiungiUtente = true;
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
      },
*/

  aggiornaPassword(){
        var url = '/api/aggiorna-password-utente/'+ this.idUtente;

        const formData = new FormData(document.getElementById("formPassword"));
        let data = {};
        for (let [key, val] of formData.entries()) {
          Object.assign(data, { [key]: val })
        }

        var payload = data

        this.$store.commit('private/setPreload', true)
        axios.put(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success === true){
            this.$store.commit('private/setMessaggioSuccesso', 'Password Aggiornata')
            this.formPassword.reset()
          }
        else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
        })
        .catch(err => {
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },

/*
  CARICA UTENTI
*/
    caricaUtenti(){
      var url = '/api/utenti';
      this.$store.commit('private/setPreload', true)

      axios.get(url,{
      params:{
        keywords:this.formRicerca.name,
        ruolo: this.formRicerca.ruolo
      }
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.data = res.data['0'];
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },


/*
  MODIFICA UTENTE
*/
    modificaUtente(){
      var url = 'api/utente-aggiorna/'+ this.idUtente;
      this.$store.commit('private/setPreload', true)
      var payload = this.formUtente;
       axios.put(url,payload)
        .then(res => {
            this.$store.commit('private/setPreload', false)
          if (res.data.success === true) {
            this.$store.commit('private/setMessaggioSuccesso', 'Aggiornamento Riuscito')
            this.modalAggiungiUtente = false;
            this.caricaUtenti()
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },

/*
  CANCELLA  UTENTE
*/
    cancellaUtente (id) {
      var url = '/api/utente/' + id
      this.$store.commit('private/setPreload', true)
      axios.delete(url)
        .then(res => {
           this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.modalConferma = false
            this.removeRow(id)
            this.$store.commit('private/setMessaggioSuccesso', 'Cancellazione Riuscita')
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore')
        })
    },

    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },

    removeRow (id) {
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].id == id) {
          this.data.splice(i, 1)
          break
        }
      }
    },

    dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    }
  }
}
</script>
