<template>
    <div>
        <CRow>
        <FullCalendar
          class='demo-app-calendar'
          ref="fullCalendar"
          defaultView="timeGridWeek"
          minTime="6:00:00"
          :height="500"
          :allDaySlot="false"
          :firstHour= 7
          :lastHour= 19
          :header="{
            left: '',
            center: 'title',
            right: 'prev,next'
          }"
          :plugins="calendarPlugins"

          :events="calendarEvents"
          @eventClick="handleDateClick"
            locale="it"
          />

         <CCol sm="12">
             <h5 class="sub_heading"> Gestione Visite</h5>
            <CCard>
                <CCardHeader>
                    <CRow>
                        <CCol sm="9"></CCol>
                        <CCol sm="3">
                            <CButton @click="collapse = !collapse" color="info">
                             <span><i class="fas fa-filter"></i></span> Filtra
                            </CButton >
                            <CButton color="success" @click="mostraModal('aggiungi')">
                               <span><i class="fas fa-plus"></i></span> Aggiungi Visita
                            </CButton>
                        </CCol>
                    </CRow>
                </CCardHeader>
                  <CCollapse :show="collapse">
                <CCardBody>
                  <CRow>
                    <CCol sm="4">
                      <CInput label="Parola chiave" v-model="formRicerca.keywords" name="keywords"/>
                    </CCol>
                    <CCol sm="4">
                      <CButton color="primary" class="btn-margin-top" @click="caricaVisite"><span><i class="fas fa-search"></i></span> Cerca</CButton>
                    </CCol>
                  </CRow>
                </CCardBody>
                </CCollapse>
            </CCard>

                <CModal :title= this.titlemodal color="primary" :show.sync="modalVisita">
            <CRow>
                <CCol sm="6" v-if="statomodal=='aggiungi'">
                    <div class="form-group position-relative">
                    <label> Cerca Paziente</label>
                    <input class="form-control" autocomplete="off" v-model="filtroPaziente" @input="cercaPaziente()" label="Nome Paziente" name="idPaziente"/>
                    <div  v-show="pazienti.length" class="float_box shadow" style="">
                        <div  class="close" @click="pazienti=''"><i class="fas fa-times"></i></div>
                        <div class="ricerca-item" v-for="paziente in pazienti" :key="paziente.idPaziente" @click="selezionaPaziente(paziente)">{{paziente.nome}} {{paziente.cognome}}</div>
                    </div>
                    </div>
                </CCol>

                <CCol sm="6">
                    <CInput type="date" v-model="formVisita.dataVisita" label="Data Visita" name="dataVisita"/>
                </CCol>

                <CCol sm="6">
                    <CInput type="time" v-model="formVisita.ora_inizio" label="Ora Visita" name="ora"/>
                </CCol>
                <CCol sm="6">
                    <CInput type="time" v-model="formVisita.ora_fine" label="Ora fine Visita" name="ora"/>
                </CCol>
            </CRow>
            <template #footer>
                <CButton color="default" @click="modalVisita = false">
                    Chiudi
                </CButton>
                <CButton v-if="statomodal == 'aggiungi'" color="success"  @click="inserisciVisita">
                    Salva
                </CButton>
                <CButton v-if="statomodal == 'modifica'" color="success"  @click="modificaVisita">
                    Modifica
                </CButton>
                </template>
            </CModal>

             <div>
            <vuetable ref="vuetable"
                        :api-mode="false"
                        :fields="fields"
                        :per-page="perPage"
                        :data-manager="dataManager"
                        no-data-template="Nessun Risultato"
                        pagination-path="pagination"
                        :css="css.table"
                        @vuetable:pagination-data="onPaginationData">
                <div slot="actions" slot-scope="props">
                <CButton  v-c-tooltip="'Modifica Visita'" color="success" @click="mostraModal('modifica', props.rowData)">
                    <i class="fas fa-edit"></i>
                </CButton>
                <CButton  v-c-tooltip="'Elimina Visita'" color="danger" @click="apriConferma(props.rowData.idVisita)">
                    <i class="fas fa-trash"></i>
                </CButton>
                </div>
            </vuetable>
            <vuetable-pagination-info ref="paginationInfo" info-template="Visualizzati da {from} a {to} di {total} totali" no-data-template="Nessun Risultato"
                ></vuetable-pagination-info>
            <div style="padding-top:10px">
                <vuetable-pagination ref="pagination" :css="css.pagination" @vuetable-pagination:change-page="onChangePage" />
            </div>
            </div>

            <CModal
              title="Conferma Cancellazione"
              color="danger"
              :show.sync="modalConferma">
              Sei sicuro?
              <template #footer>
                <CButton color="default" @click="modalConferma = false">
                  Chiudi
                </CButton>
                <CButton color="danger" @click="cancellaVisita(idVisita)">
                  Conferma
                </CButton>
              </template>
            </CModal>
          </CCol>
        </CRow>
    </div>
</template>


<script>

    import Vuetable from 'vuetable-2/src/components/Vuetable'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
    import VuetableFieldHandle from 'vuetable-2/src/components/VuetableFieldHandle.vue'
    import TableStyle from '~/plugins/table.js'
    import axios from 'axios'
    import Form from 'vform'
    import _ from 'lodash'
    import FullCalendar from '@fullcalendar/vue'
    import dayGridPlugin from '@fullcalendar/daygrid'
    import timeGridPlugin from '@fullcalendar/timegrid'
    import interactionPlugin from '@fullcalendar/interaction'
    import itLocale from '@fullcalendar/core/locales/it'

    export default {
        name: 'Visite',
        components: {
            Vuetable,
            VuetablePagination,
            VuetablePaginationInfo,
            FullCalendar
        },

        data () {
         return {
            titlemodal: '',
            statomodal: '',
            idVisita: '',
            css: TableStyle,
            modalConferma: false,
            modalVisita: false,
            visita: '',
            filtroPaziente: '',
            paziente: '',
            pazienti: '',
            calendarPlugins: [ // plugins must be defined in the JS
                dayGridPlugin,
                timeGridPlugin,
                interactionPlugin
              ],
              calendarEvents: [
              ],
            fields: [
                {
                  name: 'name',
                  title: 'Nome Paziente',
                  sortField: 'name'
                },
                {
                  name: 'dataVisita',
                  title: 'Data Visita',
                  sortField: 'dataVisita'
                },
                {
                  name: 'ora',
                  title: 'Ora Visita',
                  sortField: 'ora'
                },
                {
                  name: 'actions',
                  title: 'Azioni'
                }
            ],
            formRicerca: new Form({
              keywords: ''
            }),
            formVisita: new Form({
                idPaziente: '',
                idVisita: '',
                dataVisita: '',
                ora_inizio: '',
                ora_fine: ''
            }),
            data: [],
            perPage: 10,
            collapse: false
         }
        },

        watch: {
            data (newVal, oldVal) {
            this.$refs.vuetable.refresh()
           }
        },
  mounted () {
    this.caricaVisite();
  },

/*
  METODI
*/
  methods: {

    cercaPaziente: _.debounce(function (e) {
      if(this.filtroPaziente.length<3){
        return;
      }
      this.$store.commit('private/setPreload', true)
      var url = '/api/pazienti';
      axios.get(url,{
        params: {
          keywords: this.filtroPaziente
        }
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data){
            this.pazienti = res.data['0']
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },300),

/* SELEZIONE PAZIENTE */
     selezionaPaziente(paziente){
      this.filtroPaziente = paziente.nome;
      this.formVisita.idPaziente=paziente.idUser;
      this.pazienti='';
     },

        mostraModal (stato,visita){
            this.formVisita.reset();
            if(stato == 'aggiungi'){
                this.statomodal = 'aggiungi'
                this.titlemodal = 'Aggiungi Visita';
                this.formVisita.operazione = 'inserimento';
                this.modalVisita = true;
            }
            else if(stato == 'modifica'){
              this.titlemodal = 'Modifica Visita';
              this.statomodal = 'modifica';
              this.modalVisita= true;
              this.formVisita.fill(visita);
            }
        },
/*INSERISCI VISITE*/
        inserisciVisita(){
            var url="api/visita"
            var payload = this.formVisita

            this.$store.commit('private/setPreload', true)
            axios.post(url,payload)
            .then(res => {
            this.$store.commit('private/setPreload', false)
            if(res.data.success === true){
                this.formVisita = new Form();
                this.$store.commit('private/setMessaggioSuccesso', 'Inserimento Riuscito')
                this.modalVisita = false;
                this.caricaVisite();
            }
            else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
            })
            .catch(err => {
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
            })
        },

/*MODIFICA VISITE*/
      modificaVisita(){
        var url = '/api/visita/' + this.formVisita.idVisita
        var payload = this.formVisita
        this.$store.commit('private/setPreload', true)
        axios.put(url,payload)
          .then(res => {
          this.$store.commit('private/setPreload', false)
            if (res.data.success === true) {
              this.$store.commit('private/setMessaggioSuccesso', 'Aggiornamento Riuscito')
              this.modalVisita = false;
              this.caricaVisite();
            } else {
              this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
          })
          .catch(err => {
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore Aggiornamento')
          })
        },
/*CARICAMENTO VISITE*/
    caricaVisite(){
      this.$store.commit('private/setPreload', true)
        var url="api/visite"
        axios.get(url,{
          params: {
            keywords: this.formRicerca.keywords
          }
        })
         .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.data = res.data['0'];
            this.bindVisite(res.data['0']);
          } else {
            this.$store.commit('private/ setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })


      },
//BIND VISITE
bindVisite(visite){
  this.calendarEvents=[];
  for(var i=0;i<visite.length;i++){
            var data=new Date(visite[i].dataVisita);
            var orariConsegna = visite[i].ora_inizio.split(":");
            var fineMontaggio = visite[i].ora_fine.split(":");
            var d = data.getDate();
            var m = data.getMonth();
            var y = data.getFullYear();

    this.calendarEvents.push({
            id:visite[i].idVisita,
            title: visite[i].name,
            start: new Date(y, m, d, orariConsegna[0], orariConsegna[1]),
            end: new Date(y, m, d, fineMontaggio[0] , fineMontaggio[1]),
            extendedProps: {
                visitaCompleta: visite[i]
              },
            allDay: false,
            textColor:'#FFFFFF'
        })
  }
  return true;
},
/*SET CLICK EVENTO*/
    handleDateClick(arg) {
      this.disabled=true;
      this.clienti=false;
      var ordine=arg.event._def.extendedProps.ordineCompleto;
      this.formOrdini.fill(ordine);
      this.nomeCliente=ordine.nome;
      //this.mostraModal=true;
      this.modalAggiungiOrdine = true;
      this.titlemodal = 'Modifica Ordine';
      this.formOrdini.operazione = 'modifica';
      this.statomodal = 'modifica';
},

      apriConferma(idVisita){
      this.modalConferma = true;
      this.idVisita = idVisita;
      },

/*CANCELLA VISITE*/
      cancellaVisita(){
        var url = '/api/visita/' + this.idVisita
        this.$store.commit('private/setPreload', true)
        axios.delete(url)
          .then(res => {
            this.$store.commit('private/setPreload', false)
            if (res.data) {
              this.modalConferma = false
              this.removeRow(this.idVisita)
              this.$store.commit('private/setMessaggioSuccesso', 'Cancellazione Riuscita')
            } else {
              this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
          })
          .catch(err => {
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore')
          })
      },


    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },

    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },

    removeRow (idVisita) {
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idVisita == idVisita) {
          this.data.splice(i, 1)
          break
        }
      }
    },

     dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    }
  }
}

</script>
