.btn{

}

.btn-loading {

  position: relative;
  pointer-events: none;
  color: transparent !important;

  &:after {
    animation: spinAround 500ms infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    width: 1em;
    position: absolute;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
  }
}
.preloader{
  width: 100%;
  height: 100%;
  background-color: #000000c7;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 9999999;
  .spinner_preloader {
    text-align:center;
    position: absolute;
    right: 10px;
    left: 0;
    right: 0;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 100px;
    .text_preloader{
      color: white;
      font-size: 18px;
      width: 220px;
      &:after {
        animation: spinAround 500ms infinite linear;
        border: 2px solid #FFFFFF;
        border-radius: 50%;
        border-right-color: transparent;
        border-top-color: transparent;
        content: "";
        display: block;
        height: 1em;
        width: 1em;
        position: absolute;
        left: calc(50% - (1em / 2));
        top: calc(50% - (1em / 2));
      }
    }
  }
}
@keyframes spinAround {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

.btn-secondary{
  color:$white;
  box-shadow: 0px 2px 10px $shadow-secondary;
}
.btn-primary{
  box-shadow: 0px 2px 10px $shadow-primary;
}
.btn-info{
  box-shadow: 0px 2px 10px $shadow-info;
}


.btn-margin-top{
  margin-top:20px;
}
.btn_step{
font-size:20px;
}

.btn-scheda-float{
  position: absolute;
  bottom: 0px;
  width: 90%;
  right: 0px;
}
