.card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.home-paziente{

  .card-pagina-paziente{

    h6{
      color:$secondary;
    }
    svg{
      font-size: 25px;
      color:$blue;
    }
  }
}
