body{
  font-family: helvetica;
}
.documento_testo{
  p{
color:#414141 !important;
  }
  span{
    color:#414141 !important;
  }
}
.captcha{
margin: 0 auto;
display: table;
}
.form_wrapper{
  margin-top:50px;
  margin-bottom:100px;
.multiform_wrapper{
    width: 60%;
    margin: 0 auto;
    background: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px #dfdfdf;

    @media (max-width: $breakpoint-mobile) {
      width: 100%;
      padding:20px;
    }
}
.radio_text{
  @media (max-width: $breakpoint-mobile) {
    font-size:14px;
  }
}
.custom_radio{
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 22px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: $primary;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
}
.panel-scrollable{
  padding:5px;
  border:1px solid grey;
  height: 150px;
  overflow-y:scroll;
  box-shadow: inset -10px -10px 20px 0px #00000030;
  p{
    margin:0px !important;
  }
}
.link_cursor{
  cursor: pointer;
}
.fade-enter-to {
  transition: opacity 1s;
}
.form-group label{
  margin:0px;
}
.form-control{
  border-radius:10px !important;
}
.form-control:focus{
  outline: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82, 178, 69, 0.25);
  box-shadow: 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82, 178, 69, 0.25);
}
.file-input{
  padding-top: 3px;
  padding-left: 20px;
}
.radio-toolbar{
  border-radius:10px;
  text-align: center;
  width: 100%;
  float: left;
  label{
      font-size: 16px;
      border: 1px solid #ced4da;
      padding: 0.375rem 0.75rem;
      background-color: #FFFFFF !important;
      &:first-of-type{
          border-radius: 10px 0px 0px 10px;
      }
      &:last-of-type{
          border-radius: 0px 10px 10px 0px;
      }
  }
     input[type="radio"]{
          opacity: 0;
          position: fixed;
          width: 0;

          &:checked+label{
              background: linear-gradient(60deg, $primary 10%, $secondary 100%);
              //background-color: $azzurro !important;
              color:white !important;

          }
          &:focus+label{
              color:white !important;
          }
      }
      &.col-50{
          label{
              width:50% !important;
              float:left;
          }

      }
      &.col-33{
          label{
              width:33% !important;
              float:left;
          }

      }
      &.col-25{
          label{
              width:25% !important;
              float:left;
          }
      }
}
}

#msform {
  width:100%;
  text-align: center;
  position: relative;
  margin-top: 20px
}

#msform fieldset .form-card {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 20px 40px 30px 40px;
  box-sizing: border-box;
  width: 94%;
  margin: 0 3% 20px 3%;
  position: relative
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative
}

#msform fieldset:not(:first-of-type) {
  display: none
}

#msform fieldset .form-card {
  text-align: left;
  color: #9E9E9E
}

#msform input,
#msform textarea {
  padding: 0px 8px 4px 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 16px;
  letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
  font-weight: bold;
  border-bottom: 2px solid $primary;
  outline-width: 0
}

#msform .action-button {
  width: 100px;
  background: $primary;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px $primary
}

#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

select.list-dt {
  border: none;
  outline: 0;
  border-bottom: 1px solid #ccc;
  padding: 2px 5px 3px 5px;
  margin: 2px
}

select.list-dt:focus {
  border-bottom: 2px solid $primary
}

.card {
  z-index: 0;
  border: none;
  border-radius: 0.5rem;
  position: relative
}

.fs-title {
  font-size: 25px;
  color: #2C3E50;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left
}

#progressbar {
  overflow: hidden;
  padding:0px !important;
  color: lightgrey
}

#progressbar .active {
  color: #000000
}

#progressbar li {
  list-style-type: none;
  font-size: 12px;
  width: 25%;
  float: left;
  position: relative
}

#progressbar #dati:before {
  font-family:"Font Awesome 5 Free";
  content: '\f044';
  font-weight: 900;
}

#progressbar #telefono:before {
  font-family:"Font Awesome 5 Free";
  content: '\f3cd';
  font-weight: 900;
}

#progressbar #documento:before {
  font-family:"Font Awesome 5 Free";
  content: '\f2c2';
  font-weight: 900;
}

#progressbar #conferma:before {
  font-family:"Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 18px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: $primary
}

.radio-group {
  position: relative;
  margin-bottom: 25px
}

.radio {
  display: inline-block;
  width: 204;
  height: 104;
  border-radius: 0;
  background: $primary;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  cursor: pointer;
  margin: 8px 2px
}

.radio:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
  width: 100%;
  object-fit: cover
}
.form-group{
  label{
    margin-bottom:0px;
  }
}
.stato{
  background-color: $primary;
  padding: 5px;
  color:$white;
}
.vdp-datepicker__clear-button{
  position: absolute;
    top: 0px;
    right: 10px;
    font-size: 26px;
}


.input-group{
    height: auto;
}

label{
    height: auto !important;
}

.checkbox_wrapper, .form-check{
  :hover{
    cursor: pointer;
  }
}
.v-select{
  padding:0px;
  height: 100%;
  min-height: 35px;
}

.vs__selected-options{
  height: 100%;
}

/*
.vs__selected{
  height: 100%;
  width: 100%;
  padding-top: 5px !important;
  overflow-x: hidden;
  margin: 0px !important;
}
*/

.radio-custom-group input[type=radio]{
  vertical-align: top;
}
.form-check{
  padding-bottom: 5px;
}

.formpratica{
  width: 100%;
}


@media (min-width: $breakpoint-mobile) {
  .modal-dialog{
    max-width:600px;
  }
}
.c-app{
  .card{
    border:1px solid $grey;
    border-radius:0px;
  }
  .input-group-text{
    border-radius:0px;
  }
  .form-control{
    border-radius:0px !important;
  }
  .form-group{
    label{
      width: auto;
    }
  }

  ul{
    z-index:20;
    li{
      z-index:20;
    }
  }

  .sub_heading{
    margin-top:10px;
    border-bottom:2px solid $primary;
  }
}
.float_box{
  position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    max-height: 270px;
    overflow-y: scroll;
    border-top: none;
    z-index: 999;
    top: 100%;
    left: 0;
    right: 0;

    .ricerca-item{
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
    }
    .ricerca-item:hover{
      background-color: #e9e9e9;
    }
    .close:hover{
      cursor:pointer;
    }
  }
    .box_piano{
      margin: 0.5em;
      display: flex;
      input[type="checkbox"]{
        margin: 0;
        vertical-align: top;
        padding: 15px;
        width: 20px;
        height: 20px;
        margin-right:5px !important;

      }
      label{
        vertical-align: top;
      }
    }

.for_checkbox{
  width: 100%;
}

