body{
  font-size: 0.9rem;
  @media (max-width: 992px){
    font-size:0.8rem;
  }
}
.text-value{
  @media (max-width: 992px){
    font-size:0.8rem;
  }
}


.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
  @media (max-width: $breakpoint-mobile) {
    padding:5px;
  }
}

button {

  .svg-inline--fa{
    margin-right: 0 !important
  }

}


.logo{
  width:100px;
  padding:10px;
  @media (max-width: $breakpoint-mobile) {
    width: 60px;
  }
}
.filepond--credits{
  display:none;
}
.c-main
{
  background-color: $grey;
  padding-bottom: 150px;
}
table{
  background-color: $white;
}
.row-center{
  align-items: center;
}
.table-hover tbody tr:hover{
  background-color: $primary-light;
}
.c-wrapper{
  @media (min-width: 992px){
    margin-left:200px !important;
  }
}
.c-sidebar{
  width: 200px ;
}
.c-sidebar-nav{
  .c-active{
    background-color:$primary !important;
  }
}
.font-weight-600{
  font-weight: 600;
}
.footer{
  background-color:#181818;
  color:white;
  .head_footer{
    font-size: 18px;
    font-weight: 600;
  }
  a{
    color:white;
  }
  li{
    padding-bottom:10px;
    padding-top:10px;
    border-bottom:1px solid #646464;
  }
}
.cambi_richiesti{
  font-size:12px;
}
.center-image{
  display:table;
  margin:0 auto;
}
.icon-social{
  margin: 0 auto;
  display: table;
  a{
    margin: 0 15px;
    font-size: 25px;
  }
}
.alert-wrapper{
  position: fixed;
  top: 20px;
  right: 5%;
  z-index: 99999;
  .alert-success{
    color: #FFFFFF;
    background-color: #2b5d24;
    border-color: #2b5d24;
  }
  .alert-danger{
    color: #FFFFFF;
    background-color: #721c24;
    border-color: #721c24;
  }
}

.background-radius{
  background-color: $blue;
  vertical-align: middle;
  color: $white;
  padding: 5px;
  border-radius: 5px;
}

.avatar-image{
  width: 168px;
  height: 168px;
  border-radius: 250px;
}


.sidebarscroll{
  overflow-y: scroll !important;
}

@media (min-width: $breakpoint-tablet) {
  .c-sidebar-hide {
    margin-left: -256px !important;
  }
}

.preloader .btn-loading{
  width: 50px;
  height: 50px;
  margin: 0 auto;
  top: 40%;
}
label{
  margin-bottom:0px !important;
}
.vuetable{
  min-height: 250px;
}
.vuetable i{
  position:initial !important;
}

.vdp-datepicker__calendar .cell.selected{
  background:$primary !important;
  color:$white;
}
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover{
  border: 1px solid $primary !important;
}
.fa-check{
  color:$success;

}
.fa-times{
  color:$danger;
}

.close{
  color:$white;
}
.hidden{
  display:none;
}
.c-show{
  display:block;
}
.vuetable-pagination-info{
  padding-top:10px;
}
.user_name{
  margin-right: 10px;
  font-size: 16px;
}

.tab-pane{
  border-top:1px solid  $info;
  .card{
    margin:0px;
  }
}
.nav-link{
  color:$dark-grey;
  font-size: 16px;
  &:hover{
    background-color:$info;
    color:$white;
  }
}
.nav-link.active{
  background-color:$info !important;
}
.nav-link .svg-inline--fa{
      font-size: 14px !important;
}
.tab-pane{
  background: $white;
  .card-header{
    background: $white;
  }
}

.text-muted {
  font-size:16px;
}


.svg-inline--fa{
margin-right: 5px;
}
.light-shadow{
  box-shadow:$light-shadow;
}

.icon-image{
  width:35px;
  border-radius: 50px;
}
.pointer:hover{
  cursor: pointer;
}

.message_counter{
  position: absolute;
  padding: 2px;
  width: 20px;
  left: 4.5%;
  height: 20px;
  text-align: center;
  font-size: 12px;
  border-radius: 10px;
  color: $white;
  background-color: $primary;
}
.dropdown-menu-custom .btn{
  margin:5px 0px;
}
.pointer:hover{
  cursor: pointer;
}
.wrapper-avatar-paziente{
  background-color: white;
  border-radius: 50px;

  .paziente-title{
    padding-left:20px;
  }
}

.menu-counter{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $info;
    text-align: center;
}

.wrapper_monitoraggio{
  width: 100%;
  height: 850px;
}
.progress{
  display:none;
}
.wrapper-esenzioni{
  height: 250px;
  overflow-y: scroll;
}
.vs__dropdown-toggle{
  padding:5px !important;
  border-radius: 0 !important;
}
.wrapper_sottochiavi{
  .sottochiave,
  .sottochiave_esame_strumentale{
    display: inline-block;
    margin: 5px;
    padding:10px;
    border: 1px solid $grey;
      div{
        display: inline;
      }
  }
}