.navbar {
  font-weight: 600;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.nav-item {
  .dropdown-menu {
    border: none;
    margin-top: .5rem;
    border-top: 1px solid #f2f2f2 !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
  }
  .profile_link{
    width: 100%;
  }
  .profile_link:hover {
    text-decoration: none;
  }
  .dropdown-item:active{
     color: initial;
     text-decoration: none;
     background-color: initial;
  }
  .dropdown-item{
    padding:5px;
  }
}

.nav-link {
  font-size: 14px;
  .svg-inline--fa {
    font-size: 1.4rem;
  }
}
.c-header-nav{
  min-height: 65px;
  height: 100%;
  li{
    width:100%;
    a{
      float: right;
    }
  }
}
.c-header-toggler{
  height: 100%;
}

.c-sidebar{
  z-index: 99999 !important;
    box-shadow: 0px 0px 5px $grey;
    .c-sidebar-brand{
      background-color: $white;
    }
}
