.pagination{
  cursor: pointer;

  .page-link.active{
    background-color:$primary;
    color:$white;
  }

}
.vuetable{
  th.sortable:hover{
    color:$primary !important;
  }
  .vuetable-slot{
    min-width:150px;
  }
  .vuetable-td-name{
    min-width: 150px;
  }
}
.table-responsive{
  @media (max-width: $breakpoint-tablet) {
    overflow-x: scroll;
  }
}

/* TABELLE TOGGLE*/

.farmaco_head{
  text-transform: uppercase;
  font-size:16px;
}

.lista-terapia{
  .box-terapia{
    border:1px solid $med-grey;
    padding:10px;
    margin-bottom:10px;
    border-radius: 10px;
  }

}
.table_prescrizione{
  .colonna_label_esame{
    width: 90%;
  }
}