.page-enter-active,
.page-leave-active {
  transition: opacity .2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.fade-form-enter-active,
.fade-form-leave-active {
  transition: opacity .15s
}
.fade-form-enter,
.fade-form-leave-to {
  opacity: 0
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 2s
}
.fade-enter,
.fade-leave-to {
  opacity: 0
}



.fade-page-enter-active,
.fade-page-leave-active {
  transition: opacity .01s
}
.fade-page-enter,
.fade-page-leave-to {
  opacity: 0
}

.fade-page-active,
.fade-page-active {
  transition: opacity 2s
}
.fade-page,
.fade-page-to {
  opacity: 0
}
