<template>
    <div>
        <CRow>
            <CCol sm="12">
                <h5><b>La prescrizione di dronedarone è a carico del SSN solo prescritta dal medico cardiologo, internista, geriatra e medico di medicina d’urgenza e se rispondente alle seguenti condizioni:</b></h5>

                <p><b>TIPOLOGIA DI PAZIENTI</b></p> 
                <p>Adulti clinicamente stabili con:</p> 

                <div class="box_piano">
                <input type="checkbox" id="dronedarone_1" v-model="dronedarone.dronedarone_1" name="dronedarone_1" value="1">
                <label for="dronedarone_1">Anamnesi di fibrillazione atriale (FA)</label>
                </div>


                <div class="box_piano">
                <input type="checkbox" id="dronedarone_2" v-model="dronedarone.dronedarone_2" name="dronedarone_2" value="2">
                <label for="dronedarone_2">FA non permanente in corso</label>
                </div>

                <br/>
                <p><b>MOTIVAZIONE PER CUI È STATO PRESCRITTO IL FARMACO (COME ALTERNATIVA ALL’AMIODARONE)</b></p>

                <div class="box_piano">
                <input type="checkbox" id="dronedarone_3" v-model="dronedarone.dronedarone_3" name="dronedarone_3" value="3">
                <label for="dronedarone_3">Per prevenire una recidiva di FA</label><br>
                </div>

                <div class="box_piano">
                <input type="checkbox" id="dronedarone_4" v-model="dronedarone.dronedarone_4" name="dronedarone_4" value="4">
                <label for="dronedarone_4">Per diminuire la frequenza di risposta ventricolare in corso di FA non permanente</label><br>
                </div>
                <br/>
                
                <p><b>MOTIVO DELLA NON SOMMINISTRAZIONE DI AMIODARONE:</b></p>

                <div class="box_piano">
                <input type="checkbox" id="dronedarone_5" v-model="dronedarone.dronedarone_5" name="dronedarone_5" value="5">
                <label for="dronedarone_5">IPERSENSIBILITA’ ALLO IODIO</label><br>
                </div>
                <div class="box_piano">
                <input type="checkbox" id="dronedarone_6" v-model="dronedarone.dronedarone_6" name="dronedarone_6" value="6">
                <label for="dronedarone_6">PRECEDENTE DISTIROIDISMO DA AMIODARONE DOCUMENTATO</label><br>
                </div>
                
                <div class="box_piano">
                <input type="checkbox" id="dronedarone_7" v-model="dronedarone.dronedarone_7" name="dronedarone_7" value="7">
                <label for="dronedarone_7">ALTRE PRECEDENTI REAZIONI AVVERSE O CONTROINDICAZIONI ALL’AMIODARONE,</label> &nbsp;&nbsp;
                <input type="text" v-model="dronedarone.dronedarone_text" name="dronedarone_text">
                </div>
                
                <br/>

                <p><b>ALTA PROBABILITA’ DI DISTIROIDISMO DA AMIODARONE BASATA SU, specificare:</b></p>

                <div class="box_piano">
                <input type="checkbox" id="dronedarone_8" v-model="dronedarone.dronedarone_8" name="dronedarone_8" value="8">
                <label for="dronedarone_8">Alterazione della funzione tiroidea Malattia autoimmune tiroidea Gozzo Altro</label><br>
                </div>

                <div class="box_piano">              
                <input type="checkbox" id="dronedarone_9" v-model="dronedarone.dronedarone_9" name="dronedarone_9" value="9">
                <label for="dronedarone_9">Malattia autoimmune tiroidea</label>
                </div>
                
                <div class="box_piano">
                    <input type="checkbox" id="dronedarone_10" v-model="dronedarone.dronedarone_10" name="dronedarone_10" value="10">
                    <label for="dronedarone_10">Gozzo </label>
                </div>

                <div class="box_piano">
                <input type="checkbox" id="dronedarone_11" v-model="dronedarone.dronedarone_11" name="dronedarone_11" value="11">
                <label for="dronedarone_11">Altro</label>
                </div>


            </CCol>           
        </CRow>
    </div>
</template>


<script>
import Form from 'vform'
 
    export default {
    name: 'dronedarone',
      components: {
    },
    data () {
      return {
        dronedarone: new Form({
          dronedarone_1: 'off',
          dronedarone_2: 'off',
          dronedarone_3: 'off',
          dronedarone_4: 'off',
          dronedarone_5: 'off',
          dronedarone_6: 'off',
          dronedarone_7: 'off',
          dronedarone_text: '',
          dronedarone_8: 'off',
          dronedarone_9: 'off',
          dronedarone_10: 'off',
          dronedarone_11: 'off',
        })
    }
  },

  
  mounted(){
    this.dronedarone.reset();
    this.changeDroneDarone();
  },

  methods:{
  changeDroneDarone: function() {
    this.$emit("aggiornaPiano",this.dronedarone);
    },

  setPiano: function(data) {
      this.dronedarone.fill(data);
    },

  }

  }


</script>