<template>
    <div>
        <CRow>
            <CCol sm="12">
                <h5><b>E: Campo obbligatorio ai fini dell’eleggibilità - O: Campo obbligatorio</b></h5>

                <h5 class="text-center"><b>2- Eleggibilità e Dati Clinici (EDC)</b></h5>

                <p class="text-center">
                    Entresto è indicato in pazienti adulti per il trattamento dell’insuffcienza cardiaca sintomatica cronica con ridotta frazione di eiezione. Per i pazienti già in trattamento (risposta ‘Sì’ alla domanda ‘Paziente già in trattamento con sacubitril/valsartan ed eleggibile secondo i criteri specificatamente individuati in questa scheda AIFA di monitoraggio?’) l’eleggibilità è riferita all’inizio reale del trattamento con il medicinale. La raccolta delle informazioni è necessaria ai fini del proseguimento del trattamento e follow up (inserimento delle Rivalutazioni stato di malattia obbligatorie) a carico SSN
                    Si prega di prendere visione di RCP per le informazioni complete sull'utilizzo di entresto
                </p>

                <table class="table table-bordered table_piano_farma">
    <!-- //blocco 1-->
    <tbody><tr><td class="lettera"> E</td>
        <td class="testo">Insuffcienza cardiaca sintomatica cronica di classe NYHA:</td>
        <td class="checkbox_td">
            <select class="form-control" v-model="ent.ent_1" id="ent_1" name="ent_1">
                <option value="1">I</option>
                <option value="2">II</option>
                <option value="3">III</option>
                <option value="4">IV</option>
            </select>
        </td>
        <td>
     
        </td></tr>
    <!--//blocco 2 -->
    <tr><td class="lettera"> E</td>
        <td class="testo"> Frazione di eiezione ventricolare (%)</td>
        <td class=""> 
            <label>T26</label>
            <input type="number" class="form-control" v-model="ent.t26" id="t26" name="t26"></td>
        <td class=""> blocco se &gt; 35%
        </td></tr>

    <!--//blocco 3-->
    <tr><td class="lettera"> O</td>
        <td class="testo"> Marker dello scompenso cardiaco:</td>
        <td>
            <div> <input type="checkbox" class="checkbox" v-model="ent.ent_2" id="ent_2" name="ent_2"> <label for="ent_2">Peptide natriuretico tipo B (BNP)</label> </div>
            <div> <input type="checkbox" class="checkbox" v-model="ent.ent_3" id="ent_3" name="ent_3"> <label for="ent_3">Pro-BNP (NT-proBNP)</label></div>
        </td>              
        <td class="">scelta multipla. È suffciente uno dei due markers</td></tr> 

    <!--//blocco 4 -->
    <tr><td class="lettera"> O</td>
        <td class="testo">Per ognuno indicare il valore in pg/mL</td>
        <td class=""><input type="text" class="form-control" v-model="ent.marker" id="marker" name="marker"></td>
        <td class=""></td></tr>  

    <!-- blocco 5 -->
    <tr><td class="lettera"> O</td>
        <td class="testo">Il paziente è portatore di defibrillatore impiantabile?</td>
        <td>
            <select class="form-control" v-model="ent.ent_4" name="ent_4">
                <option value="no">No</option>
                <option value="si">Si</option>
            </select>
        </td>       
        <td></td></tr>

    <!-- blocco 6 -->
    <tr><td class="lettera"> E</td>
        <td class="testo">Il paziente è stato sottoposto al miglior trattamento farmacologico tollerato che comprende un ACE inibitore o un bloccante del recettore dell’angiotensina II a dose terapeutica e somministrato per almeno 6 mesi?</td>
        <td>
            <select class="form-control" v-model="ent.ent_5" name="ent_5">
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>
        </td>       
        <td>
         
        </td>
    </tr>      
    <!-- blocco 6-2 -->
    <tr>
        <td class="lettera"> E</td>
        <td class="testo">Se ‘sì’ alla precedente domanda indicare:</td>
        <td>
            <div> <input type="checkbox" class="checkbox" v-model="ent.ent_6" id="ent_6" name="ent_6" > <label for="ent_6">ACE inibitore (1)</label> </div>
            <div> <input type="checkbox" class="checkbox" v-model="ent.ent_7" id="ent_7" name="ent_7" > <label for="ent_7">Bloccante del recettore dell'angiotensina II (sartano) (2)</label></div>
            <div> <input type="checkbox" class="checkbox" v-model="ent.ent_8" id="ent_8" name="ent_8" > <label for="ent_8">Beta bloccante (3)</label></div>
            <div> <input type="checkbox" class="checkbox" v-model="ent.ent_9" id="ent_9" name="ent_9" > <label for="ent_9">Diuretico (4)</label></div>
            <div> <input type="checkbox" class="checkbox" v-model="ent.ent_10" id="ent_10" name="ent_10" > <label for="ent_10">Antialdosteronico (5)</label></div>
        </td>
        <td>
          <p>Scelta Multipla</p>
           <p>Devono essere indicati ALMENO una delle scelte: 1 OR 2  <br/>AND <br/>
            Devono essere indicati ALMENO una delle scelte: 3 OR 4 OR 5
            </p> 
        </td>
    </tr>

    <!-- Blocco 7 -->
    <tr>
        <td class="lettera"> E</td>
        <td class="testo">Se indicato ACE inibitore (1): Entresto sarà iniziato almento 36 ore dopo la sospensione della terapia con ACE-inibitore?:</td>
        <td>
            <select class="form-control" v-model="ent.ent_11" id="ent_11" name="ent_11">
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>
        </td>
        <td>
          
        </td>
    </tr>

    <!-- Blocco 8 -->
    <tr>
        <td class="lettera"> E</td>
        <td class="testo">Entresto sarà somministrato<br>
            in associazione con:<br>
            - Un ACE inibitore (1) oppure<br>
            - Un bloccante del recettore<br>
            dell’angiotensina II (sartano) (2) oppure<br>
            - Aliskiren in pazienti con diabete mellito<br>
            oppure con compromissione renale<br>
            (eGFR &lt;60 ml/min/1,73 m<sup>2</sup>)</td>
        <td>
            <select class="form-control" v-model="ent.ent_12" id="ent_12" name="ent_12">
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>
        </td>
        <td>
        
        </td>
    </tr>


    <!-- Blocco 9 -->
    <tr>
        <td class="lettera"> O</td>
        <td class="testo">Entresto sarà somministrato in associazione con aliskiren?
        </td><td>
            <select class="form-control" v-model="ent.ent_13" id="ent_13" name="ent_13">
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>
        </td>
        <td>
            <div> L’associazione di Entresto con inibitori diretti della renina come
                aliskiren non è raccomandata (vedere paragrafo 4.4) </div>
        </td>
    </tr>

    <!-- Blocco 10 -->
    <tr>
        <td class="lettera"> E</td>
        <td class="testo">I livelli sierici di potassio sono &gt;5,4 mmol/l?
        </td><td>
            <select class="form-control" v-model="ent.ent_14" id="ent_14" name="ent_14">
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>
        </td>
        <td>

        </td>
    </tr>

    <!-- Blocco 11 -->
    <tr>
        <td class="lettera"> E</td>
        <td class="testo">Pressione arteriosa sistolica (PAS) (mmHg)
        </td>
        <td class=""> 
            <label for="pas">(valore numerico intero max 3 cifre)</label>
            <input type="number" class="form-control" v-model="ent.pas" id="pas" name="pas">
        </td>
        <td>
            <div> blocco se &lt; 100 mmHg<br>
                Una dose iniziale di 24 mg/26 mg due volte al giorno deve essere considerata<br>
                per i pazienti con PAS da ≥100 a 110 mmHg </div>
        </td>
    </tr>

    <!-- Blocco 12 -->
    <tr>
        <td class="lettera"> O</td>
        <td class="testo">Pressione arteriosa diastolica (PAD) (mmHg)
        </td>
        <td class=""> 
            <label for="pad">(valore numerico intero max 3 cifre)</label>
            <input type="number" v-model="ent.pad" class="form-control" id="pad" name="pad">
        </td>
        <td>

        </td>
    </tr> 
    <!-- Blocco 13 -->
    <tr>
        <td class="lettera"> O</td>
        <td class="testo">Funzionalità renale:
        </td><td>
            <select class="form-control" v-model="ent.ent_15" name="ent_15">
                <option value="normale">Normale</option>
                <option value="compromessa">Compromessa</option>
            </select>
        </td>
        <td>
        </td>
    </tr>

    <!-- blocco 14 -->
    <tr>
        <td class="lettera"> E</td>
        <td class="testo">Se compromessa, indicare il grado
            di compromissione funzionalità renale
            (eGFR) (vedi RCP):</td>
        <td>
        
            <select class="form-control" v-model="ent.ent_16"  name="ent_16">
                <option value="lieve">Lieve (eGFR 60-90 ml/min/1,73 m<sup>2</sup>) </option>
                <option value="moderata">Moderata (eGFR 30-60 ml/min/1,73 m<sup>2</sup>)</option>
                <option value="grave">Grave (eGFR &lt;30 ml/min/1,73 m<sup>2</sup>)</option>
                <option value="malattia">Malattia renale allo stadio terminale</option>
            </select>
        </td>
        <td>
            <div>Non è richiesto un aggiustamento della dose nei pazienti con lieve
                compromissione renale (vedi RCP)</div><br>
            <div> Una dose iniziale di 24 mg/26 mg due volte al giorno deve essere consideratanei pazienti con moderata compromissione renale (vedi RCP) </div><br>
            <div> C’è una esperienza clinica molto limitata in pazienti con grave
                compromissione renale. Entresto deve essere usato con cautela e si
                raccomanda una dose iniziale di 24 mg/26 mg due volte al giorno (vedi RCP)
            </div><br>
            <div><br>
                Non vi è esperienza in pazienti con malattia renale allo stadio terminale
                e l’uso di Entresto non è raccomandato (vedi RCP)
            </div>  
        </td>
    </tr>

    <!-- BLOCCO 14bis -->
    <tr><td class="lettera"> O</td>
        <td class="testo">Funzionalità epatica:</td>
        <td class="checkbox_td">
            <select class="form-control" v-model="ent.ent_17" id="ent_17" name="ent_17">
                <option value="normale">Normale</option>
                <option value="compromessa">Compromessa</option>
            </select>
        </td>
    </tr>


    <!-- blocco 14bis -->
    <tr>
        <td class="lettera"> E</td>
        <td class="testo">Se compromessa, indicare il grado
            di compromissione funzionalità renale
            (eGFR) (vedi RCP):</td>
        <td>
            <select class="form-control" v-model="ent.ent_18" id="ent_18" name="ent_18">
                <option value="lieve">Lieve (Child-Pugh A)</option>
                <option value="moderato">Moderato (Child-Pugh B) o valori di AST/ALT più di due</option>
                <option value="grave">Grave compromissione epatica, cirrosi biliare o colestasi (Child- Pugh C)</option>
            </select>
        </td><td>
            <div>Non è richiesto un aggiustamento della dose quando Entresto è somministrato
                a pazienti con lieve compromissione epatica (vedi RCP)</div><br>
            <div> Vi è una limitata esperienza clinica in pazienti con compromissione epatica
                moderata (classificazione Child-Pugh B) o con valori di AST/ALT più di due
                volte il limite superiore dell’intervallo di normalità. Entresto deve essere usato
                con cautela in questi pazienti e la dose iniziale raccomandata è 24 mg/26 mg
                due volte al giorno (vedi RCP).
            </div><br><br><br><br>
        </td>
    </tr>

    <!-- blocco 15 -->
    <tr>
        <td class="lettera"> E</td>
        <td class="testo">Storia nota di angioedema correlato a
            precedente terapia con ACE inibitore (1) o
            bloccante del recettore dell'angiotensina II
            (sartano) (2) (vedi RCP)?</td>
        <td>
            <select class="form-control" v-model="ent.ent_19" id="ent_19" name="ent_19">
             <option value="si">Si</option>
             <option value="no">No</option>
            </select>
        </td>
        <td>
          
        </td>
    </tr>

    <!-- blocco 16 -->
    <tr>
        <td class="lettera"> E</td>
        <td class="testo">Angioedema ereditario o idiopatico
            (vedi RCP)?</td>
        <td>
            <select class="form-control" v-model="ent.ent_20" id="ent_20" name="ent_20">
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>
        </td>
        <td>
      
        </td>
    </tr>

    <tr><td colspan="4"><b>Solo per paziente donna:</b></td></tr>

    <!-- blocco 17 -->
    <tr>
        <td class="lettera"> E</td>
        <td class="testo">Gravidanza o allattamento
            (vedi RCP):</td>
        <td>
           <select class="form-control" v-model="ent.ent_21" id="ent_21" name="ent_21">
               <option value="si">Si</option>
               <option value="no">No</option>
           </select>
        </td>
        <td>
    
        </td>
    </tr>

    <tr><td colspan="3">
            <b>Sezione relativa al ‘Paziente già in trattamento’ secondo: ∙ DM 08/05/2003 o
                ∙ Legge 648/96 (senza monitoraggio tramite i registri AIFA) o ∙ Legge 326/2003 Art. 48 o ∙ Studi clinici.</b><br>
            NOTA: L’eleggibilità per questi pazienti (risposta ‘Sì’ alla domanda ‘Paziente già in trattamento...’) è riferita all’inizio
            reale del trattamento con il medicinale. La raccolta delle informazioni è necessaria ai fini del proseguimento del
            trattamento e follow up (inserimento delle Rivalutazioni stato di malattia obbligatorie) a carico SSN.

        </td>
        <td></td>
    </tr>

    <!-- blocco 18 -->
    <tr>
        <td class="lettera"> O</td>
        <td class="testo">Paziente già in trattamento con sacubitril/
            valsartan ed eleggibile secondo i criteri
            specificatamente individuati in questa
            scheda AIFA di monitoraggio?</td>
        <td>
            <select class="form-control" v-model="ent.ent_22" id="ent_22" name="ent_22">
               <option value="si">Si</option>
               <option value="no">No</option>
           </select>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td class="lettera"> O</td>
        <td>
            Data inizio trattamento
        </td>
        <td>
            <input class="form-control" v-model="ent.inizio_trat" type="date" id="inizio_trat" name="inizio_trat">
        </td>
    </tr>
    
    <tr><td colspan="4">
            <div class="entresto"><b>3- Piano terapeutico (PT) Entresto valido per 6 mesi</b></div>
            <div class="entresto">La dose iniziale raccomandata di Entresto è una compressa da 49 mg/51 mg due volte al giorno oppure, in base alle condizioni descritte in RCP, 24 mg/26 mg due volte al giorno.<br>
                La dose deve essere raddoppiata (vedi RCP) fino al raggiungimento della dose ottimale di una compressa da 97 mg/103 mg due volte al giorno, in base alla tollerabilità del paziente.<br>
                Si prega di fare riferimento alle informazioni complete sull’utilizzo di Entresto presenti in RCP.<br>
                Se i pazienti manifestano problemi di tollerabilità (pressione arteriosa sistolica [PAS] ≤95 mmHg, ipotensione sintomatica, iperkaliemia, disfunzione renale),<br>
                si raccomanda un aggiustamento della dose dei medicinali somministrati in concomitanza, la temporanea riduzione della dose o l’interruzione di Entresto (vedi RCP).</div><br>    
        </td>
    </tr>


    <!-- blocco 19 -->
    <tr>
        <td class="lettera"> O</td>
        <td class="testo">Posologia (mg/die)</td>
        <td>
            <div> <input type="checkbox" class="checkbox" v-model="ent.ent_23"> <label for="ent_23">97/103 x 2</label></div>
            <div> <input type="checkbox" class="checkbox" v-model="ent.ent_24" id="ent_24" name="ent_24"> <label for="ent_24">49/51 x 2</label></div>
            <div> <input type="checkbox" class="checkbox" v-model="ent.ent_25" id="ent_25" name="ent_25"> <label for="ent_25">24/26 x 2</label></div>
        </td>
        <td>
            Il PT traccia la prima posologia indicata al momento della
            compilazione. Il PT non traccia invece la titolazione e le eventuali
            modifiche di posologia all’interno della sua durata, che devono essere
            gestite dal medico prescrittore/MMG tenendo presente le indicazioni
            contenute nel Riassunto delle Caratteristiche del Prodotto (RCP)
        </td>
    </tr>

    <!-- Blocco 20 -->
    <tr>
        <td class="lettera"> O</td>
        <td class="testo">Dose/Die o Dose calcolata in base alla posolgia:
        </td><td class=""> <input class="form-control" v-model="ent.dose" type="text" id="dose" name="dose"></td>
        <td>

        </td>
    </tr> 

    <!-- Blocco 21 -->
    <tr>
        <td class="lettera"> O</td>
        <td class="testo">Data di interruzione della terapia
        </td>
        <td class=""> 
            <input  class="form-control" type="date" v-model="ent.interruzione" id="interruzione" name="interruzione"></td>
        <td>
            Default come requisito della piattaforma
        </td>
    </tr> 

    <!-- blocco 22-->
    <tr><td class="lettera"> E</td>
        <td class="testo">Altri farmaci per lo scompenso (scelta multipla)</td>
        <td class="checkbox_td">
            <div> <input type="checkbox" class="checkbox" v-model="ent.ent_26" id="ent_26" name="ent_26"> <label for="ent_26">ACE inibitore</label> </div>
            <div> <input type="checkbox" class="checkbox" v-model="ent.ent_27" id="ent_27" name="ent_27"> <label for="ent_27">Bloccante del recettore dell'angiotensina II (sartano)</label> </div>
            <div> <input type="checkbox" class="checkbox" v-model="ent.ent_28" id="ent_28" name="ent_28"> <label for="ent_28">Beta bloccante</label> </div>
            <div> <input type="checkbox" class="checkbox" v-model="ent.ent_29" id="ent_29" name="ent_29"> <label for="ent_29">Diuretico </label></div>
            <div> <input type="checkbox" class="checkbox" v-model="ent.ent_30" id="ent_30" name="ent_30"> <label for="ent_30">Antialdosteronico</label> </div>
            <div> 
            <input type="checkbox" class="checkbox" v-model="ent.ent_31" id="ent_31" name="ent_31"> <label for="ent_31">Altro: specificare</label>
            <input class="form-control" v-model="ent.altro" type="text" id="altro" name="altro"> 
            </div>
        </td>
        <td>
            <div> blocco </div>
            <div> blocco </div>
            <div class="visi_hidden"> hidden </div>
            <div class="visi_hidden"> hidden </div>
            <div class="visi_hidden"> hidden </div>
            <div class="visi_hidden"> hidden </div>
            <div> testo libero</div>
        </td></tr>



    <!-- RIVALUTAZIONE STATO -->
    <tr>
        <td colspan="4">
            <div class="entresto"><b>4- Rivalutazione stato di malattia (RIV)</b></div>
            <div class="entresto">Se i pazienti manifestano problemi di tollerabilità (pressione arteriosa sistolica [PAS] ≤95 mmHg, ipotensione sintomatica, iperkaliemia, disfunzione renale),<br>
                si raccomanda un aggiustamento della dose dei medicinali somministrati in concomitanza, la temporanea riduzione della dose o l’interruzione di Entresto (vedi RCP).<br>
                Si prega di fare riferimento alle informazioni complete sull’utilizzo di Entresto presenti in RCP.
                </div></td>
                </tr>

                <tr>
                    <td colspan="3">
                        Obbligatoria ogni sei mesi (secondo la durata per il rinnovo del PT)
                    </td>
                </tr>

                <!--  BLOCCO 23 -->
                <tr>
                    <td class="lettera"> O</td>
                    <td>
                        Data Rivalutazione
                    </td>
                    <td>
                        <input  class="form-control" type="date" v-model="ent.rivalutazione" id="rivalutazione" name="rivalutazione">
                    </td>
                </tr>


                <!-- BLOCCO 24-->
                <tr><td class="lettera"> E</td>
                    <td class="testo">Insufficienza cardiaca sintomatica cronica
                        di classe NYHA:</td>
                    <td class="checkbox_td">
                        <select class="form-control" v-model="ent.ent_32" id="ent_32" name="ent_32">
                            <option value="1">I</option>
                            <option value="2">II</option>
                            <option value="3">III</option>
                            <option value="4">IV</option>
                        </select>
                    </td>
                    <td>
                   
                    </td></tr>


                <!--  BLOCCO 25 -->
                <tr>
                    <td class="lettera"> O</td>
                    <td>
                        Frazione di eiezione ventricolare (%)
                    </td>
                    <td>
                        <input type="number" class="form-control" v-model="ent.frazione_ventricolare" id="frazione_ventricolare" name="frazione_ventricolare">
                    </td>
                </tr>

                <!-- BLOCCO 26-->
                <tr><td class="lettera"> O</td>
                    <td class="testo">Funzionalità renale:</td>
                    <td class="checkbox_td">
                        <select class="form-control" v-model="ent.ent_33" name="ent_33">
                            <option value="normale">Normale</option>
                            <option value="compromessa">Compromessa</option>
                        </select>
                    </td>
                </tr>


                <!-- blocco 26 -->
                <tr>
                    <td class="lettera"> E</td>
                    <td class="testo">Se compromessa, indicare il grado
                        di compromissione funzionalità renale
                        (eGFR) (vedi RCP):</td>
                    <td>
                        <select class="form-control" v-model="ent.ent_34"  name="ent_34">
                            <option value="lieve">Lieve (eGFR 60-90 ml/min/1,73 m<sup>2</sup>) </option>
                            <option value="moderata">Moderata (eGFR 30-60 ml/min/1,73 m<sup>2</sup>)</option>
                            <option value="grave">Grave (eGFR &lt;30 ml/min/1,73 m<sup>2</sup>)</option>
                            <option value="malattia">Malattia renale allo stadio terminale</option>
                        </select>
                    </td>
                    <td>
                        <div>Non è richiesto un aggiustamento della dose nei pazienti con lieve
                            compromissione renale (vedi RCP)</div><br>
                        <div> Una dose iniziale di 24 mg/26 mg due volte al giorno deve essere consideratanei pazienti con moderata compromissione renale (vedi RCP) </div><br>
                        <div> C’è una esperienza clinica molto limitata in pazienti con grave
                            compromissione renale. Entresto deve essere usato con cautela e si
                            raccomanda una dose iniziale di 24 mg/26 mg due volte al giorno (vedi RCP)
                        </div><br>
                        <div> Blocco<br>
                            Non vi è esperienza in pazienti con malattia renale allo stadio terminale
                            e l’uso di Entresto non è raccomandato (vedi RCP)
                        </div>  
                    </td>
                </tr>


                <!-- BLOCCO 27-->
                <tr><td class="lettera"> O</td>
                    <td class="testo">Funzionalità epatica:</td>
                    <td class="checkbox_td">
                        <select class="form-control" v-model="ent.ent_35" name="ent_35">
                            <option value="normale">Normale</option>
                            <option value="compromessa">Compromessa</option>
                        </select>
                    </td>
                </tr>


                <!-- blocco 28 -->
                <tr>
                    <td class="lettera"> E</td>
                    <td class="testo">Se compromessa, indicare il grado
                        di compromissione funzionalità renale
                        (eGFR) (vedi RCP):</td>
                    <td>
                         <select class="form-control" v-model="ent.ent_36" id="ent_36" name="ent_36">
                            <option value="lieve">Lieve (Child-Pugh A)</option>
                            <option value="moderato">Moderato (Child-Pugh B) o valori di AST/ALT più di due</option>
                            <option value="grave">Grave compromissione epatica, cirrosi biliare o colestasi (Child- Pugh C)</option>
                        </select>
                    </td><td>
                        <div>Non è richiesto un aggiustamento della dose quando Entresto è somministrato
                            a pazienti con lieve compromissione epatica (vedi RCP)</div><br>
                        <div> Vi è una limitata esperienza cinica in pazienti con compromissione epatica
                            moderata (classificazione Child-Pugh B) o con valori di AST/ALT più di due
                            volte il limite superiore dell’intervallo di normalità. Entresto deve essere usato
                            con cautela in questi pazienti e la dose iniziale raccomandata è 24 mg/26 mg
                            due volte al giorno (vedi RCP).
                        </div><br><br><br><br>
                        <div> Blocco
                        </div>  
                    </td>
                </tr>


                <!-- BLOCCO 29-->
                <tr><td class="lettera"> E</td>
                    <td class="testo">Si è manifestato angioedema?</td>
                    <td class="checkbox_td">
                           <select class="form-control" v-model="ent.ent_37" id="ent_37" name="ent_37">
                            <option value="si">Si</option>
                            <option value="no">No</option>
                        </select>
                    </td>
                </tr>

                <!-- BLOCCO 30-->
                <tr><td class="lettera"> E</td>
                    <td class="testo">Il paziente continua il trattamento:</td>
                    <td class="checkbox_td">
                        <select class="form-control" v-model="ent.ent_38" id="ent_38" name="ent_38">
                            <option value="si">Si</option>
                            <option value="no">No</option>
                        </select>
                    </td>
                
                
    </tr>

    <!-- FINE TRATTAMENTO -->
    <tr>
        <td colspan="4">
            <div class="entresto"><b>5- Fine Trattamento (FT)</b></div>
        </td>
    </tr>

    <!--  BLOCCO 31 -->
    <tr>
        <td class="lettera"> O</td>
        <td>
            Data Rivalutazione
        </td>
        <td>
            <input class="form-control" v-model="ent.data_fine" type="date" id="data_fine" name="data_fine">
        </td>
        <td>
            Successiva alla RIV e cmq successiva all'ultimo PT inserito
        </td>
    </tr>

    <!--  BLOCCO 31 bis -->
    <tr><td class="lettera"> O</td>
        <td class="testo">Motivo del FT:</td>
        <td class="checkbox_td">
            <div> <input type="checkbox" class="checkbox" id="ent_39" name="ent_39" > <label for="ent_39">Tossicità</label> </div>
            <div> <input type="checkbox" class="checkbox" id="ent_40" name="ent_40" > <label for="ent_40">Decisione medica</label> </div>
            <div> <input type="checkbox" class="checkbox" id="ent_41" name="ent_41" > <label for="ent_41">Perso al follow up </label></div>
            <div> <input type="checkbox" class="checkbox" id="ent_42" name="ent_42" > <label for="ent_42">Decisione del paziente</label> </div>
            <div> <input type="checkbox" class="checkbox" id="ent_43" name="ent_43" > <label for="ent_43">Decesso del paziente</label></div>
        </td>
        <td>
            <div> Link RNFV </div>
            <div class="visi_hidden"> hidden </div>
            <div class="visi_hidden"> hidden </div>
            <div class="visi_hidden"> hidden </div>
            <div class="visi_hidden"> hidden </div>
        </td></tr>


    <!-- Blocco 32 -->
    <tr>
        <td class="lettera"> O</td>
        <td class="testo">Numero di PT ricevuti prima di questa scheda
        </td><td class=""> <input type="text" class="form-control" id="numeroPt" name="numeroPt"></td>
        <td>

        </td>
    </tr> 

    <!-- Blocco 32 -->
    <tr><td class="lettera"> O</td>
        <td class="testo">Se motivo di FT è decesso indicare la causa del decesso:</td>
        <td class="checkbox_td">
            <div> <input type="checkbox" class="checkbox" v-model="ent.ent_44" id="ent_44" name="ent_44"> <label for="ent_44">Malattia</label> </div>
            <div> <input type="checkbox" class="checkbox" v-model="ent.ent_45" id="ent_45" name="ent_45"> <label for="ent_45">Tossicità</label> </div>
            <div> <input type="checkbox" class="checkbox" v-model="ent.ent_46" id="ent_46" name="ent_46"> <label for="ent_46">Altro</label> </div>
        </td>
        <td>
        </td></tr>

    <!--  BLOCCO 33 -->
    <tr>
        <td class="lettera"> O</td>
        <td>
            Se motivo di FT è decesso indicare la data del decesso:
        </td>
        <td>
            <input  class="form-control" v-model="ent.data_decesso" type="date" id="data_decesso" name="data_decesso">
        </td>
    </tr>

</tbody></table>

            </CCol>
        </CRow>
    </div>
</template>


<script>

    import Form from 'vform'

    export default {
    name: 'entresto',
      components: {
    },
    data () {
      return {
        ent: new Form({
            ent_1: '',
            t26: '',
            ent_2: '',
            ent_3: '',
            ent_4: 'no',
            marker: '',
            ent_5: 'no',
            ent_6: '',
            ent_7: '',
            ent_8: '',
            ent_9: '',
            ent_10: '',
            ent_11: 'no',
            ent_12: 'no',
            ent_13: 'no',
            ent_14: 'no',
            pas: '',
            ent_15: 'normale',
            ent_16: '',
            ent_17: 'normale',
            ent_18: '',
            ent_19: 'no',
            ent_20: 'no',
            inizio_trat: '',
            ent_21: 'no',
            ent_22: 'no',
            ent_23: false,
            ent_24: '',
            ent_25: '',
            dose: '',
            interruzione: '',
            ent_26: '',
            ent_27: '',
            ent_28: '',
            ent_29: '',
            altro: '',
            rivalutazione: '',
            ent_30: '',
            frazione_ventricolare: '',
            ent_31: '',
            ent_32: '',
            ent_33: '',
            ent_34: '',
            ent_35: '',
            ent_36: '',
            ent_37: '',
            ent_38: '',
            ent_39: '',
            ent_40: '',
            ent_41: '',
            ent_42: '',
            ent_43: '',
            datafine: '',
            numeroPt: '',
            ent_44: '',
            ent_45: '',
            ent_46: '',
            data_decesso: ''
        })
    }
  },

 mounted(){
    this.ent.reset();
    this.changeEntresto();
  },

  methods:{
  changeEntresto: function() {
    this.$emit("aggiornaPiano",this.ent);
    },

  setPiano: function(data) {
      this.ent.fill(data);
    },


  }
}

</script>