<template>
    <div>
        <CRow>
            <CCol sm="6">
                <CInput label="Farmaco da prescrivere" type="text" v-model="generico.farmaco" name="farmaco"></CInput>
            </CCol>   
              <CCol sm="6">
                <CTextarea label="Note del farmaco" v-model="generico.note" name="note"></CTextarea>
            </CCol>              
        </CRow>
    </div>
</template>


<script>

  import Form from 'vform'

  export default {
    name: 'generico',
      components: {
    },
    data () {
      return {
        generico: new Form({
            farmaco: '',
            note: '',
        })
    }
  },

  mounted(){
    this.generico.reset();
    this.cahngeGenerico();
  },

  methods:{
  cahngeGenerico: function() {
    this.$emit("aggiornaPiano",this.generico);
    },

  setPiano: function(data) {
      this.generico.fill(data);
    },


  }

}


</script>