<template>
    <div>
        <CRow>
            <CCol sm="12">
            <h5><b>La prescrizione di B2 agonisti a lunga durata d'azione (LABA) / antagonisti muscarinici a lunga durata d'azione (LAMA) è soggetta a diagnosi e Piano Terapeutico (durata massima 6 mesi)La rimborsabilità a carico del SSN è limitata ai pazienti adulti con BPCO in regime di dispensazione A/RRL (pneumologo,geriatra, internista) da parte delle strutture ospedaliere o territoriali del SSN o convenzionate con il SSN. Le successive prescrizioni dovranno essere effettuate esclusivamente dallo Specialista, qualora siano soddisfatte le seguenti condizioni alia prima prescrizione:</b></h5>
            <br/>

            <div class="box_piano">
                1. &nbsp;
                <input id="inda1" type="checkbox" v-model="inda.inda_1" name="inda_1" value="1"> 
                <label for="inda1">Paziente con diagnosi conclamata di BPCO da moderata a molto grave secondo le linee guida GOLD nella versione aggiornata.</label>
            </div>

            <div class="box_piano">
                2. &nbsp;
                <input id="inda2" v-model="inda.inda_2" type="checkbox" name="inda_2" value="2"> 
                <label for="inda2">Paziente broncopneumopatico con dispnea in almeno una delle seguenti condizioni (tratto da questionario mMRC):</label>
            </div>

            
            <br/>
            <div class="box_piano">
                <input id="inda3" v-model="inda.inda_3" type="checkbox" name="inda_3" value="3"> 
                <label for="inda3">durante esercizio intenso (es. salire le scale, pedalare);</label>
            </div>
                  
            <div class="box_piano">
                <input id="inda4" type="checkbox" v-model="inda.inda_4" name="inda_4" value="4"> 
                <label for="inda4">durante una camminata in salita;</label>
            </div>
                  
            <div class="box_piano">
                <input id="inda5" type="checkbox"  v-model="inda.inda_5" name="inda_5" value="5"> 
                <label for="inda5">durante una camminata lenta rispetto a persone della stessa età e che porta a interruzione;</label>
            </div>
                  
            <div class="box_piano">
                <input type="checkbox" id="inda6" v-model="inda.inda_6" name="inda_6" value="6"> 
                <label for="inda6">dopo almeno 100 metri di camminata;</label>
            </div>

                  
            <div class="box_piano">
                <input id="inda7" type="checkbox" v-model="inda.inda_7" name="inda_7" value="7"> 
                <label for="inda7">durante l’atto del vestirsi o svestirsi.</label>
            </div>

            <p>In caso di prosecuzione della terapia, ovvero rinnovo semestrale del Piano Terapeutico, sarà sufficiente ripetere soltanto le valutazioni riportate nel punto (2).</p>

            <p>Farmaco prescritto</p>

            <div class="box_piano">
                <input type="checkbox" id="inda8"  v-model="inda.inda_8" name="inda_8" value="8"> 
                <label for="inda8">Indacaterolo/glicopirronio (110/50 mcg/die)</label>
            </div>

            <div class="box_piano">
                <input id="inda9" type="checkbox" v-model="inda.inda_9" name="inda_9" value="9"> 
                <label for="inda9">Umeclidinio/vilanterolo (62.5/25 mcg/die)</label>
            </div>

            </CCol>           
        </CRow>
    </div>
</template>


<script>
    import Form from 'vform'

    export default {
    name: 'inda',
      components: {
    },
    data () {
      return {
        inda: new Form({
          inda_1: 'off',
          inda_2: 'off',  
          inda_3: 'off',
          inda_4: 'off',
          inda_5: 'off',
          inda_6: 'off',
          inda_7: 'off',
          inda_8: 'off',
          inda_9: 'off'
        })
    }
  },

 mounted(){
    this.inda.reset();
    this.changeInda();
  },

  methods:{
  changeInda: function() {
    this.$emit("aggiornaPiano",this.inda);
    },

  setPiano: function(data) {
      this.inda.fill(data);
    },

  }

}
</script>