<template>
    <div>
        <CRow>
            <CCol sm="12">
              <h5><b>Diagnosi e motivazione clinica della scelta del farmaco (specificare la classe NYHA del paziente):</b></h5>

              <CTextarea v-model="ipa.text_ipa" name="text_ipa"></CTextarea>

              <h5><b>Inibitori selettivi della 5-fosfodieterasi</b></h5>
                 <div class="box_piano">
                <input type="checkbox" v-model="ipa.ipa_1" id="ipa_1" name="ipa_1" value="1">
                <label for="ipa_1"> Sildenafil </label><br>

                <input type="checkbox" class="ml-2" v-model="ipa.ipa_2" id="ipa_2" name="ipa_2" value="2">
                <label for="ipa_2"> Tadalafil</label><br>
                </div>

              <h5><b> Antagonisti Recettoriali dell'Endotelina</b></h5>
                <div class="box_piano">
                <input type="checkbox" v-model="ipa.ipa_3" id="ipa_3" name="ipa_3" value="3">
                <label for="ipa_3">Ambrisentan</label><br>

                <input type="checkbox" class="ml-2" v-model="ipa.ipa_4" id="ipa_4" name="ipa_4" value="4">
                <label for="ipa_4"> Bosentan </label><br>

                <input type="checkbox" class="ml-2" v-model="ipa.ipa_5" id="ipa_5" name="ipa_5" value="5">
                <label for="ipa_5">Macitentan</label><br>
                </div>
              
              <h5><b>Prostanoidi</b></h5>
              <div class="box_piano">
                <input type="checkbox" v-model="ipa.ipa_6 " id="ipa_6" name="ipa_6" value="6">
                <label for="ipa_6">Epoprostenolo </label><br>

                <input type="checkbox" class="ml-2" v-model="ipa.ipa_7" id="ipa_7" name="ipa_7" value="7"> 
                <label for="ipa_7"> Iloprost </label><br>

                <input type="checkbox" class="ml-2" v-model="ipa.ipa_8" id="ipa_8" name="ipa_8" value="8">
                <label for="ipa_8"> Macitentan  </label><br>
              </div>

              <h5><b>Stimolanti della guanilato ciclasi solubile</b></h5>
              <div class="box_piano">
                <input type="checkbox" v-model="ipa.ipa_9" id="ipa_9" name="ipa_9" value="9">
                <label for="ipa_9">Epoprostenolo </label><br>
              </div> 
            </CCol>
        </CRow>
    </div>
</template>


<script>

  import Form from 'vform'

    export default {
    name: 'ipa',
      components: {
    },
    data () {
      return {
        ipa: new Form({
            text_ipa: '',
            ipa_1: '',
            ipa_2: '',
            ipa_3: '',
            ipa_4: '',
            ipa_5: '',
            ipa_6: '',
            ipa_7: '',
            ipa_8: '',
            ipa_9: ''
        }),
     }
  },

  
 mounted(){
    this.ipa.reset();
    this.changeIpa();
  },

  methods:{
      changeIpa: function() {
        this.$emit("aggiornaPiano",this.ipa);
        },

      setPiano: function(data) {
          this.ipa.fill(data);
        },
  }
}


</script>