<template>
    <div>
        <CRow>
            <CCol sm="12">

                <p><b>Piano Terapeutico per la prescrizione delle specialità medicinali VELTASSA<sup>&reg;</sup> e LOKELMA<sup>&reg;</sup> (sodio zirconio ciclosilicato)</b></p>

                <p> 
                   <i>La prescrivibilità di questi medicinali è consentita ai soli medici appartenenti a centri ospedalieri o specialisti nefrologo, cardiologo, internista</i>
                </p>

                <p><b>Indicazione terapeutica</b>: trattamento dell'iperkaliemia negli adulti</p>

                <p>
                    <u><i>La  rimborsabilità  è  limitata  al  trattamento  dei  pazienti  adulti  con  Iperkaliemia  persistente  (livello  di
                        potassiemia  >5.5mmol/L)  in  pazienti  con  risposta  insufficiente   o  controindicazione  alle   resine   (calcio
                        polistirene sulfonato/sodio polistirene sulfonato).
                    </i></u>
                </p>


                <h6><span class="text-uppercase">Criteri di eleggibilità al trattamento</span> <span>(devono essere soddisfatti entrambi i punti 1 e 2)</span></h6>

                <p>
                    1) Diagnosi: Iperkaliemia persistente (livello di potassiemia > 5.5mmol/L) in paziente con risposta
                    insufficiente o controindicazione alle resine (calcio polistirene sulfonato/sodio polistirene sulfonato).
                </p>

                <p> 2) Almeno una delle sugenti condizioni (possibilità di scelta multipla):</p>

                <div class="box_piano">
                    <input id="stadio_3b" name="stadio_3b" v-model="pt_lokelma.stadio_3b" type="checkbox" /> <label for="stadio_3b"> Insufficienza renale: stadio 3b-CKD in pazienti <b>con</b> concomitante terapia con  RAASi</label>
                </div>

                <div class="box_piano">
                    <input id="stadio_45" name="stadio_45" v-model="pt_lokelma.stadio_45" type="checkbox" /> <label for="stadio_45"> Insufficienza renale: stadio 4 o 5 CKD <b>non in dialisi</b>, in pazienti <b>con o senza</b> concomitante terapia con RAASi</label>
                </div>

                <div class="box_piano">
                    <input id="stadio_5" name="stadio_5" v-model="pt_lokelma.stadio_5" type="checkbox" /> <label for="stadio_5"> Insufficienza renale: stadio 5-CKD <b>in dialisi</b> (solo per sodio zirconio ciclosilicato)</label>
                </div>

                <div class="box_piano">
                    <input id="scompenso_cardiaco" name="scompenso_cardiaco" v-model="pt_lokelma.scompenso_cardiaco" type="checkbox" /> <label for="scompenso_cardiaco"> Scompenso cardiaco (frazione di eiezione <span><u>&lt;</u></span> 40%) in pazienti <b>con</b> concomitante terapia con RAASi in dose giudicata subottimale</label>
                </div>

                <h4 class="text-uppercase">FARMACO PRESCRITTO</h4>

                <div class="box_piano">
                  <input type="checkbox" name="veltassa" id="veltassa" v-model="pt_lokelma.veltassa"> <label for="veltassa"><b>VELTASSA</b> (patiromer)</label>
                </div>

                <div class="box_piano">
                  <p><b>Pazienti NON in dialisi*</b> &nbsp; &nbsp;</p>
                  <p>
                  <input type="checkbox" name="veltassa_84" id="veltassa_84" v-model="pt_lokelma.veltassa_84"> <label for="veltassa_84">8,4g</label> 
                  &nbsp; &nbsp;
                  <input type="checkbox" name="veltassa_168" id="veltassa_168" v-model="pt_lokelma.veltassa_168"> <label for="veltassa_168">16,8g</label> 
                  </p> 
                </div>

                <p> *(nei pazienti in dialisi l'uso di veltassa non è rimborsato)</p>


                <div class="form-group">
                    <label>Posologia di Correzione</label>
                    <input type="text" class="form-control" name="vel_pos_cor" id="vel_pos_cor" v-model="pt_lokelma.vel_pos_cor">
                </div>

                <div class="form-group">
                    <label>Posologia di mantenimento</label>
                    <input type="text" class="form-control" name="vel_pos_mant" id="vel_pos_mant" v-model="pt_lokelma.vel_pos_mant">
                </div>

                <div class="box_piano">
                  <input type="checkbox" name="lokelma" id="lokelma" v-model="pt_lokelma.lokelma"> <label for="lokelma"><b>LOKELMA</b> (sodio zirconio ciclosilicato)</label>
                </div>

                <div class="box_piano">
                  <p><b> 1. Pazienti NON in dialisi </b> &nbsp; &nbsp;</p>
                  <p>
                  <input type="checkbox" name="lokelma_5" id="lokelma_5" v-model="pt_lokelma.lokelma_5"> <label for="lokelma_5">5 g</label> 
                  &nbsp; &nbsp;
                  <input type="checkbox" name="lokelma_10" id="lokelma_10" v-model="pt_lokelma.lokelma_10"> <label for="lokelma_10">10 g</label> 
                  </p> 
                </div>

                <div class="box_piano">
                  <p><b> 2. Pazienti in dialisi</b> &nbsp; &nbsp;</p>
                  <p>
                  <input type="checkbox" name="lokelma_5_dial" id="lokelma_5_dial" v-model="pt_lokelma.lokelma_5_dial"> <label for="lokelma_5_dial">5 g (trattamento nei giorni di non-dialisi)</label> 
                  &nbsp; &nbsp;
                  </p> 
                </div>

                <div class="form-group">
                    <label>Posologia di Correzione</label>
                    <input type="text" class="form-control" name="lokelma_pos_cor" id="lokelma_pos_cor" v-model="pt_lokelma.lokelma_pos_cor">
                </div>

                <div class="form-group">
                    <label>Posologia di mantenimento</label>
                    <input type="text" class="form-control" name="lokelma_pos_mant" id="lokelma_pos_mant" v-model="pt_lokelma.lokelma_pos_mant">
                </div>

            </CCol>           
        </CRow>
    </div>
</template>


<script>
import Form from 'vform'
 
    export default {
    name: 'pt_lokelma',
      components: {
    },
    data () {
      return {
        pt_lokelma: new Form({
          stadio_3b: 'off',
          stadio_45: 'off',
          stadio_5: 'off',
          scompenso_cardiaco: 'off',
          veltassa: 'off',
          veltassa_84: 'off',
          veltassa_168: 'off',
          vel_pos_cor: '',
          vel_pos_mant: '',
          lokelma: 'off',
          lokelma_5: 'off',
          lokelma_10: 'off',
          lokelma_5_dial: 'off',
          lokelma_pos_cor: '',
          lokelma_pos_mant: ''
        })
    }
  },

  
  mounted(){
    this.pt_lokelma.reset();
    this.changeLokelma();
  },

  methods:{

    changeLokelma: function() {
        this.$emit("aggiornaPiano",this.pt_lokelma);
    },

    setPiano: function(data) {
        this.pt_lokelma.fill(data);
    },

  }

  }


</script>