<template>
    <div>
        <CRow>
            <CCol sm="12">
                <h5><b>La prescrizione di N-3 PUFA, con contenuto di EPA + DHA esteri etilici 85 % minimo pari a 850 mg/g, è a carico del SSR solo se rispondente alle seguenti condizioni:</b></h5>

            <div class="box_piano">
            <input type="checkbox" v-model="n3pufa.pufa_1" id="pufa_1" name="pufa_1" value="1">
            <label for="pufa_1"> Ricovero per sindrome coronarica acuta con o senza innalzamento del tratto ST (SCA –STE, SCA-NSTE)</label><br>
            </div>

            <div class="box_piano">
            <input type="checkbox" v-model="n3pufa.pufa_2" id="pufa_2" name="pufa_2" value="2">
            <label for="pufa_2"> Pazienti con sindrome coronarica acuta con sopralivellamento del tratto ST sottoposto ad intervento coronarico percutaneo con o senza impatto di stent metallico medicato (trattamento per 12 mesi in associazione con aspirina)</label><br>
            </div>

            <div class="box_piano">SCA-STE: Sindrome Coronarica Acuta con sopraslivellamento del tratto ST</div>
            <div class="box_piano">SCA-NSTE: Sindrome Coronarica Acuta senza sopraslivellamento del tratto ST</div>
            <br/>
            <div class="box_piano"><b>Paziente con SCA-STE. Necessaria la presenza di:</b></div>
            <ul><li>Sopraslivellamento del tratto ST di almeno 0.1 mV in almeno due derivazioni contigue o blocco di branca sinistra di recente (&lt; 24 ore) insorgenza</li><li>Alterazioni di biomarcatori indicativi di danno miocardico</li></ul>

            <br/>
            <div class="box_piano"><b>Paziente con SCA-STE. Necessaria la presenza di:</b></div>
            <ul><li>Alterazioni di biomarcatori indicativi di danno miocardico</li></ul>

            </CCol>           
        </CRow>
    </div>
</template>


<script>

  import Form from 'vform'

  export default {
    name: 'n3pufa',
      components: {
    },
    data () {
      return {
        n3pufa: new Form({
          pufa_1: 'off',
          pufa_2: 'off',  
        })
    }
  },

  mounted(){
    this.n3pufa.reset();
    this.changeN3pufa();
  },

  methods:{
      changeN3pufa: function() {
        this.$emit("aggiornaPiano",this.n3pufa);
        },

      setPiano: function(data) {
          this.n3pufa.fill(data);
        },
  }
}

</script>