<template>
    <div>
        <CRow>
            <CCol sm="12">
                <h5><b>La prescrizione di Prasugrel è a carico del Servizio sanitario nazionale nelle seguenti condizioni:</b></h5>

                <div class="box_piano">
                <input type="checkbox" v-model="prasgruel.prasu_1" id="prasu_1" name="prasu_1" value="1">
                <label for="prasu_1"> Pazienti con sindrome coronarica acuta senza sopralivellamento del tratto ST sottoposto ad intervento coronarico percutaneo con o senza impatto di stent metallico medicato (trattamento per 12 mesi in associazione con aspirina) </label><br>
                </div>

                <div class="box_piano">
                <input type="checkbox" v-model="prasgruel.prasu_2" id="prasu_2" name="prasu_2"  value="2">
                <label for="prasu_2"> Pazienti con sindrome coronarica acuta con sopralivellamento del tratto ST sottoposto ad intervento coronarico percutaneo con o senza impatto di stent metallico medicato (trattamento per 12 mesi in associazione con aspirina)</label><br>
                </div>
            </CCol>           
        </CRow>
    </div>
</template>


<script>

    import Form from 'vform'

    export default {
    name: 'prasgruel',
      components: {
    },
    data () {
      return {
        prasgruel: new Form({
          prasu_1: '',
          prasu_2: '',  
        }),
    }
  },

  mounted(){
    this.prasgruel.reset();
    this.changePrasgruel();
  },

  methods:{
      changePrasgruel: function() {
        this.$emit("aggiornaPiano",this.prasgruel);
      },

      setPiano: function(data) {
          this.prasgruel.fill(data);
      },
  }



}

</script>