<template>
    <div>
        <CRow>
            <CCol sm="12">
              <p>
              La rimborsabilità a carico del S.S.N., in regime di dispensazione A/RRL (cardiologo, angiologo, chirurgo vascolare), da parte dei centri ospedalieri o di specialisti individuati dalle Regioni, è limitata (nel rispetto della scheda tecnica del farmaco) ai pazienti adulti ad alto rischio di eventi ischemici, <span style="text-underline"><u><b>in aggiunta ad acido acetilsalicilico (ASA)</b></u></span>, che soddisfino la seguente condizione clinica:
              </p>

              <div class="box_piano">
                  <input type="checkbox" id="arteriopatia" v-model="rivaroxaban.arteriopatia" name="arteriopatia">
                  <label for="arteriopatia">
                    Paziente con diagnosi di arteriopatia periferica sintomatica (dell’arto inferiore)<sup>§</sup>
                   che non necessiti di doppia terapia antiaggregante o di terapia anticoagulante (a dose piena) o altra terapia antiaggregante 
                    diversa dall’ASA e per il quale la singola terapia con acido acetilsalicilico rappresenti lo standard di cura
                  </label>
              </div>

              <table class="table table-borderd mt-3">
                <tr>
                  <th> </th>
                  <th>Posologia</th>
                </tr>
                <tr>
                  <th>Rivaroxaban 2,5</th>
                  <th>2,5mg x 2</th>
                </tr>
              </table>

              <p>
               <sup>§</sup> Per arteriopatia periferica (PAD) (arti inferiori) sintomatica si intende: precedente intervento chirurgico di bypass
                aorto-femorale, intervento chirurgico di bypass dell'arto inferiore o intervento di rivascolarizzazione mediante PCA
                dell’arteria iliaca o delle arterie infra-inguinali, o pregressa amputazione dell'arto o del piede per malattia vascolare2
                arteriosa, o diagnosi clinica di claudicatio intermittens associata ad una o più delle seguenti condizioni: I) rapporto 
                pressione sanguinea caviglia/braccio &lt;	0,90, II) stenosi arteriosa periferica > 50% documentata con angiografia o con un 
                eco doppler arterioso o III) stenosi carotidea rivascolarizzata, o stenosi carotidea asintomatica >50% diagnosticata con 
                angiografia o eco doppler. 
              </p>

              <p>
                N.B. Con riferimento alle altre indicazioni autorizzate, l’utilizzo di rivaroxaban 2,5 mg non è rimborsato dal 
                SSN per le seguenti indicazioni:
              </p>
              <ul>
                <li>
                  Rivaroxaban, somministrato insieme con il solo acido acetilsalicilico (acetylsalicylic acid, ASA) o con 
                  ASA e clopidogrel o ticlopidina, è indicato per la prevenzione di eventi aterotrombotici in pazienti 
                  adulti dopo una sindrome coronarica acuta (SCA) con biomarcatori cardiaci elevati.
                </li>
                <li>
                  Rivaroxaban, somministrato insieme con acido acetilsalicilico (ASA), è indicato per la prevenzione di 
                  eventi aterotrombotici in pazienti adulti, ad alto rischio di eventi ischemici, che presentano 
                  coronaropatia (coronary artery disease, CAD).
                </li>
              </ul>
            </CCol>           
        </CRow>
    </div>
</template>


<script>
import Form from 'vform'
 
    export default {
    name: 'rivaroxaban',
      components: {
    },
    data () {
      return {
        rivaroxaban: new Form({
          arteriopatia: 'off'
        })
    }
  },

  
  mounted(){
    this.rivaroxaban.reset();
    this.changeRivaroxaban();
  },

  methods:{
  changeRivaroxaban: function() {
    this.$emit("aggiornaPiano",this.rivaroxaban);
    },

  setPiano: function(data) {
      this.rivaroxaban.fill(data);
    },

  }

  }


</script>