<template>
    <div>
        <CRow>
            <CCol sm="12">
                <h5><b>La prescrizione di Rosuvastatina è a carico del SSR solo se rispondente alle seguenti condizioni:</b></h5>
                    
                <div class="box_piano">
                    <input type="checkbox" class="checkbox" id="rosuvastatina_1" name="rosuvastatina_1" v-model="rosuvastatina.rosuvastatina_1" value="1">
                    <label for="rosuvastatina_1">Ipercolesterolemia e ipercolesterolemia poligenica in pazienti a rischio cardiovascolare alto(secondo i criteri della nota 13) che non hanno raggiunto il target terapeutico (Colesterolo LDL &lt; 100 mg/dl) con ledosi  ottimali di simvastatina, pravastatina, atorvastatina, fluvastatina, lovastatina</label>
                </div>

                <div class="box_piano">
                    <input type="checkbox" class="checkbox" name="rosuvastatina_2" id="rosuvastatina_2" v-model="rosuvastatina.rosuvastatina_2" value="2">
                    <label for="rosuvastatina_2">Ipercolesterolemia e ipercolesterolemia poligenica in pazienti a rischio cardiovascolare molto alto, secondo i criteri della nota 13 (Colesterolo LDL &lt;	70 mg/dl con riduzione di almeno il 50% del Colesterolo LDL) nei pazienti in cui ci sia stata evidenza di effetti collaterali severi nei primi sei mesi di terapia con le dosi ottimali di altre statine</label>
                </div>

                
                <div class="box_piano">
                    <input type="checkbox" class="checkbox" name="rosuvastatina_3" id="rosuvastatina_3" v-model="rosuvastatina.rosuvastatina_3" value="3">
                    <label for="rosuvastatina_3">Pazienti con Ipercolesterolemia Familiare Monogenetica (FH) documentata</label>
                </div>

                <div class="box_piano">
                    <input type="checkbox" class="checkbox" name="rosuvastatina_4" id="rosuvastatina_4" v-model="rosuvastatina.rosuvastatina_4" value="4">
                    <label for="rosuvastatina_4">Pazienti con iperlipidemia familiare combinata o disbetalipoproteinemia che non hanno raggiunto il target terapeutico secondo i criteri della nota 13</label>
                </div>

                <div class="box_piano"><b>Farmaco prescritto:</b></div>
                <div class="box_piano">
                    <input type="radio" id="5mg" v-model="rosuvastatina.farmaco_1" name="farmaco_1" value="5mg"><label for="5mg">Rosuvastatina 5mg compresse</label>
                    <input type="radio" id="10mg" v-model="rosuvastatina.farmaco_1" name="farmaco_1" value="10mg"><label for="10mg">Rosuvastatina 10mg compresse</label>
                </div>

                <div class="box_piano">
                    <input type="radio"  id="20mg"  v-model="rosuvastatina.farmaco_2" name="farmaco_2" value="20mg"><label for="20mg">Rosuvastatina 20mg compresse</label>
                    <input type="radio"  id="40mg" v-model="rosuvastatina.farmaco_2" name="farmaco_2" value="40mg"><label for="40mg">Rosuvastatina 40mg compresse</label>
                </div>

            </CCol>           
        </CRow>
    </div>
</template>


<script>

    import Form from 'vform'

    import { mapGetters } from 'vuex'

    export default {
    name: 'rosuvastatina',
      components: {
    },
    data () {
      return {
        rosuvastatina: new Form({
          rosuvastatina_1: '',
          rosuvastatina_2: '', 
          rosuvastatina_3: '',
          rosuvastatina_4: '',
          farmaco_1: '',
          farmaco_2: '',
        })
    }
  },

  mounted(){
    this.rosuvastatina.reset();
    this.changeRosuvastatina();
  },

  methods:{
      changeRosuvastatina: function() {
        this.$emit("aggiornaPiano",this.rosuvastatina);
      },

      setPiano: function(data) {
          this.rosuvastatina.fill(data);
      },
  }

}
</script>