<template>
    <div>
        <CRow>
            <CCol sm="3">
              <CInput label="Peso(Kg)" type="number" step="0.01" min="0" v-model="sglt.peso" name="peso"></CInput>  
            </CCol>     

            <CCol sm="3">
                <CInput label="Altezza(cm)" type="number" step="0.01" min="0" v-model="sglt.altezza" name="altezza"></CInput>  
            </CCol>

            <CCol sm="3">
                <CInput label="BMI" type="number" step="0.01" min="0" v-model="sglt.bmi" name="bmi"></CInput>  
            </CCol>   

            <CCol sm="3">
                <CInput label="Circonferneza vita (cm)" type="number" step="0.01" min="0" v-model="sglt.circonferenza" name="circonferenza"></CInput>  
            </CCol>         

            <CCol sm="3">
                <CInput label="Durata malattia(solo 1 prescrizione) anni:" type="number" min="0" v-model="sglt.anni" name="anni"></CInput>
            </CCol>
            <CCol sm="3">
                <CInput label="Ultimo valore hba 10" type="number" step="0.01" v-model="sglt.hba" name="hba"></CInput>
            </CCol>

            <CCol sm="12">
                <h5>Ipoglicemie severe o condizionanti le attività quotidiane negli ultimi tre mesi?</h5>

                <label for="si">Si</label>
                <input type="radio" id="si" v-model="sglt.ipoglicemia" value="1" name="ipoglicemia">
                <label for="no">No</label>
                <input type="radio" id="no" v-model="sglt.ipoglicemia" value="0" name="ipoglicemia">
              
            </CCol>

             <CCol sm="12">
                <h5>Ipoglicemie dall'ultima valutazione? (solo al follow-up)</h5>

                <div class="box_piano">
                    <label for="sglt_1">Lievi</label> &nbsp;&nbsp;
                    <input id="sglt_1" type="checkbox" v-model="sglt.sglt_1" name="sglt_1" value="lievi">
                </div>

                <div class="box_piano">
                    <label for="sglt_2">Condizionanti le attività quotidiane</label> &nbsp;&nbsp;
                    <input id="sglt_2" type="checkbox" v-model="sglt.sglt_2" name="sglt_2" value="condizionanti">
                </div>

                <div class="box_piano">
                    <label for="sglt_3">Severe</label> &nbsp;&nbsp;
                    <input id="sglt_3" type="checkbox" v-model="sglt.sglt_3" name="sglt_3" value="severe">
                </div>

                <div class="box_piano">
                    <label for="sglt_4">No</label> &nbsp;&nbsp;
                    <input id="sglt_4" type="checkbox" v-model="sglt.sglt_4" name="sglt_4" value="No">
                </div>
            </CCol>
    

            <CCol sm="12">
                <h5>Reazioni avverse?</h5>

                <label for="reazioni_si">Si (compilare la scheda di segnalazione ADR Ministeriale come da Normativa vigente) </label>
                <input type="radio" id="reazioni_si" v-model="sglt.reazioni" value="1" name="reazioni">
                <label for="reazioni_no">No</label>
                <input type="radio" id="reazioni_no" v-model="sglt.reazioni" value="0" name="reazioni">
              
            </CCol>

        
            <CCol sm="12" class="mt-3">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Principio Attivo</th>
                        <th colspan="2">Posologia/regime terapeutico</th>
                    </tr>
                    <tr>
                        <td>Empagliflozin</td>
                        <td>
                            <div class="box_piano"> 
                                <label for="10mg">10 mg/dl</label> &nbsp;&nbsp;
                                <input type="checkbox" id="10mg"  v-model="sglt.empagliflozin_1" name="empagliflozin_1" value="10mg">
                            </div>

                            <div class="box_piano">
                                <label for="25mg">25 mg/dl</label>  &nbsp;&nbsp;
                                <input type="checkbox" id="25mg"  v-model="sglt.empagliflozin_2" name="empagliflozin_2" value="25mg">
                            </div>
                        </td>
                        <td>
                            <ul>
                                <li>
                                   <div class="box_piano">
                                    <label for="monoterapia">Monoterapia</label> &nbsp;&nbsp;
                                    <input type="checkbox"  id="monoterapia" v-model="sglt.monoterapia" name="monoterapia" value="monoterapia">
                                    </div> 
                                </li>
                                <li>
                                    <div class="box_piano">
                                        <label for="met">In associazione a metformina</label> &nbsp;&nbsp;
                                        <input type="checkbox"  id="met" v-model="sglt.met" name="met" value="met">
                                    </div>
                                </li>

                                <li>
                                    <div class="box_piano">
                                        <label for="insu">In associazione a insulina(con o senza metformina)</label> &nbsp;&nbsp;
                                        <input type="checkbox" id="insu" v-model="sglt.insu" name="insu" value="insu">
                                    </div>
                                </li>

                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            </CCol>
         
        </CRow>
    </div>
</template>


<script>

    import Form from 'vform'

    export default {
    name: 'sglt',
      components: {
    },
    data () {
      return {
        sglt: new Form({
            peso: '',
            altezza: '',
            bmi: '',
            circonferenza: '',
            anni: '',
            hba: '',
            ipoglicemia: '',
            sglt_1: '',
            sglt_2: '',
            sglt_3: '',
            sglt_4: '',
            reazioni: '',
            empagliflozin_1: '',
            empagliflozin_2: '',
            monoterapia: '',
            met: '',
            insu: ''
        })
    }
  },

 mounted(){
    this.sglt.reset();
    this.changeSglt();
  },

  methods:{
      changeSglt: function() {
        this.$emit("aggiornaPiano",this.sglt);
      },

      setPiano: function(data) {
          this.sglt.fill(data);
      },
  }


}


</script>