<template>
    <div>
        <CRow>
            <CCol sm="12">
                <h4><b>La prescrizione di simvastatina-ezetimibe è a carico del SSR solo se rispondente alle seguenti condizioni:</b></h4>
               
                <div class="box_piano">
                <input type="checkbox" v-model="simva.simva_1" id="simva_1" name="simva_1" value="1">
                <label for="simva_1"> Percolesterolemia e ipercolesterolemia poligenica in pazienti a rischio cardiovascolare alto (secondo i criteri della nota 13) che non hanno raggiunto il target terapeutico (Colesterolo LDL &lt; 100 mg/dl) con le dosi ottimali di sirnvastatina, pravastatina, atorvastatina, fluvastatina, lovastatina </label>
                </div>
             
                <div class="box_piano">
                <input type="checkbox" v-model="simva.simva_2" id="simva_2" name="simva_2" value="2">
                <label for="simva_2"> Percolesterolemia e ipercolesterolernia poligenica in pazienti a rischio cardiovascolare molto alto (secondo i criteri della nota 13) che non hanno raggiunto il target terapeutico (Colesterolo LDL &lt; 70 mg/dl) con le dosi ottimali di simvastatina, pravastatina, atorvastatina, fluvastatina, lovastatina o rosuvastatina nei pazienti in cui ci sia stata evidenza di effetti collaterali severi nei primi sei mesi di terapia con le dosi ottimali di altre statine</label><br>
                </div>

                 <div class="box_piano">
                 <input type="checkbox" v-model="simva.simva_3" id="simva_3" name="simva_3" value="3">
                 <label for="simva_3">Pazienti con Ipercolesterolemia familiare monogenica (FH), iperlipidemia familiare combinata o disbetalipoproteinemia che non hanno raggiunto il target terapeutico secondo i criteri della nota 13</label><br>
                 </div>

                 <div class="box_piano">
                 <input type="checkbox"  v-model="simva.simva_4" id="simva_4" name="simva_4" value="4">
                 <label for="simva_4">Iperlipidemie in pazienti con insufficienza renale cronica moderata e grave, secondo i criteri della nota 13, con colesterolo LDL ≥ 130 mg/dl</label><br>
                 </div>

                 <h5><b>Farmaco prescritto:</b></h5>
                 <div class="box_piano">
                  <input type="radio" id="10mg" v-model="simva.simva_farma" name="simva_farma" value="10mg">
                  <label for="10mg">Ezetimibe-Simvastatina 10/10 mg compresse</label> &nbsp;&nbsp;
                  <input type="radio" id="20mg" v-model="simva.simva_farma" name="simva_farma" value="20mg">
                  <label for="20mg">Ezetimibe-Simvastatina 10/20 mg compresse</label> &nbsp;&nbsp;
                  <input type="radio" id="40mg" v-model="simva.simva_farma" name="simva_farma" value="40mg">
                  <label for="40mg">Ezetimibe-Simvastatina 10/40 mg compresse</label> &nbsp;&nbsp;
                 </div>
            </CCol>
        </CRow>
    </div>
</template>


<script>

  import Form from 'vform'

  export default {
    name: 'simvastatinaezetimibe',
      components: {
    },
    data () {
      return {
        simva: new Form({
            simva_1: '',
            simva_2: '',
            simva_3: '',
            simva_4: '',
            simva_farma: ''
        })
      }
  },

  mounted(){
    this.simva.reset();
    this.changeSimva();
  },

  methods:{
      changeSimva: function() {
        this.$emit("aggiornaPiano",this.simva);
      },

      setPiano: function(data) {
          this.simva.fill(data);
      },
  }

}

</script>