<template>
    <div>
        <CRow>
            <CCol sm="12">

                <h4><b>Indicazione terapeutica rimborsata dal SSN</b></h4>
                <p>Il trattamento con ticagrelor 60 mg è indicato in aggiunta ad acido acetilsalicilico a basse dosi in pazienti adulti con storia di infartomiocardico e alto rischio di sviluppare un nuovo evento aterotrombotico, entro i due anni dall’infarto ed entro un anno dalla sospensionedel precedente trattamento con un inibitore del recettore per l’ADP (incluso ticagrelor 90 mg).</p>
                <p>La rimborsabilità a carico del SSN è limitata ai pazienti di età superiore ai 50 anni che presentano almeno uno dei seguenti fattori di rischio cardiovascolare (indicare):</p>

                <div class="box_piano">
                <input type="checkbox" v-model="ticagrelor60.ticagrelor60_1" id="ticagrelor60_1" name="ticagrelor60_1" value="1">
                <label for="ticagrelor60_1"> Età ≥ 65 anni </label><br>
                </div>
             
                <div class="box_piano">
                <input type="checkbox" v-model="ticagrelor60.ticagrelor60_2" id="ticagrelor60_2" name="ticagrelor60_2" value="2" >
                <label for="ticagrelor60_2"> Diabete mellito in terapia farmacologica</label><br>
                </div>

                 <div class="box_piano">
                 <input type="checkbox" v-model="ticagrelor60.ticagrelor60_3" id="ticagrelor60_3" name="ticagrelor60_3" value="3">
                 <label for="ticagrelor60_3">Insufficienza renale cronica non in dialisi (creatinina clearance &lt; ml/min/1,73 m²)</label><br>
                 </div>

                 <div class="box_piano">
                 <input type="checkbox"  v-model="ticagrelor60.ticagrelor60_4" id="ticagrelor60_4" name="ticagrelor60_4" value="4">
                 <label for="ticagrelor60_4">Malattia coronarica multivasale (stenosi ≥50% in almeno due distretti coronarici)</label><br>
                 </div>

                  <div class="box_piano">
                 <input type="checkbox"  v-model="ticagrelor60.ticagrelor60_5" id="ticagrelor60_5" name="ticagrelor60_5" value="5">
                 <label for="ticagrelor60_5">Ulteriore IMA antecedente all’evento indice</label><br>
                  </div>
                  
            </CCol>
        </CRow>
    </div>
</template>


<script>

  import Form from 'vform'

  export default {
    name: 'ticagrelor60',
      components: {
    },
    data () {
      return {
        ticagrelor60: new Form({
            ticagrelor60_1: '',
            ticagrelor60_2: '',
            ticagrelor60_3: '',
            ticagrelor60_4: '',
            ticagrelor60_5: '',
        })
      }
  },

  mounted(){
    this.ticagrelor60.reset();
    this.changeSimva();
  },

  methods:{
      changeSimva: function() {
        this.$emit("aggiornaPiano",this.ticagrelor60);
      },

      setPiano: function(data) {
          this.ticagrelor60.fill(data);
      },
  }


}
</script>