<template>
    <div>
        <CRow>
            <CCol sm="12">
                <h5> <b>La prescrizione di ticagrelor è a carico del SSN solo se rispondente ad una delle seguenti condizioni: </b></h5>

                <div class="box_piano">
                <input type="checkbox" v-model="ticagrelor90.ticagrelor_1" id="ticagrelor_1" name="ticagrelor_1" value="1">
                <label for="ticagrelor_1"> Sindrome coronarica acuta con o senza innalzamento del tratto ST (angina instabile, infarto miocardio NSTEMI, infarto miocardico STEMI) con insorgenza dei sintomi da &#60; 24 ore <br>in associazione con ASA in pazienti non trombolisati trattati farmacologicamente o mediante angioplastica coronarica (con o senza applicazione di stent)</label><br>
                </div>

                <div class="box_piano">
                <input type="checkbox" v-model="ticagrelor90.ticagrelor_2" id="ticagrelor_2" name="ticagrelor_2" value="2">
                <label for="ticagrelor_2"> Intervento di rivascolarizzazione miocardica in pazienti con sindrome coronarica acuta con o senza innalzamento del tratto ST in associazione con ASA</label><br>
                </div>
                <p class="mt-3">Ticagrelor non deve essere utilizzato in caso di terapia trombolitica nelle 24 ore antecedenti, terapia anticoagulante orale, rischio aumentato di bradicardia, trattamento con farmaci inibitori o induttori del citocromo P‐4503A.</p>
                <h5> <b>Il trattamento con ticagrelor deve essere iniziato durante il ricovero ospedaliero con dose di attacco di 180 mg. </b></h5>
                <h5> <b>Nei pazienti con NSTEMI è necessaria la presenza di almeno due dei seguenti criteri: </b></h5>

                 <div class="box_piano">
                 <input type="checkbox" v-model="ticagrelor90.ticagrelor_3" id="ticagrelor_3" name="ticagrelor_3" value="3">
                 <label for="ticagrelor_3">Alterazioni del tratto ST sull’elettrocardiogramma, indicative di ischemia al ricovero </label><br>
                 </div>

                 <div class="box_piano">
                 <input type="checkbox"  v-model="ticagrelor90.ticagrelor_4" id="ticagrelor_4" name="ticagrelor_4" value="4">
                 <label for="ticagrelor_4">Alterazioni di biomarcatori indicativi di danno miocardico</label><br>
                 </div>

                  <div class="box_piano">
                 <input type="checkbox"  v-model="ticagrelor90.ticagrelor_5" id="ticagrelor_5" name="ticagrelor_5" value="5">
                 <label for="ticagrelor_5">uno dei seguenti fattori di rischio (età > 60 anni, pregresso infarto miocardico, pregressa rivascolarizzazione miocardica, pregresso stroke ischemico, TIA, stenosi carotidea > 50%, diabete mellito, arteriopatia periferica, insufficienza <br/> renale con clearance della creatinina &#60; 60 ml/min/1.73m²)</label><br>
                  </div>

                 <h5 class="mt-3"><b> Nei pazienti con STEMI è necessaria la presenza di: </b></h5>

                  <div class="box_piano">
                  <input type="checkbox" v-model="ticagrelor90.ticagrelor_6" id="ticagrelor_6" name="ticagrelor_6" value="6">
                 <label for="ticagrelor_6">Alterazioni di biomarcatori indicativi di danno miocardico</label><br>
                  </div>

                <div class="box_piano">
                 <input type="checkbox" v-model="ticagrelor90.ticagrelor_7"  id="ticagrelor_7" name="ticagrelor_7" value="7">
                 <label for="ticagrelor_7">intenzione di trattare il paziente con angioplastica primaria</label><br>
                </div>

            </CCol>
        </CRow>
    </div>
</template>


<script>
import Form from 'vform'

    export default {
    name: 'ticagrelor90',

    components: {

    },

    data () {
      return {
        ticagrelor90:new Form({
            ticagrelor_1: 'off',
            ticagrelor_2: 'off',
            ticagrelor_3: 'off',
            ticagrelor_4: 'off',
            ticagrelor_5: 'off',
            ticagrelor_6: 'off',
            ticagrelor_7: 'off',
        })
      }
  },

  mounted(){
    this.ticagrelor90.reset();
    this.changeTicagrelor90();
  },

  methods:{
      changeTicagrelor90: function() {
        this.$emit("aggiornaPiano",this.ticagrelor90);
      },

      setPiano: function(data) {
          this.ticagrelor90.fill(data);
      },
  }

}
</script>

<style>

  .box_piano{
    margin: 0.5em
  }

  .box_piano input[type="checkbox"]{
    margin: 0;
    vertical-align: top;
    padding: 15px
  }

  .box_piano label{
    vertical-align: top;
  }

</style>
