<template>
    <div>
        <CRow>
            <CCol sm="12">
                <h5><b>Indicazioni terapeutiche a carico del SSN:</b></h5>

                <div class="box_piano"> 
                <label for="tresiba_1">1 <u>Pazienti adulti con Diabete tipo 1 in associazione a insulina ad azione rapida</u></label> &nbsp;&nbsp;
                <input type="checkbox" id="tresiba_1" class="checkbox"  v-model="tresiba.tresiba_1" name="tresiba_1" value="1"> 
                </div>

                <div class="box_piano"> 
                <label for="tresiba_2">2 <u>Pazienti adulti con Diabete tipo 1 in associazione a insulina ad azione rapida</u></label> &nbsp;&nbsp;
                <input type="checkbox" id="tresiba_2" class="checkbox"  v-model="tresiba.tresiba_2" name="tresiba_2" value="2"> 
                </div>

                <div class="box_piano">
                    <ul> 
                        <li><label for="tresiba_3"><u>in associazione ad altri ipoglicemizzanti per i quali sia rimborsata I'associazione ad insulina </u> </label> &nbsp;&nbsp;
                        <input type="checkbox" id="tresiba_3" v-model="tresiba.tresiba_3" name="tresiba_3" value="3"></li>
                        <li><label for="tresiba_4"><u>in associazione a insulina ad azione rapida </u> </label> &nbsp;&nbsp;
                        <input type="checkbox" id="tresiba_4" v-model="tresiba.tresiba_4" name="tresiba_4" value="4"> </li>
                     </ul>
                     <br>
                </div>
                
                
                <CInput label="Nome Commerciale"  v-model="tresiba.tresiba_text" name="tresiba_text"></CInput>
            </CCol>           
        </CRow>
    </div>
</template>


<script>

    import Form from 'vform'

    export default {
    name: 'tresiba',
      components: {
    },
    data () {
      return {
        tresiba: new Form({
            tresiba_1: '',
            tresiba_2: '',
            tresiba_3: '',
            tresiba_4: '',
            tresiba_text: '',
        })
    }
  },

  mounted(){
    this.tresiba.reset();
    this.changeTresiba();
  },

  methods:{
      changeTresiba: function() {
        this.$emit("aggiornaPiano",this.tresiba);
      },

      setPiano: function(data) {
          this.tresiba.fill(data);
      },
  }

}
</script>