
<template>
<div>
  <PazienteSelezionato></PazienteSelezionato>
<!--SEZIONE ESAME-->
    <CRow>
      <CCol sm="12">
        <CCard>
          <CCardHeader>
            <CRow>
              <CCol sm="12" class="text-right">
                <CButton v-if="User.role=='medico'" @click="mostraModal('aggiungi')" color="primary"><span><fa icon="plus"></fa> &nbsp; Aggiungi Anticoagulante</span></CButton>
              </CCol>
            </CRow>
          </CCardHeader>
          <CCardBody>
            <CRow class="row-center">
                <CCol sm="4">
                    <div class="form-group">
                      <label for="data_inizio">Data Inizio</label>
                      <input type="date" v-model="formRicerca.data_inizio" class="form-control" name="data_inizio">
                    </div>
                </CCol>
                <CCol sm="4">
                    <div class="form-group">
                      <label for="data_fine">Data Fine</label>
                      <input type="date" v-model="formRicerca.data_fine" class="form-control" name="data_fine">
                    </div>
                </CCol>
                <CCol sm="2">
                    <CButton color="success" class="mt-3" @click="getAnticoagulante()">Cerca</CButton>
                </CCol>
            </CRow>


            <CRow class="mt-3">
    <!--SEZIONE TABELLA ANTICOAGULANTE-->
            <CCol sm="12">
            <vuetable ref="vuetable"
                    :api-mode="false"
                    :fields="fields"
                    :per-page="perPage"
                    :data-manager="dataManager"
                    no-data-template="Nessun Risultato"
                    pagination-path="pagination"
                    :css="css.table"
                    @vuetable:pagination-data="onPaginationData">

        <div slot="actions" slot-scope="props">
      <div class="text-right dropdown p-0">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Visualizza Azioni
      </button>
      <div class="dropdown-menu-custom dropdown-menu" aria-labelledby="dropdownMenuButton">
        <span>
            <CButton class="btn-block btn text-left"  @click="apriSchedaAnticoagulante(props.rowData.idAnticoagulante)">
              <fa icon="file-medical"></fa> Apri Scheda Anticoagulante
            </CButton>
        </span>
        <span v-if="User.role=='medico'">
            <CButton class="btn-block btn text-left" @click="mostraModal('modifica', props.rowData)">
              <fa icon="edit"></fa> Modifica Scheda Anticoagulante
            </CButton>
        </span>
        <span v-if="User.role=='medico'">
            <CButton class="btn-block btn text-left" @click="stampa(props.rowData.idAnticoagulante)">
              <fa icon="print"></fa> Stampa Scheda Anticoagulante
            </CButton>
        </span>
        <span v-if="User.role=='medico'">
          <CButton class="btn-block btn text-left"  @click="apriConferma(props.rowData.idAnticoagulante)">
              <fa icon="trash"></fa> Cancella Scheda Anticoagulante
            </CButton>
        </span>
      </div>
    </div>
    </div>
    </vuetable>
    <vuetable-pagination-info ref="paginationInfo" info-template="Visualizzati da {from} a {to} di {total} totali" no-data-template="Nessun Risultato"
        ></vuetable-pagination-info>
    <div style="padding-top:10px">
        <vuetable-pagination ref="pagination" :css="css.pagination" @vuetable-pagination:change-page="onChangePage" />
    </div>
        </CCol>
        </CRow>
<!--FINE TABELLA ANTICOAGULANTE-->
      </CCardBody>
    </CCard>
  </CCol>
  </CRow>

    <form id="formAnticoagulante" @submit.prevent="operazione== 'inserimento' ? inserisciAnticoagulante() : modificaAnticoagulante()">
      <CModal :title= this.titleModal color="primary" :show.sync="modalAnticoagulante" :closeOnBackdrop="false">
      <CRow>
        <CCol sm="6">
            <label>Data Inizio</label>
            <div class="form-group">
                <input type="date" class="form-control" v-model="formAnticoagulante.data_inizio" name="data_inizio">
            </div>
        </CCol>
        <CCol sm="6">
            <label>Data Fine</label>
            <div class="form-group">
                <input type="date" class="form-control" v-model="formAnticoagulante.data_fine" name="data_fine">
            </div>
        </CCol>
        <CCol sm="12">
           <label>Anticoagulante</label>
            <select name="anticoagulante" id="" class="form-control" v-model="formAnticoagulante.anticoagulante">
                <option value="sintrom_cp_1mg">Sintrom cp 1 mg</option>
                <option value="sintrom_cp_4mg">Sintrom cp 4 mg</option>
                <option value="coumadin_5mg">Coumadin 5 mg</option>
            </select>
        </CCol>
      </CRow>
      <template #footer>
        <CButton color="default" @click="modalAnticoagulante = false">
          Chiudi
        </CButton>
        <CButton  type="submit" color="success">
          Salva
        </CButton>
      </template>
    </CModal>
    </form>
    <!-- MODAL CANCELLAZIONE -->
    <CModal
      title="Conferma Cancellazione"
      color="danger"
      :show.sync="modalConferma">
      Sei sicuro?
      <template #footer>
        <CButton color="default" @click="modalConferma = false">
          Chiudi
        </CButton>
        <CButton color="danger" @click="cancellaAnticoagulante()">
          Conferma
        </CButton>
      </template>
    </CModal>


    <!--MODAL ANTICOAGULANTE-->
     <form>
     <CModal
      title="Scheda Anticoagulante"
      color="info"
      :show.sync="modalSchedaAnticoagulante">

        <CRow>
          <CCol sm="8">
            <div class="form-group">
              <label for="data">Data</label>
              <input type="date" class="form-control" />
            </div>
          </CCol>
          <CCol sm="4">
            <div class="form-group">
              <label for="inr">INR</label>
              <input type="number" step="0.01" class="form-control">
            </div>
          </CCol>
        </CRow>
      <template #footer>
        <CButton color="default" @click="modalSchedaAnticoagulante = false">
          Chiudi
        </CButton>
        <CButton color="success" @click="inserisciSchedaAnticoagulante()">
          Salva
        </CButton>
      </template>
    </CModal>
    </form>

  </div>
<!--FINE SEZIONE ESAMI-->
</template>

<script>
import axios from 'axios'
import Form from 'vform'
import vSelect from 'vue-select'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'

import { mapGetters, mapMutations, mapActions } from 'vuex'
//import Table from '../../../../components/views/base/Table.vue'


export default {
  name: 'Anticoagulante',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    vSelect,
    PazienteSelezionato
  },

  data () {
    return {
      operazione: '',
      modalAnticoagulante: false,
      modalSchedaAnticoagulante: false,
      modalConferma:false,
      titleModal:'',
      disabled: false,
      disabledcaricamento: false,
      css: TableStyle,
      perPage: 35,
      data: [],
      idAnticoagulante: '',
      formAnticoagulante: new Form({
        data: '',
        dose: '',
        inr: '',
        anticoagulante: '',
      }),
      formRicerca: new Form({
        data_inizio: '',
        data_fine: '',
      }),
      fields: [
        {
          name: 'data_inizio',
          title: 'Data Inizio',
          sortField: 'data_inizio',
          formatter: (value) => {
            return this.$date(value, "DD/M/YYYY");
          }
        },
         {
          name: 'data_fine',
          title: 'Data Fine',
          sortField: 'data_fine',
          formatter: (value) => {
            return this.$date(value, "DD/M/YYYY");
          }
        },
        {
         name:'anticoagulante',
         title: 'Anticoagulante',
         sortField: 'anticoagulante',
         dataClass:'text-uppercase',
         formatter: (value) => {
            return value.replace(/_/g,' ')
         }
        },
        {
          name: 'actions',
          title: 'Azioni'
        }
      ],
    }
  },


  computed: {
   ...mapGetters({
       paziente: 'pazienti/getPaziente',
       User: 'auth/user'
   })
  },

  mounted () {

    if(this.idPaziente == ''){
      this.$router.push('pazienti');
    }

    var date = new Date()

    this.formRicerca.anno = date.getFullYear();
    this.formRicerca.mese = date.getMonth() + 1;

    this.getAnticoagulante();

  },

//WATCH TABELLA
  watch: {
    data (newVal, oldVal) {
      this.$refs.vuetable.refresh()
    }
  },
/*
  METODI
*/
  methods: {
     mostraModal (stato,anticoagulante){

        this.formAnticoagulante = new Form({})

        if(stato == 'aggiungi'){
            this.titleModal = 'Aggiungi Anticoagulante';
            this.operazione = 'inserimento';

            this.modalAnticoagulante = true;
            this.disabled = false;
        }
        else if(stato == 'modifica'){
            this.operazione = 'aggiorna'
            this.modalAnticoagulante = true
            this.idAnticoagulante = anticoagulante.idAnticoagulante
            this.titleModal = 'Aggiorna Anticoagulante'
            this.formAnticoagulante.data_inizio = anticoagulante.data_inizio,
            this.formAnticoagulante.data_fine = anticoagulante.data_fine,
            this.formAnticoagulante.dose = anticoagulante.dose,
            this.formAnticoagulante.inr = anticoagulante.inr,
            this.formAnticoagulante.anticoagulante = anticoagulante.anticoagulante
        }
    },


    apriSchedaAnticoagulante(idAnticoagulante){
        this.$router.push({name:'private.scheda-anticoagulante',params:{'idAnticoagulante': idAnticoagulante}})
    },

    /* INSERISCI ANTICOAGULANTE */
    inserisciAnticoagulante(){

      var url = '/api/anticoagulante/'+this.paziente.idUser;

      const formData = new FormData(document.getElementById("formAnticoagulante"));

      let data = {};
      for (let [key, val] of formData.entries()) {
        Object.assign(data, { [key]: val })
      }

      var payload = data;

      this.$store.commit('private/setPreload', true)
      axios.post(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success === true){
            this.$store.commit('private/setMessaggioSuccesso', 'Aggiornamento Riuscito')
            this.modalAnticoagulante = false;
            this.getAnticoagulante()
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },


  /** STAMPA ANTICOAGUALNTE */
  stampa(idAnticoagulante){

    window.open('../api/stampa-scheda-anticoagulante?idAnticoagulante='+idAnticoagulante)

  },


  /* MODIFICA ESAME */
   modificaAnticoagulante(){

      var url = '/api/anticoagulante/'+this.paziente.idUser+'/'+this.idAnticoagulante;

      const formData = new FormData(document.getElementById("formAnticoagulante"));

      let data = {};
      for (let [key, val] of formData.entries()) {
        Object.assign(data, { [key]: val })
      }

      var payload = data;

      this.$store.commit('private/setPreload', true)
      axios.put(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success === true){
            this.$store.commit('private/setMessaggioSuccesso', 'Aggiornamento Riuscito')
            this.modalAnticoagulante = false;
            this.getAnticoagulante();
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore')
        })
    },


/*
  GET ANTICOAGULANTE
*/
  getAnticoagulante(){
      this.$store.commit('private/setPreload', true)

      var url = '/api/anticoagulanti/'+this.paziente.idUser;
      axios.get(url,{
          params: {
            data_inizio: this.formRicerca.data_inizio,
            data_fine: this.formRicerca.data_fine
          }
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.data = res.data['0'];

          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },


/*
  FUNZIONI PER LA TABELLA
*/
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },

    removeRow (id) {
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idAnticoagulante == id) {
          this.data.splice(i, 1)
          break
        }
      }
    },
    aggiornaRow(){
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idAnticoagulante == this.idAnticoagulante) {
          this.data[i]=this.formAnticoagulante;
           this.$refs.vuetable.refresh()
          break
        }
      }
    },

    apriConferma(id){
      this.modalConferma = true;
      this.idAnticoagulante = id;
    },

    cancellaAnticoagulante () {
      var url = '/api/anticoagulante/'+this.paziente.idUser+'/'+this.idAnticoagulante
      this.$store.commit('private/setPreload', true)
      axios.delete(url)
        .then(res => {
           this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.modalConferma = false
            this.removeRow(this.idAnticoagulante);
            this.$store.commit('private/setMessaggioSuccesso', 'Cancellazione Riuscita')
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore')
        })
    },

    dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    },
/*
  CARICAMENTO DOCUMENTI
*/
    onImageChange (e, tipo) {
      this.errore = false
      this.messaggio_errore = ''
      this.documenti = []
      let files = e.target.files || e.dataTransfer.files
      if (!files.length || files.length > 2) {
        this.errore = true
        this.messaggio_errore = 'Scegli al massimo un due documenti'
        return false
      } else {
        for (var i = 0; i < files.length; i++) {
          if (files[i].type == 'application/pdf' || files[i].type == 'image/png' || files[i].type == 'image/jpg' || files[i].type == 'image/jpeg') {
            if (files[i].size <= 5000000) {
              this.createImage(files[i], tipo, files[i].type)
            } else {
              this.errore = true
              this.messaggio_errore = 'File troppo grande'
              this.documenti = []
              return false
            }
          } else {
            this.errore = true
            this.messaggio_errore = 'Formato non accettato'
            this.documenti = []
            return false
          }
        }
      }
    },
    createImage (file, tipo, estensione) {
      let reader = new FileReader()
      let vm = this
      reader.onload = (e) => {
        if (tipo == 'documento') {
          // vm.documenti.push = e.target.result;
          // vm.estensione=estensione;
          vm.documenti.push({
            'file': e.target.result,
            'estensione': estensione
          })
        } else {
          vm.image_retro = e.target.result
        }
      }
      reader.readAsDataURL(file)
    },

  }
}
</script>

<style>
</style>
