
<template>
<div>
  <PazienteSelezionato></PazienteSelezionato>
<!--SEZIONE ESAME-->
    <CRow>
      <CCol sm="12">
        <CCard>
          <CCardHeader>
            <CRow>
              <CCol sm="12">
              <h5>Anticoagulante: <b>{{scheda.anticoagulante}}</b></h5>
                <h6>Periodo somministrazione: <b>{{scheda.data_inizio | date('D/MM/YYYY')}}</b> a <b>{{scheda.data_fine | date('D/MM/YYYY')}}</b></h6>
              </CCol>
            </CRow>
          </CCardHeader>
          <CCardBody>
              <CRow>
                <CCol sm="6" v-for="(registrazioni_mese,index) in scheda.registrazioni" :key="index">
                  <CCard>
                    <CCardHeader><h5 class="text-center"><b>{{index | convertiData}}</b></h5></CCardHeader>
                    <CCardBody>
                      <CRow>
                        <CCol sm="12">
                          <table class="table">
                            <tr>
                              <th style="width:40%">Data</th>
                              <th style="width:20%">INR</th>
                              <th style="width:40%">Dose</th>
                            </tr>
                            <tr v-for="(item,key) in registrazioni_mese" :key="key">
                              <td class="p-0 align-middle"><input  v-model="scheda.registrazioni[index][key]['data']" readonly type="date" class="form-control"></td>
                              <td class="p-0  align-middle"><input type="number" step="0.01" v-model="scheda.registrazioni[index][key]['inr']"  class="form-control"></td>
                              <td class="p-0 ">
                              <select :disabled="User.role=='paziente'" name="dose"  v-model="scheda.registrazioni[index][key]['dose']" id="" class="form-control">
                                <option value="1/4">1/4</option>
                                <option value="1/2">1/2</option>
                                <option value="3/4">3/4</option>
                                <option value="1">1</option>
                                <option value="1+1/4">1+1/4</option>
                                <option value="1+1/2">1+1/2</option>
                                <option value="1+3/4">1+3/4</option>
                                <option value="2">2</option>
                              </select>
                              </td>
                            </tr>
                          </table>
                        </CCol>
                      </CRow>
                    </CCardBody>
                  </CCard>
                </CCol>
              </CRow>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
    <CButton class="btn-block btn-scheda-float" @click="aggiornaScheda()" color="primary"><span> Aggiorna scheda anticoagulante</span></CButton>
  </div>
<!--FINE SEZIONE ESAMI-->
</template>

<script>
import axios from 'axios'
import Form from 'vform'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'
import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
  name: 'Anticoagulante',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    PazienteSelezionato
  },

  data () {
    return {
      operazione: '',
      modalInr: false,
      modalSchedaAnticoagulante: false,
      modalConferma:false,
      titleModal:'',
      disabled: false,
      disabledcaricamento: false,
      css: TableStyle,
      perPage: 35,
      scheda: [],
      idAnticoagulante: '',
      idSchedaAnticoagulante: '',
      formInr: new Form({
        data: '',
        inr: '',
      }),
      formRicerca: new Form({
        anno:2021,
        mese: 1,
      }),
      fields: [
        {
          name: 'data_inizio',
          title: 'Data Inizio',
          sortField: 'data_inizio',
          formatter: (value) => {
            return this.$date(value, "DD/M/YYYY");
          }
        },
         {
          name: 'data_fine',
          title: 'Data Fine',
          sortField: 'data_fine',
          formatter: (value) => {
            return this.$date(value, "DD/M/YYYY");
          }
        },
        {
           name: 'dose',
           title:' Dose',
           sortField: 'dose'
        },
        {
         name:'anticoagulante',
         title: 'Anticoagulante',
         sortField: 'anticoagulante',
         dataClass:'text-uppercase',
         formatter: (value) => {
            return value.replace(/_/g,' ')
         }
        },
        {
          name: 'actions',
          title: 'Azioni'
        }
      ],
    }
  },
  computed: {
   ...mapGetters({
       paziente: 'pazienti/getPaziente',
       User: 'auth/user'
   })
  },
  mounted () {
    if(this.idPaziente == ''){
      this.$router.push('pazienti');
    }

    if(this.$route.params.idAnticoagulante != undefined){
      this.idAnticoagulante = this.$route.params.idAnticoagulante
      this.getAnticoagulante();
    }
  },

filters: {
  convertiData: function (value) {
    let data=value.split("-");
  switch(data[0]){
      case '1':
        return 'Gennaio - ' + data[1];
        break;
    case '2':
        return 'Febbraio - ' + data[1];
        break;
    case '3':
        return 'Marzo - ' + data[1];
        break;
    case '4':
        return 'Aprile - ' + data[1];
        break;
    case '5':
        return 'Maggio - ' + data[1];
        break;
    case '6':
        return 'Giugno - ' + data[1];
        break;
    case '7':
        return 'Luglio - ' + data[1];
        break;
    case '8':
        return 'Agosto - ' + data[1];
        break;
    case '9':
        return 'Settembre - ' + data[1];;
        break;
    case '10':
        return 'Ottobre - ' + data[1];
        break;
    case '11':
        return 'Novembre - ' + data[1];
        break;
    case '12':
        return 'Dicembre - ' + data[1];
        break;
    }
  }
},

//WATCH TABELLA
  watch: {
    data (newVal, oldVal) {
      this.$refs.vuetable.refresh()
    }
  },
/*
  METODI
*/
  methods: {

    mostraModal(){

      this.modalInr = true
      this.getCurrentDate();

    },

    getCurrentDate(){

      var today = new Date();

      var anno = today.getFullYear();
      var mese = today.getMonth() + 1;
      var giorno = today.getDate();

      if(mese < 10){
        mese = '0' + mese
      }

      if(giorno < 10){
        giorno = '0' + giorno
      }

      this.formInr.data = anno+'-'+mese+'-'+giorno;


    },

/* INSERISCI ANTICOAGULANTE */
    aggiornaScheda(){
      var url = '/api/scheda-anticoagulante/'+this.idAnticoagulante;
      var payload = this.scheda;
      this.$store.commit('private/setPreload', true)
      axios.put(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success === true){
            this.$store.commit('private/setMessaggioSuccesso', 'Scheda Aggiornata')
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
           this.$router.back();
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },


/*
  GET ANTICOAGULANTE
*/
  getAnticoagulante(){
      this.$store.commit('private/setPreload', true)

      var url = '/api/scheda-anticoagulante/'+this.idAnticoagulante;
      axios.get(url)
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.scheda = res.data['0'];

          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },

      apriConferma(idSchedaAnticoagulante){
        this.idSchedaAnticoagulante = idSchedaAnticoagulante
        this.modalConferma = true
      },

  }
}
</script>

<style>
</style>
