<template>
<div>
  <PazienteSelezionato></PazienteSelezionato>
<!--SEZIONE ALLARMI-->
    <CRow>
      <CCol sm="12">
        <CCard>
          <CCardHeader>
            <CRow>
              <CCol sm="12" md="12" lg="12" class="text-right">
                <CButton @click="mostraModal('aggiungi')" color="primary"><span><fa icon="plus"></fa> Aggiungi Allarme</span></CButton>
              </CCol>
            </CRow>
          </CCardHeader>
          <CCardBody>
        <CRow class="row-center">
          <CCol sm="12" md="3" lg="3">
              <CInput label="Chiave Allarme" v-model="formRicerca.chiaveAllarme" name="chiaveAllarme"></CInput>
          </CCol>
          <CCol sm="12" md="3" lg="3">
                <CButton color="info" @click="getAllarmi"><span><i class="fas fa-search"></i> Cerca</span></CButton>
          </CCol>
        </CRow>
    <!--SEZIONE TABELLA ESAMI-->
          <vuetable ref="vuetable"
                :api-mode="false"
                :fields="fields"
                :per-page="perPage"
                :data-manager="dataManager"
                no-data-template="Nessun Risultato"
                pagination-path="pagination"
                :css="css.table"
                @vuetable:pagination-data="onPaginationData">
          <div slot="actions" slot-scope="props">
         <!-- <CButton  v-c-tooltip="'Apri Allarme'" color="primary" @click="mostraModal('modifica',props.rowData)">
            <i class="fas fa-edit"></i>
          </CButton>-->
          <CButton  v-c-tooltip="'Elimina Allarme'" color="danger" @click="apriConferma(props.rowData.idAllarme)">
            <fa icon="trash"></fa>
          </CButton>
        </div>
      </vuetable>
      <vuetable-pagination-info ref="paginationInfo" info-template="Visualizzati da {from} a {to} di {total} totali" no-data-template="Nessun Risultato"
          ></vuetable-pagination-info>
      <div style="padding-top:10px">
        <vuetable-pagination ref="pagination" :css="css.pagination" @vuetable-pagination:change-page="onChangePage" />
      </div>
 <!--FINE TABELLA ESAMI-->
          </CCardBody>
        </CCard>
      </CCol>
     </CRow>
      <CModal :title= this.titleModal color="primary" :show.sync="modalAllarme">
      <CRow>
      <CCol sm="12">
          <div class="form-group">
            <label>Esame</label>
            <select class="form-control" v-model="formAllarme.codiceEsame">
                <option value="assetto_marziale">Assetto Marziale</option>
                <option value="coagulazione">Coagulazione</option>
                <option value="colturale">Colturale</option>
                <option value="dati_tecnici_vad">Dati Tecnici Vad</option>
                <option value="derivati_emoglobina">Derivati Emoglobina</option>
                <option value="dosaggio_farmaci">Dosaggio Farmaci</option>
                <option value="ecg">Ecg</option>
                <option value="ecocardiogramma">Ecocardiogramma</option>
                <option value="emocromo">Emocromo</option>
                <option value="emogas_arterioso">Emogas Arterioso</option>
                <option value="emogas_venoso">Emogas Venoso</option>
                <option value="enzimi">Enzimi</option>
                <option value="funzione_renale">Funzione Renale</option>
                <option value="funzione_tiroidea">Funzione Tiroidea</option>
                <option value="holter_ecg">holter_ecg</option>
                <option value="immunita_tiroide">Immunita Tiroide</option>
                <option value="immunita">Immunità</option>
                <option value="immunoelettroforesi">Immunoelettroforesi</option>
                <option value="infiammazione">Infiammazione</option>
                <option value="markers_infettivi">Markers Infettivi</option>
                <option value="markers_scompenso">Markers Scompenso</option>
                <option value="markers_tumorali">Markers Tumorali</option>
                <option value="metabolico">Metabolico</option>
                <option value="protidogramma">Protidogramma</option>
                <option value="sottopopolazioni_linfocitarie">Sottopoplazioni Linfocitarie</option>
                <option value="tipizzazione_tissutale">Tipizzazione Tissutale</option>
                <option value="trombofilia_funzionale">Trombofilia Funzionale</option>
                <option value="urine_24h">Urine 24h</option>
                <option value="urine">Urine</option>
                <option value="altro">Altro</option>
            </select>
        </div>
        </CCol>
      <!-- VALORI ESAME ASSETTO MARZIALE -->
        <CCol v-if="formAllarme.codiceEsame=='assetto_marziale'" sm="12">
          <div class="form-group">
            <label>Chiave</label>
              <select class="form-control" v-model="formAllarme.chiave">
              <option value="sitermia">Sitermia (Ferro)</option>
              <option value="ferritina">Ferritina</option>
            </select>
        </div>
        </CCol>
      <!-- VALORI ESAME COAGULAZIONE -->
         <CCol v-if="formAllarme.codiceEsame=='coagulazione'" sm="12">
          <div class="form-group">
            <label>Chiave</label>
              <select class="form-control" v-model="formAllarme.chiave">
              <option value="inr">INR</option>
              <option value="antitrombinatreperc">Antitrombina III %</option>
              <option value="ddimero">D-DIMERO</option>
            </select>
        </div>
        </CCol>
      <!-- VALORI ESAME DATI TECNICI VAD -->
        <CCol v-if="formAllarme.codiceEsame=='dati_tecnici_vad'" sm="12">
          <div class="form-group">
            <label>Chiave</label>
              <select class="form-control" v-model="formAllarme.chiave">
              <option value="watt">WATT</option>
              <option value="rpm">RPM</option>
              <option value="co">CO</option>
              <option value="pi">PI</option>
            </select>
        </div>
        </CCol>
        <!-- VALORI ESAME DERIVATI EMOGLOBINA -->
        <CCol v-if="formAllarme.codiceEsame=='derivati_emoglobina'" sm="12">
          <div class="form-group">
            <label>Chiave</label>
              <select class="form-control" v-model="formAllarme.chiave">
              <option value="aptoglobina">Aptoglobina</option>
              <option value="mioglobina">Mioglobina</option>
            </select>
        </div>
        </CCol>
        <!-- VALORI ESAME ECOCARDIOGRAMMA-->
        <CCol v-if="formAllarme.codiceEsame=='ecocardiogramma'" sm="12">
          <div class="form-group">
            <label>Chiave</label>
              <select class="form-control" v-model="formAllarme.chiave">
              <option value="disfunzione_sistolica">Disfunzione Sistolica</option>
              <option value="paps">PAPS</option>
            </select>
        </div>
        </CCol>
        <!-- VALORI ESAME EMOCROMO-->
        <CCol v-if="formAllarme.codiceEsame=='emocromo'" sm="12">
          <div class="form-group">
            <label>Chiave</label>
              <select class="form-control" v-model="formAllarme.chiave">
              <option value="emoglobina">Emoglobina</option>
              <option value="glbianchi">GL. BIANCHI</option>
              <option value="ematocrito">Ematocrito</option>
              <option value="piastrine">Piastrine</option>
            </select>
        </div>
        </CCol>
        <!-- VALORI ESAME Emogas Arterioso-->
        <CCol v-if="formAllarme.codiceEsame=='emogas_arterioso'" sm="12">
          <div class="form-group">
            <label>Chiave</label>
              <select class="form-control" v-model="formAllarme.chiave">
              <option value="ph">PH</option>
              <option value="pao2">PaO2</option>
              <option value="lattati">Lattati</option>
              <option value="be">BE</option>
            </select>
        </div>
        </CCol>
        <!-- VALORI ESAME Emogas Venoso-->
        <CCol v-if="formAllarme.codiceEsame=='emogas_venoso'" sm="12">
          <div class="form-group">
            <label>Chiave</label>
              <select class="form-control" v-model="formAllarme.chiave">
              <option value="ph">PH</option>
              <option value="be">BE</option>
              <option value="pvo2">PVO2</option>
              <option value="hco3">HCO3</option>
              <option value="lattati">Lattati</option>
            </select>
        </div>
        </CCol>
         <!-- VALORI ESAME ENZIMI-->
        <CCol v-if="formAllarme.codiceEsame=='enzimi'" sm="12">
          <div class="form-group">
            <label>Chiave</label>
              <select class="form-control" v-model="formAllarme.chiave">
              <option value="troponinauno">Troponina I</option>
              <option value="troponinat">Troponina T</option>
              <option value="troponinahs">Troponina HS</option>
              <option value="cpk">CPK</option>
              <option value="ckmb">CK MB</option>
            </select>
        </div>
        </CCol>
         <!-- VALORI ESAME FUNZIONE RENALE-->
        <CCol v-if="formAllarme.codiceEsame=='funzione_renale'" sm="12">
          <div class="form-group">
            <label>Chiave</label>
              <select class="form-control" v-model="formAllarme.chiave">
              <option value="azotemia">Azotemia</option>
              <option value="creatinina">Creatinina</option>
              <option value="Uricemia">Uricemia</option>
              <option value="cockroft">Cockroft</option>
              <option value="epi">Epi</option>
            </select>
        </div>
        </CCol>
         <!-- VALORI ESAME FUNZIONE Tiroidea-->
        <CCol v-if="formAllarme.codiceEsame=='funzione_tiroidea'" sm="12">
          <div class="form-group">
            <label>Chiave</label>
              <select class="form-control" v-model="formAllarme.chiave">
              <option value="tsh">TSH</option>
              <option value="ft3">FT3</option>
              <option value="ft4">FT4</option>
            </select>
        </div>
        </CCol>
        <!-- VALORI ESAME HOLTER ECG-->
        <CCol v-if="formAllarme.codiceEsame=='holter_ecg'" sm="12">
          <div class="form-group">
            <label>Chiave</label>
              <select class="form-control" v-model="formAllarme.chiave">
              <option value="fc_max">FC MAX</option>
              <option value="fc_media">FC MEDIA</option>
              <option value="fc_min">FC MIN</option>
              <option value="bev">BEV</option>
              <option value="besv">BESV</option>
            </select>
        </div>
        </CCol>
        <!-- VALORI ESAME HOLTER ECG-->
        <CCol v-if="formAllarme.codiceEsame=='infiammazione'" sm="12">
          <div class="form-group">
            <label>Chiave</label>
              <select class="form-control" v-model="formAllarme.chiave">
              <option value="ves">VES</option>
              <option value="pcr">PCR</option>
              <option value="reuma_test">Reuma Test</option>
            </select>
        </div>
        </CCol>
        <!-- VALORI ESAME MARKERS SCOMPENSO-->
        <CCol v-if="formAllarme.codiceEsame=='markers_scompenso'" sm="12">
          <div class="form-group">
            <label>Chiave</label>
              <select class="form-control" v-model="formAllarme.chiave">
              <option value="bnpproingresso">NT pro BNP Ingresso</option>
              <option value="bnpingresso">BNP INGRESSO</option>
              <option value="st2">ST2</option>
              <option value="impedenza">Impedenza</option>
            </select>
        </div>
        </CCol>
        <!-- VALORI ESAME MARKERS SCOMPENSO-->
      <CCol v-if="formAllarme.codiceEsame=='metabolico'" sm="12">
        <div class="form-group">
          <label>Chiave</label>
            <select class="form-control" v-model="formAllarme.chiave">
            <option value="glicemia">Glicemia</option>
            <option value="sodio">Sodio</option>
            <option value="potassio">Potassio</option>
            <option value="calcio">Calcio</option>
            <option value="fosforo">Fosforo</option>
            <option value="biltot">BIL. TOT</option>
            <option value="colesterolotot">Colesterolo TOT</option>
            <option value="ldh">LDH</option>
            <option value="Trigliceridi">Trigliceridi</option>
          </select>
      </div>
      </CCol>
      <!-- VALORI ESAME PROTIDOGRAMMA-->
      <CCol v-if="formAllarme.codiceEsame=='protidogramma'" sm="12">
        <div class="form-group">
          <label>Chiave</label>
            <select class="form-control" v-model="formAllarme.chiave">
            <option value="proteinetot">Proteine Tot</option>
            <option value="alfa1">Alfa 1</option>
            <option value="alfa2">Alfa 2</option>
            <option value="gamma">Gamma</option>
            <option value="gammamonoclonale">Gamma Monoclonale</option>
          </select>
      </div>
      </CCol>
       <!-- VALORI ESAME SOTTOPOPOLAZIONI LINFOCITARIE-->
      <CCol v-if="formAllarme.codiceEsame=='sottopopolazioni_linfocitarie'" sm="12">
        <div class="form-group">
          <label>Chiave</label>
            <select class="form-control" v-model="formAllarme.chiave">
            <option value="linfociti">Linfociti</option>
            <option value="cd4">CD4</option>
            <option value="cd8">CD8</option>
          </select>
      </div>
      </CCol>
      <!-- VALORI ESAME TROMBOFILIA-->
      <CCol v-if="formAllarme.codiceEsame=='trombofilia_funzionale'" sm="12">
        <div class="form-group">
          <label>Chiave</label>
            <select class="form-control" v-model="formAllarme.chiave">
            <option value="omocisteinemia">Omocisteinemia</option>
          </select>
      </div>
      </CCol>
      <!-- VALORI ESAME URINE 24 h-->
      <CCol v-if="formAllarme.codiceEsame=='urine_24h'" sm="12">
        <div class="form-group">
          <label>Chiave</label>
            <select class="form-control" v-model="formAllarme.chiave">
            <option value="microalbuminuria">Microalbuminuria</option>
            <option value="albuminuria">Albuminuria</option>
            <option value="proteinuria_24h">Proteinuria 24h</option>
          </select>
      </div>
      </CCol>
      <!-- VALORI ESAME URINE -->
      <CCol v-if="formAllarme.codiceEsame=='urine'" sm="12">
        <div class="form-group">
          <label>Chiave</label>
            <select class="form-control" v-model="formAllarme.chiave">
            <option value="glucosio">Glucosio</option>
            <option value="proteine">Proteine</option>
            <option value="microalbuminuria">Microalbuminuria</option>
            <option value="proteinuria">Proteinuria</option>
          </select>
      </div>
      </CCol>
    <!--VALORI ESAME ECG-->
        <CCol v-if="formAllarme.codiceEsame=='ecg'" sm="12">
          <div class="form-group">
            <label>Chiave</label>
              <select class="form-control" v-model="formAllarme.chiave">
              <option value="fc_ecg">FC</option>
            </select>
        </div>
        </CCol>
        <CCol sm="6">
          <CInput label="Valore min." name="" v-model="formAllarme.valoreMin"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="Valore max." name="" v-model="formAllarme.valoreMax"></CInput>
        </CCol>
        <CCol>
          <div class="form-group">
            <label for="ripetizioni">Ripetizioni</label>
            <select name="ripetizioni" v-model="formAllarme.ripetizioni" class="form-control" id="frequenza">
              <option value="1"> Solo una volta</option>
              <option value="0"> Ripeti </option>
            </select>
          </div>
        </CCol>
      </CRow>
      <template #footer>
        <CButton color="default" @click="modalAllarme = false">
          Chiudi
        </CButton>
        <CButton  v-if="operazione == 'inserimento'" @click="inserisciAllarme()" color="success">
          Inserisci
        </CButton>
        <CButton v-if="operazione == 'modifica'" @click="modificaAllarme()" color="success">
          Modifica
        </CButton>
      </template>
    </CModal>

    <!-- MODAL CANCELLAZIONE -->
    <CModal
      title="Conferma Cancellazione"
      color="danger"
      :show.sync="modalConferma">
      Sei sicuro?
      <template #footer>
        <CButton color="default" @click="modalConferma = false">
          Chiudi
        </CButton>
        <CButton color="danger" @click="cancellaAllarme()">
          Conferma
        </CButton>
      </template>
    </CModal>
  </div>
<!--FINE SEZIONE ESAMI-->
</template>

<script>
import axios from 'axios'
import Form from 'vform'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'

import { mapGetters, mapMutations, mapActions } from 'vuex'


export default {
  name: 'Interventi',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    PazienteSelezionato
  },

  data () {
    return {
      modalConferma: false,
      modalAllarme: false,
      titleModal:'',
      operazione: '',
      disabled: false,
      css: TableStyle,
      perPage: 5,
      data: [],
      idAllarme: '',
      formAllarme: new Form({
        codiceEsame:'',
        chiave: '',
        valoreMin: '',
        valoreMax: '',
        ripetizioni: 1
      }),
      formRicerca: new Form({
        chiave: '',
      }),
      fields: [
          {
            name: 'codiceEsame',
            title: 'Esame',
            sortField: 'codiceEsame',
            dataClass:'text-uppercase',
            formatter: (value) => {
                return value.replace(/_/g,' ')
            }
          },
          {
            name: 'chiave',
            title: 'Chiave',
            sortField: 'chiave',
            dataClass:'text-uppercase',
            formatter: (value) => {
                return value.replace(/_/g,' ')
            }
          },
          {
            name: 'valore_min',
            title: 'Valore Min.',
            sortField: 'valore_min',
          },
          {
            name: 'valore_max',
            title: 'Valore Max.',
            sortField: 'valore_max',
          },
          {
            name: 'stato',
            title: 'Stato',
            sortField: 'stato',
            dataClass:'text-uppercase'
          },
          {
            name: 'ripetizioni',
            title: 'Ripetizioni',
            sortField: 'ripetizioni',
            formatter: (value) => {
              if(value === 1){
                  return '<span>Solo una volta</span>'
              }
              if(value === 0){
                return '<span>Ripeti</span>'
              }
            }
          },
          {
            name: 'actions',
            title: 'Azioni'
          }
      ],
    }
  },
  computed: {
   ...mapGetters({
      paziente: 'pazienti/getPaziente',
      User: 'auth/user'
   })
  },


  mounted () {
    /*
    if(this.idPaziente == ''){
      this.$router.push('pazienti');
    }
    */

   this.getAllarmi();

  },

//WATCH TABELLA
  watch: {
    data (newVal, oldVal) {
      this.$refs.vuetable.refresh()
    }
  },
/*
  METODI
*/
  methods: {
     mostraModal (stato,allarme){
       this.formAllarme.reset();
        if(stato == 'aggiungi'){
            this.titleModal = 'Aggiungi Allarme';
            this.operazione = 'inserimento';
            this.modalAllarme = true;
            this.disabled = false;
        }
        else if(stato == 'modifica'){
          this.titleModal = 'Modifica Allarme';
          this.operazione = 'modifica';
          this.modalAllarme = true;
          this.idAllarme = allarme.idAllarme;
          this.formAllarme.fill(allarme)
        }
    },


/* INSERISCI ALLARME */
    inserisciAllarme(){
      var url = '/api/allarme/' + this.paziente.idUser;
      var payload = this.formAllarme
      this.$store.commit('private/setPreload', true)
      axios.post(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success){
            this.formAllarme.reset();
            this.$store.commit('private/setMessaggioSuccesso', 'Inserimento Riuscito')
            this.modalAllarme = false;
            this.getAllarmi();
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },


    modificaAllarme(){
      var url = '/api/allarmi/'+ this.paziente.idUser +'/'+this.idAllarme;
      var payload = this.formAllarme;

      axios.put(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success){
            this.$store.commit('private/setMessaggioSuccesso', 'Aggiornamento Riuscito')
            this.modalAllarme = false;
            this.getAllarmi();
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Aggiornamento')
        })

    },

    getAllarmi(){
      var url = '/api/allarmi-paziente/'+this.paziente.idUser;

      this.$store.commit('private/setPreload', true)
      axios.get(url,{ params: {
        dataAllarme: this.formRicerca.dataAllarme
      }})
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data){
            this.data = res.data['0']
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },

    cancellaAllarme(){
      var url = '/api/allarme/'+this.paziente.idUser+'/'+this.idAllarme
      this.$store.commit('private/setPreload', true)
      axios.delete(url)
        .then(res => {
           this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.modalConferma = false
            this.removeRow(this.idAllarme);
            this.$store.commit('private/setMessaggioSuccesso', 'Cancellazione Riuscita')
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          console.log(err);
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore')
        })
    },

    /*
    FUNZIONI PER LA TABELLA
    */
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },

    removeRow (id) {
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idAllarme == id) {
          this.data.splice(i, 1)
          break
        }
      }
    },

    aggiornaRow(){
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idAllarme == this.idAllarme) {
          this.data[i]=this.formAllarme;
           this.$refs.vuetable.refresh()
          break
        }
      }
    },

    apriConferma(id){
      this.modalConferma = true;
      this.idAllarme = id;
    },


    dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    }

  }
}
</script>

<style>
</style>
