<template>
<div>
  <PazienteSelezionato></PazienteSelezionato>
  <CRow>
    <CCol sm="12">
      <CCard>
        <CCardHeader>
          <CRow>
          <CCol sm="12" class="text-right">
              <CButton v-if="User.role=='medico'" color="success" @click="generaApiKey()"><fa icon="plus"></fa> Genera Api Key</CButton>
          </CCol>
          </CRow>
        </CCardHeader>
        <CCardBody>
          <CRow>
            <CCol sm="12">
                <!--SEZIONE TABELLA  RICHIESTA-->
          <vuetable ref="vuetable"
                :api-mode="false"
                :fields="fields"
                :per-page="perPage"
                :data-manager="dataManager"
                no-data-template="Nessun Risultato"
                pagination-path="pagination"
                :css="css.table"
                @vuetable:pagination-data="onPaginationData">
                <div slot="actions" slot-scope="props" class="text-right">

                  <div >
                    <CButton  v-c-tooltip="'Cancella Api Key'" color="danger" @click="apriConferma(props.rowData.idApiKey)">
                      <fa icon="trash"></fa>
                    </CButton>
                  </div>
              </div>
              </vuetable>
              <vuetable-pagination-info ref="paginationInfo" info-template="Visualizzati da {from} a {to} di {total} totali" no-data-template="Nessun Risultato"
                  ></vuetable-pagination-info>
              <div style="padding-top:10px">
                <vuetable-pagination ref="pagination" :css="css.pagination" @vuetable-pagination:change-page="onChangePage" />
              </div>
            </CCol>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>

    <CModal
      title="Conferma Cancellazione"
      color="danger"
      :show.sync="modalConferma">
      Sei sicuro?
      <template #footer>
        <CButton color="default" @click="modalConferma = false">
          Chiudi
        </CButton>
        <CButton color="danger" @click="cancellaApiKey()">
          Conferma
        </CButton>
      </template>
    </CModal>
</div>
</template>

<script>
import axios from 'axios'
import Form from 'vform'
import vSelect from 'vue-select'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'
import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
  name: 'Prescrizioni',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    vSelect,
    PazienteSelezionato
  },

  data () {
    return {
      modalConferma: false,
      css:TableStyle,
      idApiKey: '',
      data: [],
      perPage: 5,
      fields: [
        {
          title: 'Api Key',
          name: 'api_key',
          sortField: true,
        },
        {
          name: 'actions',
          title: 'Azioni',
          sortField: false
        },
      ]
    }
  },

  computed: {
   ...mapGetters({
      paziente: 'pazienti/getPaziente',
      User: 'auth/user'
   })
  },

  mounted () {
    if(this.idPaziente == ''){
      this.$router.push('home');
    }
    this.getApiKey()
  },



//WATCH TABELLA
  watch: {
    data (newVal, oldVal) {
      this.$refs.vuetable.refresh()
    }
  },
/*
  METODI
*/
  methods: {

  /*CARICAMENTO PRESCRIZIONI*/
    getApiKey(){
        this.$store.commit('private/setPreload', true)
        var url='api/api-key/'+this.paziente.idUser
        axios.get(url,{
        })
         .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.data = res.data['0']
          } else {
            this.$store.commit('private/ setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          console.log(err);
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },

   /** GENERA API */
    generaApiKey(){
      var url = '/api/api-key/'+this.paziente.idUser;
      this.$store.commit('private/setPreload', true)
      axios.post(url,{
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success){
            this.$store.commit('private/setMessaggioSuccesso', 'Api Key Generata')
            this.getApiKey()
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },

    /** APRI CONFERMA CANCELLAZIONE */
    apriConferma(idApiKey){
      this.modalConferma = true;
      this.idApiKey = idApiKey;
    },

    /** CANCELLA PRESCRIZIONE */
    cancellaApiKey(){
        this.$store.commit('private/setPreload', true)
        var url='api/api-key/'+this.paziente.idUser+'/'+this.idApiKey
        axios.delete(url)
         .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data.success === true) {
              this.getApiKey();
              this.modalConferma = false
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },


  /*
    FUNZIONI PER LA TABELLA
  */
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },



    dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    }

  }
}
</script>

<style>
</style>
