<template>
<div>
  <PazienteSelezionato></PazienteSelezionato>
<!--SEZIONE ESAME-->
    <CRow>
      <CCol sm="12">
        <CCard>
          <CCardHeader>
            <CRow>
              <CCol sm="12" class="text-right">
                <CButton v-if="User.role!='paziente'" @click="mostraModal('aggiungi')" color="primary"><span><fa icon="plus"></fa> Aggiungi Appuntamento</span></CButton>
              </CCol>
              <CCol sm="4" class="mt-3">
                <div class="form-group">
                    <label>Data Inizio</label>
                    <input type="date" class="form-control" v-model="dataInizio" name="datainizio"/>
                </div>
              </CCol>
              <CCol sm="4" class="mt-3">
                <div class="form-group">
                    <label>Data Fine</label>
                    <input type="date" class="form-control" v-model="dataFine" name="datafine"/>
                </div>
              </CCol>
              <CCol sm="4" class="mt-3">
                <CButton color="info" class="mt-4" @click="caricaAppuntamenti()"><span><fa icon="filter"></fa></span> Filtra </CButton>
              </CCol>
            </CRow>
          </CCardHeader>
          <CCardBody>
    <!--SEZIONE TABELLA  MEDICI-->
      <CDataTable
        :items="items"
        :fields="fields"
        column-filter
        :table-filter="false"
        :items-per-page-select="false"
        :items-per-page="perPage"
        :noItemsView='{noItems: "Nessun Risultato"}'
        hover
        sorter
        paginatio
      >
      <template #dataAppuntamento="{item}">
        <td>
          <p>{{getFormattedData(item.dataAppuntamento)}}</p>
        </td>
      </template>
        <template #show_details="{item, index}">
          <td class="py-2">
            <CButton
              color="primary"
              variant="outline"
              square
              size="sm"
              @click="toggleDetails(item, index)"
            >
              {{Boolean(item._toggled) ? 'Chiudi' : 'Apri'}}
            </CButton>
          </td>
        </template>
        <template #details="{item}">
          <CCollapse :show="Boolean(item._toggled)" :duration="collapseDuration">
            <CCardBody>
              <CRow class="lista-terapia">
                <CCol sm="3">
                  <div class="box-terapia">
                    <CCol sm="12" class="font-weight-bold p-0">Ora inizio: </CCol>
                    <CCol sm="12" class="p-0 text-right">{{item.ora_inizio}}</CCol>
                  </div>
                </CCol>
                <CCol sm="3">
                  <div class="box-terapia">
                    <CCol sm="12" class="font-weight-bold p-0">Ora Fine:</CCol>
                    <CCol sm="12" class="p-0 text-right">{{item.ora_fine}}</CCol>
                  </div>
                </CCol>
                <CCol sm="3">
                  <div class="box-terapia">
                    <CCol sm="12" class="font-weight-bold p-0">Motivo Visita:</CCol>
                    <CCol sm="12" class="p-0 text-right">{{item.descrizione}}</CCol>
                  </div>
                </CCol>
              </CRow>
              <CRow>
                <CCol sm="12" class="text-right">
                    <CButton  v-if="User.role == 'admin' || User.role == 'medico'" v-c-tooltip="'Apri Appuntamento'" color="primary" @click="mostraModal('modifica',item)">
                      <fa icon="edit"></fa>
                    </CButton>
                    <CButton  v-c-tooltip="'Apri Allegati'" color="info" @click="apriModalAllegati(item.idAppuntamento)">
                      <fa icon="file-alt"></fa>
                    </CButton>
                    <CButton v-if="User.role == 'admin' || User.role == 'medico'" v-c-tooltip="'Elimina Appuntamento'" class="mr-4" color="danger" @click="apriConferma(item.idAppuntamento)">
                      <fa icon="trash"></fa>
                    </CButton>
                  </CCol>
              </CRow>
          </CCardBody>
          </CCollapse>
        </template>
      </CDataTable>
 <!--FINE TABELLA MEDICI-->
          </CCardBody>
        </CCard>
      </CCol>
     </CRow>
      <CModal :title="titlemodal" color="primary" :show.sync="modalAppuntamento">
      <CRow>
        <CCol sm="12">
            <CInput type="date" v-model="formAppuntamento.dataAppuntamento" label="Data Visita" name="dataVisita"/>
        </CCol>
        <CCol sm="6">
            <CInput type="time" v-model="formAppuntamento.ora_inizio" label="Ora Visita" name="ora"/>
        </CCol>
        <CCol sm="6">
            <CInput type="time" v-model="formAppuntamento.ora_fine" label="Ora fine Visita" name="ora"/>
        </CCol>
        <CCol sm="12">
            <CTextarea label="Motivo Visita" v-model="formAppuntamento.descrizione" name="descirzione"></CTextarea>
        </CCol>
      </CRow>
      <template #footer>
        <CButton color="default" @click="modalAppuntamento = false">
          Chiudi
        </CButton>
        <CButton v-if="statomodal == 'aggiungi'"  @click="inserisciAppuntamento()" color="success">
          Inserisci
        </CButton>
        <CButton v-if="statomodal == 'modifica'" @click="modificaAppuntamento()" color="success">
          Aggiorna
        </CButton>
      </template>
    </CModal>
    <!-- MODAL CANCELLAZIONE -->
    <CModal
      title="Conferma Cancellazione"
      color="danger"
      :show.sync="modalConferma">
      Sei sicuro?
      <template #footer>
        <CButton color="default" @click="modalConferma = false">
          Chiudi
        </CButton>
        <CButton color="danger" @click="cancellaAppuntamento()">
          Conferma
        </CButton>
      </template>
    </CModal>

    <form id="formAllegato" @submit.prevent="caricaAllegato()">
      <CModal
        title="Allegati"
        color="info"
        :show.sync="modalAllegati">
        <CRow v-if="User.role == 'medico'">
         <CCol class="mt-3 col-12 col-sm-12">
            <h6>Scegli Documenti</h6>
            <em> formati accettati .pdf/.png/.jpg, massimo 5MB a file</em>
            <input type="file" name="documento" class="form-control file-input" @change="onImageChange($event, 'documento')">
          </CCol>
          <CCol sm="12" class="text-center mt-3">
            <CButton color="success" type="submit">
              Carica Documento
            </CButton>
          </CCol>
        </CRow>
        <CRow>
          <CCol sm="12" class="mt-3">
              <h6 class="text-center">Documenti Caricati</h6>
              <table class="table table-striped">
              <tr v-for="documento in documenti_appuntamento" :key="documento.idDocumento">
                <td>{{documento.nome_file}}</td>
                <td class="text-right"><a target="_blank" :href="documento.url"><button class="btn btn-primary" type="button"><fa icon="file-alt"></fa> Apri Documento</button></a></td>
              </tr>
            </table>
          </CCol>
        </CRow>
        <template #footer>
          <CButton color="default" @click="modalAllegati = false">
            Chiudi
          </CButton>
        </template>
      </CModal>
    </form>

  </div>

  

<!--FINE SEZIONE ESAMI-->
</template>

<script>
import axios from 'axios'
import Form from 'vform'
import vSelect from 'vue-select'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'


import { mapGetters, mapMutations, mapActions } from 'vuex'

const items = []

const fields = [
    {
      key: 'dataAppuntamento',
      filter: false,
      formatter: (value) => {
          return this.$date(value, "DD/M/YYYY");
        }
    },
    {
      key: 'show_details',
      label: '',
      _style: 'width:1%', 
      sorter: false, 
      filter: false
    },
]

export default {
  name: 'Appuntamenti',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    vSelect,
    PazienteSelezionato
  },

  data () {
    return {
      modalConferma: false,
      modalAppuntamento: false,
      modalAllegati: false,
      idAppuntamento: '',
      documenti_appuntamento: [],
      documenti: [],
      titlemodal:'',
      statomodal: '',
      dataInizio: '',
      dataFine: '',
      items: [],
      formAppuntamento: new Form({
          dataAppuntamento: '',
          ora_inizio: '',
          ora_fine: '',
          descrizione: ''
      }),
      collapseDuration: 0,
      disabled: false,
      perPage: 5,
      fields,
    }
  },

  computed: {
   ...mapGetters({
      paziente: 'pazienti/getPaziente',
      User: 'auth/user'
   })
  },

  mounted () {
    
    if(this.idPaziente == ''){
      this.$router.push('home');
    }

    this.caricaAppuntamenti()
    
  },



//WATCH TABELLA
  watch: {
    data (newVal, oldVal) {
      this.$refs.vuetable.refresh()
    }
  },
/*
  METODI
*/
  methods: {


    toggleDetails (item) {
      this.$set(this.items[item.id], '_toggled', !item._toggled)
      this.collapseDuration = 300
      this.$nextTick(() => { this.collapseDuration = 0})
    },

    getFormattedData(data){
        return this.$date(data, "DD/M/YYYY");
    },


    mostraModal (stato,appuntamento){
        this.formAppuntamento.reset();
        if(stato == 'aggiungi'){
            this.statomodal = 'aggiungi'
            this.titlemodal = 'Aggiungi Appuntamento ';
            this.formAppuntamento.operazione = 'inserimento';
            this.modalAppuntamento = true;
        }
        else if(stato == 'modifica'){
            this.titlemodal = 'Modifica Appuntamento';
            this.statomodal = 'modifica';
            this.modalAppuntamento= true;
            this.idAppuntamento = appuntamento.idAppuntamento
            this.formAppuntamento.fill(appuntamento);
        }
    },

     inserisciAppuntamento(){
        var url='api/appuntamento/'+ this.paziente.idUser
        var payload = this.formAppuntamento
        this.$store.commit('private/setPreload', true)
        axios.post(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success === true){
            this.$store.commit('private/setMessaggioSuccesso', 'Inserimento Riuscito')
            this.modalAppuntamento = false;
            this.caricaAppuntamenti();
        }
        else {
        this.$store.commit('private/setMessaggioErrore', res.data.message)
        }
        })
        .catch(err => {
        this.$store.commit('private/setPreload', false)
        this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },


    /*MODIFICA VISITE*/
      modificaAppuntamento(){
        var url = '/api/appuntamento/'+ this.paziente.idUser+'/'+this.idAppuntamento
        var payload = this.formAppuntamento
        this.$store.commit('private/setPreload', true)
        axios.put(url,payload)
          .then(res => {
          this.$store.commit('private/setPreload', false)
            if (res.data.success === true) {
              this.$store.commit('private/setMessaggioSuccesso', 'Aggiornamento Riuscito')
              this.modalAppuntamento = false;
              this.caricaAppuntamenti();
            } else {
              this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
          })
          .catch(err => {
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore Aggiornamento')
          })
        },


/*CARICAMENTO VISITE*/
    caricaAppuntamenti(){
        this.$store.commit('private/setPreload', true)
        var url='api/appuntamenti/'+this.paziente.idUser
        axios.get(url,{
          params: {
            dataInizio: this.dataInizio,
            dataFine: this.dataFine
          }
        })
         .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.items = res.data['0'].map((item, id) => { return {...item, id}})
          } else {
            this.$store.commit('private/ setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          console.log(err);
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },


    /** APRI CONFERMA CANCELLAZIONE */
    apriConferma(id){
      this.modalConferma = true;
      this.idAppuntamento = id;
    },

    /** CANCELLA APPUNTAMENTO */
    cancellaAppuntamento(){
        this.$store.commit('private/setPreload', true)
        var url='api/appuntamento/'+this.paziente.idUser+'/'+this.idAppuntamento
        axios.delete(url)
         .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data.success === true) {
              this.$store.commit('private/setMessaggioSuccesso', 'Cancellazione Riuscita');
              this.caricaAppuntamenti();
              this.modalConferma = false;
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },

    apriModalAllegati(idAppuntamento){
      this.modalAllegati = true
      this.idAppuntamento = idAppuntamento
      this.getDocumenti()
    },  

    caricaAllegato(){
        this.$store.commit('private/setPreload', true)
        var url='api/carica-documento/'+ this.paziente.idUser + '/' + this.idAppuntamento

        const formData = new FormData(document.getElementById("formAllegato"))

      
        var payload = {}
        payload.files = this.documenti
        payload.tipo = 'visita'

        axios.post(url,payload)
         .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data.success === true) {
              this.$store.commit('private/setMessaggioSuccesso', 'Allegato Caricato');
              this.caricaAppuntamenti();
              this.modalAllegati = false;
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })

    },


    getDocumenti(){
        
        this.$store.commit('private/setPreload', true)
        var url='api/documenti/'+ this.paziente.idUser + '/' + this.idAppuntamento

        axios.get(url,{
          params: {
            tipo: 'visita'
          }
        })
         .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.$store.commit('private/setMessaggioSuccesso', 'Documenti Caricati');
            this.documenti_appuntamento = res.data
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },

    onImageChange (e, tipo) {
      this.errore = false
      this.messaggio_errore = ''
      this.documenti = []
      let files = e.target.files || e.dataTransfer.files
      if (!files.length || files.length > 2) {
        this.errore = true
        this.messaggio_errore = 'Scegli al massimo un due documenti'
        return false
      } else {
        for (var i = 0; i < files.length; i++) {
          if (files[i].type == 'application/pdf' || files[i].type == 'image/png' || files[i].type == 'image/jpg' || files[i].type == 'image/jpeg') {
            if (files[i].size <= 5000000) {
              this.createImage(files[i], tipo, files[i].type, files[i].name)
            } else {
              this.errore = true
              this.messaggio_errore = 'File troppo grande'
              this.documenti = []
              return false
            }
          } else {
            this.errore = true
            this.messaggio_errore = 'Formato non accettato'
            this.documenti = []
            return false
          }
        }
      }
    },

    createImage (file, tipo, estensione, nome) {
      let reader = new FileReader()
      let vm = this
      reader.onload = (e) => {
        if (tipo == 'documento') {
          // vm.documenti.push = e.target.result;
          // vm.estensione=estensione;
          vm.documenti.push({
            'nome' : nome,
            'file': e.target.result,
            'estensione': estensione
          })
        } else {
          vm.image_retro = e.target.result
        }
      }

      reader.readAsDataURL(file)
    },


  /*
    FUNZIONI PER LA TABELLA
  */
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },

    removeRow (id) {
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idEsame == id) {
          this.data.splice(i, 1)
          break
        }
      }
    },
    aggiornaRow(){
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idEsame == this.idEsame) {
          this.data[i]=this.formEsame;
           this.$refs.vuetable.refresh()
          break
        }
      }
    },

    dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    }

  }
}
</script>

<style>
</style>
