<template>
    <div>
        <PazienteSelezionato></PazienteSelezionato>
        <CRow>
            <CCol sm="12">
                <CCard>
                    <CCardHeader>
                        <CRow>
                            <CCol sm="8"></CCol>
                            <CCol sm="4" class="text-right">
                                <CButton color="primary" @click.prevent="mostraModal('aggiungi')"><fa icon="plus"></fa> Dati Clinici</CButton>
                                <CButton color="info" @click.prevent="mostraModalGrafico('aggiungi')"><fa icon="chart-area"></fa> Visualizza Grafico</CButton>
                            </CCol>
                        </CRow>
                    </CCardHeader>
                    <CCardBody>
                          <CRow>
                            <CCol sm="12">
                                <vuetable ref="vuetable"
                                :api-mode="false"
                                :fields="fields"
                                :per-page="perPage"
                                :data-manager="dataManager"
                                no-data-template="Nessun Risultato"
                                pagination-path="pagination"
                                :css="css.table"
                                @vuetable:pagination-data="onPaginationData">
                                <div slot="fc" slot-scope="props">
                                    <span>{{props.rowData.dati_clinici.fc}}</span>
                                </div>
                                <div slot="peso" slot-scope="props">
                                    <span>{{props.rowData.dati_clinici.peso}}</span>
                                </div>
                                <div slot="pa_min" slot-scope="props">
                                    <span>{{props.rowData.dati_clinici.pa_min}}</span>
                                </div>
                                <div slot="pa_max" slot-scope="props">
                                    <span>{{props.rowData.dati_clinici.pa_max}}</span>
                                </div>
                                <div slot="saturazione_arteriosa" slot-scope="props">
                                    <span>{{props.rowData.dati_clinici.saturazione_arteriosa}}</span>
                                </div>
                                <div slot="actions" slot-scope="props">
                               <!-- <CButton  v-c-tooltip="'Modifica  Dati Clinici'" color="primary" @click="mostraModal('modifica',props.rowData)">
                                    <i class="fas fa-edit"></i>
                                </CButton>-->
                                <CButton  v-c-tooltip="'Elimina Dati Clinici'" color="danger" @click="apriConferma(props.rowData.idDatiClinici)">
                                    <fa icon="trash"></fa>
                                </CButton>
                                    </div>
                                </vuetable>
                                <vuetable-pagination-info ref="paginationInfo" info-template="Visualizzati da {from} a {to} di {total} totali" no-data-template="Nessun Risultato"
                                    ></vuetable-pagination-info>
                                <div style="padding-top:10px">
                                    <vuetable-pagination ref="pagination" :css="css.pagination" @vuetable-pagination:change-page="onChangePage" />
                                </div>
                            </CCol>
                        </CRow>
                    </CCardBody>
                </CCard>
            </CCol>
        </CRow>
  <!-- MODAL REGISTRAZIONE DATI CLINICI -->
    <form id="formDatiClinici" @submit.prevent="operazione=='aggiungi' ? inserisciDatiClinici() : aggiornaDatiClinici()">
    <CModal
      title="Dati Clinici"
      color="primary"
      :show.sync="modalDatiClinici">
        <CRow>
            <CCol sm="6">
              <div class="form-group">
                <label for="data">Data Inizio</label>
                <input type="date" class="form-control" name="data" id="data" v-model="data_corrente">
              </div>
            </CCol>
            <CCol sm="6">
              <div class="form-group">
                <label for="ora">Ora</label>
                <input type="time" class="form-control" name="ora" id="ora" v-model="ora_corrente">
              </div>
            </CCol>
             <CCol sm="6">
                <CInput label="PA Max" v-model="formDatiClinici.daticlinici.pa_max" type="number" step="0.01" name="pa_max"></CInput>
            </CCol>
             <CCol sm="6">
                <CInput label="PA Min" v-model="formDatiClinici.daticlinici.pa_min" type="number" step="0.01" name="pa_min"></CInput>
            </CCol>
             <CCol sm="6">
                <CInput label="FC" v-model="formDatiClinici.daticlinici.fc" type="number" step="0.01" name="fc"></CInput>
            </CCol>
            <CCol sm="6">
                <CInput label="SaPO2" v-model="formDatiClinici.daticlinici.saturazione_arteriosa" type="number" step="0.01" name="saturazione_arteriosa"></CInput>
            </CCol>
            <CCol sm="6">
                <CInput label="Peso" v-model="formDatiClinici.daticlinici.peso" type="number" step="0.01" name="peso"></CInput>
            </CCol>
        </CRow>
      <template #footer>
        <CButton color="default" @click="modalDatiClinici = false">
          Chiudi
        </CButton>
        <CButton color="success" type="submit">
          {{operazione == 'aggiungi' ? 'Inserisci' : 'Aggiorna'}}
        </CButton>
      </template>
    </CModal>
    </form>


     <!-- MODAL GRAFICO -->
    <CModal title="Dati Clinici" color="info" :show.sync="modalGrafico">
      <grafico_dati_clinici  :key="index_grafico" ref="componenteGrafico"></grafico_dati_clinici>
      <template #footer>
        <CButton color="default" @click="modalGrafico = false">
          Chiudi
        </CButton>
      </template>
    </CModal>


    <!-- MODAL CANCELLAZIONE -->
    <CModal
      title="Conferma Cancellazione"
      color="danger"
      :show.sync="modalConferma">
      Sei sicuro?
      <template #footer>
        <CButton color="default" @click="modalConferma = false">
          Chiudi
        </CButton>
        <CButton color="danger" @click="cancellaDatiClinici()">
          Conferma
        </CButton>
      </template>
    </CModal>
    </div>
</template>
<script>



import axios from 'axios'
import Form from 'vform'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'
import { mapGetters, mapMutations, mapActions } from 'vuex'

import grafico_dati_clinici from '~/pages/private/pazienti/grafici/grafico_dati_clinici.vue'


export default {
  name: 'DatiClinici',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    PazienteSelezionato,
    grafico_dati_clinici
  },

  data () {
    return {
      modalConferma: false,
      modalDatiClinici: false,
      index_grafico:0,
      modalGrafico: false,
      titleModal:'',
      operazione: '',
      data_corrente: '',
      ora_corrente: '',
      disabled: false,
      css: TableStyle,
      perPage: 5,
      data: [],
      formDatiClinici: new Form({
        daticlinici : {
            peso: '',
            fc: '',
            pa_min: '',
            pa_max: '',
            saturazione_arteriosa: '',
        }
      }),
      formRicerca: new Form({
        chiave: '',
      }),
      fields: [
          {
            name: 'data',
            title: 'Data e ora',
            sortField: 'created_at',
            formatter: (value) => {
               return this.$date(value, "DD/M/YYYY - HH:mm");
            }
          },
          {
            name: 'pa_max',
            title: 'PA Max',
          },
          {
            name: 'pa_min',
            title: 'PA Min',
          },
          {
            name: 'fc',
            title: 'FC',
          },
          {
            name: 'saturazione_arteriosa',
            title: 'SAPO2',
          },
          {
            name: 'peso',
            title: 'Peso',

          },
          {
            name: 'actions',
            title: 'Azioni'
          }
      ],
    }
  },
  computed: {
   ...mapGetters({
      paziente: 'pazienti/getPaziente',
      User: 'auth/user'
   })
  },


  mounted () {
   this.getDatiClinici()
  },

//WATCH TABELLA
  watch: {
    data (newVal, oldVal) {
      this.$refs.vuetable.refresh()
    }
  },
/*
  METODI
*/
  methods: {

    /** GET CURRENT DATETIME*/
    getCurrentDateTime(){
        var today = new Date()

        var day = today.getDate()

        if(day < 10){
            day = "0" + day
        }

        var current_date = today.getFullYear() + '-' + (today.getMonth()+1) + '-' + day

        var minutes = today.getMinutes()


        if(minutes < 10){
          minutes = "0" + minutes
        }

        var current_time = today.getHours() + ':' + minutes

        this.data_corrente = current_date
        this.ora_corrente = current_time

    },


     mostraModal (stato,daticlinici){

        this.formDatiClinici = new Form({
            daticlinici: {
            }
        });

        this.getCurrentDateTime()

        if(stato == 'aggiungi'){
            this.operazione = stato
            this.modalDatiClinici = true;
        }
        else if(stato == 'modifica'){
          this.operazione = stato
          this.modalDatiClinici = true
          this.idDatiClinici = daticlinici.idDatiClinici;
          this.formDatiClinici.daticlinici = daticlinici.dati_clinici
        }
    },


    mostraModalGrafico(){
        this.modalGrafico = true;
    },


   /* INSERISCI ALLARME */
    inserisciDatiClinici(){
      var url = '/api/dati-clinici/'+this.paziente.idUser;
      var payload = {};

      payload.data = this.data_corrente
      payload.ora = this.ora_corrente
      payload.daticlinici = this.formDatiClinici.daticlinici;

      this.$store.commit('private/setPreload', true)
      axios.post(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success){
            this.$store.commit('private/setMessaggioSuccesso', 'Inserimento Riuscito')
            this.modalDatiClinici = false;
            this.getDatiClinici();
            this.index_grafico+=1;
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })

    },


     /* INSERISCI ALLARME */
    aggiornaDatiClinici(){
      var url = '/api/dati-clinici/'+this.paziente.idUser+'/' + this.idDatiClinici;

      const formData = new FormData(document.getElementById("formDatiClinici"));
      let data = {};

        for (let [key, val] of formData.entries()) {
            Object.assign(data, { [key]: val })
        }

      var payload = {}

      payload.daticlinici = data;

      this.$store.commit('private/setPreload', true)
      axios.put(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success){
            this.$store.commit('private/setMessaggioSuccesso', 'Inserimento Riuscito')
            this.modalDatiClinici = false;
            this.getDatiClinici();
            this.index_grafico+=1;
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })

    },



    /** GET DATI CLINICI  */
    getDatiClinici(){
      var url = '/api/dati-clinici';

      this.$store.commit('private/setPreload', true)
      axios.get(url,{
          params: {
              'idPaziente': this.paziente.idUser
          }
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data){
            this.data = res.data['0']
            this.$refs.componenteGrafico.setDati(res.data['0']);
        }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },

    /** GET DATI CLINICI  */
    cancellaDatiClinici(){
      var url = '/api/dati-clinici/'+ this.paziente.idUser + '/'+this.idDatiClinici;

      this.$store.commit('private/setPreload', true)
      axios.delete(url)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success === true){
            this.$store.commit('private/setMessaggioSuccesso', 'Cancellazione Riuscita')
            this.modalConferma = false
            this.getDatiClinici();
            this.index_grafico+=1;
        }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },





    /*
    FUNZIONI PER LA TABELLA
    */
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },

    removeRow (id) {
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idAllarme == id) {
          this.data.splice(i, 1)
          break
        }
      }
    },

    aggiornaRow(){
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idAllarme == this.idAllarme) {
          this.data[i]=this.formAllarme;
           this.$refs.vuetable.refresh()
          break
        }
      }
    },

    apriConferma(idDatiClinici){
      this.modalConferma = true;
      this.idDatiClinici = idDatiClinici;
    },

    apriModalGrafico(){
      this.modalGrafico = true
    },


    dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    }
  }
}
</script>


</script>
