<template>
    <div>
      <PazienteSelezionato></PazienteSelezionato>
        <CRow>
            <CCol sm="12">
                <CCard>
                    <CCardHeader>
                        <CRow>
                            <CCol sm="12" class="text-right">
                            <CButton v-if="User.role!='paziente'" @click="mostraModal('aggiungi')" color="primary"><span> <fa icon="plus"></fa> Aggiungi Diagnosi</span></CButton>
                            </CCol>
                        </CRow>
                    </CCardHeader>
                    <CCardBody>
          <CRow>
              <CCol sm="12">
                 <vuetable ref="vuetable"
                :api-mode="false"
                :fields="fields"
                :per-page="perPage"
                :data-manager="dataManager"
                no-data-template="Nessun Risultato"
                pagination-path="pagination"
                :css="css.table"
                @vuetable:pagination-data="onPaginationData">
                 <!-- <div slot="actions" slot-scope="props">
              <CButton  v-c-tooltip="'Apri Terapia'" color="primary" @click="mostraModal('modifica',props.rowData.idTerapia)">
                  <i class="fas fa-edit"></i>
                </CButton>
                <CButton  v-c-tooltip="'Elimina Terapia'" color="danger" @click="apriConferma(props.rowData.idTerapia)">
                  <i class="fas fa-trash"></i>
                </CButton>
              </div>-->
            </vuetable>
            <vuetable-pagination-info ref="paginationInfo" info-template="Visualizzati da {from} a {to} di {total} totali" no-data-template="Nessun Risultato"
                ></vuetable-pagination-info>
            <div style="padding-top:10px">
              <vuetable-pagination ref="pagination" :css="css.pagination" @vuetable-pagination:change-page="onChangePage" />
            </div>
              </CCol>
            </CRow>
                    </CCardBody>
                </CCard>
            </CCol>
        </CRow>

        <!-- Modal Diagnosi -->
        <CModal :title= this.titleModal color="primary" :show.sync="modalDiagnosi">
      <CRow>
        <CCol sm="6">
            <CInput label="Data" type="date"  v-model="FormDiganosi.dataDiagnosi" name="dataDiagnosi"></CInput>
        </CCol>
        <CCol sm="12">
            <div class="form-group position-relative">
            <label>Ricerca Diagnosi</label>
            <input placeholder="Scrivi almeno 3 caratteri..." class="form-control" @input="cercaDiagnosi()" v-model="filtroDiagnosi" type="text" name="codice">
            <div v-if="diagnosi.length>0 && filtroDiagnosi.length>0" class="float_box shadow">
              <div  class="close" @click="diagnosi=''"><i class="fas fa-times"></i></div>
              <div class="ricerca-item" v-for="diagno in diagnosi " :key="diagno.id_principio" @click="selezionaDiagnosi(diagno)">{{diagno.descrizione}}</div>
            </div>
            <div v-if="filtroDiagnosi.length>0 && diagnosi.length==0" class="float_box shadow">
              <div class="ricerca-item" > Nessuna diagnosi trovata </div>
            </div>
          </div>
        </CCol>
      </CRow>
      <template #footer>
        <CButton color="default" @click="modalDiagnosi = false">
          Chiudi
        </CButton>
        <CButton  v-if="operazione == 'inserimento'" @click="inserisciDiagnosi()" color="success">
          Inserisci
        </CButton>
        <CButton v-if="operazione == 'modifica'" @click="aggiornaDiagnosi()" color="success">
          Aggiorna
        </CButton>
      </template>
    </CModal>
    </div>
</template>

<script>
import axios from 'axios'
import Form from 'vform'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'


import { mapGetters, mapMutations, mapActions } from 'vuex'


export default {
  name: 'Diagnosi',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    PazienteSelezionato
  },

  data () {
    return {
      idDiagnosi: '',
      titleModal: '',
      operazione: '',
      filtroDiagnosi: '',
      diagnosi: '',
      diagno: '',
      modalDiagnosi: false,
      FormDiganosi: new Form({
          codice: '',
          dataDiagnosi: '',
      }),
      data: [],
      perPage: 10,
      css: TableStyle,
      fields: [
        {
          name: 'dataDiagnosi',
          title: 'Data',
          sortField: 'dataDiagnosi',
          formatter: (value) => {
              return this.$date(value, "DD/M/YYYY");
          }
        },
        {
          name: 'codice',
          title: 'Cod.',
          sortField: 'codice'
        },
        {
          name: 'descrizione',
          title: 'Descrizione',
          sortField: 'descrizione'
        },
        {
          name: 'actions',
          title: ''
        }
      ],
    }
  },


  computed: {
   ...mapGetters({
      paziente: 'pazienti/getPaziente',
      User: 'auth/user'
   })
  },

  mounted () {

    if(this.idPaziente == ''){
      this.$router.push('home');
    }

    this.caricaDiagnosi();
  },

//WATCH TABELLA
  watch: {
    data (newVal, oldVal) {
      this.$refs.vuetable.refresh()
    }
  },
/*
  METODI
*/
  methods: {
     mostraModal (stato,id){
        if(stato == 'aggiungi'){
            this.titleModal = 'Aggiungi Diagnosi';
            this.operazione = 'inserimento';
            this.modalDiagnosi = true;
        }
        else if(stato == 'modifica'){
          this.titleModal = 'Modifica Diagnosi';

        }
    },


     cercaDiagnosi: _.debounce(function (e) {
      if(this.filtroDiagnosi.length<3){
        return;
      }
      this.$store.commit('private/setPreload', true)
      var url = '/api/diagnosi';
      axios.get(url,{
        params: {
          descrizione: this.filtroDiagnosi
        }
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data){
            this.diagnosi = res.data['0']
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },300),

    selezionaDiagnosi(diagno){
      this.filtroDiagnosi = diagno.descrizione;
      this.FormDiganosi.codice=diagno.codice;
      this.diagnosi='';
    },
/*
  INSERIMENTO DIAGNOSI
*/
    inserisciDiagnosi(){
      var url = '/api/diagnosi/'+this.paziente.idUser;
      var payload = this.FormDiganosi;
      //payload.idPaziente=this.paziente.idUser;
      this.$store.commit('private/setPreload', true)
      axios.post(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success === true){
            this.FormDiganosi = new Form();
            this.modalDiagnosi=false;
            this.$store.commit('private/setMessaggioSuccesso', 'Inserimento Riuscito')
            this.caricaDiagnosi();

          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },

/*
CARICAMENTO DIAGNOSI PAZIENTE
*/
  caricaDiagnosi(){
    this.$store.commit('private/setPreload', true)
      var url = '/api/diagnosi-paziente/'+this.paziente.idUser;
      axios.get(url)
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.data = res.data['0'];
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },


    /* FUNZIONI PER LA TABELLA */
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },


    removeRow (id) {
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idEsame == id) {
          this.data.splice(i, 1)
          break
        }
      }
    },

    aggiornaRow(){
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idEsame == this.idEsame) {
          this.data[i]=this.formEsame;
           this.$refs.vuetable.refresh()
          break
        }
      }
    },

    dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    },
  },
}
</script>

<style>
</style>
