<template>
<div>
  <PazienteSelezionato></PazienteSelezionato>
<!--SEZIONE ESAME-->
    <CRow>
      <CCol sm="12">
        <CCard>
          <CCardHeader>
            <CRow>
              <CCol sm="12" md="12" lg="12" class="text-right">
                <CButton @click="mostraModal('aggiungi')" color="primary"><span><fa icon="plus"></fa> &nbsp; Aggiungi Esame</span></CButton>
              </CCol>
            </CRow>
          </CCardHeader>
          <CCardBody>
        <CRow class="row-center">
          <CCol sm="12" md="3" lg="3">
            <div role="group" class="form-group">
            <label>Tipo Esame</label>
              <select required ref="select_esame" class="form-control" v-model="formRicerca.codiceEsame">
                <option value="0">-- Seleziona Esame -- </option>
                <option value="assetto_lipidico">Assetto Lipidico</option>
                <option value="assetto_marziale">Assetto Marziale</option>
                <option value="autoimmunita_tiroide">Autoimmunita Tiroide</option>
                <option value="autoimmunita">Autoimmunita</option>
                <option value="coagulazione">Coagulazione</option>
                <option value="colturale">Colturale</option>
                <option value="derivati_emoglobina">Derivati Emoglobina</option>
                <option value="dosaggio_farmaci">Dosaggio Farmaci</option>
                <option value="emocromo">Emocromo</option>
                <option value="emogas_arterioso">Emogas Arterioso</option>
                <option value="emogas_venoso">Emogas Venoso</option>
                <option value="enzimi">Enzimi</option>
                <option value="funzione_renale">Funzione Renale</option>
                <option value="funzione_tiroidea">Funzione Tiroidea</option>
                <option value="immunoelettroforesi">Immunoelettroforesi</option>
                <option value="infiammazione">Infiammazione</option>
                <option value="markers_infettivi">Markers Infettivi</option>
                <option value="markers_scompenso">Markers Scompenso</option>
                <option value="markers_tumorali">Markers Tumorali</option>
                <option value="metabolico">Metabolico</option>
                <option value="protidogramma">Protidogramma</option>
                <option value="sottopopolazioni_linfocitarie">Sottopoplazioni Linfocitarie</option>
                <option value="tipizzazione_tissutale">Tipizzazione Tissutale</option>
                <option value="trombofilia_funzionale">Trombofilia Funzionale</option>
                <option value="urine_24h">Urine 24h</option>
                <option value="urine">Urine</option>
                <option value="altro">Altro</option>
              </select>
            </div>
          </CCol>
          <CCol sm="12" md="3" lg="3">
            <div class="form-group">
            <label>Caricamento</label>
              <select class="form-control" v-model="formRicerca.caricamento">
                <option value="0">Tutti</option>
                <option value="manuale">Manuale</option>
                <option value="documento">Documento</option>
                <option value="promemoria">Promemoria</option>
              </select>
            </div>
          </CCol>
          <CCol sm="12" md="3" lg="3">
            <CButton type="submit" color="success" @click="caricaEsami()">Cerca</CButton>
          </CCol>
          <CCol sm="12" md="3" lg="3">
            <CButton v-if="this.formRicerca.codiceEsame!='0' && this.formRicerca.caricamento == 'manuale' && data.length>0" @click="apriGrafico()" color="info"><fa icon="chart-area"/> Visualizza Grafico</CButton>
          </CCol>
        </CRow>
    <!--SEZIONE TABELLA ESAMI-->
          <vuetable ref="vuetable"
                :api-mode="false"
                :fields="fields"
                :per-page="perPage"
                :data-manager="dataManager"
                no-data-template="Nessun Risultato"
                pagination-path="pagination"
                :css="css.table"
                @vuetable:pagination-data="onPaginationData">
          <div slot="actions" slot-scope="props" class="text-right">
          <CButton  v-if="props.rowData.caricamento != 'promemoria'" v-c-tooltip="'Apri Esame'"  color="primary" @click="mostraModal('modifica', props.rowData.idEsame, props.rowData.codice_esame , props.rowData.caricamento)">
              Modifica <fa icon="edit"></fa>
          </CButton>
          <CButton  v-c-tooltip="'Registra Esame'" v-if="props.rowData.caricamento == 'promemoria'" color="info" @click="mostraModal('modifica', props.rowData.idEsame, props.rowData.codice_esame , props.rowData.caricamento)">
            Registra <fa icon="file-medical"></fa>
          </CButton>
          <CButton  v-c-tooltip="'Elimina Esame'" color="danger" @click="apriConferma(props.rowData.idEsame)">
            <fa icon="trash"></fa>
          </CButton>
        </div>
      </vuetable>
      <vuetable-pagination-info ref="paginationInfo" info-template="Visualizzati da {from} a {to} di {total} totali" no-data-template="Nessun Risultato"
          ></vuetable-pagination-info>
      <div style="padding-top:10px">
        <vuetable-pagination ref="pagination" :css="css.pagination" @vuetable-pagination:change-page="onChangePage" />
      </div>
 <!--FINE TABELLA ESAMI-->
          </CCardBody>
        </CCard>
      </CCol>
     </CRow>
      <CModal :title= this.titleModal color="primary" :show.sync="modalEsame" :closeOnBackdrop="false">
      <CRow>
        <CCol sm="6">
            <CInput type="date" label="Data" v-model="formEsame.data"></CInput>
        </CCol>
        <CCol sm="6">
          <label>Tipo Caricamento</label>
          <select class="form-control" :disabled="disabledcaricamento" v-model="formEsame.tipoCaricamento">
            <option selected value="manuale">Manuale</option>
            <option value="documento">Documento</option>
            <option value="promemoria">Promemoria</option>
          </select>
        </CCol>
        <CCol sm="12">
          <label>Scegli Esame</label>
          <select class="form-control" v-model="formEsame.codiceEsame" @change="selectEsame($event)" :disabled="disabled">
                <option value="altro">Altro</option>
                <option value="assetto_lipidico">Assetto Lipidico</option>
                <option value="assetto_marziale">Assetto Marziale</option>
                <option value="autoimmunita_tiroide">Autoimmunita Tiroide</option>
                <option value="autoimmunita">Autoimmunita</option>
                <option value="coagulazione">Coagulazione</option>
                <option value="colturale">Colturale</option>
                <option value="derivati_emoglobina">Derivati Emoglobina</option>
                <option value="dosaggio_farmaci">Dosaggio Farmaci</option>
                <option value="emocromo">Emocromo</option>
                <option value="emogas_arterioso">Emogas Arterioso</option>
                <option value="emogas_venoso">Emogas Venoso</option>
                <option value="enzimi">Enzimi</option>
                <option value="funzione_renale">Funzione Renale</option>
                <option value="funzione_tiroidea">Funzione Tiroidea</option>
                <option value="immunoelettroforesi">Immunoelettroforesi</option>
                <option value="infiammazione">Infiammazione</option>
                <option value="markers_infettivi">Markers Infettivi</option>
                <option value="markers_scompenso">Markers Scompenso</option>
                <option value="markers_tumorali">Markers Tumorali</option>
                <option value="metabolico">Metabolico</option>
                <option value="protidogramma">Protidogramma</option>
                <option value="sottopopolazioni_linfocitarie">Sottopoplazioni Linfocitarie</option>
                <option value="tipizzazione_tissutale">Tipizzazione Tissutale</option>
                <option value="trombofilia_funzionale">Trombofilia Funzionale</option>
                <option value="urine_24h">Urine 24h</option>
                <option value="urine">Urine</option>
          </select>
        </CCol>
         <CCol v-if="formEsame.tipoCaricamento=='documento' && formEsame.operazione=='modifica'" class="mt-3 col-12 col-sm-12">
            <h6>Documenti caricati</h6>
            <table class="table table-striped">
              <tr v-for="documento in documentiCaricati" v-bind:key="documento.idDocumento">
                <td>{{documento.nome_file}}</td>
                <td class="text-right"><a target="_blank" :href="documento.url"><button class="btn btn-primary"><fa icon="file-alt"></fa> Apri Documento</button></a></td>
              </tr>
            </table>
         </CCol>
          <CCol v-if="formEsame.tipoCaricamento=='documento'" class="mt-3 col-12 col-sm-12">
            <h6>Scegli Documenti</h6>
            <em> formati accettati .pdf/.png/.jpg, massimo 5MB a file</em>
            <input type="file" name="documento" class="form-control file-input" @change="onImageChange($event, 'documento')">
          </CCol>
        <CCol v-if="formEsame.tipoCaricamento=='manuale'" sm="12" class="mt-5">
          <form  ref="formEsame" id="formEsame">
            <component ref="componenteEsame"  v-on:aggiornaEsame="aggiornaFormEsame" v-bind:is="esame" />
          </form>
        </CCol>
      </CRow>
      <template #footer>
        <CButton color="default" @click="modalEsame = false">
          Chiudi
        </CButton>
        <CButton  v-if="formEsame.operazione == 'inserimento'" @click="inserisciEsame()" color="success">
          Inserisci
        </CButton>
        <CButton v-if="formEsame.operazione == 'modifica'" @click="modificaEsame()" color="success">
          Aggiorna
        </CButton>
      </template>
    </CModal>
    <!-- MODAL CANCELLAZIONE -->
    <CModal
      title="Conferma Cancellazione"
      color="danger"
      :show.sync="modalConferma">
      Sei sicuro?
      <template #footer>
        <CButton color="default" @click="modalConferma = false">
          Chiudi
        </CButton>
        <CButton color="danger" @click="cancellaEsame()">
          Conferma
        </CButton>
      </template>
    </CModal>

    <!-- MODAL GRAFICO -->
    <CModal :title="'Grafico Esame: '+titolo_esame" color="info" :show.sync="modalGrafico">
      <component ref="componenteGrafico" v-bind:is="grafico" ></component>
      <template #footer>
        <CButton color="default" @click="modalGrafico = false">
          Chiudi
        </CButton>
      </template>
    </CModal>
  </div>
<!--FINE SEZIONE ESAMI-->
</template>

<script>
import axios from 'axios'
import Form from 'vform'
import vSelect from 'vue-select'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'


import emogas_venoso from '~/pages/private/pazienti/esami/emogas_venoso.vue'
import funzione_renale from '~/pages/private/pazienti/esami/funzione_renale.vue'
import markers_scompenso from '~/pages/private/pazienti/esami/markers_scompenso.vue'
import metabolico from '~/pages/private/pazienti/esami/metabolico.vue'
import emocromo from '~/pages/private/pazienti/esami/emocromo.vue'
import sottopopolazioni_linfocitarie from '~/pages/private/pazienti/esami/sottopopolazioni_linfocitarie.vue'
import derivati_emoglobina from '~/pages/private/pazienti/esami/derivati_emoglobina.vue'
import urine from '~/pages/private/pazienti/esami/urine.vue'
import funzione_tiroidea from '~/pages/private/pazienti/esami/funzione_tiroidea.vue'
import emogas_arterioso from '~/pages/private/pazienti/esami/emogas_arterioso.vue'
import infiammazione from '~/pages/private/pazienti/esami/infiammazione.vue'
import protidogramma from '~/pages/private/pazienti/esami/protidogramma.vue'
import coagulazione from '~/pages/private/pazienti/esami/coagulazione.vue'
import enzimi from '~/pages/private/pazienti/esami/enzimi.vue'
import altro from '~/pages/private/pazienti/esami/altro.vue'
import assetto_marziale from '~/pages/private/pazienti/esami/assetto_marziale.vue'
import markers_infettivi from '~/pages/private/pazienti/esami/markers_infettivi.vue'
import markers_tumorali from '~/pages/private/pazienti/esami/markers_tumorali.vue'
import colturale from '~/pages/private/pazienti/esami/colturale.vue'
import trombofilia_funzionale from '~/pages/private/pazienti/esami/trombofilia_funzionale.vue'
import urine_24h from '~/pages/private/pazienti/esami/urine_24h.vue'
import immunoelettroforesi from '~/pages/private/pazienti/esami/immunoelettroforesi.vue'
import dosaggio_farmaci from '~/pages/private/pazienti/esami/dosaggio_farmaci.vue'
import tipizzazione_tissutale from '~/pages/private/pazienti/esami/tipizzazione_tissutale.vue'
import assetto_lipidico from '~/pages/private/pazienti/esami/assetto_lipidico.vue'
import autoimmunita from '~/pages/private/pazienti/esami/autoimmunita.vue'
import autoimmunita_tiroide from '~/pages/private/pazienti/esami/autoimmunita_tiroide.vue'

import grafico_assetto_marziale from '~/pages/private/pazienti/grafici/grafico_assetto_marziale.vue'
import grafico_coagulazione from '~/pages/private/pazienti/grafici/grafico_coagulazione.vue'
import grafico_derivati_emoglobina from '~/pages/private/pazienti/grafici/grafico_derivati_emoglobina.vue'
import grafico_emocromo from '~/pages/private/pazienti/grafici/grafico_emocromo'
import grafico_emogas_arterioso from '~/pages/private/pazienti/grafici/grafico_emogas_arterioso'
import grafico_enzimi from '~/pages/private/pazienti/grafici/grafico_enzimi.vue'
import grafico_funzione_renale from '~/pages/private/pazienti/grafici/grafico_funzione_renale.vue'
import grafico_funzione_tiroidea from '~/pages/private/pazienti/grafici/grafico_funzione_tiroidea.vue'
import grafico_infiammazione from '~/pages/private/pazienti/grafici/grafico_infiammazione.vue'
import grafico_ecg from '~/pages/private/pazienti/grafici/grafico_ecg.vue'
import grafico_emogas_venoso from '~/pages/private/pazienti/grafici/grafico_emogas_venoso.vue'
import grafico_markers_scompenso from '~/pages/private/pazienti/grafici/grafico_markers_scompenso.vue'
import grafico_metabolico from '~/pages/private/pazienti/grafici/grafico_metabolico.vue'
import grafico_protidogramma from '~/pages/private/pazienti/grafici/grafico_protidogramma.vue'
import grafico_sottopopolazioni_linfocitarie from '~/pages/private/pazienti/grafici/grafico_sottopopolazioni_linfocitarie.vue'
import grafico_trombofilia_funzionale from '~/pages/private/pazienti/grafici/grafico_trombofilia_funzionale.vue'
import grafico_urine_24h from '~/pages/private/pazienti/grafici/grafico_urine_24h.vue'
import grafico_urine from '~/pages/private/pazienti/grafici/grafico_urine.vue'
import { mapGetters, mapMutations, mapActions } from 'vuex'


export default {
  name: 'Esami',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    vSelect,
    PazienteSelezionato,
    emogas_venoso,
    funzione_renale,
    markers_scompenso,
    metabolico,
    emocromo,
    urine,
    funzione_tiroidea,
    emogas_arterioso,
    infiammazione,
    protidogramma,
    coagulazione,
    enzimi,
    altro,
    sottopopolazioni_linfocitarie,
    assetto_marziale,
    derivati_emoglobina,
    markers_infettivi,
    markers_tumorali,
    colturale,
    trombofilia_funzionale,
    urine_24h,
    immunoelettroforesi,
    dosaggio_farmaci,
    tipizzazione_tissutale,
    autoimmunita,
    autoimmunita_tiroide,
    assetto_lipidico,
    grafico_assetto_marziale,
    grafico_coagulazione,
    grafico_derivati_emoglobina,
    grafico_ecg,
    grafico_emocromo,
    grafico_emogas_arterioso,
    grafico_enzimi,
    grafico_funzione_renale,
    grafico_funzione_tiroidea,
    grafico_infiammazione,
    grafico_emogas_venoso,
    grafico_markers_scompenso,
    grafico_metabolico,
    grafico_protidogramma,
    grafico_sottopopolazioni_linfocitarie,
    grafico_trombofilia_funzionale,
    grafico_urine_24h,
    grafico_urine
  },

  data () {
    return {
      idPrescrizioneEsame: '',
      indexPrescrizioneEsame:  '',
      showEcg: '',
      titolo_esame:'',
      esame:'',
      grafico:'',
      esameTmp:{},
      modalConferma: false,
      documentiCaricati:'',
      documenti:[],
      modalEsame: false,
      modalGrafico: false,
      titleModal:'',
      disabled: false,
      disabledcaricamento: false,
      css: TableStyle,
      perPage: 20,
      data: [],
      idEsame: '',
      formEsame: new Form({
        data: '',
        tipoCaricamento:'manuale',
        codiceEsame: '',
        esame:''
      }),
      formRicerca: new Form({
        codiceEsame:0,
        caricamento: 0,
      }),
      fields: [
        {
          name: 'codiceEsame',
          title: 'Esame',
          sortField: 'codiceEsame',
          dataClass:'text-uppercase',
          formatter: (value) => {
              return value.replace("_", " ");;
          }

        },
        {
          name: 'caricamento',
          title: 'Caricamento',
          sortField: 'caricamento',
          dataClass:'text-uppercase',
          formatter: (value) => {
             if (value == 'promemoria'){
               return '<span class="text-warning"><b>IN ATTESA</b></span>'
             }
             else{
               return '<span><b>'+value+'</b></span>'
             }
          }
        },
        {
          name: 'data',
          title: 'Data',
          sortField: 'data',
          formatter: (value) => {
              return this.$date(value, "DD/M/YYYY");
          }
        },
        {
          name: 'actions',
          title: 'Azioni'
        }
      ],
    }
  },


  computed: {
   ...mapGetters({
       paziente: 'pazienti/getPaziente',
       User: 'auth/user'
   })
  },

  mounted () {

    if(this.$route.query.codice_esame != undefined){
      this.idPrescrizioneEsame = this.$route.query.idPrescrizione
      //this.indexPrescrizioneEsame = this.$route.query.index
      this.formEsame.codiceEsame = this.$route.query.codice_esame
      this.titleModal = 'Registra Esame: ' + this.formEsame.codiceEsame.toUpperCase().replace(/_/g, ' ')
      this.formEsame.operazione = 'inserimento';
      this.modalEsame = true
      this.esame = this.$route.query.codice_esame
    }

    this.caricaEsami()
  },

//WATCH TABELLA
  watch: {
    data (newVal, oldVal) {
      this.$refs.vuetable.refresh()
    }
  },
/*
  METODI
*/
  methods: {
     mostraModal (stato,id,codiceesame,caricamento){
       this.formEsame.reset();
       this.esame='';
        if(stato == 'aggiungi'){
            this.titleModal = 'Aggiungi Esame';
            this.formEsame.operazione = 'inserimento';
            this.modalEsame = true;
            this.disabled = false;
        }
        else if(stato == 'modifica'){
          this.titleModal = 'Modifica Esame';
          this.formEsame.operazione = 'modifica';
          this.idEsame = id;
          this.disabled = true;
          this.apriEsame();
        }
    },

// APRI GRAFICO
  apriGrafico(){
    this.modalGrafico = true
  },

//SELEZIONE DI UN ESAME
  selectEsame(event){
    this.esame=event.target.value;
  },

//AGGIORNA ESAME
  aggiornaFormEsame(){
    this.$refs.componenteEsame.setEsame(this.esameTmp);
  },

/*
  INSERISCI ESAME
*/
    inserisciEsame(){
      var url = '/api/esame/'+this.paziente.idUser;

      if(this.formEsame.tipoCaricamento=='manuale'){
        const formData = new FormData(document.getElementById("formEsame"));
        let data = {};
        for (let [key, val] of formData.entries()) {
          Object.assign(data, { [key]: val })
        }
          this.formEsame.esame=data;
      }

    var payload = this.formEsame;
    payload.tipo = 'esame'
    payload.files=this.documenti;
    payload.idPrescrizioneEsame= this.idPrescrizioneEsame
    payload.index = this.indexPrescrizioneEsame

      this.$store.commit('private/setPreload', true)
      axios.post(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success){
            this.formEsame.reset();
            this.$store.commit('private/setMessaggioSuccesso', 'Inserimento Riuscito')
            this.modalEsame = false;
            this.formRicerca.codiceesame='0';
            this.idPrescrizioneEsame = '';
            this.indexPrescrizioneEsame = '';
            this.$router.replace({'query': null});
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },

  /* MODIFICA ESAME */
   modificaEsame(){
     var url = '/api/esame/'+this.paziente.idUser+'/'+this.idEsame;
     if(this.formEsame.tipoCaricamento=='manuale'){
      const formData = new FormData(document.getElementById("formEsame"));
      let data = {};
      for (let [key, val] of formData.entries()) {
        Object.assign(data, { [key]: val })
      }
        this.formEsame.esame=data;
     }
      var payload = this.formEsame;
      payload.tipo = 'esame'
      payload.files=this.documenti;

      this.$store.commit('private/setPreload', true)
      axios.put(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data){
            this.formEsame.reset();
            this.$store.commit('private/setMessaggioSuccesso', 'Aggiornamento Riuscito')
            this.modalEsame = false;
            this.formRicerca.codiceesame='0';
            this.caricaEsami();
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.esame)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },
/*
  CARICAMENTO ESAMI PAZIENTE
*/
caricaEsami(){
  if(this.formRicerca.codiceEsame!='altro' && this.formRicerca.codiceEsame!='0'){
    if(this.grafico!=('grafico_'+this.formRicerca.codiceEsame)){
      this.grafico='grafico_'+this.formRicerca.codiceEsame;
      this.titolo_esame=this.$refs.select_esame[this.$refs.select_esame.options.selectedIndex].text;
    }
  }

    this.$store.commit('private/setPreload', true)
      var url = '/api/esami-paziente/'+this.paziente.idUser;
      axios.get(url,{
      params:{
        codiceEsame:this.formRicerca.codiceEsame,
        caricamento: this.formRicerca.caricamento
      }
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.data = res.data['0'];
              if(this.formRicerca.codiceEsame!='altro' && this.formRicerca.codiceEsame!='0'){
                this.$refs.componenteGrafico.setDati(res.data['0'])
              }
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          console.error(err)
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },

  /* Apri ESAME */
  apriEsame(){
    this.$store.commit('private/setPreload', true)
     var url = '/api/esame/'+this.paziente.idUser+'/'+this.idEsame;
      axios.get(url)
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.esameTmp=res.data['0'].esame;
            this.modalEsame = true
            this.esame=res.data['0'].codiceEsame;
            this.formEsame.codiceEsame = res.data['0'].codiceEsame;
            this.formEsame.data= res.data['0'].data;
            this.formEsame.tipoCaricamento= res.data['0'].caricamento;
            this.documentiCaricati=res.data['0'].documenti;
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
  },

/*
  FUNZIONI PER LA TABELLA
*/
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },

    removeRow (id) {
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idEsame == id) {
          this.data.splice(i, 1)
          break
        }
      }
    },
    aggiornaRow(){
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idEsame == this.idEsame) {
          this.data[i]=this.formEsame;
           this.$refs.vuetable.refresh()
          break
        }
      }
    },

    apriConferma(id){
      this.modalConferma = true;
      this.idEsame = id;
    },

    cancellaEsame () {
      var url = '/api/esame/'+this.paziente.idUser+'/'+ this.idEsame
      this.$store.commit('private/setPreload', true)
      axios.delete(url)
        .then(res => {
           this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.modalConferma = false
            this.removeRow(this.idEsame);
            this.$store.commit('private/setMessaggioSuccesso', 'Cancellazione Riuscita')
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore')
        })
    },

    dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    },
/*
  CARICAMENTO DOCUMENTI
*/
    onImageChange (e, tipo) {
      this.errore = false
      this.messaggio_errore = ''
      this.documenti = []
      let files = e.target.files || e.dataTransfer.files
      if (!files.length || files.length > 2) {
        this.errore = true
        this.messaggio_errore = 'Scegli al massimo un due documenti'
        return false
      } else {
        for (var i = 0; i < files.length; i++) {
          if (files[i].type == 'application/pdf' || files[i].type == 'image/png' || files[i].type == 'image/jpg' || files[i].type == 'image/jpeg') {
            if (files[i].size <= 5000000) {
              this.createImage(files[i], tipo, files[i].type, files[i].name)
            } else {
              this.errore = true
              this.messaggio_errore = 'File troppo grande'
              this.documenti = []
              return false
            }
          } else {
            this.errore = true
            this.messaggio_errore = 'Formato non accettato'
            this.documenti = []
            return false
          }
        }
      }
    },
    createImage (file, tipo, estensione, nome) {
      let reader = new FileReader()
      let vm = this
      reader.onload = (e) => {
        if (tipo == 'documento') {
          // vm.documenti.push = e.target.result;
          // vm.estensione=estensione;
          vm.documenti.push({
            'nome' : nome,
            'file': e.target.result,
            'estensione': estensione
          })
        } else {
          vm.image_retro = e.target.result
        }
      }
      reader.readAsDataURL(file)
    },

  }
}
</script>

<style>
</style>
