<template>
<div>
  <PazienteSelezionato></PazienteSelezionato>
<!--SEZIONE ESAME-->
    <CRow>
      <CCol sm="12">
        <CCard>
          <CCardHeader>
            <CRow>
              <CCol sm="12" md="12" lg="12" class="text-right">
                <CButton v-if="User.role!='paziente'" @click="mostraModal('aggiungi')" color="primary"><span><fa icon="plus"></fa> Aggiungi Intervento</span></CButton>
              </CCol>
            </CRow>
          </CCardHeader>
          <CCardBody>
        <CRow class="row-center">
          <CCol sm="12" md="3" lg="3">
              <CInput type="date" label="Cerca per data" v-model="formRicerca.dataIntervento" name="dataIntervento"></CInput>
          </CCol>
          <CCol sm="12" md="3" lg="3">
                <CButton color="info" @click="getInterventi"><span><i class="fas fa-filter"></i>Filtra</span></CButton>
          </CCol>
        </CRow>
    <!--SEZIONE TABELLA ESAMI-->
          <vuetable ref="vuetable"
                :api-mode="false"
                :fields="fields"
                :per-page="perPage"
                :data-manager="dataManager"
                no-data-template="Nessun Risultato"
                pagination-path="pagination"
                :css="css.table"
                @vuetable:pagination-data="onPaginationData">
          <div v-if="User.role!='paziente'" slot="actions" slot-scope="props" class="text-right">
          <CButton  v-c-tooltip="'Apri Intervento'" color="primary" @click="mostraModal('modifica',props.rowData)">
            <fa icon="edit"></fa>
          </CButton>
          <CButton  v-c-tooltip="'Elimina Intervento'" color="danger" @click="apriConferma(props.rowData.idIntervento)">
            <fa icon="trash"></fa>
          </CButton>
        </div>
      </vuetable>
      <vuetable-pagination-info ref="paginationInfo" info-template="Visualizzati da {from} a {to} di {total} totali" no-data-template="Nessun Risultato"
          ></vuetable-pagination-info>
      <div style="padding-top:10px">
        <vuetable-pagination ref="pagination" :css="css.pagination" @vuetable-pagination:change-page="onChangePage" />
      </div>
 <!--FINE TABELLA ESAMI-->
          </CCardBody>
        </CCard>
      </CCol>
     </CRow>
      <CModal :title= this.titleModal color="primary" :show.sync="modalIntervento">
      <CRow>
        <CCol sm="6">
            <CInput type="date" label="Data Intervento" v-model="formIntervento.dataIntervento" name="dataIntervento"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput type="text" label="Nome Intervento" v-model="formIntervento.nomeIntervento" name="nomeIntervento"></CInput>
        </CCol>
        <CCol sm="12">
            <CTextarea label="Note Intervento" v-model="formIntervento.noteIntervento" name="noteIntervento"></CTextarea>
        </CCol>
      </CRow>
      <template #footer>
        <CButton color="default" @click="modalIntervento = false">
          Chiudi
        </CButton>
        <CButton  v-if="operazione == 'inserimento'" @click="inserisciIntervento()" color="success">
          Inserisci
        </CButton>
        <CButton v-if="operazione == 'modifica'" @click="modificaIntervento()" color="success">
          Modifica
        </CButton>
      </template>
    </CModal>
    <!-- MODAL CANCELLAZIONE -->
    <CModal
      title="Conferma Cancellazione"
      color="danger"
      :show.sync="modalConferma">
      Sei sicuro?
      <template #footer>
        <CButton color="default" @click="modalConferma = false">
          Chiudi
        </CButton>
        <CButton color="danger" @click="cancellaIntervento()">
          Conferma
        </CButton>
      </template>
    </CModal>
  </div>
<!--FINE SEZIONE ESAMI-->
</template>

<script>
import axios from 'axios'
import Form from 'vform'
import vSelect from 'vue-select'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'


import { mapGetters, mapMutations, mapActions } from 'vuex'


export default {
  name: 'Interventi',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    vSelect,
    PazienteSelezionato
  },

  data () {
    return {
      modalConferma: false,
      modalIntervento: false,
      titleModal:'',
      operazione: '',
      disabled: false,
      css: TableStyle,
      perPage: 5,
      data: [],
      idIntervento: '',
      formIntervento: new Form({
        dataIntervento: '',
        nomeIntervento: '',
        noteIntervento: ''
      }),
      formRicerca: new Form({
        dataIntervento: '',
      }),
      fields: [
          {
            name: 'dataIntervento',
            title: 'Data Intervento',
            sortField: 'dataIntervento',
            formatter: (value) => {
              return this.$date(value, "DD/M/YYYY");
            }
          },
          {
            name: 'nomeIntervento',
            title: 'Nome Intervento',
            sortField: 'nomeIntervento',
          },
          {
            name: 'noteIntervento',
            title: 'Note Intervento',
            sortField: 'note Intervento'
          },
          {
            name: 'actions',
            title: 'Azioni'
          }
      ],
    }
  },


  computed: {
   ...mapGetters({
      paziente: 'pazienti/getPaziente',
      User: 'auth/user'
   })
  },

  mounted () {

    if(this.idPaziente == ''){
      this.$router.push('home');
    }

  },

//WATCH TABELLA
  watch: {
    data (newVal, oldVal) {
      this.$refs.vuetable.refresh()
    }
  },
/*
  METODI
*/
  methods: {
     mostraModal (stato,intervento){
       this.formIntervento.reset();
        if(stato == 'aggiungi'){
            this.titleModal = 'Aggiungi Intervento';
            this.operazione = 'inserimento';
            this.modalIntervento = true;
            this.disabled = false;
        }
        else if(stato == 'modifica'){
          this.titleModal = 'Modifica Intervento';
          this.operazione = 'modifica';
          this.modalIntervento = true;
          this.idIntervento = intervento.idIntervento;
          this.formIntervento.fill(intervento)
        }
    },


    /* INSERISCI INTERVENTO */
    inserisciIntervento(){
        var url = '/api/intervento/' + this.paziente.idUser;
        var payload = this.formIntervento


      this.$store.commit('private/setPreload', true)
      axios.post(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success){
            this.formIntervento.reset();
            this.$store.commit('private/setMessaggioSuccesso', 'Inserimento Riuscito')
            this.modalIntervento = false;
            this.getInterventi();
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },


    modificaIntervento(){
      var url = '/api/interventi/'+this.paziente.idUser+'/'+this.idIntervento;
      var payload = this.formIntervento;
      console.log(payload);

      axios.put(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success){
            this.$store.commit('private/setMessaggioSuccesso', 'Aggiornamento Riuscito')
            this.modalIntervento = false;
            this.getInterventi();
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Aggiornamento')
        })

    },

    getInterventi(){
      var url = '/api/interventi/'+this.paziente.idUser;

      this.$store.commit('private/setPreload', true)
      axios.get(url,{ params: {
        dataIntervento: this.formRicerca.dataIntervento
      }})
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data){
            this.data = res.data['0']
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },

    cancellaIntervento(){
      var url = '/api/intervento/'+this.paziente.idUser+'/'+this.idIntervento
      this.$store.commit('private/setPreload', true)
      axios.delete(url)
        .then(res => {
           this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.modalConferma = false
            this.removeRow(this.idIntervento);
            this.$store.commit('private/setMessaggioSuccesso', 'Cancellazione Riuscita')
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          console.log(err);
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore')
        })
    },

    /*
    FUNZIONI PER LA TABELLA
    */
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },

    removeRow (id) {
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idIntervento == id) {
          this.data.splice(i, 1)
          break
        }
      }
    },

    aggiornaRow(){
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idIntervento == this.idIntervento) {
          this.data[i]=this.formIntervento;
           this.$refs.vuetable.refresh()
          break
        }
      }
    },

    apriConferma(id){
      this.modalConferma = true;
      this.idIntervento = id;
    },


    dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    }

  }
}
</script>

<style>
</style>
