<template>
<div>
  <PazienteSelezionato></PazienteSelezionato>
<!--SEZIONE ESAME-->
    <CRow>
      <CCol sm="12">
        <CCard>
          <CCardHeader>
            <CRow>
              <CCol class="text-right" sm="12">
                <CButton v-if="User.role == 'paziente' || User.role == 'admin'" @click="mostraModal('aggiungi')" color="primary"><fa icon="plus"></fa> Aggiungi Medico</CButton>
              </CCol>
            </CRow>
          </CCardHeader>
          <CCardBody>
    <!--SEZIONE TABELLA  MEDICI-->
          <vuetable ref="vuetable"
                :api-mode="false"
                :fields="fields"
                :per-page="perPage"
                :data-manager="dataManager"
                no-data-template="Nessun Risultato"
                pagination-path="pagination"
                :css="css.table"
                @vuetable:pagination-data="onPaginationData">
        <div  v-if="User.role == 'admin'" slot="actions" slot-scope="props">
          <CButton  v-c-tooltip="'Cancella Medico'" color="danger" @click="apriConferma(props.rowData.idPazienteMedico)">
            <i class="fas fa-trash"></i>
          </CButton>
        </div>
          <div  v-if="User.role == 'paziente' && props.rowData.stato == '1'" slot="actions" slot-scope="props">
          <router-link :to="{name:'private.messaggi', query: {idChat: props.rowData.idMedico}}">
            <CButton  v-c-tooltip="'Apri Chat'" color="info">
             <fa icon="comments"></fa>  Chat
            </CButton>
          </router-link>
        </div>
      </vuetable>
      <vuetable-pagination-info ref="paginationInfo" info-template="Visualizzati da {from} a {to} di {total} totali" no-data-template="Nessun Risultato"
          ></vuetable-pagination-info>
      <div style="padding-top:10px">
        <vuetable-pagination ref="pagination" :css="css.pagination" @vuetable-pagination:change-page="onChangePage" />
      </div>
 <!--FINE TABELLA MEDICI-->
          </CCardBody>
        </CCard>
      </CCol>
     </CRow>
      <CModal :title= this.titleModal color="primary" :show.sync="modalMedico">
      <CRow>
        <CCol sm="12">
          <div class="form-group position-relative">
            <label>Cerca Medico</label>
            <input class="form-control" @input="cercaMedico()" v-model="filtroMedico" type="text">
            <div v-if="medici.length>0" class="float_box shadow" style="">
              <div  class="close" @click="medici=''"><i class="fas fa-times"></i></div>
              <div class="ricerca-item" v-for="medico in medici" :key="medico.id" @click="selezionaMedico(medico)">{{medico.name}}</div>
            </div>
            <div v-if="medici== 'null'" class="mr-2 ml-2 float_box shadow">
                  <div  class="close" @click="medici=''"><i class="fas fa-times"></i></div>
                  <div class="ricerca-item">Nessun Risultato</div>
            </div>
          </div>
        </CCol>
      </CRow>
      <template #footer>
        <CButton color="default" @click="modalMedico = false">
          Chiudi
        </CButton>
        <CButton v-if="User.role == 'admin'" @click="inserisciMedico()" color="success">
          Salva
        </CButton>
         <CButton v-if="User.role == 'paziente'" @click="inviaRichiesta()" color="success">
           Invia Richiesta
        </CButton>
      </template>
    </CModal>
    <!-- MODAL CANCELLAZIONE -->
    <CModal
      title="Conferma Cancellazione"
      color="danger"
      :show.sync="modalConferma">
      Sei sicuro?
      <template #footer>
        <CButton color="default" @click="modalConferma = false">
          Chiudi
        </CButton>
        <CButton color="danger" @click="cancellaMedico()">
          Conferma
        </CButton>
      </template>
    </CModal>
  </div>
<!--FINE SEZIONE ESAMI-->
</template>

<script>
import axios from 'axios'
import Form from 'vform'
import vSelect from 'vue-select'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'


import { mapGetters, mapMutations, mapActions } from 'vuex'


export default {
  name: 'Medici',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    vSelect,
    PazienteSelezionato
  },

  data () {
    return {
      modalConferma: false,
      modalMedico: false,
      filtroMedico: '',
      idMedico: '',
      medici: '',
      titleModal:'',
      disabled: false,
      css: TableStyle,
      perPage: 5,
      data: [],
      fields: [
        {
          name: 'name',
          title: 'Medico',
          sortField: 'name',
        },
        {
          name: 'stato',
          title: 'Stato',
          sortField: 'stato',
          dataClass: 'text-uppercase',
          formatter: (value) =>{
            if(value == 0){
                return '<div class="text-warning"><b>In sospeso</b></div>'
            }
            else{
                return '<div class="text-success"><b>Accettata</b></div>'
            }
          }
        },
        {
          name: 'actions',
          title: 'Azioni'
        }
      ],
    }
  },


  computed: {
   ...mapGetters({
      paziente: 'pazienti/getPaziente',
      User: 'auth/user'
   })
  },

  mounted () {

   if(this.idPaziente == ''){
      this.$router.push('home');
    }

    this.getPazientiMedici()
  },



//WATCH TABELLA
  watch: {
    data (newVal, oldVal) {
      this.$refs.vuetable.refresh()
    }
  },
/*
  METODI
*/
  methods: {
     mostraModal (){
        this.titleModal = 'Aggiungi Medico';
        this.modalMedico = true
     },

     cercaMedico: _.debounce(function (e) {
      if(this.filtroMedico.length<3){
        return;
      }
      this.$store.commit('private/setPreload', true)
      var url = '/api/medici';
      axios.get(url,{
        params: {
          keyword: this.filtroMedico
        }
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data){
            if(res.data.length>0){
                this.medici = res.data['0'];
            }
            else{
                this.medici = 'null';
            }
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },300),

    selezionaMedico(medico){
      this.filtroMedico= medico.name;
      this.idMedico = medico.id;
      this.medici='';
    },

    inserisciMedico(){
      var url = '/api/paziente-medico';

      this.$store.commit('private/setPreload', true)
      axios.post(url,{
        idMedico: this.idMedico,
        idPaziente: this.idPaziente
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success){
            this.$store.commit('private/setMessaggioSuccesso', 'Inserimento Riuscito')
            this.filtroMedico = ''
            this.idMedico = ''
            this.getPazientiMedici()
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },

   /** INVIA RICHIESTA */
    inviaRichiesta(){
      var url = '/api/paziente-medico';
      this.$store.commit('private/setPreload', true)
      axios.post(url,{
        medico: this.idMedico,
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success){
            this.$store.commit('private/setMessaggioSuccesso', 'Richiesta Inviata')
            this.filtroMedico = ''
            this.idMedico = ''
            this.modalMedico=false;
            this.getPazientiMedici()
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },



   getPazientiMedici(){
      var url = '/api/paziente-medici';

      this.$store.commit('private/setPreload', true)
      axios.get(url)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data){
            this.data = res.data['0'];
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
   },

   apriConferma(idMedico){
     this.modalConferma = true,
     this.idMedico = idMedico

   },

   cancellaMedico(){
      console.log(this.idMedico);
      var url = '/api/pazienti-medici/'+ this.idPaziente+'/'+ this.idMedico;

      this.$store.commit('private/setPreload', true)
      axios.delete(url)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success === true ){
            this.$store.commit('private/setMessaggioSuccesso', 'Cancellazione Riuscita')
            this.modalConferma = false
            this.getPazientiMedici()
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
   },


  /*
    FUNZIONI PER LA TABELLA
  */
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },

    removeRow (id) {
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idEsame == id) {
          this.data.splice(i, 1)
          break
        }
      }
    },
    aggiornaRow(){
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idEsame == this.idEsame) {
          this.data[i]=this.formEsame;
           this.$refs.vuetable.refresh()
          break
        }
      }
    },


    dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    }

  }
}
</script>

<style>
</style>
