<template>
  <div>
    <PazienteSelezionato></PazienteSelezionato>
    <CRow>
       <CCol col="6" md="3">
    <router-link to="ecgholter">
     <CCard>
       <CCardBody class="card-pagina-paziente">
          <CCol  sm="12" class="text-center">
            <div>
              <h6><b>ECG/Holter T1</b></h6>
            </div>
          </CCol>
       </CCardBody>
     </CCard>
    </router-link>
   </CCol>
    <CCol col="6" md="3">
    <router-link to="smartwatch">
     <CCard>
       <CCardBody class="card-pagina-paziente">
          <CCol  sm="12" class="text-center">
            <div>
              <h6><b>Smartwatch</b></h6>
            </div>
          </CCol>
       </CCardBody>
     </CCard>
    </router-link>
   </CCol>
  <CCol col="6" md="3">
    <router-link to="glucometro">
     <CCard>
       <CCardBody class="card-pagina-paziente">
          <CCol  sm="12" class="text-center">
            <div>
              <h6><b>Glucometro</b></h6>
            </div>
          </CCol>
       </CCardBody>
     </CCard>
    </router-link>
   </CCol>
    </CRow>

  </div>
</template>

<script>

import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'
import { mapGetters, mapMutations, mapActions } from 'vuex'


export default {
  name: 'Monitoraggio',
  components: {
    PazienteSelezionato
  },

  data () {
    return{

    }
  },
  computed: {
  },

  mounted () {
  },


/*
  METODI
*/
  methods: {

  }
}
</script>

<style>
</style>
