<template>
<div>
  <PazienteSelezionato></PazienteSelezionato>
<!--SEZIONE Piani-->
    <CRow>
      <CCol sm="12">
        <CCard>
          <CCardHeader>
            <CRow>
              <CCol sm="12" md="12" lg="12" class="text-right">
                <CButton v-if="User.role!='paziente'" @click="inserisciPianoTerapeutico()" color="primary"><span><fa icon="plus"></fa> Aggiungi Piano Terapeutico</span></CButton>
              </CCol>
            </CRow>
          </CCardHeader>
          <CCardBody>
          <CRow class="row-center">
          <CCol sm="12" md="3" lg="3">
            <div role="group" class="form-group">
            <label>Seleziona Piano Terapeutico </label>
              <select class="form-control" v-model="formRicerca.codicepianoterapeutico">
                <option value="0">Tutti</option>
                <option value="dronedarone">Dronedarone</option>
                <!--<option value="entresto">Entresto</option>-->
                <option value="generico">Generico </option>
                <option value="inda">Indacaterolo/Glicopirroni - Umeclidinio/Vilanterolo </option>
                <option value="ipa">IPA</option>
                <option value="lokelma">LOKELMA</option>
                <!--<option value="n3pufa">N-3 PUFA</option>-->
                <option value="prasugrel">Prasugrel</option>
                <option value="rivaroxaban">Rivaroxaban</option>
                <!--<option value="rosuvastatina">Rosuvastatina </option> -->
                <option value="sglt">SGLT-2</option>
                <!--<option value="simvastatinaezetimibe">Simvastatina-ezetimibe</option> -->
                <option value="ticagrelor60">Ticagrelor 60mg</option>
                <option value="ticagrelor90">Ticagrelor 90mg</option>
                <option value="tresiba">Tresiba</option>
              </select>
            </div>
          </CCol>
          <CCol sm="12" md="3" lg="3">
            <CButton @click="caricapianiTerapeutici()" color="info"><span><i class="fas fa-filter"></i>Filtra</span></CButton>
          </CCol>
        </CRow>

            <!-- Table PianoTerapeutico -->
             <vuetable ref="vuetable"
                :api-mode="false"
                :fields="fields"
                :per-page="perPage"
                :data-manager="dataManager"
                no-data-template="Nessun Risultato"
                pagination-path="pagination"
                :css="css.table"
                @vuetable:pagination-data="onPaginationData">
          <div  slot="actions" slot-scope="props" class="text-right">
            <div class="text-right dropdown p-0">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Visualizza Azioni
                  </button>
                  <div class="dropdown-menu-custom dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <span v-if="User.role!='paziente'">
                       <CButton  class="btn-block btn text-left"  @click="apriPianoTerapuetico(props.rowData.idPianoTerapeutico)">
                        <fa icon="edit"></fa> Modifica Piano Terapeutico
                      </CButton>
                    </span>
                    <span>
                        <CButton class="btn-block btn text-left" @click="stampa(props.rowData.idPianoTerapeutico)">
                          <fa icon="print"></fa> Stampa Piano
                        </CButton>
                    </span>
                    <span v-if="User.role!='paziente'">
                      <CButton  @click="apriConferma(props.rowData.idPianoTerapeutico)">
                        <fa icon="trash"></fa> Cancella Piano Terapeutico
                      </CButton>
                    </span>
                  </div>
                </div>
        </div>
      </vuetable>
      <vuetable-pagination-info ref="paginationInfo" info-template="Visualizzati da {from} a {to} di {total} totali" no-data-template="Nessun Risultato"
          ></vuetable-pagination-info>
      <div style="padding-top:10px">
        <vuetable-pagination ref="pagination" :css="css.pagination" @vuetable-pagination:change-page="onChangePage" />
      </div>
      <!--Fine Table PianoTerapeutico -->
          </CCardBody>
        </CCard>
      </CCol>
     </CRow>  <!--FINE SEZIONE Piani-->

     <!-- MODAL CANCELLAZIONE -->
    <CModal
      title="Conferma Cancellazione"
      color="danger"
      :show.sync="modalConferma">
      Sei sicuro?
      <template #footer>
        <CButton color="default" @click="modalConferma = false">
          Chiudi
        </CButton>
        <CButton color="danger" @click="cancellaPiano()">
          Conferma
        </CButton>
      </template>
    </CModal>


  </div>



</template>

<script>

  import axios from 'axios'
  import Form from 'vform'
  import Vuetable from 'vuetable-2/src/components/Vuetable'
  import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
  import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
  import TableStyle from '~/plugins/table.js'
  import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'


import { mapGetters, mapMutations, mapActions } from 'vuex'


export default {
  name: 'Piani',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    PazienteSelezionato
  },

  data () {
    return {
      idPianoTerapeutico: '',
      pianiterapuetici: '',
      modalConferma: false,
      css: TableStyle,
      data: [],
      formRicerca : new Form(
        {
            codicepianoterapeutico: 0,
        }
      ),
      fields: [
        {
          name: 'codicePianoTerapeutico',
          title: 'Codice Piano Terapeutico',
          sortField: 'codicePianoTerapeutico'
        },
        {
          name : 'created_at',
          title: 'Data',
          sortField: 'created_at',
           formatter: (value) => {
              return this.$date(value, "DD/M/YYYY");
          }
        },
        {
         name: 'actions',
         title: 'Azioni'
        }
      ],
      perPage: 5,
    }
  },

  computed: {
    ...mapGetters({
       paziente: 'pazienti/getPaziente',
       User: 'auth/user'
    })
  },

  mounted () {
    this.caricapianiTerapeutici();

    if(this.idPaziente == ''){
      this.$router.push('home');
    }

  },

  //WATCH TABELLA
  watch: {
    data (newVal, oldVal) {
      this.$refs.vuetable.refresh()
    }
  },

/*
  METODI
*/
  methods: {

    apriConferma(idPianoTerapeutico){
      this.idPianoTerapeutico = idPianoTerapeutico,
      this.modalConferma = true
    },

    stampa(id){
      window.open("../../api/stampa-piano/"+id);
    },

    inserisciPianoTerapeutico(){
      this.$router.push({path:'paziente/pianoterapeutico'})
      //let routeData = this.$router.resolve({path: 'paziente/pianoterapeutico'});
      //window.open(routeData.href, '_blank');
    },

    apriPianoTerapuetico(id){
      this.$router.push({path:'paziente/pianoterapeutico/'+ id})
      //let routeData = this.$router.resolve({path: 'paziente/pianoterapeutico'});
      //window.open(routeData.href, '_blank');
    },

    caricapianiTerapeutici(){
      this.$store.commit('private/setPreload', true)
      var url = '/api/pianiterapeutici/'+ this.paziente.idUser;
      axios.get(url,{
        params: {
          'codicepianoterapeutico': this.formRicerca.codicepianoterapeutico
        }
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.data = res.data['0'];
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },

    cancellaPiano(){
      this.$store.commit('private/setPreload', true)
      var url = '/api/pianoterapeutico/'+ this.paziente.idUser+'/'+ this.idPianoTerapeutico;
      axios.delete(url)
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data.success === true) {
            this.$store.commit('private/setMessaggioSuccesso', 'Cancellazione Risucita')
            this.modalConferma = false;
            this.caricapianiTerapeutici()
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },

    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },

    removeRow (id) {
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].id == id) {
          this.data.splice(i, 1)
          break
        }
      }
    },

    aggiornaRow(){
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].id == this.idUtente) {
          this.data[i]=this.formUtente;
           this.$refs.vuetable.refresh()
          break
        }
      }
    },


    dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    }

  }
}
</script>

<style>
</style>
