<template>
<div>

<PazienteSelezionato></PazienteSelezionato>
<CRow>
    <CCol sm="12" class="mt-2">
        <CCard>
    <CCardHeader><h4>Piano Terapeutico</h4></CCardHeader>
    <CCardBody>
        <CRow>
            <CCol sm="3">
                <div class="form-group">
                <label for="codicePianoTerapeutico">Farmaco da Prescrivere</label>
                <select  class="form-control" id="codicePianoTerapeutico" v-model="formPianoterapeutico.codicePianoTerapeutico" :disabled="disabled" name="codicePianoTerapeutico"  @change="selectPianoTerapeutico($event)">
                <option value=""></option>
                <option value="dronedarone">Dronedarone</option>
                <!-- <option value="entresto">Entresto</option> -->
                <option value="generico">Generico </option>
                <option value="inda">Indacaterolo/Glicopirroni - Umeclidinio/Vilanterolo </option>
                <option value="ipa">IPA</option>
                <option value="lokelma">Lokelma</option>
                <!--<option value="n3pufa">N-3 PUFA</option>-->
                <!--<option value="prasugrel">Prasugrel</option> -->
                <option value="rivaroxaban">Rivaroxaban 2,5mg</option>
                <!--<option value="rosuvastatina">Rosuvastatina </option>-->
                <option value="sglt">SGLT-2</option>
                <!--<option value="simvastatinaezetimibe">Simvastatina-ezetimibe</option>-->
                <option value="ticagrelor60">Ticagrelor 60mg</option>
                <option value="ticagrelor90">Ticagrelor 90mg</option>
                <option value="tresiba">Tresiba</option>

                 </select>
                </div>
            </CCol>
            <CCol sm="12" class="mt-3">
            <form  ref="formPianoterapeutico" id="formPianoterapeutico">
            <component ref="componentePiano" v-on:aggiornaPiano="aggiornaFormPiano" v-bind:is="formPianoterapeutico.codicePianoTerapeutico" />
            </form>
            </CCol>
            <CCol sm="12" class="mt-3">
            <h5><b>Dose e durata del trattamento</b></h5>
            </CCol>
            <CCol sm="3">
              <CInput v-model="formPianoterapeutico.dose" label="Dose" name="dose"></CInput>
            </CCol>
            <CCol sm="3">
              <CInput  v-model="formPianoterapeutico.validi" label="Validità della scheda di monitoraggio" name="validi"></CInput>
            </CCol>
            <CCol sm="3">
              <CInput  v-model="formPianoterapeutico.confe" type="number" label="Numero di confezione di validità" name="confe"></CInput>
            </CCol>
            <CCol sm="6">
              <label>Indicare se: </label> <br/>
              <input type="radio" v-model="formPianoterapeutico.indi"  id="prima" name="indi" value="prima">
              <label for="prima">Prima prescrizione</label>
              <input type="radio" v-model="formPianoterapeutico.indi" id="prosecuzione" name="indi" value="prosecuzione">
              <label for="prosecuzione">Prosecuzione della cura</label>
            </CCol>
            <CCol sm="12" class="mt-2">
              <div class="box_piano">
               <input type="checkbox" v-model="formPianoterapeutico.switch_check" id="switch_check" name="switch_check">
               <label for="switch_check">Switch di terapia per : </label><br>
               </div>
               <div v-show="formPianoterapeutico.switch_check==true">
                <input type="radio"  v-model="formPianoterapeutico.switch" id="reazione" name="switch" value="reazione">
                <label for="reazione">Reazione avversa</label>
                <input type="radio"  v-model="formPianoterapeutico.switch" id="mancata" name="switch" value="mancata">
                <label for="mancata">Mancata efficacia</label>
              </div>
            </CCol>
            <CCol sm="12" class="mt-3">
              <h5>In caso di switch di terapia indicare il/i farmaco/i e relativa durata di terapia:</h5>
            </CCol>


            <CCol sm="6">
                <CInput  v-model="formPianoterapeutico.farmaco_1" label="Farmaco" name="farmaco_1"></CInput>
            </CCol>

            <CCol sm="6">
                <CInput v-model="formPianoterapeutico.durata_1" label="Durata" name="durata_1"></CInput>
            </CCol>

            <CCol sm="6">
                <CInput v-model="formPianoterapeutico.farmaco_2" label="Farmaco" name="farmaco_2"></CInput>
            </CCol>
            <CCol sm="6">
                <CInput v-model="formPianoterapeutico.durata_2" label="Durata" name="durata_2"></CInput>
            </CCol>

            <CCol sm="6">
                <CInput v-model="formPianoterapeutico.farmaco_3" label="Farmaco" name="farmaco_3"></CInput>
            </CCol>

            <CCol sm="6">
                <CInput v-model="formPianoterapeutico.durata_3" label="Durata" name="durata_3"></CInput>
            </CCol>

            <CCol sm="12">
                 <CButton v-if="operazione == 'inserimento'" color="success" class="btn btn-block btn-primary" @click="inserisciPianoTerapeutico()">
                    <i class="fas fa-plus"></i> Salva Piano Terapeutico
                </CButton>
                <CButton v-if="operazione == 'modifica'" color="success" class="btn btn-block  btn-primary" @click="modificaPianoTerapeutico()">
                    Salva Piano Terapeutico
                </CButton>
            </CCol>

        </CRow>
    </CCardBody>
</CCard>
    </CCol>
</CRow>

</div>



</template>


<script>

import axios from 'axios'
import Form from 'vform'
import vSelect from 'vue-select'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'

import ticagrelor90 from '~/pages/private/pazienti/piani/ticagrelor90.vue'
import ipa from '~/pages/private/pazienti/piani/ipa.vue'
import prasugrel from '~/pages/private/pazienti/piani/prasugrel.vue'
import ticagrelor60 from '~/pages/private/pazienti/piani/ticagrelor60.vue'
import simvastatinaezetimibe from '~/pages/private/pazienti/piani/simvastatinaezetimibe.vue'
import entresto from '~/pages/private/pazienti/piani/entresto.vue'
import n3pufa from '~/pages/private/pazienti/piani/n3pufa.vue'
import rosuvastatina from '~/pages/private/pazienti/piani/rosuvastatina.vue'
import rivaroxaban from '~/pages/private/pazienti/piani/rivaroxaban.vue'
import dronedarone from '~/pages/private/pazienti/piani/dronedarone.vue'
import tresiba from '~/pages/private/pazienti/piani/tresiba.vue'
import sglt from '~/pages/private/pazienti/piani/sglt.vue'
import inda from '~/pages/private/pazienti/piani/inda.vue'
import generico from '~/pages/private/pazienti/piani/generico.vue'
import lokelma from '~/pages/private/pazienti/piani/lokelma.vue'
import { mapGetters } from 'vuex'


    export default {
    name: 'Pianoterapeutico',
    components: {
        vSelect,
        Vuetable,
        VuetablePagination,
        VuetablePaginationInfo,
        vSelect,
        PazienteSelezionato,
        entresto,
        ticagrelor90,
        ticagrelor60,
        ipa,
        prasugrel,
        simvastatinaezetimibe,
        n3pufa,
        rosuvastatina,
        dronedarone,
        tresiba,
        sglt,
        inda,
        generico,
        lokelma,
        rivaroxaban
    },

    data () {
        return {
            idPianoTerapeutico: '',
            pianoTmp:{},
            operazione: '',
            disabled: false,
            formPianoterapeutico: new Form({
                codicePianoTerapeutico:'',
                dose: '',
                validi: '',
                confe: '',
                indi: '',
                switch_check: '',
                switch: '',
                farmaco_1: '',
                durata_1: '',
                farmaco_2: '',
                durata_2 : '',
                farmaco_3: '',
                durata_3: '',
                pianoterapeutico:''
            })
        }
    },


    computed: {
        ...mapGetters({
             paziente: 'pazienti/getPaziente',
             User: 'auth/user'
        })
    },

    mounted(){
        if(this.idPaziente == ''){
            this.$router.push({path:"/private/pazienti"});
        }

        if(this.$route.params.id != undefined){
            this.idPianoTerapeutico = this.$route.params.id;
            this.operazione = 'modifica';
            this.disabled = true;
            this.getPianoTerapeutico();
        }
        else{
            this.idPianoTerapeutico = '';
            this.operazione = 'inserimento';
        }

    },

/*
  METODI
*/
  methods: {

      //Torna Indietro
      goPaziente(){
          //this.$router.push({path:"/private/paziente"});
      },

      selectPianoTerapeutico(event){
        this.formPianoterapeutico.codicePianoTerapeutico = event.target.value
      },

        //AGGIORNA PIANO
        aggiornaFormPiano(){
        this.$refs.componentePiano.setPiano(this.pianoTmp);
        },

        /*
        INSERIMENTO NUOVO PIANO
        */
        inserisciPianoTerapeutico(){
            var url = '/api/pianoterapeutico/'+this.paziente.idUser;
            const formData = new FormData(document.getElementById("formPianoterapeutico"));
            let data = {};
            for (let [key, val] of formData.entries()) {
                Object.assign(data, { [key]: val })
            }
            this.formPianoterapeutico.pianoterapeutico=data;
            var payload = this.formPianoterapeutico;
            //payload.idPaziente=this.paziente.idUser;

            this.$store.commit('private/setPreload', true)
            axios.post(url,payload)
                .then(res => {
                this.$store.commit('private/setPreload', false)
                if(res.data.success){
                    this.$store.commit('private/setMessaggioSuccesso', 'Inserimento Riuscito')
                    this.formPianoterapeutico.reset();
                    this.$router.push({name: 'private.piani_terapeutici'});
                }
                else {
                this.$store.commit('private/setMessaggioErrore', res.data.message)
                }
                })
                .catch(err => {
                    console.log(err);
                    this.$store.commit('private/setPreload', false)
                    this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
                })
        },


        /* MODIFICA PIANO TERAPEUTICO */
        modificaPianoTerapeutico(){
            var url = '/api/pianoterapeutico/'+this.paziente.idUser+'/'+this.idPianoTerapeutico;
            const formData = new FormData(document.getElementById("formPianoterapeutico"));
            let data = {};
            for (let [key, val] of formData.entries()) {
                Object.assign(data, { [key]: val })
            }
            this.formPianoterapeutico.pianoterapeutico=data;
            var payload = this.formPianoterapeutico;

                axios.put(url,payload)
                    .then(res => {
                    this.$store.commit('private/setPreload', false)
                        if (res.data.success) {
                             this.$store.commit('private/setMessaggioSuccesso', 'Aggiornamento Riuscito')
                             this.$router.push({name: 'private.piani_terapeutici'});
                        } else {
                            this.$store.commit('private/setMessaggioErrore', res.data.message)
                        }
                    })
                    .catch(err => {
                        console.log(err)
                        this.$store.commit('private/setPreload', false)
                        this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
                    })
            },


        /*
        CARICAMENTO PIANO
        */
        getPianoTerapeutico(){
            var url = '/api/pianoterapeutico/'+this.paziente.idUser+'/'+this.idPianoTerapeutico;
            axios.get(url)
                .then(res => {
                this.$store.commit('private/setPreload', false)
                    if (res.data) {
                        this.formPianoterapeutico.fill(res.data['0'].piano);
                        this.formPianoterapeutico.codicePianoTerapeutico = res.data['0'].codicePianoTerapeutico;
                        this.pianoTmp=res.data['0'].piano.pianoterapeutico;

                    } else {
                        this.$store.commit('private/setMessaggioErrore', res.data.message)
                    }
                })
                .catch(err => {
                    console.log(err)
                    this.$store.commit('private/setPreload', false)
                    this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
                })
        }
     }
    }
 </script>
