<template>
<div>
  <PazienteSelezionato></PazienteSelezionato>
  <CRow>
    <CCol sm="12">
      <CCard>
        <CCardHeader>
          <CRow>
          <CCol sm="12" class="text-right">
              <CButton v-if="User.role=='medico'" color="success" @click="inserisciPrescrizioni()"><fa icon="plus"></fa> Aggiungi Prescrizione</CButton>
          </CCol>
          </CRow>
        </CCardHeader>
        <CCardBody>
          <CRow>
            <CCol sm="12">
                <!--SEZIONE TABELLA  RICHIESTA-->
          <vuetable ref="vuetable"
                :api-mode="false"
                :fields="fields"
                :per-page="perPage"
                :data-manager="dataManager"
                no-data-template="Nessun Risultato"
                pagination-path="pagination"
                :css="css.table"
                @vuetable:pagination-data="onPaginationData">
                <div slot="actions" slot-scope="props" class="text-right">

                  <div  v-if="User.role=='medico'">
                    <CButton  v-c-tooltip="'Modifica Prescrizione'" color="success" @click="goPrescrizione(props.rowData.idPrescrizione)">
                        <fa icon="edit"></fa>
                    </CButton>
                    <CButton  v-c-tooltip="'Stampa Prescrizione'" color="warning" @click="stampa(props.rowData.idPrescrizione)">
                      <fa icon="print"></fa>
                    </CButton>
                    <CButton  v-c-tooltip="'Cancella Prescrizione'" color="danger" @click="apriConferma(props.rowData.idPrescrizione)">
                      <fa icon="trash"></fa>
                    </CButton>
                  </div>

                  <div v-if="User.role == 'paziente' && props.rowData.stato !== 0">
                    <CButton v-c-tooltip="'Vedi Prescrizione'" color="info" @click="goPrescrizione(props.rowData.idPrescrizione)">
                      <fa icon="file-medical"></fa>
                    </CButton>
                    <CButton  v-c-tooltip="'Stampa Prescrizione'" color="warning" @click="stampa(props.rowData.idPrescrizione)">
                      <fa icon="print"></fa>
                    </CButton>
                  </div>
                  
                  <div v-if="User.role == 'paziente' && props.rowData.stato == 0">
                     <CButton color="info" @click="apriModalCodice(props.rowData.idPrescrizione)">
                      <fa icon="unlock"></fa> Accedi alla prescrizione
                    </CButton>
                  </div>

              </div>
              </vuetable>
              <vuetable-pagination-info ref="paginationInfo" info-template="Visualizzati da {from} a {to} di {total} totali" no-data-template="Nessun Risultato"
                  ></vuetable-pagination-info>
              <div style="padding-top:10px">
                <vuetable-pagination ref="pagination" :css="css.pagination" @vuetable-pagination:change-page="onChangePage" />
              </div>
            </CCol>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>

    <CModal
      title="Accedi alla prescrizione"
      color="info"
      :show.sync="modalCodice"
      :closeOnBackdrop="false">

      <CRow>
          <CCol sm="12" class="text-right" v-if="statoOttieniCodice == 0">
              <CButton color="info" class="btn-block text-uppercase" @click="ottieniCodice()"><b>Ottieni Codice tramite email</b></CButton>
          </CCol>
          <CCol sm="12" v-else>
            <form id="formCodice" @submit.prevent="inviaCodice()">
              <CRow>
                <CCol sm="12">
                    <p class="text-info text-uppercase text-center"><b>CONTROLLA LA TUA CASELLA EMAIL PER ACCEDERE ALLA PRESCRIZIONE</b></p>
                </CCol>
                <CCol sm="12">
                  <div class="form-group">
                    <label>Codice</label>
                    <input type="text" name="codice" class="form-control" placeholder="Inserisci il codice di 6 cifre" pattern="^[0-9]{6}$" maxlength="6" autocomplete="off" required/>
                  </div>
                </CCol>
                <CCol sm="12">
                    <CButton  type="submit" color="success" class="btn-block text-uppercase"> <b>Accedi alla prescrizione</b> </CButton>
                </CCol>
              </CRow>
            </form>
          </CCol>
      </CRow>
      <template #footer>
        <CButton color="default" @click="modalCodice = false">
          Chiudi
        </CButton>
      </template>
    </CModal>

    <CModal
      title="Conferma Cancellazione"
      color="danger"
      :show.sync="modalConferma">
      Sei sicuro?
      <template #footer>
        <CButton color="default" @click="modalConferma = false">
          Chiudi
        </CButton>
        <CButton color="danger" @click="cancellaPrescrizione()">
          Conferma
        </CButton>
      </template>
    </CModal>
</div>
</template>

<script>
import axios from 'axios'
import Form from 'vform'
import vSelect from 'vue-select'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'
import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
  name: 'Prescrizioni',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    vSelect,
    PazienteSelezionato
  },

  data () {
    return {
      modalCodice: false,
      statoOttieniCodice: 0,
      modalConferma: false,
      modalPrescrizione: false,
      css:TableStyle,
      idPrescrizione: '',
      idMedico: '',
      titlemodal:'',
      statomodal: '',
      dataInizio: '',
      dataFine: '',
      data: [],
      disabled: false,
      perPage: 5,
      fields: [
        {
          title: 'Data Prescrizione',
          name: 'created_at',
          sortField: false,
          formatter: (value) => {
              return this.$date(value, "DD/M/YYYY");
            }
        },
        {
          title: 'Medico',
          name: 'name',
          sortField: true,
        },
        {
          name: 'actions',
          title: 'Azioni',
          sortField: false
        },
      ]
    }
  },

  computed: {
   ...mapGetters({
      paziente: 'pazienti/getPaziente',
      User: 'auth/user'
   })
  },

  mounted () {

    if(this.idPaziente == ''){
      this.$router.push('home');
    }

    this.caricaPrescrizioni()

  },



//WATCH TABELLA
  watch: {
    data (newVal, oldVal) {
      this.$refs.vuetable.refresh()
    }
  },
/*
  METODI
*/
  methods: {

    getFormattedData(data){
        return this.$date(data, "DD/M/YYYY");
    },

    inserisciPrescrizioni(){
      this.$router.push({name:'private.prescrizione'})
    },

    goPrescrizione(idPrescrizione){
      this.$router.push({name:'private.prescrizione',params:{'idPrescrizione':idPrescrizione}})
    },

    /** APRI MODAL CODICE */
    apriModalCodice(idPrescrizione){

      this.statoOttieniCodice = 0

      this.modalCodice = true
      this.idPrescrizione =  idPrescrizione
    },

    /** INVIA CODICE */
    inviaCodice(){
        this.$store.commit('private/setPreload', true)

        var url='api/check-codice'

        const formData = new FormData(document.getElementById("formCodice"));

        let data = {};

        for (let [key, val] of formData.entries()) {
          Object.assign(data, { [key]: val })
        }

        var payload = data

        axios.post(url,{
          idPrescrizione: this.idPrescrizione,
          codice: payload.codice,
        })
         .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data.success === true) {
            this.$store.commit('private/setMessaggioSuccesso', 'Prescrizione Sbloccata')
            this.modalCodice = false
            this.caricaPrescrizioni()
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          console.log(err);
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore')
        })
    },


    /** OTTIENI CODICE */
    ottieniCodice(){
        this.$store.commit('private/setPreload', true)
        var url='api/codice-prescrizione/'+ this.idPrescrizione

        axios.get(url)
         .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data.success === true) {
            this.$store.commit('private/setMessaggioSuccesso', 'Email Inviata')
            this.statoOttieniCodice = 1 
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          console.log(err);
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore')
        })
    },

    /*CARICAMENTO PRESCRIZIONI*/
    caricaPrescrizioni(){
        this.$store.commit('private/setPreload', true)
        var url='api/prescrizioni/'+this.paziente.idUser
        axios.get(url,{
          params: {
            dataInizio: this.dataInizio,
            dataFine: this.dataFine,
          }
        })
         .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.data = res.data['0']
          } else {
            this.$store.commit('private/ setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          console.log(err);
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },

    /** APRI CONFERMA CANCELLAZIONE */
    apriConferma(idPrescrizione){
      this.modalConferma = true;
      this.idPrescrizione = idPrescrizione;
    },


    /** STAMPA PRESCRIZIONE */
    stampa(idPrescrizione){
      window.open('../../api/stampa-prescrizione/'+idPrescrizione)
    },


    /** CANCELLA PRESCRIZIONE */
    cancellaPrescrizione(){
        this.$store.commit('private/setPreload', true)
        var url='api/prescrizione/'+this.paziente.idUser+'/'+this.idPrescrizione
        axios.delete(url)
         .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data.success === true) {
              this.caricaPrescrizioni();
              this.modalConferma = false
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },


  /*
    FUNZIONI PER LA TABELLA
  */
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },



    dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    }

  }
}
</script>

<style>
</style>
