<template>
<div>
    <PazienteSelezionato></PazienteSelezionato>
    <CRow>
        <CCol sm="12" class="mt-2">
            <CCard v-if="User.role == 'medico'">
                <CCardHeader><h4>Prescrizione</h4></CCardHeader>
                <CCardBody>
                    <CRow>
                        <CCol sm="12">
                            <label>Farmaci Della Terapia Corrente</label>
                            <select v-model="farmaco_terapia" name="farmaco" id="" class="form-control text-uppercase">
                                <option v-for="(farmaco) in farmaci_terapia" :key="farmaco.key" :value="farmaco">{{farmaco.farmaco}}</option>
                                <option value="altro">Altro</option>
                            </select>
                        </CCol>
                        <CCol sm="12" v-if="farmaco_terapia == 'altro'">
                            <div class="form-group position-relative mt-3">
                                <label>Principio Attivo</label>
                                <input class="form-control" @input="cercaFarmaco()" v-model="filtroFarmaco" type="text">
                                <div v-show="farmaci.length" class="float_box shadow" style="">
                                <div  class="close" @click="farmaci=''"><i class="fas fa-times"></i></div>
                                <div class="ricerca-item" v-for="farmaco in farmaci" :key="farmaco.id_principio" @click="selezionaFarmaco(farmaco)">{{farmaco.nomePrincipio}}</div>
                                </div>
                            </div>
                        </CCol>
                        <CCol sm="12">
                            <CButton  v-if="User.role == 'medico'" color="info" class="btn-block mt-3" @click="aggiungiFarmaco()">Aggiungi Farmaco alla prescrizione</CButton>
                        </CCol>
                    </CRow>
                </CCardBody>
            </CCard>
        </CCol>
    </CRow>
    <!-- START TABLE FARMACI PRESCRIZION -->
    <form id="formPrescrizione" @submit.prevent="idPrescrizione == null ? inserisciPrescrizione() : aggiornaPrescrizione()">
    <CRow>
        <CCol sm="12">
            <h4 class="sub_heading">Lista Farmaci</h4>
        </CCol>
    </CRow>
    <CRow>
        <CCol sm="12">
          <div v-if="farmaci_prescrizione.length==0">
            Nessun Farmaco Selezionato
          </div>
            <div id="accordion"  v-for="(farmaco, index) in farmaci_prescrizione" :key="index">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button type="button" class="btn  text-left btn-block" data-toggle="collapse" :data-target="'#collapse_'+index" aria-expanded="true" :aria-controls="'#collapse_'+index">
                                <h6 class="text-uppercase font-weight-600"> {{farmaco.farmaco}} </h6>
                            </button>
                        </h5>
                    </div>
                    <div :id="'collapse_'+index"  class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <input type="hidden" :name="'farmaco_'+index" :value="farmaco.farmaco">
                            <CRow>
                                <CCol class="col-3">
                                    <CInput label="Dosaggio" :disabled="User.role =='paziente'"  :name="'dosaggio_'+index" :value="farmaco.dosaggio"></CInput>
                                </CCol>
                                <CCol class="col-3">
                                    <CInput label="Somministrazione" :disabled="User.role =='paziente'" :name="'somministrazione_'+index" :value="farmaco.somministrazione"></CInput>
                                </CCol>
                                <CCol class="col-3">
                                    <CInput label="Numero e Orario Somministrazione" :disabled="User.role =='paziente'" :name="'numero_orario_somministrazione_'+index" :value="farmaco.numero_orario_somministrazione"></CInput>
                                </CCol>
                                <CCol class="col-3">
                                    <CInput label="Durata Trattamento" :disabled="User.role =='paziente'" :name="'durata_trattamento_'+index" :value="farmaco.durata_trattamento"></CInput>
                                </CCol>
                                <CCol class="col-3">
                                    <label>A carico dell'SSN</label>
                                    <select class="form-control" :name="'ssn_'+index" :value="farmaco.ssn" :disabled="User.role =='paziente'">
                                        <option value="0">No</option>
                                        <option value="1">Sì</option>
                                    </select>
                                </CCol>
                                <CCol class="col-12 mt-3 text-right">
                                    <CButton v-c-tooltip="'Rimuovi Farmaco'" color="danger" @click="rimuoviFarmaco(index)" v-if="User.role == 'medico'"> <fa icon="trash"></fa></CButton>
                                </CCol>
                            </CRow>
                        </div>
                    </div>
                </div>
            </div>
        </CCol>
    </CRow>
    <CRow>
        <CCol sm="12" class="mt-3">
            <CButton class="btn-block" color="primary" type="submit" v-if="User.role == 'medico'">{{idPrescrizione == null ? 'Salva Prescrizione' : 'Aggiorna Prescrizione'}}</CButton>
        </CCol>
    </CRow>
    </form>

</div>



</template>


<script>

import axios from 'axios'
import Form from 'vform'
import vSelect from 'vue-select'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'


import { mapGetters } from 'vuex'


    export default {
    name: 'Prescrizione',
    components: {
        vSelect,
        Vuetable,
        VuetablePagination,
        VuetablePaginationInfo,
        vSelect,
        PazienteSelezionato,
    },

    data () {
        return {
            idPrescrizione: '',
            farmaci_terapia: '',
            farmaco_terapia: '',
            filtroFarmaco: '',
            farmaci: '',
            farmaci_prescrizione: []
        }
    },


    computed: {
        ...mapGetters({
             paziente: 'pazienti/getPaziente',
             User: 'auth/user'
        })
    },

    mounted(){

        if(this.paziente.idUser == ''){
             this.$router.push({name: 'home'});
        }

        if(this.paziente.idUser != ''){
            this.caricaTerapia();
        }


        if(this.$route.params.idPrescrizione != undefined){
            this.idPrescrizione = this.$route.params.idPrescrizione
            this.caricaPrescrizione()
        }
        else{
            this.idPrescrizione = null
        }


    },

/*
  METODI
*/
  methods: {

    caricaTerapia(){
    this.$store.commit('private/setPreload', true)
      var url = '/api/terapia-paziente/'+this.paziente.idUser;
      axios.get(url)
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.farmaci_terapia= res.data['0']
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          console.log(err)
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },


    /** CARICA PRESCRIZIONE */
    caricaPrescrizione(){
        this.$store.commit('private/setPreload', true)
        var url = '/api/prescrizione/'+ this.idPrescrizione;
        axios.get(url)
            .then(res => {
            this.$store.commit('private/setPreload', false)
            if (res.data) {
                this.farmaci_prescrizione= res.data['0']['0'].farmaci
            } else {
                this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
            })
            .catch(err => {
            console.log(err)
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
            })
        },


    cercaFarmaco: _.debounce(function (e) {
      if(this.filtroFarmaco.length<3){
        return;
      }
      this.$store.commit('private/setPreload', true)
      var url = '/api/principi';
      axios.get(url,{
        params: {
          nome: this.filtroFarmaco
        }
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data){
            this.farmaci = res.data['0']
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },300),

    selezionaFarmaco(farmaco){
      this.filtroFarmaco=farmaco.nomePrincipio;
      this.farmaci='';
    },

    /** AGGIUNGI FARMACO */
    aggiungiFarmaco(){

        var principio_attivo = ''

        if(this.farmaco_terapia != 'altro'){
            principio_attivo = this.farmaco_terapia.farmaco
        }

        if(this.farmaco_terapia == 'altro'){
            principio_attivo = this.filtroFarmaco
        }

        var farmaco = {
            'key':(new Date()).getTime(),
            'dosaggio': this.farmaco_terapia.dosaggio,
            'durata_trattamento': this.farmaco_terapia.durata_trattamento,
            'farmaco': principio_attivo,
            'numero_orario_somministrazione': this.farmaco_terapia.numero_orario_somministrazione,
            'somministrazione': this.farmaco_terapia.somministrazione,
            'ssn': this.farmaco_terapia.ssn
        }

        this.farmaci_prescrizione.push(farmaco)


    },

    /** RIMUOVI FARMACO */
    rimuoviFarmaco(index){
        this.farmaci_prescrizione.splice(index,1)
    },

    /** INSERISCI PRESCRIZIONE */
    inserisciPrescrizione(){
        var url = '/api/prescrizione/'+this.paziente.idUser;
        const formData = new FormData(document.getElementById("formPrescrizione"));
        let data = {};
        for (let [key, val] of formData.entries()) {
            Object.assign(data, { [key]: val })
        }

        var payload = data;
        payload.numero_farmaci = this.farmaci_prescrizione.length


        this.$store.commit('private/setPreload', true)
        axios.post(url,payload)
            .then(res => {
            this.$store.commit('private/setPreload', false)
            if(res.data.success){
                this.$store.commit('private/setMessaggioSuccesso', 'Inserimento Riuscito')
            }
            else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
            })
            .catch(err => {
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
            })
        },

        aggiornaPrescrizione(){
        var url = '/api/prescrizione/'+this.paziente.idUser+'/'+ this.idPrescrizione;
        const formData = new FormData(document.getElementById("formPrescrizione"));
        let data = {};

        for (let [key, val] of formData.entries()) {
            Object.assign(data, { [key]: val })
        }

        var payload = data;
        payload.numero_farmaci = this.farmaci_prescrizione.length

        this.$store.commit('private/setPreload', true)
        axios.put(url,payload)
            .then(res => {
            this.$store.commit('private/setPreload', false)
            if(res.data.success){
                this.$store.commit('private/setMessaggioSuccesso', 'Aggiornamento Riuscito')
            }
            else {
                this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
            })
            .catch(err => {
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore')
            })
        },



      }
    }
 </script>
