<template>
<div>
    <PazienteSelezionato></PazienteSelezionato>
    <CRow>
        <CCol sm="12" class="mt-2">
            <CCard v-if="User.role == 'medico' && idPrescrizioneEsame == ''">
                <CCardHeader><h4>Prescrizione Esame</h4></CCardHeader>
                <CCardBody>
                   <CRow>
                       <CCol sm="4">
                           <div class="form-group">
                               <label for="data_scadenza">Data Scadenza</label>
                               <input type="date" class="form-control"  name="data_scadenza" id="" v-model="data_scadenza" :disabled="idPrescrizioneEsame != ''">
                           </div>
                       </CCol>
                        <CCol sm="12">
                            <CTextarea label="Dettagli Prescrizione" v-model="dettagli_esame" name="dettagli_esame"></CTextarea>
                       </CCol>
                       <CCol sm="12">
                            <table class="table_prescrizione esami table table-bordered mt-4">
                                <tr>
                                    <th>Nome Esame</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th colspan="2" class="text-center text-uppercase">Esami Laboratorio</th>
                                </tr>
                                <tr  v-for="(esame,index) in esami_laboratorio" :id="'esame_laboratorio_'+esame.value" :key="'esami_laboratorio_'+index">
                                    <td class="colonna_label_esame text-uppercase">
                                        <label class="for_checkbox" :for="esame.value">{{esame.label}}</label>   
                                        <div v-show="esami_laboratorio_selezionati.includes(esame.value)" class="wrapper_sottochiavi mt-3">
                                            <div class="sottochiave" v-for="(chiave,index) in esame.chiavi" :key="'sotto_chiavi_esami_laboratorio'+index">                                       
                                                <div class="form-group">
                                                    <label class="for_checkbox" :for="chiave.value">{{chiave.label}}</label>
                                                </div>
                                                <div>
                                                    <input class="checkbox_esame" type="checkbox" :name="chiave.value" :id="chiave.value" :value="chiave.value">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="box_piano">
                                             <input type="checkbox" :name="esame.value" :id="esame.value" :value="esame.value" v-model="esami_laboratorio_selezionati">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2" class="text-center text-uppercase">Esami Strumentali</th>
                                </tr>
                                 <tr v-for="(esame,index) in esami_strumentali" :id="'esame_strumentale_'+esame.value" :key="'esami_strumentali'+index">
                                    <td class="text-uppercase">
                                       <label :for="esame.value"> {{esame.label}} </label> 
                                           <div v-show="esami_strumentali_selezionati.includes(esame.value)" class="wrapper_sottochiavi mt-3">
                                            <div class="sottochiave_esame_strumentale" v-for="(chiave,index) in esame.chiavi" :key="'sotto_chiavi_esami_strumentali'+index">                                       
                                                <div class="form-group">
                                                    <label class="for_checkbox" :for="chiave.value">{{chiave.label}}</label>
                                                </div>
                                                <div>
                                                    <input class="checkbox_esame_strumentale" type="checkbox" :name="chiave.value" :id="chiave.value" :value="chiave.value">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="box_piano">
                                             <input type="checkbox" :name="esame.value" :id="esame.value" :value="esame.value" v-model="esami_strumentali_selezionati">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                       </CCol>
                        <CCol sm="12">
                           <CButton class="btn-block" @click="inserisciPrescrizione()" color="success">Salva Prescrizione Esami</CButton>
                       </CCol>
                   </CRow>
                </CCardBody>
            </CCard>
        </CCol>
    </CRow>


    <CRow v-if="idPrescrizioneEsame!=''">
        <CCol sm="6">
            <CCard>
            <CCardHeader>
                <h4>Esami Laboratorio</h4>
            </CCardHeader>
            <CCardBody>
                <CRow>
                    <CCol sm="6" v-for="(esame,index) in prescrizione.esami.esami_laboratorio" :key="'prescrizione_es_lab'+index">
                        <CCard>
                            <CCardHeader><h5 class="text-uppercase">{{index | replaceunderscore}}</h5></CCardHeader>
                            <CCardBody>
                                    <CBadge color="primary" class="text-uppercase mr-2" shape="pill" v-for="(chiave,index) in esame.chiavi" :key="'es_lab_chiave'+ index">
                                        {{index | replaceunderscore}}
                                    </CBadge>
                            </CCardBody>
                        </CCard> 
                    </CCol>
                </CRow>
            </CCardBody>
            </CCard>
        </CCol>
        <CCol sm="6">
            <CCard>
              <CCardHeader><h4>Esami Strumentali</h4></CCardHeader>
            <CCardBody>
                <CRow>
                    <CCol sm="6"  v-for="(esame,index) in prescrizione.esami.esami_strumentali" :key="'prescrizione_es_strum'+index">
                        <CCard>
                            <CCardHeader><h5 class="text-uppercase">{{index | replaceunderscore}}</h5></CCardHeader>
                            <CCardBody>
                                    <CBadge color="primary" class="text-uppercase mr-2" shape="pill" v-for="(chiave,index) in esame.chiavi" :key="'es_lab_chiave'+ index">
                                        {{index | replaceunderscore}}
                                    </CBadge>
                            </CCardBody>
                        </CCard> 
                    </CCol>
                </CRow>
            </CCardBody>
            </CCard>
        </CCol>
    </CRow>

</div>



</template>


<script>

import axios from 'axios'
import Form from 'vform'
import vSelect from 'vue-select'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'
import EsamiLaboratorio from '~/components/json/esamilaboratorio.json'
import EsamiStrumentali from '~/components/json/esamistrumentali.json'
import { mapGetters } from 'vuex'


    export default {
    name: 'Prescrizione',
    components: {
        vSelect,
        Vuetable,
        VuetablePagination,
        VuetablePaginationInfo,
        vSelect,
        PazienteSelezionato,
    },

    data () {
        return {
            idPrescrizioneEsame: '',  
            prescrizione: {
                esami:{
                    esami_strumentali:{},
                    esami_laboratorio:{},
                }
            },
            esami_laboratorio_selezionati: [],
            esami_strumentali_selezionati: [],
            nome_esame: '',
            nome_prescrizione: '',
            data_scadenza:'',
            dettagli_esame: '',
            esami_laboratorio: EsamiLaboratorio,
            esami_strumentali: EsamiStrumentali,
        }
    },

    filters: {
        replaceunderscore: function (value){
        if(!value) return ''
        return value.replace(/_/g,' ');
        }
    },

    computed: {
        ...mapGetters({
             paziente: 'pazienti/getPaziente',
             User: 'auth/user'
        })
    },

    mounted(){

        if(this.paziente.idUser == ''){
             this.$router.push({name: 'home'});
        }

        if(this.$route.params.idPrescrizioneEsame != undefined){
            this.idPrescrizioneEsame = this.$route.params.idPrescrizioneEsame
            this.caricaPrescrizione()
        }

    },

/*
  METODI
*/
  methods: {


    /** RESET */
    reset(){
        this.dettagli_esame= ''
    },

    /** CARICA PRESCRIZIONE */
    caricaPrescrizione(){
        this.$store.commit('private/setPreload', true)
        var url = '/api/prescrizione-esami/'+ this.idPrescrizioneEsame;
        axios.get(url)
            .then(res => {
            this.$store.commit('private/setPreload', false)
            if (res.data) {
                this.$store.commit('private/setMessaggioSuccesso', 'Prescrizione Caricata')
                this.prescrizione = res.data
                /*
                this.esami_laboratorio_selezionati = res.data.esami.esami_laboratorio
                this.esami_strumentali_selezionati = res.data.esami.esami_strumentali
                this.data_scadenza = res.data.data_scadenza
                this.nome_prescrizione = res.data.nome_prescrizione
                */
            } else {
                this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
            })
            .catch(err => {
            console.log(err)
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
            })
        },

    
  /*
  INSERISCI PRESCRIZIONE
*/
    inserisciPrescrizione(){

        var url = '/api/prescrizione-esame/'+ this.paziente.idUser;
        var payload = {};
        var checked=false;
        payload.nome_prescrizione = this.nome_prescrizione
        payload.data_scadenza = this.data_scadenza
        let array_esami_final=new Object();
        let array_esami_st_final = new Object();

        for(var i=0; i<this.esami_laboratorio_selezionati.length; i++){

            array_esami_final[this.esami_laboratorio_selezionati[i]]={
                chiavi: {},
                stato: 'attesa'
            };

            var childDivs = document.getElementById('esame_laboratorio_'+this.esami_laboratorio_selezionati[i]).getElementsByClassName('sottochiave');
                for( var j=0; j< childDivs.length; j++ )
                {

                    if(childDivs[j].getElementsByClassName('checkbox_esame')[0].checked){ 
                        array_esami_final[this.esami_laboratorio_selezionati[i]]['chiavi'][childDivs[j].getElementsByClassName('checkbox_esame')[0].value] = true     
                    }
                }
        }

        for(var k=0; k<this.esami_strumentali_selezionati.length; k++){
            array_esami_st_final[this.esami_strumentali_selezionati[k]]={
                'chiavi': {},
                'stato': 'attesa'
            };

            var childDivsSt = document.getElementById('esame_strumentale_'+this.esami_strumentali_selezionati[k]).getElementsByClassName('sottochiave_esame_strumentale')

             for( var l=0; l<childDivsSt.length; l++ ){
                if(childDivsSt[l].getElementsByClassName('checkbox_esame_strumentale')[0].checked){
                 array_esami_st_final[this.esami_strumentali_selezionati[k]]['chiavi'][childDivsSt[l].getElementsByClassName('checkbox_esame_strumentale')[0].value]=true
                }
            }   
        }

        console.log(array_esami_final,array_esami_st_final)

        

        payload.esami = {
            'esami_laboratorio': array_esami_final,
            'esami_strumentali': array_esami_st_final
        }

        
        this.$store.commit('private/setPreload', true)
        axios.post(url,payload)
            .then(res => {
            this.$store.commit('private/setPreload', false)
            if(res.data.success){
                this.$store.commit('private/setMessaggioSuccesso', 'Inserimento Riuscito')
                this.$router.push({name: 'private.prescrizioni_esami'});
            }
            else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
            })
            .catch(err => {
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
            })
        },
/*
  AGGIORNAMENTO PRESCRIZIONE
*/
      aggiornaPrescrizione(){
        var url = '/api/prescrizione-esame/'+this.paziente.idUser+'/'+ this.idPrescrizioneEsame;
        const formData = new FormData(document.getElementById("formPrescrizione"));
        let data = {};

        for (let [key, val] of formData.entries()) {
            Object.assign(data, { [key]: val })
        }

        var payload = data;
        payload.nome_prescrizione = this.nome_prescrizione
        payload.numero_esami = this.prescrizioni_esami.length

        this.$store.commit('private/setPreload', true)
        axios.put(url,payload)
            .then(res => {
            this.$store.commit('private/setPreload', false)
            if(res.data.success){
                this.$store.commit('private/setMessaggioSuccesso', 'Aggiornamento Riuscito')
                this.$router.push({name: 'private.prescrizioni_esami'});
            }
            else {
                this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
            })
            .catch(err => {
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore')
            })
        },

      }
    }
 </script>
