<template>
<div>
  <PazienteSelezionato></PazienteSelezionato>
  <CRow>
    <CCol sm="12">
      <CCard>
        <CCardHeader>
          <CRow>
          <CCol sm="12" class="text-right">
              <CButton v-if="User.role=='medico'" color="success" @click="inserisciPrescrizioni()"><fa icon="plus"></fa> Aggiungi Prescrizione</CButton>
          </CCol>
          </CRow>
        </CCardHeader>
        <CCardBody>
          <CRow>
            <CCol sm="12">
                <!--SEZIONE TABELLA  RICHIESTA-->
          <vuetable ref="vuetable"
                :api-mode="false"
                :fields="fields"
                :per-page="perPage"
                :data-manager="dataManager"
                no-data-template="Nessun Risultato"
                pagination-path="pagination"
                :css="css.table"
                @vuetable:pagination-data="onPaginationData">
                <div slot="actions" slot-scope="props" class="text-right">
                  <div class="text-right dropdown p-0">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Visualizza Azioni
                    </button>
                    <div class="dropdown-menu-custom dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <span v-if="User.role=='medico'">
                        <CButton  class="btn-block btn text-left" @click="goPrescrizione(props.rowData.idPrescrizioneEsame)">
                            <fa icon="edit"></fa> Modifica Prescrizione
                        </CButton>
                      </span>
                      <span v-if="User.role=='paziente'">
                        <CButton  class="btn-block btn text-left"  @click="goPrescrizione(props.rowData.idPrescrizioneEsame)">
                          <fa icon="file-medical"></fa> Vedi Prescrizione
                        </CButton>
                      </span>
                      <span>
                        <CButton class="btn-block btn text-left" @click="stampa(props.rowData.idPrescrizioneEsame)">
                          <fa icon="print"></fa> Stampa Prescrizione
                        </CButton>
                      </span>
                      <span v-if="User.role=='medico'">
                        <CButton class="btn-block btn text-left" @click="apriConferma(props.rowData.idPrescrizioneEsame)">
                            <fa icon="trash"></fa> Cancella Prescrizione
                        </CButton>
                      </span>
                    </div>
                  </div>
              </div>
              </vuetable>
              <vuetable-pagination-info ref="paginationInfo" info-template="Visualizzati da {from} a {to} di {total} totali" no-data-template="Nessun Risultato"
                  ></vuetable-pagination-info>
              <div style="padding-top:10px">
                <vuetable-pagination ref="pagination" :css="css.pagination" @vuetable-pagination:change-page="onChangePage" />
              </div>
            </CCol>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>

    <CModal
      title="Conferma Cancellazione"
      color="danger"
      :show.sync="modalConferma">
      Sei sicuro?
      <template #footer>
        <CButton color="default" @click="modalConferma = false">
          Chiudi
        </CButton>
        <CButton color="danger" @click="cancellaPrescrizione()">
          Conferma
        </CButton>
      </template>
    </CModal>
  </CRow>

</div>
</template>

<script>
import axios from 'axios'
import Form from 'vform'
import vSelect from 'vue-select'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'
import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
  name: 'Prescrizioni_esami',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    vSelect,
    PazienteSelezionato
  },

  data () {
    return {
      modalConferma: false,
      modalPrescrizione: false,
      css:TableStyle,
      idPrescrizioneEsame: '',
      idMedico: '',
      titlemodal:'',
      statomodal: '',
      dataInizio: '',
      dataFine: '',
      data: [],
      disabled: false,
      perPage: 5,
      fields: [
        {
          title: 'Data Prescrizione',
          name: 'created_at',
          sortField: false,
          formatter: (value) => {
              return this.$date(value, "DD/M/YYYY");
            }
        },
        {
          title: 'Medico',
          name: 'name',
          sortField: true,
        },
        {
          name: 'actions',
          title: 'Azioni',
          sortField: false
        },
      ]
    }
  },

  computed: {
   ...mapGetters({
      paziente: 'pazienti/getPaziente',
      User: 'auth/user'
   })
  },

  mounted () {

    if(this.idPaziente == ''){
      this.$router.push('home');
    }

    this.caricaPrescrizioni()

  },



//WATCH TABELLA
  watch: {
    data (newVal, oldVal) {
      this.$refs.vuetable.refresh()
    }
  },
/*
  METODI
*/
  methods: {

    getFormattedData(data){
        return this.$date(data, "DD/M/YYYY");
    },

    inserisciPrescrizioni(){
      this.$router.push({name:'private.prescrizione_esame'})
    },

    goPrescrizione(idPrescrizioneEsame){
      this.$router.push({name:'private.prescrizione_esame',params:{'idPrescrizioneEsame':idPrescrizioneEsame}})
    },

    /*CARICAMENTO PRESCRIZIONI*/
    caricaPrescrizioni(){
        this.$store.commit('private/setPreload', true)
        var url='api/prescrizioni-esami/'+this.paziente.idUser
        axios.get(url,{
          params: {
            dataInizio: this.dataInizio,
            dataFine: this.dataFine,
          }
        })
         .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.data = res.data['0']
          } else {
            this.$store.commit('private/ setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          console.log(err);
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },

    /** APRI CONFERMA CANCELLAZIONE */
    apriConferma(idPrescrizioneEsame){
      this.modalConferma = true;
      this.idPrescrizioneEsame = idPrescrizioneEsame;
    },


    /** STAMPA PRESCRIZIONE */
    stampa(idPrescrizioneEsame){
      window.open('../../api/stampa-prescrizione-esami/'+idPrescrizioneEsame)
    },


    /** CANCELLA PRESCRIZIONE */
    cancellaPrescrizione(){
        this.$store.commit('private/setPreload', true)
        var url='api/prescrizione-esame/'+this.paziente.idUser+'/'+this.idPrescrizioneEsame
        axios.delete(url)
         .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data.success === true) {
              this.caricaPrescrizioni();
              this.modalConferma = false
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },


  /*
    FUNZIONI PER LA TABELLA
  */
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },



    dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    }

  }
}
</script>

<style>
</style>
