<template>
    <div>
        <formAvatar ref="formAvatar" ></formAvatar>
        <CCard class="mt-5"> 
            <CCardHeader>
               <h4>Il tuo profilo</h4>
            </CCardHeader>
            <CCardBody>
            <form id="formPaziente" class="mt-3" @submit.prevent ="aggiornaProfiloPaziente()">
            <CRow>
            <CCol sm="3">
              <CInput label="Nome" name="nome" v-model="formUtente.meta.nome" readonly ></CInput>
            </CCol>
            <CCol sm="3">
              <CInput label="Cognome" name="cognome" v-model="formUtente.meta.cognome" readonly></CInput>
            </CCol>
            <CCol sm="3">
               <CInput type="date" label="Data nascita" name="data_nascita" v-model="formUtente.meta.data_nascita" readonly></CInput>
            </CCol>
            <CCol sm="3">
              <div class="form-group">
                  <label>Sesso</label>
                  <select  class="form-control" v-model="formUtente.meta.sesso"  id="sesso" name="sesso" disabled>
                      <option value="M">Uomo</option>
                      <option value="F">Donna</option>
                  </select>
              </div>
            </CCol>
            <CCol>
              <CInput  v-model="formUtente.meta.regione_nascita" label="Regione Nascita" id="regione_nascita"  name="regione_nascita" readonly/>
            </CCol>
            <CCol sm="3">
               <CInput  label="Provincia Nascita" name="provincia_nascita" v-model="formUtente.meta.provincia_nascita" readonly></CInput>
            </CCol>
          <CCol sm="3">
               <CInput  label="Comune Nascita" name="comune_nascita" v-model="formUtente.meta.comune_nascita" readonly></CInput>
            </CCol>
            <CCol sm="3">
               <CInput label="Codice Fiscale" name="codice_fiscale" v-model="formUtente.meta.cf" readonly></CInput>
            </CCol>
              <CCol sm="3">
              <label>Regione Residenza</label>
              <v-select @input="caricaProvinceResidenza()" id="regione_residenza"  append-to-body :options="regioni_residenza"
                  :reduce="select => select.value" v-model="formUtente.meta.regione_residenza" name="regione_residenza">
             <template #search="{attributes,events}">
                 <input
                  class="vs__search"
                  :required="!formUtente.meta.regione_residenza" 
                  v-bind="attributes"
                  v-on="events"
              />
            <div class="invalid-feedback">
              Seleziona Regione Residenza
            </div>
          </template>
            <div slot="no-options">
              Nessun Risultato
            </div>
          </v-select>
            </CCol>
          <CCol sm="3">
              <label class="label_form">Provincia Residenza *</label>
              <v-select id="provincia_residenza" append-to-body :options="province_residenza"
                      :reduce="select => select.value" v-model="formUtente.meta.provincia_residenza">
              <template #search="{attributes,events}">
                    <input
                      class="vs__search"
                      name="provincia_residenza"
                      :required="!formUtente.meta.provincia_residenza"
                      v-bind="attributes"
                      v-on="events"
                  />
                <div class="invalid-feedback">
                  Seleziona Provincia Residenza
                </div>
              </template>
              <span slot="no-options">Seleziona Regione Residenza</span>
              </v-select>
          </CCol>
          <CCol sm="3">
               <CInput  label="Comune Residenza" name="comune_residenza" v-model="formUtente.meta.comune_residenza"></CInput>
            </CCol>
          <CCol sm="3">
                <label class="label_form">Regione ASL *</label>
                <v-select @input="caricaProvinceAsl()" id="regione_asl" append-to-body :options="regioni_asl"
                      :reduce="select => select.value" v-model="formUtente.meta.regione_asl">
                <template #search="{attributes,events}">
                    <input
                      class="vs__search"
                      :required="!formUtente.meta.regione_asl"
                      v-bind="attributes"
                      v-on="events"
                  />
                <div class="invalid-feedback">
                  Seleziona Regione ASL
                </div>
              </template>
              <span slot="no-options">Nessun risultato</span>
              </v-select>
          </CCol>
          <CCol sm="3">
            <label>Provincia ASL *</label>
            <v-select id="provincia_asl" append-to-body :options="province_asl"
                    :reduce="select => select.value" v-model="formUtente.meta.provincia_asl">
            <template #search="{attributes,events}">
                  <input
                    class="vs__search"
                    :required="!formUtente.meta.provincia_asl"
                    v-bind="attributes"
                    v-on="events"
                />
              <div class="invalid-feedback">
                Seleziona Provincia ASL
              </div>
            </template>
            <span slot="no-options">Seleziona Regione ASL</span>
            </v-select> 
           </CCol>
            <CCol sm="3">
               <CInput  label="Comune ASL" name="comune_asl" v-model="formUtente.meta.comune_asl"></CInput>
            </CCol>
            <CCol sm="3">
              <CInput label="Email" disabled type="email" name="email" v-model="formUtente.email"></CInput>
            </CCol>
             <CCol sm="3">
               <CInput label="Telefono" name="telefono" v-model="formUtente.meta.telefono"></CInput>
            </CCol>
             <CCol sm="3">
               <CInput label="Telefono 2" name="telefono_2" v-model="formUtente.meta.telefono_2"></CInput>
            </CCol>
             <CCol sm="12 text-center">
              <CButton color="primary btn-block" class="mt-3" type="submit">Salva Modifiche</CButton>
            </CCol>
            </CRow>
            </form>
          </CCardBody>
        </CCard>

         <CCard>
            <CCardHeader>
                <h4>Aggiorna Password</h4>
            </CCardHeader>
            <CCardBody>
                <form id="formPassword" @submit.prevent="aggiornaPassword()">
            <CRow align-vertical="center">
                <CCol sm="3">
                <CInput label="Password" type="password" name="password" v-model="formPassword.password"></CInput>
                </CCol>
                <CCol sm="3">
                <CInput label="Conferma Password" type="password" name="password_2" v-model="formPassword.password_2"></CInput>
                </CCol>
                <CCol sm="3">
                    <CButton type="submit" color="primary">Aggiorna Password</CButton>
                </CCol>
            </CRow>
                </form>
            </CCardBody>
        </CCard>

        <CancellaProfilo></CancellaProfilo>
    </div>
</template>

<script>
import axios from 'axios'
import _ from 'lodash'
import Form from 'vform'
import formAvatar from '~/components/private/formavatar.vue'
import CancellaProfilo from '~/components/private/cancellaprofilo.vue'
import siglaComuni from '~/components/json/siglacomuni.json'
import regioni from '~/components/json/siglaRegioni.json'
import province from '~/components/json/siglaProvince.json'
import vSelect from 'vue-select'



import { mapGetters, mapMutations, mapActions } from 'vuex'


export default {
  name: 'Profilo-Paziente',

  components: {
    formAvatar,
    CancellaProfilo,
    province,
    regioni,
    vSelect,
  },

  data () {
    return {
      resource: this.$resource_url,
      province:province,
      regioni_residenza: regioni,
      province_residenza: [],
      regioni_asl: regioni,
      province_asl: [],

      /*
      formUtente: new Form({
        nome:'',
        cognome:'',
        cognome:'',
        email: '',
        telefono:'',
        indirizzo:'',
        data_nascita:'',
        provincia_nascita:'',
        comune_nascita:'',
        codice_fiscale:'',
        provincia_residenza:'',
        comune_residenza:'',
        provincia_asl:'',
        comune_asl:'',
        url_media: '',
      }),*/
      modalAvatar: false,
      formPassword: new Form({
          password: '',
          password_2: '',
      })
    }
  },

  computed: {
      ...mapGetters({
          formUtente: 'private/getProfilo',
      })
  },



 mounted () {
     this.caricaProfilo()
  },


/*
  METODI
*/
methods: {

  handleFilePondAddFile: function(error, file) {
      this.tmpImg=false;
         this.disabled=false;
    },
    handleFilePondAddFileStart: function(error, file) {
      this.disabled=true;
    },


  caricaProvinceResidenza(){
    this.formUtente.meta.province_residenza='';
    var regione = this.formUtente.meta.regione_residenza;
    this.province_residenza=[];

    for (var i=0 ; i < this.province.length ; i++)
      {
        if(province[i].regione == regione) {
          var provincia = {value:province[i].value, label:province[i].label};
          this.province_residenza.push(provincia);
        }
      }

  },


   caricaProvinceAsl(){
    this.formUtente.meta.province_asl='';
    var regione = this.formUtente.meta.regione_asl;
    this.province_asl=[];

    for (var i=0 ; i < this.province.length ; i++)
      {
        if(province[i].regione == regione) {
          var provincia = {value:province[i].value, label:province[i].label};
          this.province_asl.push(provincia);
        }
      }
  },



    ...mapActions({
        caricaProfilo: 'private/caricaProfilo',
        aggiornaProfiloPaziente:'private/aggiornaProfiloPaziente'
    }),
    

    apriModalAvatar(){
      this.modalAvatar = true;
    },
    

//AGGIORNA PASSWORD
  aggiornaPassword(){
        var url = '/api/aggiorna-password';

        //
        const formData = new FormData(document.getElementById("formPassword"));
        let data = {};
        for (let [key, val] of formData.entries()) {
          Object.assign(data, { [key]: val })
        }

        var payload = data

        this.$store.commit('private/setPreload', true)
        axios.put(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success === true){
            this.$store.commit('private/setMessaggioSuccesso', 'Password Aggiornata')
            this.formPassword.reset()
          }
        else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
        })
        .catch(err => {
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },

 }
}
</script>

