<template>
<div>
  <CRow>
    <CCol sm="12">
      <CCard>
        <CCardHeader>
          <CRow>
          <CCol class="text-right" sm="12">
              <CButton color="success" @click="mostraModal('aggiungi')">Richiedi Teleconsulto</CButton>
          </CCol>
          </CRow>
        </CCardHeader>
        <CCardBody>
          <CRow>
            <CCol sm="12">
                <!--SEZIONE TABELLA  RICHIESTA-->
          <vuetable ref="vuetable"
                :api-mode="false"
                :fields="fields"
                :per-page="perPage"
                :data-manager="dataManager"
                no-data-template="Nessun Risultato"
                pagination-path="pagination"
                :css="css.table"
                @vuetable:pagination-data="onPaginationData">
                <div slot="actions" slot-scope="props">
                  <CButton  v-if="props.rowData.stato == 'confermato' && props.rowData.stato != 'pagato'" v-c-tooltip="'Paga Richiesta'" color="info">
                    Vai al Pagamento
                  </CButton>
              </div>
              </vuetable>
              <vuetable-pagination-info ref="paginationInfo" info-template="Visualizzati da {from} a {to} di {total} totali" no-data-template="Nessun Risultato"
                  ></vuetable-pagination-info>
              <div style="padding-top:10px">
                <vuetable-pagination ref="pagination" :css="css.pagination" @vuetable-pagination:change-page="onChangePage" />
              </div>
            </CCol>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>

  <!-- MODAL AGGIUNGI TELECONSULTO -->
  <form id="formTeleconsulto" @submit.prevent="inserisciTeleconsulto()">
    <CModal :title= this.titlemodal color="primary" :show.sync="modalTeleconsulto">
      <CRow>
        <CCol sm="12">
          <label>Scegli Medico</label>
          <select v-model="medico" class="form-control" name="idMedico" @change="selectMedico()">
            <option v-for="(medico) in mediciass" :key="medico.idMedico" :value="medico">{{medico.name}}</option>
          </select>
        </CCol>
        <CCol sm="12" class="mt-3" v-show="idMedico != '' && messaggio_teleconsulto != ''">
          <CCard>
            <CCardHeader>
              <h5><b>Informativa del Medico</b></h5>
            </CCardHeader>
            <CCardBody>
              <p> {{messaggio_teleconsulto}}</p>
            </CCardBody>
          </CCard>
        </CCol>
        <CCol sm="12" class="mt-3" v-show="idMedico != ''">
          <CTextarea  label="Lascia una messaggio per il Medico" placeholder="Lascia un Messaggio per il Medico" v-model="formTeleconsulto.messaggio"  name="messaggio" ></CTextarea>
        </CCol>
      </CRow>
      <template #footer>
        <CButton color="default" @click="modalTeleconsulto = false">
          Chiudi
        </CButton>
        <CButton type="submit" color="success" >Invia Richiesta</CButton>
      </template>
    </CModal>
  </form>

</div>
</template>

<script>
import axios from 'axios'
import Form from 'vform'
import vSelect from 'vue-select'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'
import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
  name: 'Teleconsulto',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    vSelect,
    PazienteSelezionato
  },

  data () {
    return {
      modalConferma: false,
      modalTeleconsulto: false,
      css:TableStyle,
      idTeleconsulto: '',
      idMedico: '',
      titlemodal:'',
      statomodal: '',
      medico: '',
      dataInizio: '',
      dataFine: '',
      messaggio_teleconsulto: '',
      mediciass: '',
      data: [],
      formTeleconsulto: new Form({
         prezzo: 50,
         messaggio_teleconsulto: 'Lorem Ipsum'
      }),
      collapseDuration: 0,
      disabled: false,
      perPage: 5,
      fields: [
        {
          title: 'Medico',
          name: 'name',
          sortField: 'name',
        },
        {
          title: 'Data',
          name: 'dataTeleconsulto',
          sortField: false,
          formatter: (value) => {
              return this.$date(value, "DD/M/YYYY");
            }
        },
        {
          title: 'Ora Inizio Teleconsulto',
          name: 'oraTeleconsulto',
          sortField: true,
        },
        {
          title: 'Ora Fine Teleconsulto',
          name: 'ora_fine',
          sortField: true,
        },
         {
          title: 'Stato',
          name: 'stato',
          dataClass: 'text-uppercase',
          sortField: true,
          formatter: (value) => {
            if(value === 'confermato'){
              return '<span class="text-success"><b>'+value+'</b></span>'
            }
            if(value === 'attesa'){
              return '<span class="text-warning"><b>'+value+'</b></span>'
            }
            if(value === 'pagato'){
              return '<span class="text-success"><b>'+value+'</b></span>'
            }
            if(value === 'rifiutato'){
              return '<span class="text-danger"><b>'+value+'</b></span>'
            }
          }
        },
        {
          title: 'Prezzo',
          name: 'prezzo',
          sortField: true,
          formatter: (value) => {
            if(value!=null){
              return value + '€';
            }
            else{
              return '';
            }
          }
        },
        {
          name: 'actions',
          title: 'Azioni',
          sortField: false
        },
      ]
    }
  },

  computed: {
   ...mapGetters({
      paziente: 'pazienti/getPaziente',
      User: 'auth/user'
   })
  },

  mounted () {

    if(this.idPaziente == ''){
      this.$router.push('home');
    }

    this.caricaTeleconsulti()

  },


//WATCH TABELLA
  watch: {
    data (newVal, oldVal) {
      this.$refs.vuetable.refresh()
    }
  },
/*
  METODI
*/
  methods: {

    getFormattedData(data){
        return this.$date(data, "DD/M/YYYY");
    },


    mostraModal (stato,teleconsulto){
        this.formTeleconsulto.reset();
        if(stato == 'aggiungi'){
            this.statomodal = 'aggiungi'
            this.titlemodal = 'Aggiungi Teleconsulto';
            this.modalTeleconsulto = true;
            this.getMediciAssegnati()
        }

    },


    selectMedico(){
      this.idMedico = this.medico.idMedico
      this.messaggio_teleconsulto = this.medico.meta.messaggio_teleconsulto
    },


    inserisciTeleconsulto(){
        var url='api/teleconsulto'

        const formData = new FormData(document.getElementById("formTeleconsulto"));
        let data = {};
        for (let [key, val] of formData.entries()) {
          Object.assign(data, { [key]: val })
        }

        var payload = data
        payload.idMedico = this.idMedico
        payload.idPaziente = this.paziente.idUser


        this.$store.commit('private/setPreload', true)
        axios.post(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success === true){
            this.$store.commit('private/setMessaggioSuccesso', 'Inserimento Riuscito')
            this.modalTeleconsulto = false;
            this.caricaTeleconsulti();
        }
        else {
        this.$store.commit('private/setMessaggioErrore', res.data.message)
        }
        })
        .catch(err => {
        this.$store.commit('private/setPreload', false)
        this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },


    /** GET MEDICI ASSEGNATI */
    getMediciAssegnati(){
        this.$store.commit('private/setPreload', true)
        var url='api/medici-ass'
        axios.get(url)
         .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.mediciass = res.data['0']
          } else {
            this.$store.commit('private/ setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          console.log(err);
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },


    /*CARICAMENTO VISITE*/
    caricaTeleconsulti(){
        this.$store.commit('private/setPreload', true)
        var url='api/teleconsulti'
        axios.get(url,{
          params: {
            dataInizio: this.dataInizio,
            dataFine: this.dataFine,
          }
        })
         .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.data = res.data['0']
          } else {
            this.$store.commit('private/ setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          console.log(err);
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },


    /** APRI CONFERMA CANCELLAZIONE */
    apriConferma(id){
      this.modalConferma = true;
      this.idTeleconsulto = id;
    },

    /** CANCELLA APPUNTAMENTO */
    cancellaAppuntamento(){
        this.$store.commit('private/setPreload', true)
        var url='api/teleconsulto/'+this.paziente.idUser+'/'+this.idTeleconsulto
        axios.delete(url)
         .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data.success === true) {
              this.$store.commit('private/setMessaggioSuccesso', 'Cancellazione Riuscita');
              this.caricaAppuntamenti();
              this.modalConferma = false;
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },


  /*
    FUNZIONI PER LA TABELLA
  */
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },



    dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    }



  }
}
</script>

<style>
</style>
