<template>
  <div>
  <PazienteSelezionato></PazienteSelezionato>
  <!--SEZIONE SCHEDA UTENTE -->
    <CRow  class="mb-3">
    <CCol sm="6" v-if="User.role == 'medico'">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Chiama il paziente
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" :href="'tel:'+formUtente.meta.telefono"><fa icon="mobile-alt"></fa>Cellulare</a>
            <a class="dropdown-item" :href="'https://web.whatsapp.com/send?phone='+formUtente.meta.telefono" target="_blank"><fa :icon="['fab', 'whatsapp']"></fa>  WhatsApp</a>
          </div>
        </div>
    </CCol>
      <CCol  v-if="User.role=='medico'" sm="6" class="text-right">
        <CButton color="success" @click="apriModalAllarmi()">  <fa icon="bell"></fa> Imposta Allarmi Dati Clinici</CButton>
      </CCol>
    </CRow>
     <CRow>
      <CCol sm="12">
        <CCard>
          <CCardBody>
            <form @submit.prevent="aggiornaSchedaClinica()" id="schedaClinica">
            <!--DATI CLINICI-->
              <CRow>
            <CCol sm="12 mb-2">
              <h5 class="sub_heading">Dati Clinici</h5>
            </CCol>
            <CCol col="6" sm="2">
               <CInput label="Età" disabled name="eta" v-model="eta"></CInput>
            </CCol>
          <CCol col="6" sm="2">
               <CInput type="number" name="superficie_corporea" step="0.01" label="Sup.Corp." v-model="formUtente.meta.scheda_clinica.superficie_corporea"></CInput>
            </CCol>
          <CCol col="6" sm="2">
               <CInput type="number" label="Altezza (cm)" name="altezza" step="0.01" v-model="formUtente.meta.scheda_clinica.altezza" @input="calcolaBmi()"></CInput>
            </CCol>
          <CCol col="6" sm="2">
              <div class="form-group">
                <label>Sesso</label>
                    <select class="form-control" name="sesso" v-model="formUtente.meta.scheda_clinica.sesso">
                    <option value="maschio">Maschio</option>
                    <option value="femmina">Femmmina</option>
                    </select>
              </div>
            </CCol>
            <CCol col="6" sm="2">
              <div class="form-group">
                <label>Gruppo Sanguigno</label>
                <select class="form-control" name="gruppo"  v-model="formUtente.meta.scheda_clinica.gruppo">
                <option value="0rh-">0 Rh-</option>
                <option value="0rh+">0 Rh+</option>
                <option value="arh-">A Rh-</option>
                <option value="arh+">A Rh+</option>
                <option value="brh-">B Rh-</option>
                <option value="brh+">B Rh+</option>
                <option value="abrh-">AB Rh-</option>
                <option value="abrh+">AB Rh+</option>
                </select>
              </div>
            </CCol>
            <CCol col="6" sm="2">
              <div class="form-group">
                <label>Fumatore</label>
                <select class="form-control" name="fumo"   v-model="formUtente.meta.scheda_clinica.fumo">
                  <option value="0">No</option>
                  <option value="1">Sì</option>
                  <option value="2">Ex</option>
                </select>
              </div>
            </CCol>
            <CCol col="6" sm="2">
              <div class="form-group">
                <label>Diabete</label>
                <select class="form-control"  name="diabete" v-model="formUtente.meta.scheda_clinica.diabete">
                  <option value="0">No</option>
                  <option value="1">Tipo I</option>
                  <option value="2">Tipo II</option>
                </select>
              </div>
            </CCol>
            <CCol col="6" sm="2">
                <CInput type="number"  name="anni_diabete" label="Anni Diabete" v-model="formUtente.meta.scheda_clinica.anni_diabete"></CInput>
            </CCol>
            <CCol col="6" sm="2">
                 <div class="form-group">
                <label>Ipertensione Arteriosa</label>
                <select class="form-control" name="ipertensione_arteriosa" v-model="formUtente.meta.scheda_clinica.ipertensione_arteriosa">
                  <option value="0">No</option>
                  <option value="1">Sì</option>
                </select>
              </div>
            </CCol>
            <CCol col="6" sm="2">
                <CInput type="number" name="anni_ipertensione" label="Anni Ipertensione" v-model="formUtente.meta.scheda_clinica.anni_ipertensione"></CInput>
            </CCol>
            <CCol col="6" sm="2">
              <div class="form-group">
                <label>Anemia</label>
                <select class="form-control" v-model="formUtente.meta.scheda_clinica.anemia" name="anemia">
                  <option value="1">Si</option>
                  <option value="0">No</option>
                </select>
              </div>
            </CCol>
            <CCol col="6" sm="2">
              <div class="form-group">
                <label>Fibrillazione Atriale</label>
                <select class="form-control"  v-model="formUtente.meta.scheda_clinica.fibrillazioneatriale" name="fibirllazioneatriale">
                  <option value="1">Si</option>
                  <option value="0">No</option>
                </select>
              </div>
            </CCol>
            <CCol col="6" sm="2">
              <div class="form-group">
                <label>Classe NYHA</label>
                <select class="form-control" v-model="formUtente.meta.scheda_clinica.nyha" name="nyha">
                  <option value="1">Classe 1</option>
                  <option value="2">Classe 2</option>
                  <option value="3">Classe 3</option>
                  <option value="4">Classe 4</option>
                </select>
              </div>
            </CCol>
            <CCol col="6" sm="2">
              <div class="form-group">
                <label>Terapia Ottimale</label>
                <select class="form-control" v-model="formUtente.meta.scheda_clinica.terapiaottimale" name="terapiaottimale">
                  <option value="1">Si</option>
                  <option value="0">No</option>
                </select>
              </div>
            </CCol>
            <CCol col="6" sm="6">
              <div class="form-group">
              <label>Tipologia Paziente</label>
                <v-select multiple v-model="formUtente.meta.scheda_clinica.tipologia_paziente" :options="[
                {'label':'Paziente Ischemico', value:'paziente_ischemico'},
                {'label': 'Scompensato', value:'scompensato'},
                {'label': 'Diabete', value: 'diabete'},
                {'label': 'Insufficiente Renale', value: 'insufficiente_renale'}]"/>
              </div>
            </CCol>
            <CCol col="12" sm="12 mb-4">
                  <h5 class="mb-2">Familiarità</h5>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" v-model="formUtente.meta.scheda_clinica.familiarita.fami_1" id="Anteriore" name="c.i" value="C.I.">C.I
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" v-model="formUtente.meta.scheda_clinica.familiarita.fami_2" value="">Diabete
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" v-model="formUtente.meta.scheda_clinica.familiarita.fami_3" value="" >Iper.
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" v-model="formUtente.meta.scheda_clinica.familiarita.fami_4" value="" >Cereb.Vasc.
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" v-model="formUtente.meta.scheda_clinica.familiarita.fami_5" value="" > I.Ren.
                      </label>
                    </div>
            </CCol>
            <CCol col="12" sm="2">
               <CInput type="number" disabled label="Ultimo Peso(Kg) Registrato" v-model="formUtente.esami.daticlinici.peso"></CInput>
            </CCol>
            <CCol col="12" sm="2">
               <CInput type="number" disabled label="Body Max Index" v-model="formUtente.esami.daticlinici.bmi" step="0.01"></CInput>
            </CCol>
            <CCol col="12" sm="2">
               <CInput type="number" disabled label="Ultima PA Max Registrata" v-model="formUtente.esami.daticlinici.pa_max"></CInput>
            </CCol>
            <CCol col="12" sm="2">
               <CInput type="number" disabled label="Ultima PA Min Registrata" v-model="formUtente.esami.daticlinici.pa_min"></CInput>
            </CCol>
            <CCol col="12" sm="2">
               <CInput type="number" disabled label="Ultima FC Registrata" v-model="formUtente.esami.daticlinici.fc"></CInput>
            </CCol>
            <CCol col="12" sm="2">
               <CInput type="number" disabled label="Ultima saPO2% Registrata" v-model="formUtente.esami.daticlinici.saturazione_arteriosa"></CInput>
            </CCol>
            <CCol col="12">
               <CTextarea  label="Epicrisi" name="epicrisi" v-model="formUtente.meta.scheda_clinica.epicrisi"></CTextarea>
            </CCol>
            <CCol col="12">
               <CTextarea  label="Diagnosi Discorsiva" name="epicrisi" v-model="formUtente.meta.scheda_clinica.diagnosi_discorsiva"></CTextarea>
            </CCol>
            <CCol col="12">
               <CTextarea  label="Problematiche Aperte" v-model="formUtente.meta.scheda_clinica.problematiche"></CTextarea>
            </CCol>
            </CRow> <!-- END DATI CLINICI -->

              <!-- START SEZIONE DEFIBRILLATORE -->
            <CRow>
            <CCol sm="12">
              <h5 class="sub_heading">Devices</h5>
            </CCol>
            <CCol col="12" sm="12">
              <div class="form-group">
                <label>Tipologia</label>
                <select class="form-control" v-model="formUtente.meta.scheda_clinica.defibrillatore" name="defibrillatore">
                  <option value="1">Si</option>
                  <option value="0">No</option>
                </select>
              </div>
            </CCol>
            </CRow>
            <CRow v-show="formUtente.meta.scheda_clinica.defibrillatore == '1'">
            <CCol sm="3">
              <CInput label="VAD MARCA" v-model="formUtente.meta.scheda_clinica.dati_defibrillatore.vad_marca" name="vad_marca"></CInput>
            </CCol>
            <CCol sm="3">
              <CInput label="VAD MODELLO" v-model="formUtente.meta.scheda_clinica.dati_defibrillatore.vad_modello" name="vad_modello"></CInput>
            </CCol>
            <CCol sm="3">
              <div class="form-group">
                <label>DATA IMPIANTO (VAD)</label>
                <input class="form-control" type="date" v-model="formUtente.meta.scheda_clinica.dati_defibrillatore.data_impianto_vad" name="data_impianto_vad"/>
              </div>
            </CCol>
            <CCol sm="3">
            </CCol>
            <CCol sm="3">
                <CInput label="PM Marca" v-model="formUtente.meta.scheda_clinica.dati_defibrillatore.pm_marca" name="pm_marca"></CInput>
            </CCol>
            <CCol sm="3">
                <CInput label="PM MODELLO" v-model="formUtente.meta.scheda_clinica.dati_defibrillatore.pm_modello" name="pm_modello"></CInput>
            </CCol>
            <CCol sm="3">
              <div class="form-group">
                <label>PM TIPO</label>
                <select name="pm_tipo" class="form-control" v-model="formUtente.meta.scheda_clinica.dati_defibrillatore.pm_tipo">
                  <option value="vvi">VVI</option>
                  <option value="vvir_ddd">VVIR DDD</option>
                  <option value="dddr">DDDR</option>
                  <option value="aai">AAI</option>
                  <option value="crtp">CRTP</option>
                </select>
              </div>
            </CCol>
           <CCol sm="3">
              <div class="form-group">
                <label>DATA IMPIANTO (PM)</label>
                <input type="date" class="form-control" name="data_impianto_pm" v-model="formUtente.meta.scheda_clinica.dati_defibrillatore.data_impianto_pm">
              </div>
            </CCol>
                    <CCol sm="3">
              <CInput label="ICD MARCA" v-model="formUtente.meta.scheda_clinica.dati_defibrillatore.icd_marca" name="icd_marca"></CInput>
            </CCol>
            <CCol sm="3">
              <CInput label="ICD MODELLO" v-model="formUtente.meta.scheda_clinica.dati_defibrillatore.icd_modello" name="icd_modello"></CInput>
            </CCol>
            <CCol sm="3">
              <div class="form-group">
                <label>ICD TIPO</label>
                <select name="icd_tipo" id="" class="form-control" v-model="formUtente.meta.scheda_clinica.dati_defibrillatore.icd_tipo">
                  <option value="vvi">VVI</option>
                  <option value="vvir_ddd">VVIR DDD</option>
                  <option value="dddr">DDDR</option>
                  <option value="aai">AAI</option>
                  <option value="crtd">CRTD</option>
                  <option value="sc">SOTTOCUTANEO</option>
                </select>
              </div>
            </CCol>
            <CCol sm="3">
                <label>DATA IMPIANTO (ICD)</label>
                <input type="date" class="form-control" name="data_impianto_icd" v-model="formUtente.meta.scheda_clinica.dati_defibrillatore.data_impianto_icd">
            </CCol>
            <CCol sm="3">
              <div class="form-group">
                <label>INTERVENTI</label>
                <select name="interventi"  class="form-control" v-model="formUtente.meta.scheda_clinica.dati_defibrillatore.interventi">
                  <option value="burst">Burst</option>
                  <option value="scarica">Scarica</option>
                </select>
              </div>
            </CCol>
            <CCol sm="3">
               <label>DATA ULTIMO INTERVENTO </label>
               <input type="date" class="form-control" name="data_ultimo_intervento" v-model="formUtente.meta.scheda_clinica.dati_defibrillatore.data_ultimo_intervento">
            </CCol>
            </CRow> <!-- END SEZIONE DEFIBRILLATORE -->
            <!-- START LISTA ESENZIONI -->
            <CRow>
              <CCol sm="12">
                <h4 class="sub_heading">Lista Esenzioni</h4>
              </CCol>
              <CCol sm="12 wrapper-esenzioni">
                  <table class="table table-bordered">
                    <tr>
                      <th width="20%">Codice Esenzione</th>
                      <th width="60%">Descrizione Esenzione</th>
                      <th width="20%"></th>
                    </tr>
                    <tr>
                      <th colspan="3" class="text-center">
                        ESENZIONI PER PATOLOGIA
                      </th>
                    </tr>
                    <tr>
                      <td>
                        <b>001-056</b>
                      </td>
                      <td>
                        Soggetti affetti da patologie croniche e invalidanti esenti ai sensi del
                        D.M.28.05.1999 n. 329 e succ. modifiche e integrazioni (ultimo D.M. 21.5.2001 n.296) – vedi Nota (1)
                      </td>
                      <td>
                        <div class="box_piano">
                            <input type="checkbox" id="zerozerouno_zerocinquesei" name="zerozerouno_zerocinquesei">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th colspan="3" class="text-center">
                          ESENZIONI PER MALATTIA RARA
                      </th>
                    </tr>
                    <tr>
                      <td>
                        RAannn <br>
                        RQannn
                      </td>
                      <td>
                        Soggetti affetti da patologie rare esenti ai sensi del D.M. 18.05.2001
                        n.279 - vedi Nota (2)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="ra_ann" id="ra_ann" v-model="esenzioni.ra_ann">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>RQ099R</td>
                      <td>Sensibilità Chimica Multipla</td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="rq099r" id="rq009r" v-model="esenzioni.rq009r">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        R99
                      </td>
                      <td>
                        Prestazioni richieste su sospetto diagnostico di malattia rara (ex art. 5
                        comma 2 del D.M. 18.05.2001 n. 279). - vedi Nota (3)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="r99" id="r99"  v-model="esenzioni.r99">
                        </div>
                      </td>
                    </tr>
                    <tr> 
                      <th colspan="3" class="text-center">ESENZIONE PER REDDITO</th>
                    </tr>
                    <tr>
                      <td>
                         E01
                      </td>
                      <td>
                         Soggetti con meno di 6 anni o più di 65 anni con reddito familiare inferiore a 36.151,98 euro (ex art. 8, comma 16 della L. 537/1993 e
                         succ. modifiche e integrazioni)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="e01" id="e01" v-model="esenzioni.e01">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>E02</td>
                      <td>	Disoccupati – e loro familiari a carico – con reddito familiare inferiore a 8.263,31 euro incrementato a 11.362,05 euro in presenza del coniuge ed in ragione di ulteriori 516 euro per ogni figlio a carico (ex art. 8 comma 16 della L. 537/1993 e succ. modifiche e
                      integrazioni)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="e02" id="e02" v-model="esenzioni.e02">
                        </div>
                      </td>
                    </tr>
                     <tr>
                      <td>E03</td>
                      <td>	
                        	Titolari di assegno (ex pensione) sociale – e loro familiari a carico - (ex art. 8 comma 16 della L. 537/1993 e succ. modifiche e
                          integrazioni)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="e03" id="e03" v-model="esenzioni.e03">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>E04</td>
                      <td>	
                        	Titolari di pensione al minimo, con più di 60 anni – e loro familiari a carico – con reddito familiare inferiore a 8.263,31 euro incrementato a 11.362,05 euro in presenza del coniuge ed in ragione di ulteriori 516 euro per ogni figlio a carico (ex art. 8 comma 16
                          della L. 537/1993 e succ. modifiche e integrazioni)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="e04" id="e04" v-model="esenzioni.e04">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>X01</td>
                      <td>	
                        	Prestazioni ambulatoriali urgenti o comunque essenziali ai cittadini extracomunitari non in regola con la norme relative all’ingresso e al soggiorno, privi di risorse economiche sufficienti (art. 35, comma 3, D.Lgs 25/07/1998, n. 286; art. 43, comma 4, DPR 31/08/1999, n.
                          394) - vedi Nota (6)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="x01" id="x01" v-model="esenzioni.x01">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th colspan="3" class="text-center"> 
                        ESENZIONE PER INVALIDITA’
                      </th>
                    </tr>
                    <tr>
                      <td>
                        G01	
                      </td>
                      <td>
                         Invalidi di guerra appartenenti alla categoria dalla 1^ alla 5^ titolari di pensione diretta vitalizia e deportati in campo di sterminio ( ex
                         art.6 comma1 lett.a del D.M.01.02.1991) 
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="g01" id="g01" v-model="esenzioni.g01">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        G02 
                      </td>
                      <td>
                         	Invalidi di guerra appartenenti alla categoria dalla 6^ alla 8^ ( ex art.6
                          comma 2 lett.a del D.M.01.02.1991) 
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="g02" id="g02" v-model="esenzioni.g02">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        L01	 
                      </td>
                      <td>
                       	Grandi invalidi del lavoro – dal 80% al 100% di invalidità (ex art.6
                        comma 1 lett.B del D.M.01.02.1991)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="l01" id="l01" v-model="esenzioni.l01">
                        </div>
                      </td>
                    </tr>
                     <tr>
                      <td>
                        L02
                      </td>
                      <td>
                        	Invalidi del lavoro con riduzione della capacità lavorativa >2/3- dal 67% al 79% di invalidità (ex art.6 comma 1 lett.b del
                          D.M.01.02.1991)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="l02" id="l02" v-model="esenzioni.l02">
                        </div>
                      </td>
                    </tr>
                     <tr>
                      <td>
                        L03
                      </td>
                      <td>
                        	Invalidi del lavoro con riduzione della capacità lavorativa &lt;2/3- dal 1% al 66% di invalidità (ex art.6 comma 2 lett.b del
                          D.M.01.02.1991)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="l03" id="l03" v-model="esenzioni.l03">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        L04
                      </td>
                      <td>
                        Infortunati sul lavoro o affetti da malattie professionali (ex art. 6 comma 2 lett. c del D.M. 01.02.1991)	
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="l04" id="l04" v-model="esenzioni.l04">
                        </div>
                      </td>
                    </tr>
                      <tr>
                      <td>
                        S01
                      </td>
                      <td>
                        Grandi invalidi per servizio appartenenti alla 1^cat.- titolari di
                        specifica pensione (ex art.6 comma1 lett.c del D.M.01.02.1991)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="s01" id="s01" v-model="esenzioni.s01">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        S02
                      </td>
                      <td>
                        	Invalidi per servizio appartenenti alla cat. dalla 2^ alla5^ (ex art.6
                          comma1 lett.c del D.M.01.02.1991)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="s02" id="s02" v-model="esenzioni.s02">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        S03
                      </td>
                      <td>
                        Invalidi per servizio appartenenti alla cat. dalla 6^ alla8^ (ex art.6
                        comma2 lett.c del D.M.01.02.1991)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="s03" id="s03" v-model="esenzioni.s03">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        C01
                      </td>
                      <td>
                        	Invalidi civili al 100% di invalidità senza indennità di
                          accompagnamento (ex art.6 comma1 lett.d del D.M.01.02.1991)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="c01" id="c01" v-model="esenzioni.c01">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        C02
                      </td>
                      <td>
                        	Invalidi civili all 100% di invalidità con indennità di
                          accompagnamento (ex art.6 comma1 lett.d del D.M.01.02.1991)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="c02" id="c02" v-model="esenzioni.c02">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        C03
                      </td>
                      <td>
                        Invalidi civili con riduzione della capacità lavorativa >2/3- dal 67% al 99% di invalidità (ex art.6 comma 1 lett.d del D.M.01.02.1991)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="c03" id="c03" v-model="esenzioni.c03">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        C04
                      </td>
                      <td>
                        Invalidi civili &lt; di 18anni con indennità di frequenza ex artt.1 Legge n.289/90 (ex art.5 comma 6 del D.Lgs n.124/98)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="c04" id="c04" v-model="esenzioni.c04">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        C05
                      </td>
                      <td>
                        Ciechi assoluti o con residuo visivo non superiore ad un decimo ad entrambi gli occhi - con eventuale correzione - riconosciuti dall’apposita Commissione invalidi Ciechi Civili - ai sensi dell’art.6
                        comma 1 lett.f del D.M.01.02.1991
                      </td>
                      <td>
                         <div class="box_piano">
                           <input type="checkbox" name="c05" id="c05" v-model="esenzioni.c05">
                         </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        C06
                      </td>
                      <td>
                         	Sordomuti (da intendersi coloro che sono colpiti da sordità dalla nascita o prima dell’apprendimento della lingua parlata) - ai sensi
                          dell’art.6 comma1 lett. fdel D.M.01.02.1991
                      </td>
                      <td>
                         <div class="box_piano">
                           <input type="checkbox" name="c06" id="c06" v-model="esenzioni.c06">
                         </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        C07
                      </td>
                      <td>
                        	Prestazioni richieste in sede di verifica dell’invalidità civile ex D.M.
                          20/07/1989, n. 293 e succ. mod.
                      </td>
                      <td>
                         <div class="box_piano">
                           <input type="checkbox" name="c07" id="c07" v-model="esenzioni.c07">
                         </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        V01
                      </td>
                      <td>
                         Pazienti in possesso di esenzione in base alla L.302/90 – vittime del terrorismo e della criminalità organizzata (ex art 5 c.6 del Dlgs.124/98) e familiari delle vittime 
                      </td>
                      <td>
                         <div class="box_piano">
                           <input type="checkbox" name="v01" id="v01" v-model="esenzioni.v01">
                         </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        N01
                      </td>
                      <td>
                        Pazienti in possesso di esenzione in base alla Legge n.210 del 25/02/1992-danneggiati da complicanze di tipo irreversibile a causa di vaccinazioni obbligatorie, trasfusioni e somministrazioni di
                        emoderivati (ex art.1 comma 5 lett.d del D.Lgs 124/98)
                      </td>
                      <td>
                         <div class="box_piano">
                           <input type="checkbox" name="n01" id="n01" v-model="esenzioni.n01">
                         </div>
                      </td>
                    </tr>
                    <tr>
                      <th colspan="3" class="text-center">
                        ESENZIONE PER GRAVIDANZA E MATERNITA’ RESPONSABILE
                      </th>
                    </tr>
                    <tr>
                      <td>
                        M00
                      </td>
                      <td>
                        	Esente per stato di gravidanza (ex D.M.del 10/09/1998) in epoca
                          preconcezionale
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="m00" id="m00" v-model="esenzioni.m00">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        M01-M41	
                      </td>
                      <td>
                        Esente per stato di gravidanza (ex D.M.del 10/09/1998) in gravidanza ordinaria	
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="m01_m41" id="m01_m41" v-model="esenzioni.m01_m41">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        M50	
                      </td>
                      <td>
                        Esente per stato di gravidanza (ex D.M.del 10/09/1998) in gravidanza a rischio	                      
                        </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="m50" id="m50" v-model="esenzioni.m50">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        M52	
                      </td>
                      <td>
                        	Titolari di assegno (ex pensione) sociale  e loro familiari a carico - (ex art. 8 comma 16 della L. 537/1993 e succ. modifiche e
                          integrazioni)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="m52" id="m52" v-model="esenzioni.m52">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th colspan="3" class="text-center">
                        ESENZIONI INAIL ( INFORTUNATI SUL LAVORO O AFFETTI DA MALATTIE PROFESSIONALI)
                      </th>
                    </tr>
                    <tr>
                      <td>
                        L04
                      </td>
                      <td>
                        Infortunati sul lavoro o affetti da malattie professionali (ex art. 6
                        comma 2 lett. c del D.M. 01.02.1991)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="l04" id="l04" v-model="esenzioni.l04">
                        </div>
                      </td>   
                    </tr>
                    <tr>
                      <th colspan="3" class="text-center">ESENZIONE PER DIAGNOSI PRECOCE – PREVENZIONE – PROFILASSI</th>
                    </tr>
                    <tr>
                      <td>D01</td>
                      <td>
                        	Prestazioni diagnostiche nell’ambito di campagne di screening
                          autorizzate dalla Regione (ex art.1 comma 4 lett.a del D.Lgs 124/98)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="d01" id="d01" v-model="esenzioni.d01">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>D02</td>
                      <td>  
                          Prestazioni diagnostiche per la diagnosi precoce dei tumori (ex art.85
                          comma 4 lett b della Legge 388/2000)-citologico
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="d02" id="d02" v-model="esenzioni.d02">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        D03
                      </td>
                      <td>
                         		Prestazioni diagnostiche per la diagnosi precoce dei tumori (ex art.85
                            comma 4 lett b della Legge 388/2000)- mammografico
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="d03" id="d03" v-model="esenzioni.d03">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        D04
                      </td>
                      <td>
                          Prestazioni diagnostiche per la diagnosi precoce dei tumori (ex art.85
                          comma 4 lett b della Legge 388/2000)- colon retto
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="d04" id="d04" v-model="esenzioni.d04">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        D05
                      </td>
                      <td>
                       	Prestazioni di approfondimento diagnostico correlate alla diagnosi precoce del tumore della Mammella (ex art.85 comma 4 della Legge
                        388/2000)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="d05" id="d05" v-model="esenzioni.d05">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        D06	
                      </td>
                      <td>
                        Prestazioni incluse nel protocollo della campagna di monitoraggio sulle condizioni sanitarie dei soggetti operanti nei territori della
                        Bosnia-Herzegovina e del Kosovo (ex D.M. 22/10/2002)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="d06" id="d06" v-model="esenzioni.d06">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        P01 
                      </td>
                      <td>
                        Prestazioni specialistiche finalizzate alla tutela della salute collettiva, disposte a livello locale in caso di situazioni epidemiche (ex art. 1 comma 4 lett. b del
                        D.Lgs. 124/199 –seconda parte)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="p01" id="p01" v-model="esenzioni.p01">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        P02
                      </td>
                      <td>
                        Prestazioni specialistiche finalizzate all’avviamento al lavoro derivanti da obblighi di legge e non poste a carico del datore di lavoro – attualmente eseguibili nei confronti dei soggetti maggiorenni apprendisti - (ex art. 1 comma 4 lett. b del D.Lgs.
                        124/1998 – ultima parte)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="p02" id="p02" v-model="esenzioni.p02">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        P03
                      </td>
                      <td>
                        	Prestazioni correlate alla pratica vaccinale obbligatoria o
                          raccomandata (ex art. 1 comma 4 lett. b del D.Lgs.124/1998 – prima parte)  
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="p03" id="p03" v-model="esenzioni.p03">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        B01
                      </td>
                      <td>
                        Prestazioni diagnostiche a soggetti a rischio di infezione da HIV (ex
                        art. 1 comma 4 lett. B del D.Lgs 124/98-prima parte)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="b01" id="b01" v-model="esenzioni.b01">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th colspan="3" class="text-center">
                        ESENZIONE PER IDONEITA’
                      </th>
                    </tr>
                    <tr>
                      <td>
                        I01	
                      </td>
                      <td>
                        	Prestazioni specialistiche correlate all’attività di donazione (ex art.1
                          comma 5 lett.C del D.Lgs 124/98)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="i01" id="i01" v-model="esenzioni.i01">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th colspan="3" class="text-center">
                        ESENZIONE PER DONATORI
                      </th>
                    </tr>
                    <tr>
                      <td>
                        T01
                      </td>
                      <td>
                        Prestazioni specialistiche correlate all’attività di donazione (ex art.1
                        comma 5 lett.C del D.Lgs 124/98)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="t01" id="t01" v-model="esenzioni.t01">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th colspan="3" class="text-center">
                        ESENZIONE PER DETENUTI ED INTERNATI
                      </th>
                    </tr>
                    <tr>
                      <td>	
                        F01	
                      </td>
                      <td>
                        Prestazioni a favore dei detenuti ed internati (ex art. 1 comma 6 del	
                        D.Lgs 22/06/1999, n.230)
                      </td>
                      <td>
                        <div class="box_piano">
                            <input type="checkbox" name="f01" id="f01" v-model="esenzioni.f01">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th colspan="3" class="text-center">
                        ESENZIONE PER NAVIGANTI
                      </th>
                    </tr>
                    <tr>
                      <td>
                        PML
                      </td>
                      <td>
                        Prestazioni medico legali ai naviganti in ambito SASN
                        - vedi Nota (5)
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="pml" id="pml" v-model="esenzioni.pml">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th colspan="3" class="text-center">
                        ESENZIONE PER TERAPIE DEL DOLORE
                      </th>
                    </tr>
                    <tr>
                      <td>
                        TDL01	
                      </td>
                      <td>
                        Terapia del dolore severo- vedi Nota (7)	
                      </td>
                      <td>
                        <div class="box_piano">
                            <input type="checkbox" name="tdl01" id="tdl01" v-model="esenzioni.tdl1">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th colspan="3" class="text-center">
                        ESENZIONE PER PROGRAMMA ODONTOIATRIA
                      </th>
                    </tr>
                    <tr>
                      <td>
                        C104
                      </td>
                      <td>
                        Programma Odontoiatria: Esenzione ai sensi dell’Articolo 3 – comma 3 della legge 104/92 "Qualora la minorazione, singola o plurima, abbia ridotto l'autonomia personale, correlata all'età, in modo da rendere necessario un intervento assistenziale permanente, continuativo e globale nella sfera individuale o in quella di relazione, la situazione assume connotazione di gravità. Le situazioni riconosciute di gravità determinano priorità nei programmi e negli
                        interventi dei servizi pubblici".
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="c104" id="c104" v-model="esenzioni.c104">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        ISEE1
                      </td>
                      <td>
                        Esente Totale per reddito ISEE inferiore o uguale a €8.000	
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="" id="" v-model="esenzioni.isee1">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        ISEE2
                      </td>
                      <td>
                        	Partecipazione alla spesa fino a € 40,00 per prestazione per reddito
                          ISEE compreso tra € 8.001 e € 12.500
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="isee2" id="isee2" v-model="esenzioni.isee2">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                         ISEE3
                      </td>
                      <td>
                        	Partecipazione alla spesa fino a € 60,00 per prestazione per reddito
                          ISEE compreso tra € 12.501 e € 15.000
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="isee3" id="isee3" v-model="esenzioni.isee3">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                         ISEE4
                      </td>
                      <td>
                        	Partecipazione alla spesa fino a € 80,00 per prestazione per reddito
                          ISEE compreso tra € 15.001 e € 20.000
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="isee4" id="isee4" v-model="esenzioni.isee4">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                         ISEE5
                      </td>
                      <td>
                        	Partecipazione alla spesa con la tariffa intera della prestazione per
                          reddito ISEE compreso tra € 20.001 e € 22.500
                      </td>
                      <td>
                        <div class="box_piano">
                          <input type="checkbox" name="isee5" id="isee5" v-model="esenzioni.isee5">
                        </div>
                      </td>
                    </tr>
                  </table>
              </CCol> <!-- FINE LISTA ESENZIONI -->

              <!-- START NOTE ESENZIONI --> 
              <CCol sm="12">
                <div class="mt-3">
                  <p>
                    Nota (1) <br>
                    I caratteri identificativi dell’esenzione (codice+sub-codice) corrispondono alle prime 3 cifre del codice identificativo della condizione di esenzione (0NN - dove con N rappresenta un numero). Per le “Affezioni del sistema circolatorio” e per la “Malattia ipertensiva” il codice si compone di 4 caratteri: 0A02 per le “Malattie cardiache e del circolo polmonare”; 0B02 per le “Malattie cerebrovascolari”; 0C02 per le “Malattie delle arterie, arteriose, capillari, vene, vasi linfatici”; 0A31 per “Ipertensione arteriosa”; 0031 per “Ipertensione arteriosa in presenza di danno d’organo
                  </p>
                  <p>
                    Nota (2) <br>
                    I caratteri identificativi dell’esenzione (codice+sub-codice) sono 6 e corrispondono al codice identificativo completo della malattia o del gruppo di malattie: secondo lo schema prevalente RAANNN (dove A rappresenta un carattere alfabetico e N rappresenta un carattere numerico)
                  </p>
                  <p>
                    Nota (3) <br>
                    Nel caso di soggetti per i quali è stato formulato dallo specialista un sospetto diagnostico di malattia rara, è sufficiente l’indicazione del codice R e del sub-codice 99. Gli stessi caratteri identificativi dovranno essere usati per la codifica delle indagini genetiche sui familiari dell’assistito quando necessarie per diagnosticare (all’assistito) una malattia rara di origine ereditaria.
                  </p> 
                  <p>
                    Nota (5) <br>
                    Le prestazioni medico legali erogate gratuitamente ai naviganti marittimi e aerei iscritti al SASN di cui al codice PML (D.M. 22 febbraio 1984 ed altre normative tecniche di settore), ivi comprese le prestazioni specialistiche e di diagnostica strumentale e di laboratorio connesse alla formazione del giudizio medico-legale, sono:
                    visita preventiva di imbarco per i marittimi con libretto di navigazione, di nazionalità italiana, straniera o apolide;
                    visita preventiva di imbarco per gli imbarcandi come personale al servizio sulla nave, che imbarcano con passaporto di nazionalità italiana o straniera su navi battenti bandiera italiana;
                    visite periodiche biennali di idoneità alla navigazione marittima;
                    visite di rilascio o rinnovo delle licenze e degli attestati aeronautici (per il solo personale di 1^ e 2^ classe in costanza di rapporto di lavoro nel settore dell’aviazione civile;
                  </p>
                </div>
              </CCol>
            </CRow>
            
            <CRow>
            <CCol sm="12 text-center">
              <CButton color="primary btn-block" class="mt-3" type="submit">Salva Modifiche</CButton>
            </CCol>
            </CRow>

      <!-- START FATTORI DI RISCHIO-->
        <CRow>
            <CCol sm="12 mt-3">
              <h5 class="sub_heading">Fattori di Rischio</h5>
            </CCol>
          <CCol>
            <CTabs variant="pills" :active-tab="0">
            <!--CARDIOLOGICI-->
              <CTab title="Cardiologici">
                <CRow class="m-0 p-2">
                <CCol col="6" sm="3">
              <!-- FE -->
                  <CWidgetIcon
                    header="Fe %"
                    :text="fattori_rischio.fe ? fattori_rischio.fe : 'Nessun valore'"
                    :color="fattori_rischio.fe_status">
                    <CIcon v-if="fattori_rischio.fe_status=='success'" name="cil-thumb-up"/>
                    <CIcon v-if="fattori_rischio.fe_status=='danger'" name="cil-thumb-down"/>
                  </CWidgetIcon>
                </CCol>
                <!-- PA MAX -->
                <CCol col="6" sm="3">
                  <CWidgetIcon
                    header="PA MAX"
                    :text="fattori_rischio.pa_max ? fattori_rischio.pa_max : 'Nessun valore'"
                    :color="fattori_rischio.pa_max_status">
                    <CIcon v-if="fattori_rischio.pa_max_status=='success'" name="cil-thumb-up"/>
                    <CIcon v-if="fattori_rischio.pa_max_status=='danger'" name="cil-thumb-down"/>
                  </CWidgetIcon>
                </CCol>
                <!-- BNP -->
                <CCol col="6" sm="3">
                  <CWidgetIcon
                    header="BNP"
                    :text="fattori_rischio.bnp ? fattori_rischio.bnp : 'Nessun valore'"
                    :color="fattori_rischio.bnp_status">
                    <CIcon v-if="fattori_rischio.bnp_status=='success'" name="cil-thumb-up"/>
                    <CIcon v-if="fattori_rischio.bnp_status=='danger'" name="cil-thumb-down"/>
                  </CWidgetIcon>
                </CCol>
               <!-- NT PRO BNP -->
                <CCol col="6" sm="3">
                  <CWidgetIcon
                    header="NT pro BNP"
                    :text="fattori_rischio.nt_pro_bnp ? fattori_rischio.nt_pro_bnp : 'Nessun valore'"
                    :color="fattori_rischio.nt_pro_bnp_status">
                    <CIcon v-if="fattori_rischio.nt_pro_bnp_status=='success'" name="cil-thumb-up"/>
                    <CIcon v-if="fattori_rischio.nt_pro_bnp_status=='danger'" name="cil-thumb-down"/>
                  </CWidgetIcon>
                </CCol>
              <!-- VD -->
                <CCol col="6" sm="3">
                  <CWidgetIcon
                    header="VD"
                    :text="fattori_rischio.vd ? fattori_rischio.vd : 'Nessun valore'"
                    :color="fattori_rischio.vd_status">
                    <CIcon v-if="fattori_rischio.vd_status=='success'" name="cil-thumb-up"/>
                    <CIcon v-if="fattori_rischio.vd_status=='danger'" name="cil-thumb-down"/>
                  </CWidgetIcon>
                </CCol>
              <!-- TAPSE -->
                <CCol col="6" sm="3">
                  <CWidgetIcon
                    header="TAPSE"
                    :text="fattori_rischio.tapse ? fattori_rischio.tapse : 'Nessun valore'"
                    :color="fattori_rischio.tapse_status">
                    <CIcon v-if="fattori_rischio.tapse_status=='success'" name="cil-thumb-up"/>
                    <CIcon v-if="fattori_rischio.tapse_status=='danger'" name="cil-thumb-down"/>
                  </CWidgetIcon>
                </CCol>
              <!-- PAPs -->
                <CCol col="6" sm="3">
                  <CWidgetIcon
                    header="PAPs"
                    :text="fattori_rischio.paps ? fattori_rischio.paps : 'Nessun valore'"
                    :color="fattori_rischio.paps_status">
                    <CIcon v-if="fattori_rischio.paps_status=='success'" name="cil-thumb-up"/>
                    <CIcon v-if="fattori_rischio.paps_status=='danger'" name="cil-thumb-down"/>
                  </CWidgetIcon>
                </CCol>
               <!-- DT -->
                <CCol col="6" sm="3">
                  <CWidgetIcon
                    header="DT"
                    :text="fattori_rischio.dt ? fattori_rischio.dt : 'Nessun valore'"
                    :color="fattori_rischio.dt_status">
                    <CIcon v-if="fattori_rischio.dt_status=='success'" name="cil-thumb-up"/>
                    <CIcon v-if="fattori_rischio.dt_status=='danger'" name="cil-thumb-down"/>
                  </CWidgetIcon>
                </CCol>
                 </CRow>
                </CTab>
        <!--NEFROLOGICI-->
            <CTab title="Nefrologici">
                   <CRow class="m-0  p-2">
                <CCol col="6" sm="3">
                  <CWidgetIcon
                    header="Albumina"
                    :text="fattori_rischio.albumina ? fattori_rischio.albumina : 'Nessun valore'"
                    :color="fattori_rischio.albumina_status">
                    <CIcon v-if="fattori_rischio.albumina_status=='success'" name="cil-thumb-up"/>
                    <CIcon v-if="fattori_rischio.albumina_status=='danger'" name="cil-thumb-down"/>
                  </CWidgetIcon>
                </CCol>
                <CCol col="6" sm="3">
                  <CWidgetIcon
                    header="Creatina"
                    :text="fattori_rischio.creatina ? fattori_rischio.creatina : 'Nessun valore'"
                    :color="fattori_rischio.creatina_status">
                    <CIcon v-if="fattori_rischio.creatina_status=='success'" name="cil-thumb-up"/>
                    <CIcon v-if="fattori_rischio.creatina_status=='danger'" name="cil-thumb-down"/>
                  </CWidgetIcon>
                </CCol>
                <CCol col="6" sm="3">
                  <CWidgetIcon
                    header="Albuminuria"
                    :text="fattori_rischio.albuminuria ? fattori_rischio.albuminuria : 'Nessun valore'"
                    :color="fattori_rischio.albuminuria_status">
                    <CIcon v-if="fattori_rischio.albuminuria_status=='success'" name="cil-thumb-up"/>
                    <CIcon v-if="fattori_rischio.albuminuria_status=='danger'" name="cil-thumb-down"/>
                  </CWidgetIcon>
                </CCol>
                <CCol col="6" sm="3">
                  <CWidgetIcon
                    header="Cockroft"
                    :text="fattori_rischio.cockroft ? fattori_rischio.cockroft : 'Nessun valore'"
                    :color="fattori_rischio.cockroft_status">
                    <CIcon v-if="fattori_rischio.cockroft_status=='success'" name="cil-thumb-up"/>
                    <CIcon v-if="fattori_rischio.cockroft_status=='danger'" name="cil-thumb-down"/>
                  </CWidgetIcon>
                </CCol>
               <CCol col="6" sm="3">
                  <CWidgetIcon
                    header="CKD"
                    :text="fattori_rischio.ckd ? fattori_rischio.ckd : 'Nessun valore'"
                    :color="fattori_rischio.ckd_status">
                    <CIcon v-if="fattori_rischio.ckd_status=='success'" name="cil-thumb-up"/>
                    <CIcon v-if="fattori_rischio.ckd_status=='danger'" name="cil-thumb-down"/>
                  </CWidgetIcon>
                </CCol>
              </CRow>
                </CTab>
        <!--DIABETOLOGICI-->
            <CTab title="Diabetologici">
              <CRow class="m-0  p-2">
                <CCol col="6" sm="3">
                  <CWidgetIcon
                    header="Hb Glic."
                    :text="fattori_rischio.hbglic ? fattori_rischio.hbglic : 'Nessun valore'"
                    :color="fattori_rischio.hbglic_status">
                    <CIcon v-if="fattori_rischio.hbglic_status=='success'" name="cil-thumb-up"/>
                    <CIcon v-if="fattori_rischio.hbglic_status=='danger'" name="cil-thumb-down"/>
                  </CWidgetIcon>
                </CCol>
                <CCol col="6" sm="3">
                  <CWidgetIcon
                    header="Glic."
                    :text="fattori_rischio.glicemia ? fattori_rischio.glicemia : 'Nessun valore'"
                    :color="fattori_rischio.glicemia_status">
                    <CIcon v-if="fattori_rischio.glicemia_status=='success'" name="cil-thumb-up"/>
                    <CIcon v-if="fattori_rischio.glicemia_status=='danger'" name="cil-thumb-down"/>
                  </CWidgetIcon>
                </CCol>
                <CCol col="6" sm="3">
                  <CWidgetIcon
                    header="Microalbuminuria"
                    :text="fattori_rischio.microalbuminuria ? fattori_rischio.microalbuminuria : 'Nessun valore'"
                    :color="fattori_rischio.microalbuminuria_status">
                    <CIcon v-if="fattori_rischio.microalbuminuria_status=='success'" name="cil-thumb-up"/>
                    <CIcon v-if="fattori_rischio.microalbuminuria_status=='danger'" name="cil-thumb-down"/>
                  </CWidgetIcon>
                </CCol>
              </CRow>
              </CTab>
           </CTabs>
          </CCol>
            </CRow>
            </form>
          </CCardBody>
        </CCard>
      </CCol>
     </CRow>
<!--CALCOLO MAGGICK-->
<CRow>
      <CCol sm="12">
        <CCard>
          <CCardBody>
              <CRow>
              <!--MAGGICC SCORE-->
            <CCol sm="12 mb-2">
              <h5 class="sub_heading">MAGGIC SCORE</h5>
            </CCol>
            <CCol sm="3">
            <div class="form-group">
                <label>Diagnosi di COPD</label>
                <select name="copd" id="" class="form-control" v-model="maggicc.copd">
                  <option value="1">Sì</option>
                  <option value="0">No</option>
                </select>
              </div>
            </CCol>
            <CCol sm="3">
            <div class="form-group">
                <label>Diagnosi di CHF negli ultimi 18 mesi</label>
                <select name="copd" id="" class="form-control" v-model="maggicc.chf">
                  <option value="1">Sì</option>
                  <option value="0">No</option>
                </select>
              </div>
            </CCol>
            <CCol sm="3">
            <div class="form-group">
                <label>B-blocker RX</label>
                <select name="copd" id="" class="form-control" v-model="maggicc.blocker">
                  <option value="1">Sì</option>
                  <option value="0">No</option>
                </select>
              </div>
            </CCol>
          <CCol sm="3">
            <div class="form-group">
                <label>ACEi/ARB Rx</label>
                <select name="copd" id="" class="form-control" v-model="maggicc.acei">
                  <option value="1">Sì</option>
                  <option value="0">No</option>
                </select>
              </div>
            </CCol>
            <CCol sm="3">
              <CInput label="SBP (mmHg)" name="SBP" v-model="maggicc.sbp"></CInput>
            </CCol>
            <CCol sm="3">
              <CInput label="Creatinina (umol/L)" name="creatinina" v-model="maggicc.creatinina"></CInput>
            </CCol>
            <CCol sm="3">
              <CInput label="LVEF (%)" name="lvef" v-model="maggicc.lvef"></CInput>
            </CCol>
              </CRow>
              <CRow class="mt-2">
                <CCol sm="6">
                  <CButton @click="calcolaMaggic()" class="btn-block btn-primary">Calcola MAGGIC</CButton>
                </CCol>
                <CCol sm="6">
                  <CInput name="maggic" disabled v-model="maggicc_risultato"></CInput>
                </CCol>
              </CRow>
          </CCardBody>
        </CCard>
      </CCol>
     </CRow>
     <CRow>
      <CCol sm="12">
        <CCard>
          <CCardBody>
              <CRow>
              <!--DATI ANAGRAFICI-->
            <CCol sm="12 mb-2">
              <h5 class="sub_heading">Dati Anagrafici</h5>
            </CCol>
            <CCol sm="3">
              <CInput label="Nome" name="nome" v-model="formUtente.meta.nome" disabled></CInput>
            </CCol>
            <CCol sm="3">
              <CInput label="Nome" name="nome" v-model="formUtente.meta.cognome" disabled></CInput>
            </CCol>
            <CCol sm="3">
               <CInput type="date" label="Data nascita" v-model="formUtente.meta.data_nascita" disabled></CInput>
            </CCol>
            <CCol sm="3">
               <CInput  label="Provincia Nascita" v-model="formUtente.meta.provincia_nascita" disabled></CInput>
            </CCol>
          <CCol sm="3">
               <CInput  label="Comune Nascita" v-model="formUtente.meta.comune_nascita" disabled></CInput>
            </CCol>
           <CCol sm="3">
               <CInput  label="Provincia Residenza" v-model="formUtente.meta.provincia_residenza" disabled></CInput>
            </CCol>
          <CCol sm="3">
               <CInput  label="Comune Residenza" v-model="formUtente.meta.comune_residenza" disabled></CInput>
            </CCol>
          <CCol sm="3">
               <CInput  label="Provincia ASL" v-model="formUtente.meta.provincia_asl" disabled></CInput>
            </CCol>
            <CCol sm="3">
               <CInput  label="Comune ASL" v-model="formUtente.meta.comune_asl" disabled></CInput>
            </CCol>
           <CCol sm="3">
               <CInput label="Codice Fiscale" name="cf" v-model="formUtente.meta.codice_fiscale" disabled></CInput>
            </CCol>
            <CCol sm="3">
              <CInput label="Email" type="email" name="email" v-model="formUtente.email" disabled></CInput>
            </CCol>
             <CCol sm="3">
               <CInput label="Telefono" name="telefono" v-model="formUtente.meta.telefono" disabled></CInput>
            </CCol>
             <CCol sm="3">
               <CInput label="Telefono 2" name="telefono_2" v-model="formUtente.meta.telefono_2" disabled></CInput>
              </CCol>
              </CRow>
          </CCardBody>
        </CCard>
      </CCol>
     </CRow>
<!--FINE SEZIONE SCHEDA UTENTE -->

  <!-- MODAL ALLARMI -->
    <CModal
      title="Allarmi Scheda Clinica"
      color="success"
      :show.sync="modalAllarmi">

      <CRow class="align-items-center">
      <CCol class="col-12">
        <div class="form-group">
          <label>Chiave Allarme</label>
              <select class="form-control" name="sesso" v-model="allarme.chiave">
                <option value="0"> -- SELEZIONA UN CAMPO -- </option>
                <option value="pa_max">PA Max</option>
                <option value="pa_min">PA Min</option>
                <option value="peso">Peso</option>
                <option value="fc">FC</option>
                <option value="saturazione_arteriosa">SPO2</option>
                <option value="fe">FE</option>
                <option value="bnp">BNP</option>
                <option value="nt_pro_bnp">NT pro BNP</option>
                <option value="vd">VD</option>
                <option value="tapse">TAPSE</option>
                <option value="paps">PAPS</option>
                <option value="dt">DT</option>
              </select>
        </div>
      </CCol>
      <CCol v-if="allarme.chiave!==0" class="col-6">
          <CInput label="Valore min." v-model="allarme.valoreMin"></CInput>
      </CCol>
      <CCol v-if="allarme.chiave!==0" class="col-6">
          <CInput label="Valore max." v-model="allarme.valoreMax"></CInput>
      </CCol>
       <CCol v-if="allarme.chiave!==0" sm="12">
         <label for="ripetizioni">Ripetizioni</label>
          <div class="form-group">
            <select v-model="allarme.ripetizioni" name="ripetizioni" id="ripetizioni" class="form-control">
              <option value="1">Solo una volta</option>
              <option value="0">Ripeti</option>
            </select>
          </div>
       </CCol>
       <CCol sm="12">
      <CButton v-if="allarme.chiave!=''" @click="salvaAllarme()" color="success btn-block">
          Aggiungi Allarme
        </CButton>
        </CCol>
      </CRow>
      <CRow class="mt-3" >
        <CCol>
        <h5 class="sub_heading">Allarmi Attivi</h5>
          <table class="table table-bordered">
            <tr>
              <th>
                Chiave
              </th>
              <th>
                Min
              </th>
              <th>
                Max
              </th>
              <th>
                Ripetizioni
              </th>
              <th>
              </th>
            </tr>
            <tr v-for="allarme in allarmi" v-bind:key="allarme.idAllarme">
              <td>
                <span class="text-uppercase">{{allarme.chiave | replaceunderscore}}</span>
              </td>
              <td>
                 {{allarme.valore_min}}
              </td>
              <td>
                {{allarme.valore_max}}
              </td>
              <td>
                {{allarme.ripetizioni === 1 ? 'Solo una volta' : 'Ripeti'}}
              </td>
              <td>
                <CButton  v-c-tooltip="'Elimina Allarme'" color="danger" @click="cancellaAllarme(allarme.idAllarme)">
                  <fa icon="trash"></fa>
                </CButton>
              </td>
            </tr>
          </table>
        </CCol>
      </CRow>
      <template #footer>
        <CButton color="default" @click="modalAllarmi = false">
          Chiudi
        </CButton>
      </template>
    </CModal>

  </div>
</template>

<script>
import axios from 'axios'
import vSelect from 'vue-select'

import _ from 'lodash'
import Form from 'vform'
import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'
import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
  name: 'Pazienti',
  components: {
    PazienteSelezionato,
    vSelect
  },

  data () {
    return {
      modalAllarmi: false,
      allarmi:[],
      esenzioni:{
          'zerozerouno_zerocinquesei': false,
          'ra_ann': false,
          'rq009r': false,
          'r99': false,
          'e01': false,
          'e02': false,
          'e03': false,
          'e04': false,
          'x01':false,
          'g01': false,
          'g02': false,
          'l01': false,
          'l02': false,
          'l03': false,
          'l04': false,
          's01': false,
          's02': false,
          's03': false,
          'c01': false,
          'c02': false,
          'c03': false,
          'c04': false,
          'c05': false,
          'c06': false,
          'c07': false,
          'v01': false,
          'n01': false,
          'm00': false,
          'm01_m41': false,
          'm50': false,
          'm52': false,
          'l04': false,
          'd01': false,
          'd02': false,
          'd03': false,
          'd04': false,
          'd05': false,
          'd06': false,
          'p01': false,
          'p02': false,
          'p03': false,
          'b01': false,
          'i01': false,
          't01': false,
          'f01': false,
          'pml': false,
          'tdl01': false,
          'c104': false,
          'isee1': false,
          'isee2': false,
          'isee3': false,
          'isee4': false,
          'isee5': false
      },
      maggicc_risultato:'',
      eta:'',
      pa:'',
      bpm:'',
      fc:'',
      sapo2:'',
      fattori_rischio:{
        albumina:'',
        albumina_status:'',
        pa:'',
        pa_status:'',
        creatina:'',
        creatina_status:'',
        albuminuria:'',
        albuminuria_status:'',
        cockroft:'',
        cockroft_status:'',
        ckd:'',
        ckd_status:'',
        hbglic:'',
        hbglic_status:'',
        glicemia:'',
        glicemia_status:'',
        bnp:'',
        bnp_status:'',
        nt_pro_bnp:'',
        nt_pro_bnp_status:'',
        fe:'',
        fe_status:'',
        vd:'',
        vd_status:'',
        tapse:'',
        tapse_status:'',
        paps:'',
        paps_status:'',
        dt:'',
        dt_status:'',
        microalbuminuria :'',
        microalbuminuria_status:'',
        pa_max: '',
        pa_max_status: '',
      },
      allarme:{
        chiave:'0',
        valoreMin:'',
        valoreMax:'',
        ripetizioni: 0
      },

      maggicc:{
        copd:'0',
        chf:'0',
        blocker:'0',
        acei:'0',
        creatinina:'',
        sbp:'',
        creatinina:'',
        lvef:'',
      },

      formUtente:{
        email: '',
        esami:{
          daticlinici: {
            pressione_max: '',
            pressione_min: '',
            frequenza: '',
            saturazione_arteriosa: '',
            peso: '',
            bmi: '',
          },
        },
        meta:{
          nome:'',
          cognome:'',
          data_nascita:'',
          provincia_nascita:'',
          comune_nascita:'',
          provincia_residenza:'',
          comune_residenza:'',
          provincia_asl:'',
          comune_asl:'',
          codice_fiscale:'',
          telefono:'',
          scheda_clinica: {
            superficie_corporea:'',
            altezza:'',
            sesso:'',
            gruppo:'',
            fumo:0,
            diabete:0,
            anni_diabete:'',
            ipertensione_arteriosa:0,
            anni_ipertensione:'',
            anemia: 0,
            fibrillazioneatriale: 0,
            nyha:'',
            terapiaottimale: 0,
            epicrisi:'',
            diagnosi_discorisva: '',
            problematiche:'',
            tipologia_paziente: '',

            familiarita:{
              fami_1:false,
              fami_2:false,
              fami_3:false,
              fami_4:false,
              fami_5:false,
            },
            defibrillatore: 0,
            dati_defibrillatore: {
                vad_marca:'',
                vad_modello:'',
                data_impianto_vad:'',
                pm_marca:'',
                pm_tipo:'',
                pm_modello:'',
                data_impianto_pm:'',
                icd_marca:'',
                icd_modello:'',
                icd_tipo:'',
                data_impianto_icd:'',
                interventi:'',
                data_ultimo_intervento:'',
            },
          },
        }
      }
    }
  },

  filters: {
    replaceunderscore: (value) => {
        return value.replace(/_/g,' ')
    }
  },

  computed: {
    ...mapGetters({
      paziente:'pazienti/getPaziente',
      User: 'auth/user'

    })
  },

  mounted () {
    if(this.idPaziente == ''){
        this.$router.push({name: 'private.home'})
    }
    else{
      this.caricaPaziente(this.idPaziente)
    }
  },

/*
  METODI
*/
methods: {

/*CALCOLO ETA*/
 submitBday(data_nascita) {
    var Bday = new Date(data_nascita);
    this.eta=((Date.now() - Bday) /31557600000).toFixed(0);
 },

/*
  CARICAMENTO SCHEDA COMPLETA PAZIENTE
*/
  caricaPaziente(id){
    this.$store.commit('private/setPreload', true)
      var url = '/api/paziente/'+ this.paziente.idUser;
      axios.get(url)
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.formUtente = res.data['0'];
            this.submitBday(res.data['0'].meta.data_nascita);
            this.setFattori()

            if(this.formUtente.esami.daticlinici.peso !== undefined && this.formUtente.meta.scheda_clinica.altezza !== undefined){
              this.calcolaBmi();
            }

            console.log(res.data['0'].meta.scheda_clinica.esenzioni)
              
         
            this.esenzioni = res.data['0'].meta.scheda_clinica.esenzioni;
            
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          console.error(err)
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },

  setFattori(){
    var esami=this.formUtente.esami;
    var array_check_valori={};
    //TODO: FE% - TAPSE - DT - CKD - ALBUMINURIA
    //this.fe_status = 'danger'
    //this.tapse_status = 'danger'
    //this.dt_status = 'danger'
    //this.ckd_status = 'danger'
    //this.albuminuria_status = 'danger'

    //SET PA MAX
    if(esami['daticlinici']!== false && esami['daticlinici']!==null){

      this.fattori_rischio.pa_max = esami['daticlinici'].pa_max
      array_check_valori.pa_max=esami['daticlinici'].pa_max
    }

    //SET BNP & NT PRO BNP
    if(esami['markers_scompenso']!== false && esami['markers_scompenso']!==null){
      this.fattori_rischio.bnp = esami['markers_scompenso'].esame.bnpingresso
      this.fattori_rischio.nt_pro_bnp = esami['markers_scompenso'].esame.bnpproingresso

      array_check_valori.bnp=esami['markers_scompenso'].esame.bnpingresso
      array_check_valori.nt_pro_bnp=esami['markers_scompenso'].esame.bnpproingresso
    }

    //SET VD
    if(esami['markers_infettivi']!== false && esami['markers_infettivi']!==null){
      this.fattori_rischio.vd = esami['markers_infettivi'].esame.vd
      array_check_valori.vd=esami['markers_infettivi'].esame.vd
    }

    //SET PAPS
    if(esami['ecocardiogramma']!== false && esami['ecocardiogramma']!==null){
      this.fattori_rischio.paps = esami['ecocardiogramma'].esame.paps
      array_check_valori.paps=esami['ecocardiogramma'].esame.paps
    }

    //SET ALBUMINA
    if(esami['protidogramma']!== false && esami['protidogramma']!==null){
      this.fattori_rischio.albumina = esami['protidogramma'].esame.albumina

      array_check_valori.albumina=esami['protidogramma'].esame.albumina
    }

    //SET CREATINA && COCKROFT
    if(esami['funzione_renale']!== false && esami['funzione_renale']!==null){
      this.fattori_rischio.creatinina = esami['funzione_renale'].esame.creatinina
      this.fattori_rischio.cockroft = esami['funzione_renale'].esame.cockroft

      array_check_valori.creatinina=esami['funzione_renale'].esame.creatinina
      array_check_valori.cockroft=esami['funzione_renale'].esame.cockroft

    }


    //SET MICROALBUMINURIA
    if(esami['urine']!== false && esami['urine']!==null){
      this.fattori_rischio.microalbuminuria = esami['urine'].esame.microalbuminuria

      array_check_valori.microalbuminuria=esami['urine'].esame.microalbuminuria
      //thisfattori_rischio.microalbuminuria_status = 'success'
    }

    //SET HB GLIC. && GLIC.
    if(esami['metabolico']!== false && esami['metabolico']!==null){
      this.fattori_rischio.hbglic = esami['metabolico'].esame.hbglicata
      this.fattori_rischio.glicemia = esami['metabolico'].esame.glicemia

      array_check_valori.hbglic=esami['metabolico'].esame.hbglic
      array_check_valori.glicemia=esami['metabolico'].esame.glicemia
      //this.hbglic_status = 'success'
      //this.glic_status = 'success'
    }

    this.checkAllarmi(array_check_valori);
},

/*
  CONTROLLO ALLARMI NEGLI ULTIMI ESAMI
*/
checkAllarmi(chiavi){
  var valore_esame=0;
  for(var i=0; i<this.formUtente.allarmi.length; i++){
    if(chiavi[this.formUtente.allarmi[i].chiave] != undefined){
      valore_esame=chiavi[this.formUtente.allarmi[i].chiave];
      if((valore_esame < this.formUtente.allarmi[i].valore_min) || (valore_esame > this.formUtente.allarmi[i].valore_max)){
        this.fattori_rischio[this.formUtente.allarmi[i].chiave+'_status']='danger';
      }
      else{
         this.fattori_rischio[this.formUtente.allarmi[i].chiave+'_status']='success';
      }
    }
  }
},
/*
  SEZIONE ALLARMI
*/
  apriModalAllarmi(){
    this.allarme.chiave=0;
    this.allarme.valoreMin='';
    this.allarme.valoreMax='';

    this.caricaAllarmi();
    this.modalAllarmi = true
  },
/*
  CARICAMENTO ALLARMI
*/
 caricaAllarmi(){
      var url = '/api/allarmi-esame/'+ this.paziente.idUser;
      this.$store.commit('private/setPreload', true)
      axios.get(url,{
        params: {
          'esame': 'scheda_clinica'
        }
      })
      .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.allarmi=res.data['0'];
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
    })
 },

/*
  SALVATAGGIO ALLARME
*/
  salvaAllarme(){
      var url = '/api/allarme/'+this.paziente.idUser;
      this.$store.commit('private/setPreload', true);

      this.allarme.codiceEsame='scheda_clinica';

      axios.post(url,this.allarme)
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data.success === true) {
            this.$store.commit('private/setMessaggioSuccesso', 'Aggiornamento Riuscito')
            this.modalAllarmi=false;
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },

/*
  CANCELLAZIONE ALLARME
*/
  cancellaAllarme(idAllarme){

    if(confirm('Sei sicuro?')){
      var url = '/api/allarme/'+this.paziente.idUser+'/'+idAllarme;

      axios.delete(url)
        .then(res => {
          this.$store.commit('private/setPreload', false)
          if (res.data.success === true) {
            this.$store.commit('private/setMessaggioSuccesso', 'Cancellazione Riuscita')
            this.caricaAllarmi();
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    }

    },

/*
  AGGIORNA SCHEDA CLINICA
*/
  aggiornaSchedaClinica(){
    this.$store.commit('private/setPreload', true);
      var url = '/api/paziente/'+this.paziente.idUser;
      var payload= {};
      payload.scheda_clinica = this.formUtente.meta.scheda_clinica
      payload.scheda_clinica.esenzioni = this.esenzioni
      axios.put(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data.success === true) {
            this.$store.commit('private/setMessaggioSuccesso', 'Aggiornamento Riuscito')
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },


/** CALCOLA BMI */
  calcolaBmi(){
    var bmi = 0;
    var peso = this.formUtente.esami.daticlinici.peso
    var altezza_m = this.formUtente.meta.scheda_clinica.altezza/100;

    console.log(peso)
    console.log(altezza_m * altezza_m)

    //PESO/ALTEZZA(m)2
    bmi = Math.round(peso/(altezza_m*altezza_m))

    this.formUtente.esami.daticlinici.bmi = bmi

    console.log(this.formUtente.esami.daticlinici.bmi)

  },

/*CALCOLO MAGGIC*/
  calcolaMaggic(){
    var maggicc=0;
    var altezza_m=this.formUtente.altezza/100;
    var bm= Math.round(this.formUtente.daticlinici.peso/(altezza_m*altezza_m));

  //CHECK SESSO
    if(this.formUtente.sesso=='maschio'){
      maggicc=maggicc+1;
    }
    //CHECK FUMO
    if(this.formUtente.fumo==1){
      maggicc=maggicc+1;
    }
    //CHECK DIABETE
    if(this.formUtente.diabete==1 || this.formUtente.diabete==2){
      maggicc=maggicc+3;
    }
    //CHECK COPD
    if(this.maggicc.copd==1){
      maggicc=maggicc+2;
    }
    //CHECK CHF
    if(this.maggicc.chf==1){
      maggicc=maggicc+2;
    }
    //CHECK BETA BLOCKER
    if(this.maggicc.blocker==0){
      maggicc=maggicc+3;
    }
    //CHECK ACEI
    if(this.maggicc.acei==0){
      maggicc=maggicc+1;
    }

//CHECK LVEF
      if(this.maggicc.lvef<20){
        maggicc=maggicc+7;
      }
      else if(this.maggicc.lvef>=20 && this.maggicc.lvef<=24){
        maggicc=maggicc+6;
      }
      else if(this.maggicc.lvef>=25 && this.maggicc.lvef<=29){
        maggicc=maggicc+5;
      }
      else if(this.maggicc.lvef>=30 && this.maggicc.lvef<=34){
        maggicc=maggicc+3;
      }
      else if(this.maggicc.lvef>=35 && this.maggicc.lvef<=39){
        maggicc=maggicc+2;
      }
      else if(this.maggicc.lvef>=40){
        maggicc=maggicc+0;
      }

//CHECK ETA
      if(this.eta<55){
        if(this.maggicc.lvef<30){
          maggicc=maggicc+0;
        }
        else if(this.maggicc.lvef>=30 && this.maggicc.lvef<=39){
          maggicc=maggicc+0;
        }
        else if(this.maggicc.lvef>=40){
          maggicc=maggicc+0;
        }
      }
      if(this.eta>=56 && this.eta<=59){
        if(this.maggicc.lvef<30){
          maggicc=maggicc+1;
        }
        else if(this.maggicc.lvef>=30 && this.maggicc.lvef<=39){
          maggicc=maggicc+2;
        }
        else if(this.maggicc.lvef>=40){
          maggicc=maggicc+3;
        }
      }
      if(this.eta>=60 && this.eta<=64){
        if(this.maggicc.lvef<30){
          maggicc=maggicc+2;
        }
        else if(this.maggicc.lvef>=30 && this.maggicc.lvef<=39){
          maggicc=maggicc+4;
        }
        else if(this.maggicc.lvef>=40){
          maggicc=maggicc+5;
        }
      }
      if(this.eta>=65 && this.eta<=69){
        if(this.maggicc.lvef<30){
          maggicc=maggicc+4;
        }
        else if(this.maggicc.lvef>=30 && this.maggicc.lvef<=39){
          maggicc=maggicc+6;
        }
        else if(this.maggicc.lvef>=40){
          maggicc=maggicc+7;
        }
      }
      if(this.eta>=70 && this.eta<=74){
        if(this.maggicc.lvef<30){
          maggicc=maggicc+6;
        }
        else if(this.maggicc.lvef>=30 && this.maggicc.lvef<=39){
          maggicc=maggicc+8;
        }
        else if(this.maggicc.lvef>=40){
          maggicc=maggicc+9;
        }
      }
      if(this.eta>=75 && this.eta<=79){
        if(this.maggicc.lvef<30){
          maggicc=maggicc+8;
        }
        else if(this.maggicc.lvef>=30 && this.maggicc.lvef<=39){
          maggicc=maggicc+10;
        }
        else if(this.maggicc.lvef>=40){
          maggicc=maggicc+12;
        }
      }
      if(this.eta>=80){
        if(this.maggicc.lvef<30){
          maggicc=maggicc+10;
        }
        else if(this.maggicc.lvef>=30 && this.maggicc.lvef<=39){
          maggicc=maggicc+13;
        }
        else if(this.maggicc.lvef>=40){
          maggicc=maggicc+15;
        }
      }
//CHECK SBP
      if(this.maggicc.sbp<110){
        if(this.maggicc.lvef<30){
          maggicc=maggicc+5;
        }
        else if(this.maggicc.lvef>=30 && this.maggicc.lvef<=39){
          maggicc=maggicc+3;
        }
        else if(this.maggicc.lvef>=40){
          maggicc=maggicc+2;
        }
      }
      if(this.eta>=110 && this.eta<=119){
        if(this.maggicc.lvef<30){
          maggicc=maggicc+4;
        }
        else if(this.maggicc.lvef>=30 && this.maggicc.lvef<=39){
          maggicc=maggicc+2;
        }
        else if(this.maggicc.lvef>=40){
          maggicc=maggicc+1;
        }
      }
      if(this.eta>=120 && this.eta<=129){
        if(this.maggicc.lvef<30){
          maggicc=maggicc+3;
        }
        else if(this.maggicc.lvef>=30 && this.maggicc.lvef<=39){
          maggicc=maggicc+1;
        }
        else if(this.maggicc.lvef>=40){
          maggicc=maggicc+1;
        }
      }
      if(this.eta>=130 && this.eta<=139){
        if(this.maggicc.lvef<30){
          maggicc=maggicc+2;
        }
        else if(this.maggicc.lvef>=30 && this.maggicc.lvef<=39){
          maggicc=maggicc+1;
        }
        else if(this.maggicc.lvef>=40){
          maggicc=maggicc+0;
        }
      }
      if(this.eta>=140 && this.eta<=149){
        if(this.maggicc.lvef<30){
          maggicc=maggicc+1;
        }
        else if(this.maggicc.lvef>=30 && this.maggicc.lvef<=39){
          maggicc=maggicc+0;
        }
        else if(this.maggicc.lvef>=40){
          maggicc=maggicc+0;
        }
      }
      if(this.eta>=150){
        if(this.maggicc.lvef<30){
          maggicc=maggicc+0;
        }
        else if(this.maggicc.lvef>=30 && this.maggicc.lvef<=39){
          maggicc=maggicc+0;
        }
        else if(this.maggicc.lvef>=40){
          maggicc=maggicc+0;
        }
      }
//CHECK CREATININA
      if(this.maggicc.creatinina<90){
        maggicc=maggicc+0;
      }
      else if(this.maggicc.creatinina>=90 && this.maggicc.creatinina<=109){
        maggicc=maggicc+1;
      }
      else if(this.maggicc.creatinina>=110 && this.maggicc.creatinina<=129){
        maggicc=maggicc+2;
      }
      else if(this.maggicc.creatinina>=130 && this.maggicc.creatinina<=149){
        maggicc=maggicc+3;
      }
      else if(this.maggicc.creatinina>=150 && this.maggicc.creatinina<=169){
        maggicc=maggicc+4;
      }
      else if(this.maggicc.creatinina>=170 && this.maggicc.creatinina<=209){
        maggicc=maggicc+5;
      }
      else if(this.maggicc.creatinina>=210 && this.maggicc.creatinina<=249){
        maggicc=maggicc+6;
      }
      else if(this.maggicc.creatinina>=250){
        maggicc=maggicc+8;
      }
//CHECK CREATININA
      if(this.formUtente.nyha==1){
        maggicc=maggicc+0;
      }
      else if(this.formUtente.nyha==2){
        maggicc=maggicc+2;
      }
      else if(this.formUtente.nyha==3){
        maggicc=maggicc+6;
      }
      else if(this.formUtente.nyha==3){
        maggicc=maggicc+8;
      }
//CHECK BM
      if(bm<15){
        maggicc=maggicc+6;
      }
      else if(bm>=15 && bm<=19){
        maggicc=maggicc+5;
      }
      else if(bm>=20 && bm<=24){
        maggicc=maggicc+3;
      }
      else if(bm>=25 && bm<=29){
        maggicc=maggicc+2;
      }
      else if(bm>=30){
        maggicc=maggicc+0;
      }
    this.maggicc_risultato=maggicc;
  }
  },
}
</script>
