<template>
<div>
   <PazienteSelezionato></PazienteSelezionato>
<!--SEZIONE TERAPIA-->
    <CRow>
      <CCol sm="12">
        <CCard>
          <CCardHeader>
            <CRow>
              <CCol sm="12" class="text-right">
                <CButton v-if="User.role!='paziente'" @click="mostraModal('aggiungi')" color="primary"><span><fa icon="plus"></fa> Aggiungi Terapia</span></CButton>
              </CCol>
            </CRow>
          </CCardHeader>
          <CCardBody>
          <CRow>
              <CCol sm="12">
              <CDataTable
                :items="items"
                :fields="fields"
                column-filter
                :table-filter="false"
                :items-per-page-select="false"
                :items-per-page="perPage"
                :noItemsView='{noItems: "Nessun Risultato"}'
                hover
                sorter
                pagination
              >
                <template #show_details="{item, index}">
                  <td class="py-2">
                    <CButton
                      color="primary"
                      square
                      size="sm"
                      @click="toggleDetails(item, index)"
                    >
                      {{Boolean(item._toggled) ? 'Chiudi' : 'Mostra'}}
                    </CButton>
                  </td>
                </template>
                <template #details="{item}">
                  <CCollapse :show="Boolean(item._toggled)" :duration="collapseDuration">
                    <CCardBody>
                      <CRow class="lista-terapia">
                        <CCol sm="3">
                          <div class="box-terapia">
                            <CCol col="12" class="font-weight-bold p-0">Dosaggio:</CCol>
                            <CCol col="12" class="p-0 text-right">{{item.dosaggio}}</CCol>
                          </div>
                        </CCol>
                        <CCol sm="3">
                           <div class="box-terapia">
                            <CCol sm="12" class="font-weight-bold  p-0">Somministazione:</CCol>
                            <CCol sm="12" class="p-0 text-right">{{item.somministrazione}}</CCol>
                               </div>
                        </CCol>
                         <CCol sm="3">
                            <div class="box-terapia">
                            <CCol sm="12" class="font-weight-bold  p-0">Orario:</CCol>
                            <CCol sm="12" class="p-0 text-right">{{item.numero_orario_somministrazione}}</CCol>
                               </div>
                        </CCol>
                         <CCol sm="3">
                            <div class="box-terapia">
                            <CCol sm="12" class="font-weight-bold  p-0">Durata Trattamento:</CCol>
                            <CCol sm="12" class="p-0 text-right">{{item.durata_trattamento}}</CCol>
                               </div>
                        </CCol>
                        <CCol sm="3">
                           <div class="box-terapia">
                              <CCol sm="12" class="font-weight-bold  p-0">SSN:</CCol>
                              <CCol sm="12" v-if="item.ssn == 1" class="p-0 text-right">Sì</CCol>
                              <CCol sm="12" v-else class="p-0 text-right">NO</CCol>
                            </div>
                        </CCol>
                      </CRow>
                      <CRow v-if="User.role == 'admin' || User.role == 'medico'">
                        <CCol sm="12" class="text-right">
                           <CButton  v-c-tooltip="'Modifica Terapia'" color="primary" @click="mostraModal('modifica',item.idTerapia)">
                             <fa icon="edit"></fa>
                           </CButton>
                            <CButton  v-c-tooltip="'Elimina Terapia'" class="mr-4" color="danger" @click="apriConferma(item.idTerapia)">
                              <fa icon="trash"></fa>
                            </CButton>
                          </CCol>
                      </CRow>
                  </CCardBody>
                  </CCollapse>
                </template>
              </CDataTable>
              </CCol>
            </CRow>
          </CCardBody>
        </CCard>
      </CCol>
     </CRow>
      <CModal :title= this.titleModal color="primary" :show.sync="modalTerapia">
      <CRow>
        <CCol sm="12">
          <div class="form-group position-relative">
            <label>Principio Attivo</label>
            <input placeholder="Scrivi almeno 3 caratteri..." class="form-control" @input="cercaFarmaco()" v-model="filtroFarmaco" type="text">
            <div v-if="farmaci.length" class="float_box shadow" style="">
              <div  class="close" @click="farmaci=''"><i class="fas fa-times"></i></div>
               <div class="ricerca-item" v-for="farmaco in farmaci" :key="farmaco.id_principio" @click="selezionaFarmaco(farmaco)">{{farmaco.nomePrincipio}} - {{farmaco.nome_commerciale}}</div>
            </div>
            <div v-if="filtroFarmaco.length>0 && farmaci.length==0" class="float_box shadow">
              <div class="ricerca-item" > Nessuna farmaco trovato </div>
            </div>
          </div>
        </CCol>
         <CCol sm="6">
          <CInput v-model="formTerapia.dosaggio" label="Dosaggio" />
        </CCol>
        <CCol sm="6">
          <CInput v-model="formTerapia.somministrazione" label="Somministrazione"/>
        </CCol>
        <CCol sm="12">
          <CInput v-model="formTerapia.numero_orario_somministrazione" label="Numero e Orario Somministrazione" />
        </CCol>
        <CCol sm="6">
          <CInput v-model="formTerapia.durata_trattamento" label="Durata Trattamento" />
        </CCol>
        <CCol sm="6">
          <label>A carico dell'SSN</label>
          <select class="form-control" v-model="formTerapia.ssn">
            <option selected value="0">No</option>
            <option value="1">Sì</option>
          </select>
        </CCol>
      </CRow>
      <template #footer>
        <CButton color="default" @click="modalTerapia = false">
          Chiudi
        </CButton>
        <CButton  v-if="operazione == 'inserimento'" @click="inserisciTerapia()" color="success">
          Inserisci
        </CButton>
        <CButton  v-if="operazione == 'modifica'" @click="modificaTerapia()" color="success">
          Modifica
        </CButton>
      </template>
    </CModal>
    <!-- MODAL CANCELLAZIONE -->
    <CModal
      title="Conferma Cancellazione"
      color="danger"
      :show.sync="modalConferma">
      Sei sicuro?
      <template #footer>
        <CButton color="default" @click="modalConferma = false">
          Chiudi
        </CButton>
        <CButton color="danger" @click="cancellaTerapia()">
          Conferma
        </CButton>
      </template>
    </CModal>
  </div>
<!--FINE SEZIONE TERAPIA-->
</template>

<script>
import axios from 'axios'
import Form from 'vform'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import VuetableFieldHandle from 'vuetable-2/src/components/VuetableFieldHandle.vue'
import TableStyle from '~/plugins/table.js'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'

const items= []

const fields = [
    {
        key: 'farmaco',
        filter :false,
        _classes : 'farmaco_head',
    },
    {
      key: 'show_details',
      label: '',
      _style: 'width:10%',
      sorter: false,
      filter: false
    },
]


export default {
  name: 'Terapia',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    PazienteSelezionato,
  },

  data () {
    return {
      items:[],
      fields,
      details: [],
      terapie:[],

      modalConferma: false,
      modalTerapia: false,
      farmaci:'',
      filtroFarmaco:'',
      titleModal:'',
      operazione: '',
      idTerapia: '',

      collapseDuration: 0,
      perPage: 5,
      formTerapia: new Form({
        idPaziente:'',
        farmaco:'',
        dosaggio:'',
        somministrazione:'',
        numero_orario_somministrazione:'',
        durata_trattamento:'',
        ssn:0
      }),
    }
  },

  computed: {
    ...mapGetters({
       paziente: 'pazienti/getPaziente',
       User: 'auth/user'
    })
  },

  mounted () {

    if(this.idPaziente == ''){
      this.$router.push({name: 'home'});
    }

    if(this.idPaziente != ''){
       this.caricaTerapia(this.idPaziente)
    }

  },

/*
  METODI
*/
  methods: {

    toggleDetails (item) {
      this.$set(this.items[item.id], '_toggled', !item._toggled)
      this.collapseDuration = 300
      this.$nextTick(() => { this.collapseDuration = 0})
    },

/*
  RICERCA PRINCIPIO ATTIVO
*/
    cercaFarmaco: _.debounce(function (e) {
      if(this.filtroFarmaco.length<3){
        return;
      }
      this.$store.commit('private/setPreload', true)
      var url = '/api/principi';
      axios.get(url,{
        params: {
          nome: this.filtroFarmaco
        }
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data){
            this.farmaci = res.data['0']
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },300),
/*
  APERTURA MODAL PER INSERIMENTO/MODIFICA
*/
     mostraModal (stato,id){
       this.formTerapia = new Form();
       this.filtroFarmaco = '';
        if(stato == 'aggiungi'){
            this.titleModal = 'Inserisci Terapia';
            this.operazione = 'inserimento';
            this.modalTerapia = true;
        }
        else if(stato == 'modifica'){
          this.titleModal = 'Modifica Terapia';
          this.operazione = 'modifica';
          this.idTerapia = id;
          this.apriTerapia();
        }
    },
/*
  INSERISCI TERAPIA
*/
    inserisciTerapia(){
      var url = '/api/terapia/'+this.paziente.idUser;
      var payload = this.formTerapia;
      //payload.idPaziente=this.paziente.idUser;
      this.$store.commit('private/setPreload', true)
      axios.post(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success === true){
            this.formTerapia = new Form();
            this.$store.commit('private/setMessaggioSuccesso', 'Inserimento Riuscito')
            this.modalTerapia=false;
            this.caricaTerapia();

          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },
  /*
    CARICAMENTO TERAPIA PAZIENTE
  */
  caricaTerapia(){
    this.$store.commit('private/setPreload', true)
      var url = '/api/terapia-paziente/'+this.paziente.idUser;
      axios.get(url)
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.items=res.data['0'].map((item, id) => { return {...item, id}});
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          console.log(err)
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },

/* APRI TERAPIA */
  apriTerapia(){
    this.$store.commit('private/setPreload', true)
     var url = '/api/terapia/'+this.paziente.idUser+'/'+this.idTerapia;
      axios.get(url)
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.modalTerapia = true
            this.filtroFarmaco = res.data['0']['0'].farmaco
            this.formTerapia = res.data['0']['0']
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
  },

  modificaTerapia(){
     var url = '/api/terapia/'+this.paziente.idUser+'/'+this.idTerapia;
     var payload = this.formTerapia;

      this.$store.commit('private/setPreload', true)
      axios.put(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success){
            this.$store.commit('private/setMessaggioSuccesso', 'Aggiornamento Riuscito')
            this.modalTerapia = false;
            this.caricaTerapia(this.idPaziente);
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.esame)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },

  /*
    SELEZIONA FARMACO SELECT
  */
  selezionaFarmaco(farmaco){
      this.filtroFarmaco=farmaco.nome_commerciale;
      this.formTerapia.farmaco=farmaco.nome_commerciale;
      this.farmaci='';
  },

  apriConferma (idTerapia) {
    this.modalConferma = true,
    this.idTerapia = idTerapia
  },

  cancellaTerapia(){
    var url = '/api/terapia/'+this.paziente.idUser+'/'+this.idTerapia
    this.$store.commit('private/setPreload', true)
    axios.delete(url)
      .then(res => {
          this.$store.commit('private/setPreload', false)
        if (res.data) {
          this.modalConferma = false
          this.caricaTerapia();
          this.$store.commit('private/setMessaggioSuccesso', 'Cancellazione Riuscita')
        } else {
          this.$store.commit('private/setMessaggioErrore', res.data.message)
        }
      })
      .catch(err => {
        console.log(err);
        this.$store.commit('private/setPreload', false)
        this.$store.commit('private/setMessaggioErrore', 'Errore')
      })
  },


/*
  FUNZIONI PER LA TABELLA
*/
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },

    removeRow (id) {
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idEsame == id) {
          this.data.splice(i, 1)
          break
        }
      }
    },

    aggiornaRow(){
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idEsame == this.idEsame) {
          this.data[i]=this.formEsame;
           this.$refs.vuetable.refresh()
          break
        }
      }
    },

    dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    },

  }
}
</script>

<style>
</style>
