<template>
  <div>
    <navbar />
    <div class="container">
      <div class="form_wrapper">
        <!--  <div class="top-right links">
      <template v-if="authenticated">
        <router-link :to="{ name: 'home' }">
          {{ $t('home') }}
        </router-link>
      </template>
      <template v-else>
        <router-link :to="{ name: 'login' }">
          {{ $t('login') }}
        </router-link>
      <router-link :to="{ name: 'register' }">
          {{ $t('register') }}
        </router-link>
      </template>
    </div>-->
        <transition name="fade-form" mode="out-in">

        </transition>
        <div />
      </div>
    </div>
    <Footer />
  </div>
</template>+

<script>

import { mapGetters, mapMutations, mapActions } from 'vuex'


import Footer from '~/components/Footer'
import Navbar from '~/components/Navbar'
import Cookies from 'js-cookie'

export default {

  metaInfo () {
    return { title: this.$t('home') }
  },

  components: {
    Navbar,
    Footer
  },

  data: () => ({
    stepCorrente: '1'
  }),

  computed: {
    ...mapGetters({
      authenticated: 'auth/check',
      getStep: 'stepform/getStep'
    }),
    // BIND STEP
    step: {
      get () {
        return this.getStep
      },
      set (value) {
        this.$store.commit('stepform/setStep', value)
      }
    }
  },
  mounted () {
    if (this.$route.query.hash) {
      var hash = this.$route.query.hash
    } else {
      var hash = Cookies.get('hash')
    }
    this.recuperaSessione(hash)
  },

  methods: {
    ...mapMutations([
      'stepform/setStep'
    ]),
    ...mapActions({
      recuperaSessione: 'stepform/recuperaSessione'
    }
    )
  /*  cambioStep: function(step){
      //this.stepCorrente=step;
    } */
  }
}
</script>

<style scoped>
.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.title {
  font-size: 85px;
}
</style>
