<template>
    <div>
      <formAvatar ref="formAvatar" ></formAvatar>
        <CCard class="mt-5" >
            <CCardHeader>
               <h4>Profilo</h4>
            </CCardHeader>
            <CCardBody>
          <form id="formInfermiere" @submit.prevent="aggiornaProfiloInfermiere()">
            <CRow class="mt-3">
            <CCol sm="3">
              <CInput label="Nome" name="nome" v-model="formUtente.meta.nome"></CInput>
            </CCol>
            <CCol sm="3">
              <CInput label="Cognome" name="cognome" v-model="formUtente.meta.cognome"></CInput>
            </CCol>
            <CCol sm="3">
              <CInput label="Email" disabled type="email" name="email" v-model="formUtente.email"></CInput>
            </CCol>
            <CCol sm="3">
               <CInput label="Telefono" name="telefono" v-model="formUtente.meta.telefono"></CInput>
            </CCol>
            <CCol sm="3">
               <CInput label="Provincia Residenza" name="provincia_residenza" v-model="formUtente.meta.provincia_residenza"></CInput>
            </CCol>
             <CCol sm="3">
               <CInput label="Comune Residenza" name="comune_residenza" v-model="formUtente.meta.comune_residenza"></CInput>
            </CCol>
             <CCol sm="12 text-center">
              <CButton color="primary btn-block" class="mt-3" type="submit">Salva Modifiche</CButton>
            </CCol>
            </CRow>
            </form>
          </CCardBody>
        </CCard>

        <CCard>
            <CCardHeader>
                <h4>Aggiorna Password</h4>
            </CCardHeader>
            <CCardBody>
                <form id="formPassword" @submit.prevent="aggiornaPassword()">
            <CRow align-vertical="center">
                <CCol sm="3">
                <CInput label="Password" type="password" name="password" v-model="formPassword.password"></CInput>
                </CCol>
                <CCol sm="3">
                <CInput label="Conferma Password" type="password" name="password_2" v-model="formPassword.password_2"></CInput>
                </CCol>
                <CCol sm="3">
                    <CButton type="submit" color="primary">Aggiorna Password</CButton>
                </CCol>
            </CRow>
                </form>
            </CCardBody>
        </CCard>

        <CancellaProfilo/>

    </div>
</template>


<script>
import axios from 'axios'
import _ from 'lodash'
import Form from 'vform'


import formAvatar from '~/components/private/formavatar.vue'
import CancellaProfilo from '~/components/private/cancellaprofilo.vue'



import { mapGetters, mapMutations, mapActions } from 'vuex'


export default {
  name: 'Profilo-Medico',

  components: {
    formAvatar,
    CancellaProfilo
  },

  data () {
    return {
      reparti: [],
      /*
      formUtente: new Form({
        nome:'',
        cognome:'',
        cognome:'',
        email: '',
        telefono:'',
        idReparto: '',
        codice_odm:'',
        provincia_odm:'',
        numero_enpam:'',
        url_media: '',
      }),
      */
      formPassword: new Form({
          password: '',
          password_2: '',
      })
    }
  },

  computed: {
      ...mapGetters({
          formUtente: 'private/getProfilo',
      })
  },



 mounted () {
      this.caricaProfilo();
  },


/*
  METODI
*/
methods: {

  ...mapActions({
      caricaProfilo: 'private/caricaProfilo',
      aggiornaProfiloInfermiere:'private/aggiornaProfiloInfermiere'
  }),

  apriModalAvatar(){
    this.modalAvatar = true;
  },

//GET REPARTI
    caricaReparti(){
      this.$store.commit('private/setPreload', true)
      var url = '/api/reparti';
      axios.get(url,{
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.reparti = res.data.result
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },

//GET PROFILO MEDICO
    getProfiloMedico(){
      var url = '/api/profilo-medico';

      this.$store.commit('private/setPreload', true)
      axios.get(url)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data){
            this.formUtente = res.data['0']['0'];
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },


//AGGIORNA PROFILO MEDICO
    aggiornaMedico(){
        var url = '/api/profilo-medico';

        const formData = new FormData(document.getElementById("formMedico"));
        let data = {};
        for (let [key, val] of formData.entries()) {
          Object.assign(data, { [key]: val })
        }

        var payload = data

        this.$store.commit('private/setPreload', true)
        axios.put(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success === true){
             this.$store.commit('private/setMessaggioSuccesso','Aggiornamento Riuscito')
             this.getProfiloMedico();
          }
        else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
        })
        .catch(err => {
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },


//AGGIORNA PASSWORD
  aggiornaPassword(){
        var url = '/api/aggiorna-password';

        const formData = new FormData(document.getElementById("formPassword"));
        let data = {};
        for (let [key, val] of formData.entries()) {
          Object.assign(data, { [key]: val })
        }

        var payload = data

        this.$store.commit('private/setPreload', true)
        axios.put(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success === true){
            this.$store.commit('private/setMessaggioSuccesso', 'Password Aggiornata')
            this.formPassword.reset()
          }
        else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
        })
        .catch(err => {
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },

 }
}
</script>
