<template>
    <div>
      <CRow>
        <CCol sm="12 mb-2">
          <h4 class="sub_heading">Ultimi Allarmi </h4>
        </CCol >
        <CCol>
          <CDataTable
            :items="items"
            :fields="fields"
            column-filter
            :table-filter="false"
            :items-per-page-select="false"
            :items-per-page="perPage"
            :noItemsView='{noItems: "Nessun Risultato"}'
            @row-clicked="toggleDetails"
            hover
            sorter
            pagination>
            <template #updated_at="{item,index}">
                <td>
                  {{item.updated_at | date('DD/MM/YYYY HH:mm')}}
                </td>
            </template>
            <template #show_details="{item, index}">
              <td class="py-2">
                <CButton
                  color="primary"
                  square
                  size="sm">
                  {{Boolean(item._toggled) ? 'Chiudi' : 'Mostra'}}
                </CButton>
              </td>
            </template>
            <template #details="{item}">
              <CCollapse :show="Boolean(item._toggled)" :duration="collapseDuration">
                <CCardBody>
                  <CRow class="lista-terapia">
                    <CCol sm="3">
                      <div class="box-terapia">
                        <CCol sm="12 font-weight-bold p-0">Codice Esame:</CCol>
                        <CCol sm="12" class="p-0 text-right text-uppercase">{{item.codiceEsame | replaceunderscore}}</CCol>
                      </div>
                    </CCol>
                    <CCol sm="3">
                      <div class="box-terapia">
                        <CCol sm="12 font-weight-bold p-0">Chiave:</CCol>
                        <CCol sm="12" class="p-0 text-right">{{item.chiave}}</CCol>
                      </div>
                    </CCol>
                    <CCol sm="3">
                      <div class="box-terapia">
                        <CCol sm="12 font-weight-bold p-0">Valore Min:</CCol>
                        <CCol sm="12" class="p-0 text-right">{{item.valore_min}}</CCol>
                      </div>
                    </CCol>
                    <CCol sm="3">
                      <div class="box-terapia">
                        <CCol sm="12 font-weight-bold p-0">Valore Max:</CCol>
                        <CCol sm="12" class="p-0 text-right">{{item.valore_max}}</CCol>
                      </div>
                    </CCol>
                    <CCol sm="3">
                      <div class="box-terapia">
                        <CCol sm="12 font-weight-bold p-0">Valore Registrato:</CCol>
                        <CCol sm="12" class="p-0 text-right">{{item.valore_registrato}}</CCol>
                      </div>
                    </CCol>
                    <CCol sm="3">
                      <div class="box-terapia">
                        <CCol sm="12 font-weight-bold p-0">Stato:</CCol>
                        <CCol sm="12" class="p-0 text-right">{{item.stato}}</CCol>
                      </div>
                    </CCol>
                    <CCol sm="3">
                      <div class="box-terapia">
                        <CCol sm="12 font-weight-bold p-0">Ripetizioni:</CCol>
                        <CCol sm="12" class="p-0 text-right">{{ item.ripetizioni === 1 ? 'Solo una volta' : 'Ripeti'}}</CCol>
                      </div>
                    </CCol>
                  </CRow>
                  <CRow v-if="User.role == 'admin' || User.role == 'medico'">
                    <CCol sm="6">
                        <CButton  v-c-tooltip="'Segna Come Letto'" color="success" @click="apriModalSegnaComeLetto(item.idPaziente,item.idAllarme)">  Segna come Letto <fa icon="check-double"></fa></CButton>
                    </CCol>
                    <CCol sm="6" class="text-right">
                      <CButton  v-c-tooltip="'Scheda Paziente'" color="info" @click="apriPaziente(item)">
                        Vai al Paziente <fa icon="sign-in-alt"/>
                      </CButton>
                    </CCol>
                  </CRow>
                </CCardBody>
              </CCollapse>
            </template>
          </CDataTable>
        </CCol>
      </CRow>

      <CModal
        title="Segna come letto"
        color="success"
        :show.sync="modalSegnaComeLetto">
        Sei sicuro?

        <template #footer>
          <CButton color="default" @click="modalSegnaComeLetto = false">
            Chiudi
          </CButton>
          <CButton color="success" @click="segnaComeLetto()">
            Conferma
          </CButton>
        </template>
      </CModal>

    </div>
</template>




<script>

import axios from 'axios'
import _ from 'lodash'
import Form from 'vform'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'


import { mapGetters, mapMutations, mapActions } from 'vuex'

  const items = []

  const fields = [
    {
      key: 'updated_at',
      label: 'Data Attivazione',
      filter: false,
    },
    {
      key: 'name',
      label: 'paziente',
      filter: false,
      _classes:'text-capitalize'
    },
    {
      key: 'chiave',
      label: 'Parametro',
      filter: false,
      _classes:'text-capitalize'
    },
    {
      key: 'valore_registrato',
      label: 'Valore Registrato',
      filter: false,
      _classes:'text-capitalize'
    },
    {
      key: 'show_details',
      label: '',
      _style: 'width:10%',
      sorter: false,
      filter: false
    },
  ]


  export default {
    name: "allarmi_scattati",

    components: {
      Vuetable,
      VuetablePagination,
      VuetablePaginationInfo,
    },

    data () {
      return {
        items: [],
        idPaziente: '',
        collapseDuration: 0,
        allarmi:'',
        richieste:'',
        css: TableStyle,
        data: [],
        perPage: 5,
        fields,
        modalSegnaComeLetto: false
      }
    },

    filters: {
      replaceunderscore: (value) => {
        return value.replace(/_/g,' ')
      }
    },

    computed: {
      ...mapGetters({
        User: 'auth/user'
      }),
    },


//WATCH TABELLA
    watch: {
      data (newVal, oldVal) {
        this.$refs.vuetable.refresh()
      }
    },
    mounted () {
      this.caricaAllarmi();
    },

    methods:{
      ...mapActions({
        'selezionaPaziente':'pazienti/selezionaPaziente',
      }),


      toggleDetails (item) {
        this.$set(this.items[item.id], '_toggled', !item._toggled)
        this.collapseDuration = 300
        this.$nextTick(() => { this.collapseDuration = 0})
      },

      apriPaziente(paziente){

        var paziente_corrente={
          name:  this.User.name,
          url_media: this.User.cognome,
          idPaziente: this.User.idPaziente
        }
        this.$store.commit('pazienti/setPaziente', paziente)
        this.$router.push({name: 'private.homepaziente'})

      },

      /*
        CARICAMENTO NOTIFICHE MEDICO
      */
      caricaAllarmi(){
        this.$store.commit('private/setPreload', true)
        var url = '/api/allarmi';
        axios.get(url)
          .then(res => {
            this.$store.commit('private/setPreload', false)
            if (res.data) {
              this.items =res.data['0'].map((item, id) => { return {...item, id}})
            } else {
              this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
          })
          .catch(err => {
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
          })
      },

      apriModalSegnaComeLetto(idPaziente,idAllarme) {
          this.idPaziente = idPaziente
          this.idAllarme = idAllarme
          this.modalSegnaComeLetto = true
      },


      /** SEGNA COME LETTO **/

      segnaComeLetto(){
        var url = '/api/allarme-letto/'+this.idPaziente + '/' + this.idAllarme;
        this.$store.commit('private/setPreload', true)

        axios.put(url)
          .then(res => {
            this.$store.commit('private/setPreload', false)
            if(res.data.success){
              this.$store.commit('private/setMessaggioSuccesso', 'Allarme Letto')
              this.modalSegnaComeLetto = false;
              this.$store.commit('private/reduceCounterAllarmiAttivi')
              this.caricaAllarmi();
            }
            else{
              this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
          })
          .catch(err => {
            console.log(err);
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore')
          })
      },


      onPaginationData (paginationData) {
        this.$refs.pagination.setPaginationData(paginationData)
        this.$refs.paginationInfo.setPaginationData(paginationData)
      },
      onChangePage (page) {
        this.$refs.vuetable.changePage(page)
      },

      removeRow (id) {
        for (var i = 0; i <= this.data.length; i++) {
          if (this.data[i].id == id) {
            this.data.splice(i, 1)
            break
          }
        }
      },
      aggiornaRow(){
        for (var i = 0; i <= this.data.length; i++) {
          if (this.data[i].id == this.idUtente) {
            this.data[i]=this.formUtente;
            this.$refs.vuetable.refresh()
            break
          }
        }
      },
      dataManager (sortOrder, pagination) {
        let local = this.data
        if (sortOrder.length > 0) {
          local = _.orderBy(
            local,
            sortOrder[0].sortField,
            sortOrder[0].direction
          )
        }

        pagination = this.$refs.vuetable.makePagination(
          local.length,
          this.perPage
        )
        let from = pagination.from - 1
        let to = from + this.perPage

        return {
          pagination: pagination,
          data: _.slice(local, from, to)
        }
      }
    }
  }


</script>


