<template>
    <div>
        <CRow>
            <CCol sm="12">
                <h4 class="sub_heading">Calendario Visite</h4>
            </CCol>
            <CCol>
                  <FullCalendar :options="calendarOptions"
                    class='demo-app-calendar'
                    ref="fullCalendar"
                   />
            </CCol>

            <CModal :title="'Visita - ' + titlemodal" color="primary" :show.sync="modalVisita">
            <CRow>
              <CCol sm="12">
                  <CInput type="date"  v-model="visita.dataAppuntamento" label="Data Visita" name="dataVisita" readonly/>
              </CCol>
              <CCol sm="6">
                  <CInput type="time" label="Ora Visita" v-model="visita.ora_inizio" name="ora_inizio" readonly/>
              </CCol>
              <CCol sm="6">
                  <CInput type="time" label="Ora fine Visita" v-model="visita.ora_fine" name="ora_fine" readonly/>
              </CCol>
              <CCol sm="12">
                  <CTextarea label="Motivo Visita" name="descirzione" v-model="visita.descrizione" readonly></CTextarea>
              </CCol>
            </CRow>
            <template #footer>
              <CButton color="default" @click="modalVisita = false">
                Chiudi
              </CButton>
            </template>
          </CModal>
        </CRow>
    </div>
</template>

<script>

import axios from 'axios'
import _ from 'lodash'
import Form from 'vform'
import { mapGetters, mapMutations, mapActions } from 'vuex'

import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from '@fullcalendar/interaction'
import itLocale from '@fullcalendar/core/locales/it'

export default {
    name: 'Calendario',

    components: {
        FullCalendar
    },

  data(){
      return {
        calendarOptions:{
          plugins:[
            dayGridPlugin,
            timeGridPlugin,
            interactionPlugin,
          ],
          slotMinTime :'09:00',
          slotMaxTime :'21:00',
          height: 650,
          initialView:'timeGridWeek',
          events:this.calendarEvents,
          currentEvents:this.calendarEvents,
          headerToolbar: {
            left: '',
            center: 'title',
            right: 'prev,next'
          },
          eventClick: this.handleEventClick,
          locale:'it',
          allDaySlot:false,
        },
        modalVisita: false,
        titlemodal: '',
        visita: {
          dataAppuntamento: '',
          ora_inizio: '',
          ora_fine: '',
          descrizione: '',
        }
      }
  },

    computed: {
      ...mapGetters({
        User: 'auth/user'
      }),
    },

//WATCH TABELLA
    watch: {
      data (newVal, oldVal) {
        this.$refs.vuetable.refresh()
      }
    },

    mounted () {
      this.caricaAppuntamenti();
    },

methods:{

/*
  CARICAMENTO APPUNTAMENTI
*/
  caricaAppuntamenti(){
    let calendar = this.$refs.fullCalendar.getApi();
    var url = '/api/appuntamenti-medico';
      this.$store.commit('private/setPreload', true)
      axios.get(url,{
      params:{
      }
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data){
            this.bindOrdini( res.data);
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          console.log(err);
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore')
        })
    },
/*
  INSERIMENTO ORDINI CALENDARIO
*/
  bindOrdini(appuntamenti){
    this.calendarEvents=[];
    let calendar = this.$refs.fullCalendar.getApi();
    var listEvent = calendar.getEvents();
    listEvent.forEach(event => {
      event.remove()
    });
    for(var i=0;i<appuntamenti.length;i++){
              var data=new Date(appuntamenti[i].dataAppuntamento);
              var ora_inizio = appuntamenti[i].ora_inizio.split(":");
              var ora_fine = appuntamenti[i].ora_fine.split(":");
              var d = data.getDate();
              var m = data.getMonth();
              var y = data.getFullYear();
      calendar.addEvent({
              id:appuntamenti[i].idAppuntamento,
              title: appuntamenti[i].name,
              start: new Date(y, m, d, ora_inizio[0], ora_inizio[1]),
              end: new Date(y, m, d, ora_fine[0] , ora_fine[1]),
              extendedProps: {
                  appuntamentoCompleto: appuntamenti[i]
                },
              backgroundColor: '#000000',
              borderColor:'#000000',
              textColor:'#FFFFFF'
          })
    }
    return true;
  },

      /*
        APERTURA CONSEGNA SINGOLA
      */
        handleEventClick(arg) {
          this.modalVisita = true
          var visita = arg.event._def.extendedProps.appuntamentoCompleto;
          this.titlemodal = visita.name
          this.visita = visita
        }
  }
}

</script>










