<template>
  <Notification></Notification>
</template>

<script>

import Notification from '~/components/private/Notification.vue'

export default {
  name: "messaggi",
  components: {
    Notification
  }
}
</script>

<style scoped>

</style>
