<template>
    <div>
      <formAvatar ref="formAvatar" ></formAvatar>
        <CCard class="mt-5" >
            <CCardHeader>
               <h4>Profilo</h4>
            </CCardHeader>
            <CCardBody>
          <form id="formMedico" @submit.prevent="aggiornaProfilo()">
            <CRow class="mt-3">
            <CCol sm="3">
              <CInput label="Email" disabled type="email" name="email" v-model="formUtente.email"></CInput>
            </CCol>
            <CCol sm="3">
              <CInput label="Nome" name="nome" v-model="formUtente.meta.nome"></CInput>
            </CCol>
            <CCol sm="3">
              <CInput label="Cognome" name="cognome" v-model="formUtente.meta.cognome"></CInput>
            </CCol>
            <CCol sm="3">
               <CInput label="Telefono" name="telefono" v-model="formUtente.meta.telefono"></CInput>
            </CCol>
           <!-- <CCol sm="3">
                <div class="form-group">
                    <label>Reparto</label>
                    <select v-model="formUtente.idReparto" name="idReparto" class="form-control">
                        <option v-for="(reparto) in reparti" :key="reparto.idReparto" :value="reparto.idReparto">{{reparto.nomeReparto}}</option>
                    </select>
                </div>
            </CCol>-->
            <CCol sm="3">
               <CInput label="Codice Odm" name="codice_odm" v-model="formUtente.meta.codice_odm"></CInput>
            </CCol>
             <CCol sm="3">
               <CInput label="Provnicia Odm" name="provincia_odm" v-model="formUtente.meta.provincia_odm"></CInput>
            </CCol>
            <CCol sm="3">
               <CInput label="Codice Enpam" name="numero_enpam" v-model="formUtente.meta.numero_enpam"></CInput>
            </CCol>
            <CCol sm="3">
              <div class="form-group">
                <label>Specializzazione</label>
                <select name="specializzazione" id="specializzazione" class="form-control" v-model="formUtente.meta.specializzazione">
                  <option value="cardiologia">Cardiologia</option>
                  <option value="dermatologia">Dermatologia</option>
                  <option value="pediatria">Pediatria</option>
                  <option value="oculistica">Oculistica</option>
                  <option value="neurologia">Neurologia</option>
                  <option value="chirurgua_plastica">Chirurgia Plastica</option>
                  <option value="gastroenterologia">Gastroenterologia</option>
                  <option value="endocrinologia">Endocrinologia</option>
                  <option value="Ginecologia">Ginecologia</option>
                </select>
              </div>
            </CCol>
             <CCol sm="12">
              <h5 class="sub_heading">Sezione Intestazione Piani Terapeutici</h5>
            </CCol>
              <CCol sm="12">
                <label>Intestazione</label>
                <CTextarea v-model="formUtente.meta.intestazione_piano" name="intestazione_piano"></CTextarea>
              </CCol>
            <CCol sm="12">
              <h5 class="sub_heading">Sezione Teleconsulto</h5>
            </CCol>
              <CCol sm="3">
                <CInput label="Prezzo ad ora in €" v-model="formUtente.meta.prezzo" type="number" step="0.01" min="0" name="prezzo"></CInput>
              </CCol>
              <CCol sm="12">
                <label>Informativa per il paziente</label>
                <CTextarea v-model="formUtente.meta.messaggio_teleconsulto" name="messaggio_teleconsulto"></CTextarea>
              </CCol>
            <CCol sm="12 text-center">
              <CButton color="primary btn-block" class="mt-3" type="submit">Salva Modifiche</CButton>
            </CCol>
            </CRow>
            </form>
          </CCardBody>
        </CCard>


        <CCard>
            <CCardHeader>
                <h4>Aggiorna Password</h4>
            </CCardHeader>
            <CCardBody>
                <form id="formPassword" @submit.prevent="aggiornaPassword()">
            <CRow align-vertical="center">
                <CCol sm="4">
                <CInput label="Password" type="password" name="password" v-model="formPassword.password"></CInput>
                </CCol>
                <CCol sm="4">
                <CInput label="Conferma Password" type="password" name="password_2" v-model="formPassword.password_2"></CInput>
                </CCol>
                <CCol sm="4">
                    <CButton type="submit" color="primary">Aggiorna Password</CButton>
                </CCol>
            </CRow>
                </form>
            </CCardBody>
        </CCard>

        <CancellaProfilo/>
    </div>
</template>


<script>
import axios from 'axios'
import _ from 'lodash'
import Form from 'vform'
import formAvatar from '~/components/private/formavatar.vue'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import CancellaProfilo from '~/components/private/cancellaprofilo.vue'

export default {
  name: 'Profilo-Medico',

  components: {
    formAvatar,
    CancellaProfilo
  },

  data () {
    return {
    url_media: '',
    /*formUtente:{
    email: '',
    meta:{
      nome:'',
      cognome:'',
      cognome:'',
      telefono:'',
      codice_odm:'',
      provincia_odm:'',
      numero_enpam:'',
      }
    },*/
      formTeleconsulto:{
        messaggio_teleconsulto: '',
        prezzo: '',
      },
      formPassword:{
          password: '',
          password_2: '',
      }
    }
  },

 mounted () {
      this.caricaProfilo();
  },

  computed: {
        ...mapGetters({
          formUtente: 'private/getProfilo',
      })
  },
/*
  METODI
*/
methods: {
    ...mapActions({
        caricaProfilo: 'private/caricaProfilo',
        aggiornaProfilo:'private/aggiornaProfilo'
    }),

    apriModalAvatar(){
      this.modalAvatar = true;
    },

//GET REPARTI
    /*caricaReparti(){
      this.$store.commit('private/setPreload', true)
      var url = '/api/reparti';
      axios.get(url,{
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.reparti = res.data.result
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },
*/

/*
  GET PROFILO MEDICO
*/
/*
  getProfiloMedico(){
      var url = '/api/profilo';
      this.$store.commit('private/setPreload', true)
      axios.get(url)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data){

          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },
*/

/*
  AGGIORNA PROFILO MEDICO
*/
/*
    aggiornaMedico(){
        var url = '/api/profilo';
        const formData = new FormData(document.getElementById("formMedico"));
        let data = {};
        for (let [key, val] of formData.entries()) {
          Object.assign(data, { [key]: val })
        }

        var payload={};
        payload.meta=data;

        this.$store.commit('private/setPreload', true)
        axios.put(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success === true){
             this.$store.commit('private/setMessaggioSuccesso','Aggiornamento Riuscito')
             this.getProfiloMedico();
          }
        else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
        })
        .catch(err => {
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },
    */


//AGGIORNA TELECONSULTO
  aggiornaTeleconsulto(){
        var url = '/api/teleconsulto';

        const formData = new FormData(document.getElementById("formTeleconsulto"));
        let data = {};
        for (let [key, val] of formData.entries()) {
          Object.assign(data, { [key]: val })
        }

        var payload = data

        this.$store.commit('private/setPreload', true)
        axios.put(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success === true){
            this.$store.commit('private/setMessaggioSuccesso', res.data.message)
            this.formPassword.reset()
          }
        else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
        })
        .catch(err => {
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },



  //AGGIORNA PASSWORD
  aggiornaPassword(){
        var url = '/api/aggiorna-password';

        const formData = new FormData(document.getElementById("formPassword"));
        let data = {};
        for (let [key, val] of formData.entries()) {
          Object.assign(data, { [key]: val })
        }

        var payload = data

        this.$store.commit('private/setPreload', true)
        axios.put(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success === true){
            this.$store.commit('private/setMessaggioSuccesso', 'Password Aggiornata')
            this.formPassword.reset()
          }
        else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
        })
        .catch(err => {
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },

 }
}
</script>
