<template>
<div>
<!--SEZIONE RICHIESTE-->
    <CRow>
      <CCol sm="12">
        <h4 class="sub_heading">Richieste Pazienti</h4>
      </CCol>
      <CCol sm="12">
        <CCard>
          <CCardHeader>
          </CCardHeader>
          <CCardBody>
    <!--SEZIONE TABELLA  RICHIESTA-->
          <vuetable ref="vuetable"
                :api-mode="false"
                :fields="fields"
                :per-page="perPage"
                :data-manager="dataManager"
                no-data-template="Nessun Risultato"
                pagination-path="pagination"
                :css="css.table"
                @vuetable:pagination-data="onPaginationData">
        <div slot="actions" slot-scope="props" class="text-right">
          <CButton v-if="!props.rowData.stato" v-c-tooltip="'Accetta Richiesta'" color="success" @click="accettaRichiesta(props.rowData.idPazienteMedico)">
            Accetta
          </CButton>
          <CButton  v-c-tooltip="'Cancella Paziente'" color="danger" @click="apriConferma(props.rowData.idPazienteMedico)">
            <fa icon="trash"></fa>
          </CButton>
        </div>
      </vuetable>
      <vuetable-pagination-info ref="paginationInfo" info-template="Visualizzati da {from} a {to} di {total} totali" no-data-template="Nessun Risultato"
          ></vuetable-pagination-info>
      <div style="padding-top:10px">
        <vuetable-pagination ref="pagination" :css="css.pagination" @vuetable-pagination:change-page="onChangePage" />
      </div>
          </CCardBody>
        </CCard>
      </CCol>
     </CRow>
    <!-- MODAL CANCELLAZIONE -->
    <CModal
      title="Conferma Cancellazione"
      color="danger"
      :show.sync="modalConferma">
      Sei sicuro?
      <template #footer>
        <CButton color="default" @click="modalConferma = false">
          Chiudi
        </CButton>
        <CButton color="danger" @click="cancellaPazienteAssegnato()">
          Conferma
        </CButton>
      </template>
    </CModal>
  </div>
</template>

<script>
import axios from 'axios'
import Form from 'vform'
import vSelect from 'vue-select'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'

import { mapGetters, mapMutations, mapActions } from 'vuex'


export default {
  name: 'Medici',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    vSelect,
  },

  data () {
    return {
      modalConferma: false,
      modalMedico: false,
      filtroMedico: '',
      idPazienteMedico: '',
      medici: '',
      titleModal:'',
      disabled: false,
      css: TableStyle,
      perPage: 5,
      data: [],
      fields: [
        {
          name: 'name',
          title: 'Paziente',
          sortField: '',
        },
        {
          name: 'stato',
          title: 'Stato',
          sortField: 'stato',
          dataClass: 'text-uppercase',
          formatter: (value) =>{
            if(value == 0){
                return '<div class="text-warning"><b>In sospeso</b></div>'
            }
            else{
                return '<div class="text-success"><b>Accettata</b></div>'
            }
          }
        },
        {
          name: 'actions',
          title: 'Azioni'
        }
      ],
    }
  },


  computed: {
   ...mapGetters({
      paziente: 'pazienti/getPaziente',
      User: 'auth/user'
   })
  },

  mounted () {

    this.getRichieste()
  },



//WATCH TABELLA
  watch: {
    data (newVal, oldVal) {
      this.$refs.vuetable.refresh()
    }
  },
/*
  METODI
*/
  methods: {
     mostraModal (){
        this.titleModal = 'Aggiungi Medico';
        this.modalMedico = true
     },


    getRichieste(){
      var url = '/api/richieste';

      this.$store.commit('private/setPreload', true)
      axios.get(url)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data){
            this.data = res.data['0'];
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
   },

   apriConferma(idPazienteMedico){
     this.modalConferma = true,
     this.idPazienteMedico = idPazienteMedico
   },

/* ACCETTA RICHIESTA */
   accettaRichiesta(idRichiesta){
     var url = '/api/richiesta/'+idRichiesta;
     var payload='';
      this.$store.commit('private/setPreload', true)
      axios.put(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success){
            this.$store.commit('private/setMessaggioSuccesso', 'Richiesta Accettata')
            this.$store.commit('private/reduceCounterRichiestePazienti')
            this.getRichieste();
          }
          else{
            this.$store.commit('private/setMessaggioErrore', 'Errore Accettazione')
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },


   cancellaPazienteAssegnato(){
      var url = '/api/paziente-assegnato/'+this.User.id+'/'+ this.idPazienteMedico;

      this.$store.commit('private/setPreload', true)
      axios.delete(url)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success === true ){
            this.$store.commit('private/setMessaggioSuccesso', 'Cancellazione Riuscita')
            this.$store.commit('private/reduceCounterRichiestePazienti')
            this.modalConferma = false
            this.getRichieste()
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
   },


  /*
    FUNZIONI PER LA TABELLA
  */
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },

    removeRow (id) {
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idEsame == id) {
          this.data.splice(i, 1)
          break
        }
      }
    },
    aggiornaRow(){
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idEsame == this.idEsame) {
          this.data[i]=this.formEsame;
           this.$refs.vuetable.refresh()
          break
        }
      }
    },


    dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    }

  }
}
</script>

<style>
</style>
