<template>
<div>
  <CRow>
    <CCol sm="12">
        <h4 class="sub_heading">Richieste Teleconsulto</h4>
    </CCol>
    <CCol sm="12">
      <CCard>
        <CCardHeader>
          <CRow>
          <CCol sm="12">
          </CCol>
          </CRow>
        </CCardHeader>
        <CCardBody>
          <CRow>
            <CCol sm="12">
                <!--SEZIONE TABELLA  RICHIESTA-->
          <vuetable ref="vuetable"
                :api-mode="false"
                :fields="fields"
                :per-page="perPage"
                :data-manager="dataManager"
                no-data-template="Nessun Risultato"
                pagination-path="pagination"
                :css="css.table"
                @vuetable:pagination-data="onPaginationData">
                <div slot="actions" slot-scope="props" class="text-right">
                  <CButton  v-c-tooltip="'Visualizza Richiesta'" color="info" @click="visualizzaTeleconsulto(props.rowData)">
                    Visualizza
                  </CButton>
                </div>
              </vuetable>
              <vuetable-pagination-info ref="paginationInfo" info-template="Visualizzati da {from} a {to} di {total} totali" no-data-template="Nessun Risultato"
                  ></vuetable-pagination-info>
              <div style="padding-top:10px">
                <vuetable-pagination ref="pagination" :css="css.pagination" @vuetable-pagination:change-page="onChangePage" />
              </div>
            </CCol>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>

  <!-- MODAL VISUALIZZA RICHIESTA -->
  <form id="formTeleconsulto" @submit.prevent="confermaTeleconsulto()">
    <CModal title= 'Richiesta' color="info" :show.sync="modalTeleconsulto">
      <CRow>
          <CCol sm="12">
                <h5><b>Paziente:</b>  {{formTeleconsulto.name}}</h5>
          </CCol>
          <CCol class="mt-3" sm="12" v-if="messaggio != ''">
            <CCard>
              <CCardHeader>
                <h5>Messaggio da parte del Paziente</h5>
              </CCardHeader>
              <CCardBody>
                <p> {{messaggio}}</p>
              </CCardBody>
            </CCard>
          </CCol>
          <CCol sm="12">
            <CInput label="Prezzo Richiesto" v-model="formTeleconsulto.prezzo"  name="prezzo" type="number" step="0.01"></CInput>
          </CCol>
          <CCol sm="12">
            <CInput label="Data Teleconsulto" type="date" v-model="formTeleconsulto.dataTeleconsulto"  name="dataTeleconsulto"></CInput>
          </CCol>
          <CCol sm="12">
            <CInput label="Ora Inizio Teleconsulto" type="time"  v-model="formTeleconsulto.oraTeleconsulto"  name="oraTeleconsulto"></CInput>
          </CCol>
          <CCol sm="12">
            <CInput label="Ora Fine Teleconsulto" type="time"  v-model="formTeleconsulto.ora_fine"  name="ora_fine"></CInput>
          </CCol>
      </CRow>
      <template #footer>
        <CButton color="default" @click="modalTeleconsulto = false">
          Chiudi
        </CButton>
        <CButton type="submit" color="success" >Conferma Richiesta</CButton>
      </template>
    </CModal>
  </form>

</div>
</template>

<script>
import axios from 'axios'
import Form from 'vform'
import vSelect from 'vue-select'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'
import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
  name: 'Teleconsulto',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    vSelect,
    PazienteSelezionato
  },

  data () {
    return {
      modalConferma: false,
      modalTeleconsulto: false,
      css:TableStyle,
      idTeleconsulto: '',
      idMedico: '',
      titlemodal:'',
      statomodal: '',
      dataInizio: '',
      dataFine: '',
      data: [],
      messaggio: '',
      formTeleconsulto: new Form({
         prezzo: '',
         dataTeleconsulto: '',
         oraTeleconsulto: '',
         ora_fine: ''
      }),
      collapseDuration: 0,
      disabled: false,
      perPage: 5,
      fields: [
        {
          title: 'Paziente',
          name: 'name',
          sortField: false
        },
        {
          title: 'Data',
          name: 'dataTeleconsulto',
          sortField: true,
          formatter: (value) => {
              return this.$date(value, "DD/M/YYYY");
            }
        },
        {
          title: 'Ora Inizio ',
          name: 'oraTeleconsulto',
          sortField: true,
        },
        {
          title: 'Ora Fine',
          name: 'ora_fine',
          sortField: true,
        },
         {
          title: 'Stato',
          name: 'stato',
          sortField: true,
          dataClass: 'text-uppercase',
          formatter: (value) => {
            if(value === 'confermato'){
              return '<span class="text-success"><b>'+value+'</b></span>'
            }
            if(value === 'attesa'){
              return '<span class="text-warning"><b>'+value+'</b></span>'
            }
            if(value === 'pagato'){
              return '<span class="text-success"><b>'+value+'</b></span>'
            }
            if(value === 'rifiutato'){
              return '<span class="text-danger"><b>'+value+'</b></span>'
            }
          }
        },
        {
          name: 'actions',
          title: 'Azioni',
          sortField: false
        },
      ]
    }
  },

  computed: {
   ...mapGetters({
      paziente: 'pazienti/getPaziente',
      User: 'auth/user'
   })
  },

  mounted () {

    if(this.idPaziente == ''){
      this.$router.push('home');
    }

    this.caricaTeleconsulti()

  },



//WATCH TABELLA
  watch: {
    data (newVal, oldVal) {
      this.$refs.vuetable.refresh()
    }
  },
/*
  METODI
*/
  methods: {

    getFormattedData(data){
        return this.$date(data, "DD/M/YYYY");
    },


    visualizzaTeleconsulto(teleconsulto){

      this.modalTeleconsulto = true
      this.idTeleconsulto = teleconsulto.idTeleconsulto
      this.formTeleconsulto.prezzo = teleconsulto.prezzo
      this.formTeleconsulto.name=teleconsulto.name
      this.formTeleconsulto.dataTeleconsulto = teleconsulto.dataTeleconsulto
      this.formTeleconsulto.oraTeleconsulto = teleconsulto.oraTeleconsulto
      this.formTeleconsulto.ora_fine = teleconsulto.ora_fine
      this.messaggio = teleconsulto.messaggio

    },



    confermaTeleconsulto(){
        var url='api/conferma-teleconsulto/'+ this.idTeleconsulto

        const formData = new FormData(document.getElementById("formTeleconsulto"));
        let data = {};
        for (let [key, val] of formData.entries()) {
          Object.assign(data, { [key]: val })
        }

        var payload = data

        this.$store.commit('private/setPreload', true)
        axios.put(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success === true){
            this.$store.commit('private/setMessaggioSuccesso', 'Inserimento Riuscito')
            this.modalTeleconsulto = false;
            this.caricaTeleconsulti();
        }
        else {
        this.$store.commit('private/setMessaggioErrore', res.data.message)
        }
        })
        .catch(err => {
        this.$store.commit('private/setPreload', false)
        this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },


    /*CARICAMENTO TELECONSULTI*/
    caricaTeleconsulti(){
        this.$store.commit('private/setPreload', true)
        var url='api/teleconsulti'
        axios.get(url,{
          params: {
            dataInizio: this.dataInizio,
            dataFine: this.dataFine,
          }
        })
         .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.data = res.data['0']
          } else {
            this.$store.commit('private/ setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          console.log(err);
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },


  /*
    FUNZIONI PER LA TABELLA
  */
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },

    dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    }

  }
}
</script>

<style>
</style>
