<template>
  <div class="container-fluid">
    <div class="row footer pb-5 px-4">
      <!--PRIMA COLONNA -->
      <div class="col-12 col-md-4 mt-5">
        <div class="text-center head_footer">
          RIFERIMENTI
        </div><br>
        <div>
          Confeserfidi soc. cons. a r. l.<br>
          Via dei Lillà n. 22 – 97018 Scicli (Rg)<br>
          P. IVA, C.F. e N° di iscrizione CCIAA<br>
          di Ragusa: 01188660888<br>
          CODICE SDI G9HZJRW
        </div><br>
        <div>
          <div>
            <img class="logo center-image" :src="'../'+resource+'images/qr.jpg'">
          </div>
          <br>
          Confidi Intermediario Finanziario iscritto al Nuovo Albo ex art. 106 T.U.B
        </div>
        <div>
          <ul>
            <li><a href="tel:0932 834400">0932 834400</a></li>
            <li><a href="tel:0932 835226">0932 835226</a></li>
            <li><a href="mailto:info@confeserfidi.it"> info@confeserfidi.it</a></li>
            <li><a href="mailto:confeserfidi@legalmail.it"> Pec:confeserfidi@legalmail.it</a></li>
          </ul>
        </div>
      </div>

      <!--SECONDA COLONNA -->
      <div class="col-12 col-md-4 mt-5">
        <div class="text-center head_footer">
          LINKS UTILI
        </div><br>
        <ul>
          <li><a target="_blank" href="https://www.confeserfidi.it/trasparenza/">Trasparenza</a></li>
          <li><a target="_blank" href="https://www.confeserfidi.it/trasparenza-erogazioni-pubbliche/">Trasparenza Erogazioni Pubbliche</a></li>
          <li><a target="_blank" href="https://www.confeserfidi.it/reclami/">Reclami</a></li>
          <li><a target="_blank" href="https://www.confeserfidi.it/recesso-socio/">Richieste Recesso Socio</a></li>
          <li><a target="_blank" href="https://www.confeserfidi.it/sepa-direct-debit/">Sepa Direct Debit (SDD)</a></li>
          <li><a target="_blank" href="https://www.confeserfidi.it/bilanci/">Statuto e Bilanci</a></li>
          <li><a target="_blank" href="https://www.confeserfidi.it/firma-digitale-remota/">Firma digitale e remota</a></li>
          <li><a target="_blank" href="https://www.confeserfidi.it/wp-content/uploads/2020/03/Modulo-Antiriciclaggio-M-ANT-Ed.-02-Rev.-04-del-23.03.2020.pdf">Antiriciclaggio</a></li>
          <li><a target="_blank" href="https://www.confeserfidi.it/privacy-e-cookie-policy/">Privacy e Cookie Policy</a></li>
          <li><a target="_blank" href="https://www.confeserfidi.it/codice-etico/">Codice Etico</a></li>
          <li><a target="_blank" href="http://www.confeserfidi.it/webmail">Webmail</a></li>
        </ul>
      </div>
      <!--TERZA COLONNA -->
      <div class="col-12 col-md-4 mt-5">
        <div class="text-center head_footer">
          FONDO DI GARANZIA PER LE PMI
        </div><br>
        <div>
          <img class="center-image" style="width:250px" :src="'../'+resource+'images/fondo.png'">
        </div>
        <div class="text-center head_footer mt-5">
          SEGUICI SUI SOCIAL
        </div><br>
        <div class="icon-social">
          <a target="_blank" href="https://www.facebook.com/ConfeserFIDI"><i class="fab fa-facebook-square" /></a>
          <a target="_blank" href="https://twitter.com/confeserfidi"><i class="fab fa-twitter" /></a>
          <a target="_blank" href="https://www.youtube.com/user/confeserfiditv"><i class="fab fa-youtube" /></a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FooterConfe',
  data () {
    return {
      resource: this.$resource_url
    }
  }
}

</script>
