<template>
<div>
    <CRow class="mb-2">
    <CCol sm="12">
        <p>
<b>SEZIONE MEDICI</b><br><br>
Chi è il titolare del trattamento dei miei dati personali?
Titolari del trattamento ai sensi dell'art. 4(7) GDPR sono:
<br><br>

Il Titolare ha nominato un responsabile per la protezione dei Suoi dati. Lei potrà in ogni momento contattare il DPO nei seguenti modi:
<br><br>
Su quali basi legali il Titolare tratta i miei dati personali?
Il Titolare tratta i Suoi dati personali sulla base del contratto da Lei sottoscritto con DPI per la fornitura dei servizi c.d.  Premium, nonché dei servizi di realizzazione e gestione del Suo personale sito web, ove da Lei acquistati in aggiunta al pacchetto Premium (di seguito, complessivamente, "Contratto MioDottore"), ai sensi di quanto previsto all'art. 6.1(b) GDPR. I dati oggetto di trattamento sono quelli da Lei stesso forniti in sede di conclusione del Contratto MioDottore.
<br><br>
Il Titolare può procedere al trattamento dei Suoi dati anche sulla base di un legittimo interesse, come previsto dall'art. 6.1(f) del GDPR. Ciò accade in particolare in relazione al trattamento necessario a comunicarLe eventuali cambiamenti e nuove funzionalità in relazione al Contratto MioDottore. L'interesse legittimo del Titolare in tali casi coincide con l'interesse a far sì che Lei sia sempre aggiornato sullo stato dei servizi offerti da DPI e possa trarne il massimo vantaggio. Avendo considerato l'impatto di tali trattamenti sui Suoi dati personali abbiamo concluso che essi non inficiano i Suoi diritti.
<br><br>
Quali categorie di dati vengono trattati dal Titolare?
I dati trattati coincidono coi dati da Lei forniti in sede di conclusione ed in esecuzione del Contratto , vale a dire:
<br><br>
nome e cognome;<br>
codice Fiscale;<br>
partita IVA;<br>
indirizzo del luogo dove la Sua attività professionale è svolta;<br>
indirizzo di fatturazione;<br>
ordine professionale di appartenenza;<br>
numero di iscrizione;<br>
specializzazione principale;<br>
e-mail per la fatturazione;<br>
cellulare di contatto;<br>
indirizzo del Suo sito web;<br>
Suoi ritratti fotografici.<br>
Su che basi il Titolare tratta i miei dati se non ho sottoscritto il?<br>
Ove Lei non abbia sottoscritto il Contratto MioDottore, il Titolare tratta i Suoi dati sulla base dei seguenti presupposti:<br>
<br><br>
il consenso da Lei prestato direttamente a DPI (tramite "verifica" del profilo a Lei riferibile precaricato da DPI sul Sito o tramite l'organizzazione (ad esempio, una clinica) per cui Lei presta i Suoi servizi, che ha a sua volta sottoscritto un contratto con DPI; o
il legittimo interesse del Titolare ai sensi dell'Art. 6.1(f) del GDPR.
Il suddetto legittimo interesse coincide con l'esigenza di fornire agli utenti informazioni sulla Sua attività professionale, comprese le Sue specializzazioni, la localizzazione degli uffici dove Lei riceve i Suoi pazienti e le recensioni sulla Sua attività. Crediamo che tali finalità non possano compromettere i Suoi interessi di professionista e che non possano avere impatti negativi sul Suo diritto alla privacy. I professionisti come Lei sono per loro natura soggetti alle valutazioni del pubblico in quanto legati da un rapporto fiduciario coi propri clienti attuali e potenziali, i quali, volendosi rivolgere a un professionista in relazione a problematiche di primaria importanza nella loro vita, hanno il diritto di essere adeguatamente informati in merito alle specializzazioni e competenze del professionista stesso.
<br><br>
In che modo il Titolare ha ottenuto i miei dati personali se non ho sottoscritto il Contratto MioDottore?
DPI ha ottenuto di Suoi dati personali da registri pubblici accessibili da chiunque, come ad esempio gli albi ufficiali tenuti dagli Ordini dei medici. In altri casi DPI può aver ottenuto i Suoi dati personali dalle organizzazioni presso le quali Lei presta i Suoi servizi e che abbiano concluso un accordo con DPI. In altri casi i suoi dati di contatto possono essere forniti a DPI da Suoi pazienti o colleghi che hanno liberamente scelto di raccomandarLa a DPI nella Sua qualità di professionista del settore sanitario.
<br><br>
Quali categorie di dati sono state ottenute dal Titolare se non ho sottoscritto il Contratto MioDottore?
In base alla fonte utilizzata, possono essere ottenuti i seguenti dati:
<br><br>
Nome e cognome:
Specializzazioni professionali;<br>
Indirizzo del luogo dove la Sua attività professionale è svolta;<br>
numero di telefono;<br>
email.<br>
Per quali finalità il Titolare tratta i miei dati personali?<br>
I Suoi dati vengono trattati dal Titolare al fine di dare esecuzione al Contratto MioDottore e, ove Lei non abbia sottoscritto il Contratto MioDottore, al fine di mostrare il Suo profilo di medico professionista sul Sito.
<br><br>
Quanto in particolare al Sito, tramite esso i pazienti possono prenotare appuntamenti con i professionisti che hanno sottoscritto il Contratto MioDottore e comunicare con essi; tutti i professionisti possono a loro volta rispondere alle domande pubbliche eventualmente poste dagli utenti del Sito. Il Sito è pubblico e aperto, il che significa che i dati ivi pubblicati sono accessibili agli utenti della rete internet e possono essere indicizzati dai motori di ricerca.
<br><br>
Il trattamento dei Suoi dati personali da parte del Titolare è necessario al fine di consentire l'esecuzione del Contratto MioDottore e di mostrare il Suo profilo di medico professionista sul Sito; il rifiuto da parte Sua di fornire a DPI i Suoi dati personali impedirebbe pertanto a DPI di fornire i relativi servizi.
<br><br>
Come parte del servizio a Lei offerto il Titolare potrà inoltre trattare i dati da Lei forniti al fine di associare il suo account MioDottore con un corrispondente account Google My Business (https://www.google.com/intl/it_it/business/how-it-works/). La finalità di tale trattamento è permettere a DPI di comunicare i suoi dati a Google nella misura necessaria a creare un account Google My Business e consentire la prestazione dei relativi servizi. Per Sua facilità, Lei potrà gestire le informazioni condivise con Google direttamente attraverso il Sito MioDottore, potendo quindi scegliere, fra le altre cose, quali informazioni far apparire sulle mappe online. Qualora Lei volesse revocare il Suo consenso e gestire il Suo account Google My Business separatemente, potrà comunicarcelo in qualsiasi momento tramite l’area contatti del sito (email o telefono).
<br><br>
Con il Suo consenso i Suoi dati di contatto possono essere utilizzati per finalità di marketing mediante invio di comunicazioni commerciali relative ai servizi di DPI, nonché, per effettuare analisi statistiche, sondaggi e indagini di mercato.
<br><br>
Può il Titolare comunicare i miei dati personali a soggetti terzi (ad esempio, a società o altri enti?)<br>
Il Titolare può comunicare i Suoi dati personali a soggetti terzi in relazione a servizi da questi eventualmente prestati in favore del Titolare. Tali soggetti terzi possono appartenere alle seguenti categorie:
<br><br>
società di revisione e di audit;<br>
studi legali;<br>
fornitori di servizi IT, comprese le società che ospitano i servers utilizzati dal Titolare;<br>
call centres e fornitori di servizi bulk SMS e email;<br>
compagnie di assicurazione;<br>
altri soggetti che hanno stipulato con il Titolare un contratto di servizi in outsourcing;<br>
società appartenenti al gruppo cui DPI appartiene.<br>
Ove Lei voglia associare il Suo account  ad un account Google My Business, i Suoi dati personali verranno comunicati a Google. Tale comunicazione è necessaria al fine di ottenere i relativi servizi.
<br><br>
Il Titolare trasferisce i miei dati personali fuori dall'Unione Europea?<br>
Il Titolare può trasferire i Suoi dati personali fuori dall'Unione Europea in esecuzione di accordi conclusi con soggetti terzi, in particolare in relazione alla manutenzione dell'infrastruttura informatica in uso al Titolare. Il trasferimento dei Suoi dati personali è effettuato sulla base di appropriati strumenti legali, quali le clausole contrattuali tipo, Privacy Shield o altri simili schemi legali previsti dal GDPR.
<br><br>
L'uso dei servizi Google My Business comporta il trasferimento dei Suoi dati a Google, Inc., società con sede negli Stati Uniti. Google Inc. è soggetta al regime del c.d. Privacy Shield, ciò che garantisce un adeguato livello di protezione dei Suoi dati ai sensi della normativa Europea.
<br><br>
Posso revocare il mio consenso al trattamento dei miei dati personali?
Sì, Lei può revocare in qualsiasi momento il consenso al trattamento dei Suoi dati personali. Per revocare il Suo consenso al trattamento dei dati La preghiamo di prendere contatto con DPI. La revoca del Suo consenso non fa venir meno la legittimità dei trattamenti posti in essere dal Titolare prima della revoca stessa o sulla base di presupposti legali diversi dal consenso.
<br><br>
Ove Lei revochi il Suo consenso al trattamento dei dati necessario al funzionamento dei servizi Google My Business, il relativo servizio verrà cessato. DPI contatterà quindi Google affinché questa cancelli i Suoi dati dai suoi servers. Lei avrà anche la possibilità di cancellare i Suoi dati utilizzando gli appositi strumenti messi a disposizione direttamente da Google.
<br><br>
Il Titolare svolge attività di profilazione?
Il Titolare può utilizzare dati anonimizzati forniti dagli utenti del Sito (files cookie, informazioni sul device utilizzato, etc.) per adattare il contenuto del Sito alle preferenze dell'utente. La base legale per tale attività è costituita dal legittimo interesse del Titolare (Art. 6.1(f) del GDPR). Avendo considerato l'impatto di tale trattamento sulle libertà degli utenti, abbiamo concluso che esso non inficia i diritti degli utenti, ma consente invece al Titolare di venire incontro alle aspettative degli utenti fornendo agli stessi un contenuto personalizzato.
<br><br>
Per quanto tempo verranno conservati i miei dati personali?
Il Titolare conserverà i Suoi dati personali per la durata del Contratto MioDottore o, per quei trattamenti che si fondano unicamente sul Suo consenso, fino a quando Lei non revocherà il consenso stesso. A seguito della risoluzione del Contratto MioDottore i Suoi dati personali saranno conservati fino al termine di prescrizione applicabile alle possibili controversie nascenti dal contratto medesimo, incluse le vertenze fiscali.
<br><br>
Che diritti ho rispetto ai miei dati personali?
Diritto di opposizione - Art. 21 GDPR.
Lei ha diritto di opporsi al trattamento dei Suoi dati personali laddove il Titolare tratti tali dati sulla base di un interesse legittimo (Art. 6.1(f) GDPR) o per finalità di profilazione o marketing diretto. Ove tale opposizione sia compatibile con la legge applicabile, il Titolare cesserà il relativo trattamento.
<br><br>
Diritto di accesso – Art. 15 GDPR.
Lei ha il diritto di ottenere dal Titolare una conferma che sia o meno in corso un trattamento di dati che La riguarda. Per fornirLe tale conferma senza violare i diritti altrui il Titolare potrebbe chiederLe informazioni aggiuntive al fine di verificare la Sua identità.
<br><br>
Esercitando tale diritto Lei potrà:
<br><br>
accedere ai Suoi dati personali;<br>
ricevere informazioni sulle finalità del trattamento, sulle categorie dei dati trattati, i destinatari o le categorie di destinatari di tali dati, il periodo di conservazione dei dati previsto o i criteri utilizzati per determinare tale periodo, l'esistenza degli altri diritti a Lei conferiti dal GDPR e il diritto di proporre reclamo all'autorità di controllo competente, la fonte dei dati eventualmente raccolti da fonti diverse dall'interessato, l'esistenza di processi decisionali automatizzati, compresa la profilazione, l'esistenza di garanzie adeguate in relazione all'eventuale trasferimento dei dati al di fuori dell'Unione Europea.
Inoltre, Lei potrà ottenere una copia dei Suoi dati personali soggetti a trattamento da parte del Titolare.
<br><br>
Diritto di rettifica – Art. 16 GDPR.<br>
Lei ha il diritto di ottenere dal Titolare la rettifica dei dati personali inesatti che La riguardano. Tenuto conto delle finalità del trattamento, Lei ha il diritto di ottenere l'integrazione dei dati personali incompleti, anche fornendo una dichiarazione integrativa.
<br><br>
Diritto alla cancellazione – Art. 17 GDPR.<br>
Lei ha il diritto di ottenere la cancellazione di tutti o parte dei Suoi dati personali se sussiste uno dei seguenti motivi:
<br><br>
il Suo consenso è stato revocato (laddove il consenso stesso costituisce l'unica base del relativo trattamento);
i dati personali non sono più necessari rispetto alle finalità per le quali sono stati raccolti o altrimenti trattati;
Lei si è opposto al trattamento ai sensi dell'Art. 21 GDPR e non sussiste alcun motivo legittimo prevalente per procedere al trattamento;
i dati personali sono stati trattati illecitamente; o
i dati personali devono essere cancellati per adempiere ad un obbligo previsto dalla legge Italiana o dell'Unione Europea.
Nonostante l'esercizio del diritto alla cancellazione, il Titolare potrà continuare a trattare i Suoi dati personali ove ciò sia necessario per osservare leggi cui il Titolare è soggetto (ad esempio di natura fiscale) o per esercitare il diritto di difesa in giudizio o il diritto di libertà di espressione o informazione.
<br><br>
Diritto di limitazione del trattamento – Art. 18 GDPR
Lei ha il diritto di ottenere dal Titolare la limitazione del trattamento. Ove Lei eserciti tale diritto, Lei potrà avere accesso soltanto a quelle funzionalità del servizio MioDottore che non necessitano di un trattamento dei Suoi dati. Il diritto di limitazione del trattamento può essere esercitato quando ricorre una delle seguenti ipotesi:
Lei contesta l'esattezza dei Suoi dati personali; in tal caso il Titolare limiterà il trattamento per il periodo necessario alla verifica dell'esattezza di tali dati personali;
il trattamento è illecito e Lei chiede che sia limitato l'utilizzo dei dati personali in luogo di chiederne la cancellazione;
il Titolare del trattamento non ha più bisogno dei dati personali ai fini del trattamento, ma essi sono a Lei necessari per l'accertamento, l'esercizio o la difesa di un diritto in sede giudiziaria;
Lei si è opposto al trattamento ai sensi dell'articolo 21 paragrafo 1 GDPR in attesa della verifica in merito all'eventuale prevalenza dei motivi legittimi del Titolare rispetto ai Suoi interessi.
Diritto alla portabilità dei dati – Art. 20 GDPR.
Lei ha il diritto di ricevere dal Titolare in un formato strutturato, di uso comune e leggibile da dispositivo automatico, i dati personali che La riguardano e ha il diritto di trasmettere tali dati a un altro titolare del trattamento. In alternativa, Lei ha il diritto di ottenere la trasmissione diretta dei dati personali da un titolare del trattamento all'altro, se tecnicamente fattibile.
<br><br>
Ho la possibilità di segnalare problemi legati al trattamento dei miei dati personali?
Sì, Lei ha il diritto di inviare segnalazioni all'Autorità Garante per la Protezione dei Dati Personali, Piazza di Montecitorio, 121, 00186 Roma, Italia - http://www.garanteprivacy.it
<br><br>
Come vengono protetti i miei dati personali?
Il Titolare fa tutto quanto in suo potere per assicurare che i Suoi dati personali siano mantenuti in sicurezza. A tal fine sono state implementate misure tecniche e organizzative concepite per proteggere al meglio i Suoi dati personali. Tali misure comprendono in particolare:
<br><br>
test periodici sulla sicurezza dell'infrastruttura informatica;<br>
il controllo degli accessi all'interno dell'organizzazione e dei sistemi informatici del Titolare; e l'uso di tecniche di crittografia.
<br><br>
<b>SEZIONE PAZIENTI</b>
Chi è il titolare del trattamento dei miei dati personali?<br>
Titolari del trattamento ai sensi dell'art. 4(7) GDPR sono:
<br><br>

Il Titolare ha nominato un responsabile per la protezione dei Suoi dati. Lei potrà in ogni momento contattare il DPO nei seguenti modi:
<br><br>

Su quali basi legali il Titolare tratta i miei dati personali?
Il Titolare tratta i Suoi dati personali sulla base dell'accordo da Lei concluso con DPI sul Sito www.miodottore.it (di seguito, il "Sito") per la fruizione dei servizi indicati nelle relative Condizioni di Servizio (di seguito, "Servizi MioDottore"). I dati oggetto di trattamento sono quelli dai Lei stesso forniti in sede di registrazione e in sede di utilizzo dei singoli Servizi MioDottore.
<br><br>
Il Titolare può procedere al trattamento dei Suoi dati anche sulla base di un legittimo interesse, come previsto dall'art. 6.1(f) del GDPR. Ciò accade in particolare in relazione al trattamento necessario ad aggiornarLa sullo stato degli appuntamenti dai Lei stesso prenotati tramite i Servizi MioDottore con i medici iscritti al Sito (di seguito, "Professionisti") e per valutare il Suo livello di soddisfazione.
<br><br>
Inoltre, in occasione dell'uso di alcuni Servizi , e sulla base del Suo specifico consenso, il Titolare potrebbe trattare dati personali da cui potrebbero essere dedotto il Suo stato di salute.
<br><br>
Quali categorie di dati vengono trattati dal Titolare?
Ai fine di consentirLe la registrazione sul Sito e così di fruire dei Servizi MioDottore Le potranno essere richiesti i seguenti dati personali:
<br><br>
nome e cognome;<br>
email;<br>
numero di telefono.<br>
Al fine di fissare un appuntamento con un Professionista Le verranno chiesti i seguenti dati:<br>
<br><br>
nome e cognome;<br>
email;<br>
numero di telefono.<br>
Ai fine di fornire al Professionista indicazioni utili in vista dell'appuntamento da Lei prenotato, Le verrà chiesto di rispondere ad alcune domande da cui potrebbe dedursi il suo stato di salute. Le risposte da Lei fornite saranno elaborate in forma anonima (attraverso il software Symptomate - https://symptomate.com), al fine di ricavarne indicazioni potenzialmente utili al Professionista.
<br><br>
Per quali finalità il Titolare tratta i miei dati personali?<br>
I Suoi dati personali vengono trattati dal Titolare per le seguenti finalità:
<br><br>
in generale, per consentire a DPI di fornirLe i Servizi MioDottore, fra cui,<br>
per permetterLe di prenotare un appuntamento con il Professionista di Sua scelta;<br>
per consentire a DPI di tenerLa aggiornata sullo stato dei Suoi appuntamenti, in particolare: (i) al momento della prenotazione, tramite l'invio di un'email e di un SMS di conferma dell'appuntamento; (ii) all'approssimarsi della data dell'appuntamento, tramite un'email e un SMS di promemoria; (iii) in caso di cancellazione dell'appuntamento, tramite un'email e un SMS di avvertimento; (iv) dopo l'appuntamento, tramite strumenti per valutare il Suo grado di soddisfazione e per controllo qualità;
per comunicare privatamente col Professionista da Lei scelto;<br>
per permetterLe di porre delle domande pubbliche ai Professionisti; e<br>
per consentirLe di pubblicare delle recensioni relative ai Professionisti.<br>
La fornitura dei Suoi dati personali è necessaria al fine di ottenere i Servizi MioDottore; il rifiuto da parte Sua di fornire i Suoi dati personali impedirà a DPI di erogare i relativi servizi.
<br><br>
Inoltre, la prestazione di un Suo consenso specifico sarà necessaria in relazione al trattamento dei dati da cui potrebbe dedursi il Suo stato di salute, in particolare al fine di:
<br><br>
consentirLe di prenotare un appuntamento con il Professionista da Lei scelto; in mancanza del Suo consenso Lei non potrà prenotare appuntamenti;
raccogliere e trasmettere al Professionista indicazioni sul suo stato di salute in previsione della visita programmata; in mancanza del Suo consenso tali informazioni non potranno essere raccolte;
consentirLe di porre domande pubbliche ai Professionisti; in mancanza del Suo consenso Lei non potrà porre domande;
consentirLe di pubblicare recensioni relative ai Professionisti; in mancanza del Suo consenso Lei non potrà pubblicare recensioni;
consentirLe di comunicare privatamente col Professionista di Sua fiducia; in mancanza del Suo consenso Lei non potrà inviare comunicazioni al Professionista.
Può il Titolare comunicare i miei dati personali a soggetti terzi?
Ove Lei abbia prenotato un appuntamento con un Professionista, i Suoi dati personali saranno trasmessi al relativo Professionista e, a scelta del Professionista, potrebbero essere visibili anche a taluni collaboratori di questo, quali assistenti sanitari e personale amministrativo.
<br><br>
Il Titolare può inoltre comunicare i Suoi dati personali a soggetti terzi in relazione a servizi da questi eventualmente prestati in favore del Titolare. Tali soggetti terzi possono appartenere alle seguenti categorie:
<br><br>
società di revisione e di audit;<br>
studi legali;<br>
fornitori di servizi IT, comprese le società che ospitano i servers utilizzati dal Titolare;<br>
call centres e fornitori di servizi bulk SMS e email;<br>
altri soggetti che hanno stipulato con il Titolare un contratto di servizi in outsourcing;<br>
società del gruppo cui DPI appartiene.<br>
Il Titolare trasferisce i miei dati personali fuori dall'Unione Europea?<br>
Il Titolare può trasferire i Suoi dati personali fuori dall'Unione Europea in esecuzione di accordi conclusi con soggetti terzi, in particolare in relazione alla manutenzione dell'infrastruttura informatica in uso al Titolare. Il trasferimento dei Suoi dati personali è effettuato sulla base di appropriati strumenti legali, quali le clausole contrattuali tipo, Privacy Shield o altri simili schemi legali previsti dal GDPR.
<br><br>
I miei dati personali saranno visibili agli utenti di internet?
Gli utenti del Sito potranno vedere le domane pubbliche e le recensioni che Lei ha pubblicato e, a meno che Lei non abbia utilizzato un nickname nei modi consentiti dal Servizio, il Suo nome.
<br><br>
Il Titolare ha accesso ai miei messaggi privati ai Professionisti?
I messaggi privati sono conservati nei servers e nei data bases del Titolare, pertanto il Titolare ha accesso a tali informazioni. Tuttavia, l'accesso è consentito soltanto a quei dipendenti del Titolare che sono incaricati della gestione e manutenzione dei servers e dei databases e che sono stati specificamente autorizzati dal Titolare. Inoltre, il Titolare utilizza speciali strumenti in grado di prevenire e identificare abusi e rischi connessi all'uso del Sito.
<br><br>
Posso revocare il mio consenso al trattamento dei miei dati personali?
Sì, Lei può revocare in qualsiasi momento il consenso al trattamento dei Suoi dati personali il cui trattamento si fonda sulla prestazione del Suo consenso. A tal fine La invitiamo a prendere contatto con DPI scrivendo al seguente indirizzo: privacyitalia@docplanner.com.
<br><br>
La revoca del Suo consenso non fa venir meno la legittimità dei trattamenti posti in essere dal Titolare prima della revoca stessa o sulla base di presupposti legali diversi dal consenso.
<br><br>
Il Titolare svolge attività di profilazione?
Il Titolare può utilizzare dati anonimizzati forniti dagli utenti del Sito (files cookie, informazioni sul device utilizzato, etc.) per adattare il contenuto del Sito alle preferenze dell'utente. La base legale per tale attività è costituita dal legittimo interesse del Titolare (Art. 6.1(f) del GDPR). Avendo considerato l'impatto di tale trattamento sulle libertà degli utenti, abbiamo concluso che esso non inficia i diritti degli utenti, ma consente invece al Titolare di venire incontro alle aspettative degli utenti fornendo agli stessi un contenuto personalizzato.
<br><br>
Per quanto tempo verranno conservati i miei dati personali?
Il Titolare conserverà i Suoi dati personali per la durata dei Servizi MioDottore o, per quei trattamenti che si fondano unicamente sul Suo consenso, fino a quando Lei non revocherà il consenso stesso. Una volta terminati Servizi MioDottore i Suoi dati personali saranno conservati fino al termine di prescrizione applicabile alle possibili controversie nascenti dai Servizi medesimi.
<br><br>
Che diritti ho rispetto ai miei dati personali?
Diritto di opposizione - Art. 21 GDPR.
Lei ha diritto di opporsi al trattamento dei Suoi dati personali laddove il Titolare tratti tali dati sulla base di un interesse legittimo (Art. 6.1(f) GDPR) o per finalità di profilazione o marketing diretto. Ove la Sua opposizione sia compatibile con la legge applicabile, il Titolare cesserà il relativo trattamento.
<br><br>
Diritto di accesso – Art. 15 GDPR.
Lei ha il diritto di ottenere dal Titolare una conferma che sia o meno in corso un trattamento di dati che La riguarda. Per fornirLe tale conferma senza violare i diritti altrui il Titolare potrebbe chiederLe informazioni aggiuntive al fine di verificare la Sua identità. Esercitando tale diritto Lei potrà:
<br><br>
accedere ai Suoi dati personali;
ricevere informazioni sulle finalità del trattamento, sulle categorie dei dati trattati, i destinatari o le categorie di destinatari di tali dati, il periodo di conservazione dei dati previsto o i criteri utilizzati per determinare tale periodo, l'esistenza degli altri diritti a Lei conferiti dal GDPR e il diritto di proporre reclamo all'autorità di controllo competente, la fonte dei dati eventualmente raccolti da fonti diverse dall'interessato, l'esistenza di processi decisionali automatizzati, compresa la profilazione, l'esistenza di garanzie adeguate in relazione all'eventuale trasferimento dei dati al di fuori dell'Unione Europea.
Inoltre, Lei potrà ottenere una copia dei Suoi dati personali soggetti a trattamento da parte del Titolare.
<br><br>
Diritto di rettifica – Art. 16 GDPR.
Lei ha il diritto di ottenere dal Titolare la rettifica dei dati personali inesatti che La riguardano. Tenuto conto delle finalità del trattamento, Lei ha il diritto di ottenere l'integrazione dei dati personali incompleti, anche fornendo una dichiarazione integrativa.
<br><br>
Diritto alla cancellazione – Art. 17 GDPR.
Lei ha il diritto di ottenere la cancellazione di tutti o parte dei Suoi dati personali se sussiste uno dei seguenti motivi:
<br><br>
il Suo consenso è stato revocato (laddove il consenso stesso costituisce l'unica base del relativo trattamento);
i dati personali non sono più necessari rispetto alle finalità per le quali sono stati raccolti o altrimenti trattati;
Lei si è opposto al trattamento ai sensi dell'Art. 21 GDPR e non sussiste alcun motivo legittimo prevalente per procedere al trattamento;
i dati personali sono stati trattati illecitamente; o
i dati personali devono essere cancellati per adempiere ad un obbligo previsto dalla legge applicabile.
Nonostante l'esercizio del diritto alla cancellazione, il Titolare potrà continuare a trattare i Suoi dati personali ove ciò sia necessario per osservare leggi cui il Titolare è soggetto (ad esempio di natura fiscale) o per esercitare il diritto di difesa in giudizio o il diritto di libertà di espressione o informazione.
<br><br>
Diritto di limitazione del trattamento – Art. 18 GDPR
Lei ha il diritto di ottenere dal Titolare la limitazione del trattamento. Ove Lei eserciti tale diritto, Lei potrà avere accesso soltanto a quelle funzionalità dei Servizi MioDottore che non necessitano di un trattamento dei Suoi dati.
<br><br>
Il diritto di limitazione del trattamento può essere esercitato quando ricorre una delle seguenti ipotesi:
<br><br>
Lei contesta l'esattezza dei Suoi dati personali; in tal caso il Titolare limiterà il trattamento per il periodo necessario alla verifica dell'esattezza di tali dati personali;
il trattamento è illecito e Lei chiede che sia limitato l'utilizzo dei dati personali in luogo di chiederne la cancellazione;
il Titolare del trattamento non ha più bisogno dei dati personali ai fini del trattamento, ma essi sono a Lei necessari per l'accertamento, l'esercizio o la difesa di un diritto in sede giudiziaria;
Lei si è opposto al trattamento ai sensi dell'articolo 21 paragrafo 1 GDPR in attesa della verifica in merito all'eventuale prevalenza dei motivi legittimi del Titolare rispetto ai Suoi interessi.
Diritto alla portabilità dei dati – Art. 20 GDPR.
Lei ha il diritto di ricevere dal Titolare in un formato strutturato, di uso comune e leggibile da dispositivo automatico, i dati personali che La riguardano e ha il diritto di trasmettere tali dati a un altro titolare del trattamento. In alternativa, Lei ha il diritto di ottenere la trasmissione diretta dei dati personali da un titolare del trattamento all'altro, se tecnicamente possibile.
<br><br>
Ho la possibilità di segnalare problemi legati al trattamento dei miei dati personali?
Sì, Lei ha il diritto di inviare segnalazioni all'Autorità Garante per la Protezione dei Dati Personali, Piazza di Montecitorio, 121, 00186 Roma, Italia - http://www.garanteprivacy.it
<br><br>
Come vengono protetti i miei dati personali?
Il Titolare fa tutto quanto in suo potere per assicurare che i Suoi dati personali siano mantenuti in sicurezza. A tal fine sono state implementate misure tecniche e organizzative concepite per proteggere al meglio i Suoi dati personali. Tali misure comprendono in particolare:
<br><br>
test periodici sulla sicurezza dell'infrastruttura informatica;
il controllo degli accessi all'interno dell'organizzazione e dei sistemi informatici del Titolare; e
l'uso di tecniche di crittografia.

      </p>
    </CCol>
  </CRow>
</div>
</template>

<script>

export default {
  name: 'privacy-policy',
  components: {

  },

 data () {
    return {

    }
 },


  computed: {

  },


  mounted () {

  },

  methods:{

  }

}
</script>


