<template>
  <div class="row mt-5">
    <div class="col-lg-8 m-auto">
      <CCard>
        <template v-if="success">
          <div class="mt-5 alert alert-success" role="alert">
            <h4 class="text-center">{{ messaggio }}</h4>
          </div>
          <router-link :to="{ name: 'login' }" class="btn btn-primary">
            {{ $t('login') }}
          </router-link>
        </template>
        <template v-else>
          <div class="alert alert-success" role="alert">
            <h4 class="text-center">{{ messaggio }}</h4>
            <h5 class="text-center">Se non sei riuscito a convalidare l'email invia una nuova email di verifica</h5>
          </div>
          <div class="form-group">
            <label for="Email">Email Registrata</label>
            <input type="email" v-model="form.email" class="form-control">
          </div>
          <button class="btn btn-clock btn-primary" :class="[{'btn-loading':loading}]" :disabled="loading" @click="nuovaEmailVerifica()">Invia nuova email di verifica </button>
        </template>
       </CCard>

    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Form from 'vform'
const qs = (params) => Object.keys(params).map(key => `${key}=${params[key]}`).join('&')

export default {
  middleware: 'guest',

  metaInfo () {
    return { title: this.$t('verify_email') }
  },

  async beforeRouteEnter (to, from, next) {
    try {
      const { data } = await axios.post(`/api/email/verify/${to.params.id}?${qs(to.query)}`)

      next(vm => {
        if(data.status=='verification.verified'){
            vm.messaggio="Verifica Riuscita"
            vm.success=true;
        }
        else{
          vm.messaggio="Email Verificata"
        }

        })
    } catch (e) {
      next(vm => {

      vm.messaggio="Email Verificata";
      vm.error = e.response.data.status })
    }
  },

  methods: {
    /*CONFERMA ORDINE*/
nuovaEmailVerifica (){
      var url = '/api/email/resend';
      this.loading=true;
      var payload = this.form;
      this.$store.commit('private/setPreload', true)
      axios.post(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res){
          this.form.reset()
          this.messaggio='Email di verifica Inviata';
           this.loading=false;
           this.success=true;
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
            this.loading=false;
          }
        })
        .catch(err => {
            this.loading=false;
          this.messaggio="Email già verificata o errata";
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
},
  },

  data: () => ({
    error: '',
    success: '',
   loading:false,
    messaggio:'Errore Verifica',
    form: new Form({
      email: ''
    })
  })
}
</script>
