<template>
<div>
    <CRow class="mb-2" >
    <CCol sm="12">
      <div @click="$router.back()">
        <button v-if="route!='private.homepaziente'" class="btn btn-success"> <fa icon="arrow-left"/>Torna Indietro</button>
      </div>
    </CCol>
  </CRow>
</div>
</template>

<script>
import _ from 'lodash'
import { mapGetters, mapMutations, mapActions } from 'vuex'


export default {
  name: 'backButton',
  components: {

  },

 data () {
    return {
      resource: this.$resource_url,
      route:'',
    }
 },


  computed: {
    ...mapGetters({
      User: 'auth/user',
    }),
  },



  mounted () {
    this.route=this.$route.name;
  },

  methods:{

  }

}
</script>


