<template>
    <div>
      <CRow>
          <CCol sm="12" class="text-center">
            <CButton class="btn-block" color="danger" @click="apriModalConferma()">Cancella Profilo</CButton>
          </CCol>
      </CRow>

      <CModal
        title="Conferma Cancellazione"
        color="danger"
        :show.sync="modalConferma">
        <h4 class="text-center text-danger">
            <b>Attenzione! Cancellando il profilo tutti i tuoi dati saranno persi permanentemente,
            sei sicuro?</b>
        </h4>
        <template #footer>
            <CButton color="default" @click="modalConferma = false">
            Annulla
            </CButton>
            <CButton color="danger" @click="cancellaProfilo()">
            Conferma Cancellazione
            </CButton>
        </template>
    </CModal>
  </div>
</template>

<script>
import axios from 'axios'
import _ from 'lodash'
import { mapGetters, mapMutations, mapActions } from 'vuex'


export default {
  name: 'cancella-profilo',

  components: {

  },

  data () {
    return {
        modalConferma: false
    }
  },

    computed: {
        ...mapGetters({
            User: 'auth/user',
        })
    },


    mounted () {

    },


    methods: {


        apriModalConferma(){
            this.modalConferma = true
        },

        cancellaProfilo(){

            var url = 'api/profilo'
            this.$store.commit('private/setPreload', true)
            axios.delete(url)
            .then(res => {
            this.$store.commit('private/setPreload', false)
            if (res.data.success === true) {
                this.$store.commit('private/setMessaggioSuccesso', 'Il tuo profilo è stato cancellato')
                this.$router.push({'name':'login'})
            } else {
                this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
            })
            .catch(err => {
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore')
            })

        }

    }
}
</script>
