<template>
  <datepicker input-class="form-control" :v-model="modello" :format="format" :language="it" :name="name"></datepicker>
</template>

<script>

import Datepicker from 'vuejs-datepicker';
import {it} from 'vuejs-datepicker/dist/locale'
export default {
  name: 'CustomDatePicker',
  components: {
    Datepicker,
  },
    mounted: function () {
      let vm = this;

        console.log(vm.modello);
                console.log(vm.name);
  },
  data () {
    return {
      it: it,
      format: "dd/MM/yyyy",
    }
  },
    props: {
      name: {
        type: String,
      },
      modello:{
        type: String
      }
    },
  methods: {

  }

}
</script>
