  <template>
    <div>
    <!-- START PRESCRIZIONI ESAMI PROMEMORIA -->
      <CRow>
          <CCol sm="12">
            <CCard>
              <CCardHeader><h4>Prescrizioni Esami -  Promemoria</h4></CCardHeader>
              <CCardBody>
                <CRow>
                  <CCol sm="12">
                    <table class="table table-bordered" v-if="prescrizioni.length > 0">
                      <tr>
                        <th>Data Scadenza</th>
                        <th>% Completamento</th>
                        <th></th>
                      </tr>
                      <tr v-for="(prescrizione) in prescrizioni" :key="prescrizione.key">
                        <td width="65%"><b>{{prescrizione.data_scadenza | date('D/MM/YYYY')}}</b></td>
                        <td width="15%"><span>{{prescrizione.perc + ' %'}}</span></td>
                        <td width="20%"> <CButton color="primary" @click="apriModalPromemoriaEsame(prescrizione.idPrescrizioneEsame)">Visualizza Esami</CButton></td>
                      </tr>
                  </table>
                  <div v-else>
                    <h4 class="text-center text-uppercase">Nessuna Prescrizione </h4>
                  </div>
                  </CCol>
                </CRow>
              </CCardBody>
            </CCard>
          </CCol>
      </CRow> <!-- END PRESCRIZIONI ESAMI  PROMEMORIA -->

      <!-- MODAL PROMEMORIA ESAMI -->
      <CModal
        title="PROMEMORIA ESAMI"
        color="primary"
        :show.sync="modalPromemoriaEsami">
        <CRow>
          <CCol sm="12">
            <table class="table table-bordered">
              <tr>
                <th width="50%">Esame</th>
                <th width="20%">Stato</th>
                <th width="30%"></th>
              </tr>
              <tr>
                  <th colspan="3" class="text-uppercase text-center">Esami Laboratorio</th>
              </tr>
              <tr v-for="(esame_laboratorio,index) in esami_promemoria.esami_laboratorio" :key="'esami_lab_'+index" >
                <td>  <p class="text-uppercase m-0"><b>{{index | replaceunderscore}}</b></p></td>
                <td>                  
                <p :class="esame_laboratorio.stato == 'attesa' ? 'text-uppercase text-warning' : 'text-uppercase text-info'"><b>{{esame_laboratorio.stato}}</b></p>
                </td>
                <td class="text-right"> 
                    <CDropdown
                      color="secondary"
                      toggler-text="Azioni"
                      class="m-2 btn-block"
                      v-if="esame_laboratorio.stato != 'registrato'">
                      <CDropdownItem  @click="goEsami(index,'esame_laboratorio')">Registra Esame</CDropdownItem>
                      <CDropdownItem  @click="segnaEsameRegistrato(index,'esame')">Segna come registrato</CDropdownItem>
                    </CDropdown>
                </td>
              </tr>
                <tr>
                  <th colspan="3" class="text-uppercase text-center" >Esami Strumentali</th>
                </tr>
                <tr v-for="(esame_strumentale,index) in esami_promemoria.esami_strumentali" :key="'esami_strum_'+index">
                    <td>
                      <p class="text-uppercase m-0"><b>{{ index | replaceunderscore}}</b></p>
                    </td>
                    <td>
                      <p :class="esame_strumentale.stato == 'attesa' ? 'text-uppercase text-warning' : 'text-uppercase text-info'"><b>{{esame_strumentale.stato}}</b></p>
                    </td>
                    <td class="text-right">
                      <CDropdown
                        color="secondary"
                        toggler-text="Azioni"
                        class="m-2 btn-block"
                        v-if="esame_strumentale.stato != 'registrato'">
                        <CDropdownItem  @click="goEsami(index,'esame_strumentale')">Registra Esame</CDropdownItem>
                        <CDropdownItem  @click="segnaEsameRegistrato(index,'esame_strumentale')">Segna come registrato</CDropdownItem>
                      </CDropdown>
                    </td>
                </tr>
            </table>
          </CCol>
        </CRow>
        <template #footer>
          <CButton color="default" @click="modalPromemoriaEsami = false">
            Chiudi
          </CButton>
        </template>
      </CModal>
    </div>
  </template>


<script>
  import axios from 'axios';
  import { mapGetters, mapMutations, mapActions } from 'vuex';

  export default {
    name: 'EsamiPromemoria',
    
    data () {
        return {
          idPrescrizioneEsame: '',
          prescrizioni: [],
          esami_promemoria: {
            'esami_laboratorio': [],
            'esami_strumentali': []
          },
          modalPromemoriaEsami: false,
        }
    },

    computed: {
      ...mapGetters({
        User: 'auth/user',
        paziente: 'pazienti/getPaziente'
      }),
    },

 
    filters: {
      replaceunderscore: function (value){
        if(!value) return ''
        return value.replace(/_/g,' ');
      }
    },

    mounted () {
        this.caricaPrescrizione();
      },

    methods: {

      apriModalPromemoriaEsame(idPrescrizioneEsame){
        this.idPrescrizioneEsame = idPrescrizioneEsame
        this.caricaEsamiPrescrizione()
        this.modalPromemoriaEsami = true
      },

      caricaPrescrizione(){
        var url = '/api/prescrizioni-esami-promemoria/'+this.paziente.idUser

        axios.get(url)
          .then(res => {
          this.$store.commit('private/setPreload', false)
            if (res.data) {
              this.prescrizioni = res.data
            } else {
              this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
          })
          .catch(err => {
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
          })
      },

      caricaEsamiPrescrizione(){
        this.$store.commit('private/setPreload', true)
        var url = '/api/esami-prescrizione-promemoria/'+ this.idPrescrizioneEsame;
        axios.get(url)
          .then(res => {
            this.$store.commit('private/setPreload', false)
            if (res.data) {
              this.esami_promemoria = res.data
            } else {
              this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
          })
          .catch(err => {
            console.log(err)
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
          })
      },

      segnaEsameRegistrato(codice_esame,tipo_esame){
        this.$store.commit('private/setPreload', true)
        var url = '/api/aggiorna-stato-esame/'+ this.paziente.idUser + '/' + this.idPrescrizioneEsame;

        var payload = {
          'codice_esame': codice_esame,
          'tipo_esame': tipo_esame
        }

        axios.put(url,payload)
          .then(res => {
            this.$store.commit('private/setPreload', false)
            if (res.data.success === true) {
                this.$store.commit('private/setMessaggioSuccesso','Esame Registrato')
                this.modalPromemoriaEsami = false
                this.caricaPrescrizione()
            } else {
              this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
          })
          .catch(err => {
            console.log(err)
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore Aggiornamento')
          })
      },

      goEsami(codiceEsame,tipo_esame){
        if(tipo_esame == 'esame_laboratorio'){
          this.$router.push({name:'private.esami',query: {'codice_esame':codiceEsame,'idPrescrizione': this.idPrescrizioneEsame}})
        }

        if(tipo_esame == 'esame_strumentale'){
          this.$router.push({name:'private.esami_strumentale',query: {'codice_esame':codiceEsame,'idPrescrizione': this.idPrescrizioneEsame}})
        }
      
      }
   }
}
</script>
