<template>
      <div>
      <CRow>
        <CCol sm="12" md="3">
        <img :src="User.url_media == null ? resource+'images/user.png' : resource+'uploads/'+User.url_media" class="avatar-image">
          <br/>
          <CButton class="mt-2" color="secondary" @click="modalAvatar=true">Carica Immagine</CButton>
        </CCol>
      </CRow>

      <CModal title="Immagine Profilo" color="primary" :show.sync="modalAvatar">
        <form id="formAvatar" @submit.prevent="caricaImmagine()">
            <CRow>
                <CCol sm="12">
                    <file-pond
                    allowFileSizeValidation="true"
                    labelMaxFileSizeExceeded="File troppo grande"
                    labelMaxFileSize="Grandezza Massima di 4MB"
                    maxFileSize="4MB"
                    allowFileEncode="true"
                    label-idle="Trascina immagine qui oppure <span class='filepond--label-action'>Cerca nel pc</span>"
                    v-bind:files="myFiles"
                    accepted-file-types="image/jpeg, image/png"
                    labelFileTypeNotAllowed="Formato immagine non valido"
                    fileValidateTypeLabelExpectedTypes="Carica jpg o png"
                    allowImageResize="true"
                    imageResizeTargetWidth="300"
                    imageResizeMode="force"
                    imageResizeTargetHeight="300"
                    v-on:addfile="handleFilePondAddFile"
                    v-on:addfilestart="handleFilePondAddFileStart"
                    ref="pond"/>
                </CCol>
                <CCol sm="12" class="text-center">
                      <CButton type="submit" color="primary" :disabled="disabled">Carica</CButton>
                </CCol>
            </CRow>
            </form>
            <template #footer>
          <CButton color="default" @click="modalAvatar = false">
                Chiudi
          </CButton>
        </template>
    </CModal>
  </div>
</template>

<script>
import axios from 'axios'
import _ from 'lodash'
import Form from 'vform'
import vueFilePond from 'vue-filepond';
import 'filepond/dist/filepond.min.css';
import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';
import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type';
import FilePondPluginImagePreview from 'filepond-plugin-image-preview';
import FilePondPluginFileEncode from 'filepond-plugin-file-encode';
import FilePondPluginFileValidateSize from 'filepond-plugin-file-validate-size';
import FilePondPluginImageResize from "filepond-plugin-image-resize";
import FilePondPluginImageTransform from "filepond-plugin-image-transform";
const FilePond = vueFilePond(FilePondPluginFileValidateType, FilePondPluginImageTransform, FilePondPluginImageResize, FilePondPluginImagePreview,FilePondPluginFileEncode,FilePondPluginFileValidateSize);


import { mapGetters, mapMutations, mapActions } from 'vuex'


export default {
  name: 'formAvatar',

  components: {
    FilePond,
  },

  data () {
    return {
      resource: this.$resource_url,
      disabled: true,
      modalAvatar: false,
       myFiles: [],
       options: {
        enableCross:false,
        dragOnClick: true,
        dotSize: 18,
        tooltip: 'always',
        min: 0,
        max: 50000,
      },
      tmpImg:false,
      formAvatar: new Form({
        img: ''
      })
    }
  },

  computed: {
    ...mapGetters({
        User: 'auth/user',
    })
  },



 mounted () {

  },


/*
  METODI
*/
methods: {

    handleFilePondAddFile: function(error, file) {
        this.tmpImg=false;
        this.disabled=false;
    },

    handleFilePondAddFileStart: function(error, file) {
      this.disabled=true;
    },

  caricaImmagine(){
      var url = "/api/avatar"
      this.$store.commit('private/setPreload', true)

      if(this.$refs['pond'].getFile() != null){
          this.formAvatar.img=this.$refs['pond'].getFile().getFileEncodeDataURL();
      }
      var payload = this.formAvatar

      axios.post(url,payload)
        .then(res => {
          this.$store.commit('private/setPreload', false)
          if(res.data.success === true){
              this.$store.commit('private/setMessaggioSuccesso', 'Immagine Caricata')
              this.modalAvatar=false;
              this.$store.dispatch('auth/fetchUser');
              this.myFiles=[];
            }
            else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
          })
          .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore')
          })
    }

 }
}
</script>
