<template>
    <div>
        <CRow>
        <CCol sm="12">
          <h4 class="sub_heading">Ultimi Messaggi</h4>
        </CCol>
        <CCol sm="12">
        <CCard>
            <CCardHeader><h5>Messaggi da leggere</h5></CCardHeader>
        <CCardBody>
          <table v-if="messaggi.length" class="table table-striped">
            <tr v-for="(messaggio) in messaggi" :key="messaggio.idMessaggio">
              <td>
                 <img class="icon-image" :src="messaggio.utente.url_media == null ? resource+'images/user.png' : resource+'uploads/'+messaggio.utente.url_media">
               <span class="message_counter"> {{messaggio.messaggi}} </span>
              </td>
              <td class="align-middle">
                <div class="text-capitalize">{{messaggio.utente.name}} </div>
              </td>
              <td class="text-right">
                <router-link :to="{name:'private.messaggi', query: {idChat: messaggio.idMittente}}">
                        <CButton  color="info">
                          <fa icon="comments"></fa>  Apri Chat
                        </CButton>
                </router-link>
                <CButton  color="success" @click="apriModalSegnaComeLetto(messaggio.idMittente)">
                  <fa icon="check-double"></fa> Segna come letto
                </CButton>
              </td>
            </tr>
          </table>
          <div v-else>
            <div>Nessun messaggio da leggere</div>
          </div>
        </CCardBody>
        </CCard>
        </CCol>

        <CModal
        title="Segna come letto"
        color="success"
        :show.sync="modalSegnaComeLetto">
        Sei sicuro?

        <template #footer>
          <CButton color="default" @click="modalSegnaComeLetto = false">
            Chiudi
          </CButton>
          <CButton color="success" @click="segnaMessaggiLetti()">
            Conferma
          </CButton>
        </template>
      </CModal>

        </CRow>
    </div>
</template>


<script>
import axios from 'axios'
import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
  name: 'Notification',

  components: {

  },

 data () {
    return {
      resource: this.$resource_url,
      messaggi: '',
      modalSegnaComeLetto: false,
      idMittente: '',
    }
 },


  computed: {
    ...mapGetters({
      User: 'auth/user'
    }),
  },


//WATCH TABELLA
  watch: {
    data (newVal, oldVal) {
      this.$refs.vuetable.refresh()
    }
  },
mounted () {
    this.getNotification();

  },

methods:{


    /** GET NOTIFICATION  */
    getNotification(){
      this.$store.commit('private/setPreload', true)
      var url = '/api/message-notification';
      axios.get(url)
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.messaggi = res.data['0']
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
     },

      apriModalSegnaComeLetto(idMittente){
        this.modalSegnaComeLetto = true
        this.idMittente =  idMittente
      },

      /** SEGNA MESSAGGI LETTI  */
      segnaMessaggiLetti(){
        this.$store.commit('private/setPreload', true)
        var url = '/api/messaggi-letti/'+this.User.id+'/'+this.idMittente;

        axios.put(url)
          .then(res => {
          this.$store.commit('private/setPreload', false)
            if (res.data) {
              this.$store.commit('private/setMessaggioSuccesso', 'Messaggi Letti')
              this.modalSegnaComeLetto = false,
              this.$store.commit('private/reduceCounterMessaggi')
              this.getNotification()
            } else {
              this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
          })
          .catch(err => {
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
          })

      },
      
    }
}
</script>

