<template>
<div>
    <CRow class="mb-2" >
    <CCol sm="12">
      <div @click="$router.back()">
        <button v-if="route!='private.homepaziente'" class="btn btn-success"> <fa icon="arrow-left"/>Torna Indietro</button>
          <CCol sm="12 my-2 p-0">
            <h4 class="sub_heading">{{meta}}</h4>
          </CCol>
      </div>
      <div class="wrapper-avatar-paziente p-2 text-capitalize my-3" v-if="User.role == 'admin' || User.role == 'medico'">
        <img class="icon-image" :src="paziente.url_media == null ? resource+'images/user.png' : resource+'uploads/'+paziente.url_media">
        <h5 class="d-inline align-middle paziente-title" ><b> {{paziente.name}}</b></h5>
      </div>
    </CCol>
  </CRow>
</div>
</template>

<script>
import _ from 'lodash'
import { mapGetters, mapMutations, mapActions } from 'vuex'


export default {
  name: 'pazienteSelezionato',
  components: {

  },

 data () {
    return {
      resource: this.$resource_url,
      route:'',
      meta:'',
    }
 },


  computed: {
    ...mapGetters({
      User: 'auth/user',
      paziente: 'pazienti/getPaziente'
    }),
  },


  mounted () {
    this.route=this.$route.name;
    this.meta = this.$route.meta;
  },

  methods:{

  }

}
</script>


