<template>
    <div class="form-group">
        <label for="reparto">Reparto</label>
        <select @change="selezionaReparto" class="form-control" v-model="selectReparto">
        <option v-for="reparto in reparti" :value="reparto.idReparto" :key="reparto.idReparto">
          {{ reparto.nomeReparto }}
        </option>
      </select>
    </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import vSelect from 'vue-select'
import axios from 'axios'

export default {
  name: 'RepartiComponente',
   components: {
    vSelect
  },
  data () {
    return {
      reparti:'',
      selectReparto:'',
    }
  },


  mounted(){
    this.caricaReparti();

  },

  methods:{
    caricaReparti(){
      this.$store.commit('private/setPreload', true)
      var url = '/api/reparti';
      axios.get(url,{
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.reparti = res.data.result
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },

    selezionaReparto: function(event) {
      this.$emit("selezionaReparto", this.selectReparto);
    },
  }
}
</script>
