<template>
  <CHeader fixed with-subheader light>
    <div class="col-3">
    <CToggler
      in-header
      class="d-lg-none"
      @click="$store.commit('sidebar/toggleSidebarMobile')"
    />
    </div>
    <!--  <CToggler
      in-header
      class="ml-3 d-md-down-none"
      @click="$store.commit('sidebar/toggleSidebarDesktop')"
    />-->
    <div class="col-6 text-center">
    <CHeaderBrand class="mx-auto d-lg-none">
      <img class="logo" :src="''+resource+'images/logo.jpg'">
     <!-- <CIcon name="logo" height="48" alt="Logo" />-->
    </CHeaderBrand>
    </div>
    <!--   <CHeaderNav class="d-md-down-none mr-auto">
      <CHeaderNavItem class="px-3">
        <CHeaderNavLink to="/dashboard">
          Dashboard
        </CHeaderNavLink>
      </CHeaderNavItem>
      <CHeaderNavItem class="px-3">
        <CHeaderNavLink to="/users" exact>
          Users
        </CHeaderNavLink>
      </CHeaderNavItem>
      <CHeaderNavItem class="px-3">
        <CHeaderNavLink>
          Settings
        </CHeaderNavLink>
      </CHeaderNavItem>
    </CHeaderNav>-->
    <div class="col-3">
    <CHeaderNav >
      <!--<CHeaderNavItem class="d-md-down-none mx-2">
        <CHeaderNavLink>
          <CIcon name="cil-bell"/>
        </CHeaderNavLink>
      </CHeaderNavItem>
      <CHeaderNavItem class="d-md-down-none mx-2">
        <CHeaderNavLink>
          <CIcon name="cil-list"/>
        </CHeaderNavLink>
      </CHeaderNavItem>
      <CHeaderNavItem class="d-md-down-none mx-2">
        <CHeaderNavLink>
          <CIcon name="cil-envelope-open"/>
        </CHeaderNavLink>
      </CHeaderNavItem>-->
      <TheHeaderDropdownAccnt />
    </CHeaderNav>
    </div>
    <!--<CSubheader class="px-3">
      <CBreadcrumbRouter class="border-0 mb-0"/>
    </CSubheader>-->
  </CHeader>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import TheHeaderDropdownAccnt from './TheHeaderDropdownAccnt'

export default {
  name: 'TheHeader',
  components: {
    TheHeaderDropdownAccnt
  },

  data () {
    return {
      resource: this.$resource_url
    }
  },
  methods: {
    ...mapMutations([
      'sidebar/toggleSidebarDesktop'
    ])
  }
}
</script>
