<template>
  <CDropdown
    in-nav
    class="c-header-nav-items"
    placement="bottom-end"
    add-menu-classes="pt-0"
  >
    <template #toggler>
      <CHeaderNavLink>
       <img :src="User.url_media == null ? resource+'images/user.png' : resource+'uploads/'+User.url_media" class="icon-image">
      </CHeaderNavLink>
    </template>
  <!--  <CDropdownHeader tag="div" class="text-center" color="light">
      <strong>Account</strong>
    </CDropdownHeader>
    <CDropdownItem>
      <CIcon name="cil-bell" /> Updates
      <CBadge color="info" class="ml-auto">
        {{ itemsCount }}
      </CBadge>
    </CDropdownItem>
    <CDropdownItem>
      <CIcon name="cil-envelope-open" /> Messages
      <CBadge color="success" class="ml-auto">
        {{ itemsCount }}
      </CBadge>
    </CDropdownItem>
    <CDropdownItem>
      <CIcon name="cil-task" /> Tasks
      <CBadge color="danger" class="ml-auto">
        {{ itemsCount }}
      </CBadge>
    </CDropdownItem>
    <CDropdownItem>
      <CIcon name="cil-comment-square" /> Comments
      <CBadge color="warning" class="ml-auto">
        {{ itemsCount }}
      </CBadge>
    </CDropdownItem>
    <CDropdownHeader
      tag="div"
      class="text-center"
      color="light"
    >
      <strong>Settings</strong>
    </CDropdownHeader>-->

      <CDropdownItem>
       <!-- <router-link class="profile_link" :to="{ name: 'private.profilo' }">
            <span class="link-nav"><CIcon name="cil-user" /> Profilo</span>
        </router-link>-->
      </CDropdownItem>

   <!-- <CDropdownItem>
      <CIcon name="cil-settings" /> Settings
    </CDropdownItem>
    <CDropdownItem>
      <CIcon name="cil-dollar" /> Payments
      <CBadge color="secondary" class="ml-auto">
        {{ itemsCount }}
      </CBadge>
    </CDropdownItem>
    <CDropdownItem>
      <CIcon name="cil-file" /> Projects
      <CBadge color="primary" class="ml-auto">
        {{ itemsCount }}
      </CBadge>
    </CDropdownItem>
    <CDropdownDivider />
    <CDropdownItem>
      <CIcon name="cil-shield-alt" /> Lock Account
    </CDropdownItem>-->
  <CDropdownItem>
        <div class="user_name">{{User.name}}</div><br>
   </CDropdownItem>
    <CDropdownItem @click.prevent="logout">
      <div class="link-nav" @click.prevent="logout"><CIcon name="cil-lock-locked" /> Esci</div>
    </CDropdownItem>
  </CDropdown>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'TheHeaderDropdownAccnt',
  data () {
    return {
      resource: this.$resource_url,
    }
  },
      computed: {
      ...mapGetters({
        User: 'auth/user'
      }),
    },

    methods: {
    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: 'login' })
    }
  }
}
</script>

<style scoped>
  .c-icon {
    margin-right: 0.3rem;
  }
</style>
