<template>
  <CSidebar
    fixed
    :class="{'c-sidebar-show':SideBarShow, 'sidebarscroll': User.role == 'paziente'}"

  >
    <CSidebarBrand class="d-md-down-none">
      <img class="logo" :src="''+resource+'images/logo.jpg'">
    </CSidebarBrand>
    <MedicoNav v-if="User.role=='medico'"></MedicoNav>
    <PazienteNav v-if="User.role=='paziente'"></PazienteNav>
    <InfermiereNav v-if="User.role=='infermiere'"></InfermiereNav>
    <CRenderFunction v-if="User.role=='admin'" flat :content-to-render="$options.AdminNav"/>

    <!--<CSidebarMinimizer
      class="d-md-down-none"
      @click.native="$store.commit('sidebar/set', ['sidebarMinimize', !minimize])"
    />-->
  </CSidebar>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import resource_url from '~/plugins/variables.js'
import AdminNav from './nav/AdminNav'
import MedicoNav from './nav/MedicoNav.vue'
import PazienteNav from './nav/PazienteNav.vue'
import InfermiereNav from './nav/InfermiereNav.vue'

export default {
  name: 'TheSidebar',
  AdminNav,

  components: {
    MedicoNav,
    PazienteNav,
    InfermiereNav,
  },
  data () {
    return {
      resource: this.$resource_url
    }
  },

  computed: {
    ...mapGetters({
      SideBarShow: 'sidebar/statoSidebar',
      User: 'auth/user'
    }),

    ...mapMutations([
    'sidebar/toggleSidebarMobile'
       ])
  /*  show_side () {
      return this.$store.state.sidebarShow
    }, */
  }
}
</script>
