<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>Altro</h4>
        </CCol>
        <CCol sm="6">
          <CInput label="Nome Esame" id="nome_esame" v-model="altro.nome_esame" name="nome_esame"></CInput>
        </CCol> 
        <CCol sm="6">
          <CTextarea label="Dettagli Esame " id="dettagli_esame" v-model="altro.dettagli_esame" name="dettagli_esame"></CTextarea>
        </CCol>
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'altro',
    components: {
    },
  data () {
    return {
      altro:new Form({
        nome_esame: '',
        dettagli_esame: ''
      })
    }
},

  mounted(){
    this.altro.reset();
    this.changeAltro();
  },

  methods:{
  changeAltro: function() {
    this.$emit("aggiornaEsame",this.altro);
    },

  setEsame: function(data) {
      this.altro.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
