<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>ASSETTO MARZIALE</h4>
        </CCol>
        <CCol sm="6">
            <CInput label="Sitermia (Ferro)" type="number" step="0.01" v-model="assetto_marziale.sitermia" name="sitermia"></CInput>
        </CCol>
           <CCol sm="6">
            <CInput label="Ferritina" type="number" step="0.01" v-model="assetto_marziale.ferritina" name="ferritina"></CInput>
        </CCol>
           <CCol sm="6">
            <CInput label="Transferrina" type="number" step="0.01" v-model="assetto_marziale.transferrina" name="transferrina"></CInput>
        </CCol>
           <CCol sm="6">
            <CInput label="T SAT %" type="number" step="0.01" v-model="assetto_marziale.tsatperc" name="tsateperc"></CInput>
        </CCol>
           <CCol sm="6">
            <CInput label="AC. FOLICO" type="number" step="0.01" v-model="assetto_marziale.ac_folico" name="ac_folico"></CInput>
        </CCol>
           <CCol sm="6">
            <CInput label="VIT. B12" type="number" step="0.01" v-model="assetto_marziale.vit_b12" name="vit_b12"></CInput>
        </CCol>
           <CCol sm="6">
            <CInput label="ERITROPOIETINEMIA" type="number" step="0.01" v-model="assetto_marziale.eritropoietinemia" name="eritropoietinemia"></CInput>
        </CCol>
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'assetto_marziale',
    components: {
    },
  data () {
    return {
      assetto_marziale:new Form({
        sitermia: '',
        ferritina: '',
        transferrina: '',
        tsatperc: '',
        ac_folico: '',
        vit_b12: '',
        eritropoietinemia: '',
      })
    }
},

  mounted(){
    this.assetto_marziale.reset();
    this.changeAssettoMarziale();
  },

  methods:{
  changeAssettoMarziale: function() {
    this.$emit("aggiornaEsame",this.assetto_marziale);
    },

  setEsame: function(data) {
      this.assetto_marziale.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
