<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>Assetto Lipidico</h4>
        </CCol>
        <CCol sm="6">
            <CInput label="COLESTEROLO TOT." name="colesterolo_tot" v-model="assetto_lipidico.colesterolo_tot" type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="COLESTEROLO HDL" name="colesterolo_hdl" v-model="assetto_lipidico.colesterolo_hdl" type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="COLESTEROLO LDL" name="colesterolo_ldl" v-model="assetto_lipidico.colesterolo_ldl" type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="TRIGLICERIDI" name="trigliceridi" v-model="assetto_lipidico.trigliceridi" type="number" step="0.01"></CInput>
        </CCol>
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'assetto_lipidico',
    components: {
    },
  data () {
    return {
      assetto_lipidico:new Form({
          colesterolo_tot: '',
          colesterolo_hdl: '',
          colesterolo_ldl: '',
          trigliceridi: ''
      })
    }
},

  mounted(){
    this.assetto_lipidico.reset();
    this.changeAssettoLipidico();
  },

  methods:{
  changeAssettoLipidico: function() {
    this.$emit("aggiornaEsame",this.assetto_lipidico);
    },

  setEsame: function(data) {
      this.assetto_lipidico.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
