<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4 class="text-uppercase">Autoimmunità tiroide</h4>
        </CCol>
        <CCol sm="6">
            <CInput label="AAT" name="aat" v-model="autoimmunita_tiroide.aat" type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="AAM" name="aam" v-model="autoimmunita_tiroide.aam" type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="ATPO" name="atpo" v-model="autoimmunita_tiroide.atpo" type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="TRAP" name="trap" v-model="autoimmunita_tiroide.trap" type="number" step="0.01"></CInput>
        </CCol> 
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'autoimmunita_tiroide',
    components: {
    },
  data () {
    return {
      autoimmunita_tiroide:new Form({
          aat: '',
          aam: '',
          atpo: '',
          trab: ''
      })
    }
},

  mounted(){
    this.autoimmunita_tiroide.reset();
    this.changeAutoimmunitaTiroide();
  },

  methods:{
  changeAutoimmunitaTiroide: function() {
    this.$emit("aggiornaEsame",this.altro);
    },

  setEsame: function(data) {
      this.autoimmunita_tiroide.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
