<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4 class="text-uppercase">Autoimmunità </h4>
        </CCol>
        <CCol sm="6">
            <CInput label="ANA" name="ana" v-model="autoimmunita.ana" type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="AMA" name="ama" v-model="autoimmunita.ama" type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="ASMA" name="asma" v-model="autoimmunita.asma" type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="ENA" name="ena" v-model="autoimmunita.ena" type="number" step="0.01"></CInput>
        </CCol>
          <CCol sm="6">
            <CInput label="ANTI DNA" name="anti_dna" v-model="autoimmunita.anti_dna" type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="C-ANCA" name="c_anca" v-model="autoimmunita.c_anca" type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="P-ANCA" name="p_anca" v-model="autoimmunita.p_anca" type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="β2 GLICOPROTEINA" name="b2_glicoproteina" v-model="autoimmunita.b2_glicoproteina" type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="C3" name="c3" v-model="autoimmunita.c3" type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="C4" name="c4" v-model="autoimmunita.c4" type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="β2 MICROGLOBULINA IgG" name="b2_microglobulina_ig_g"  v-model="autoimmunita.b2_microglobulina_ig_g" type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="β2 MICROGLOBULINA IgM"  name="b2_microglobulina_ig_m" v-model="autoimmunita.b2_microglobulina_ig_m" type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="Ab anti citrullina" name="ab_anti_citrullina" v-model="autoimmunita.ab_anti_citrullina" type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="Ab anti Scl-70" name="ab_anti_scl_70" v-model="autoimmunita.ab_anti_scl_70" type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CRIOGLOBULINEMIA" name="crioglobulinemia" v-model="autoimmunita.crioglobulinemia" type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="COOMBS DIRETTO" name="coombos_diretto" v-model="autoimmunita.coombos_diretto" type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="WAALER ROSE" name="waaler_rose" v-model="autoimmunita.waaler_rose" type="number" step="0.01"></CInput>
        </CCol> 
        <CCol sm="6">
            <CInput label="TRANSGLUTAMINAS IgA" name="transglutaminas_ig_a" v-model="autoimmunita.transglutaminas_ig_a" type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="TRANSGLUTAMINASI IgG" name="transglutaminasi_ig_g" v-model="autoimmunita.transglutaminasi_ig_g" type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="AntiGLIADINA IgA" name="anti_gliadina_ig_a" v-model="autoimmunita.anti_gliadina_ig_a"  type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="AntiGLIADINA IgG" name="anti_gliadina_ig_g" v-model="autoimmunita.anti_gliadina_ig_g"  type="number" step="0.01"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="AntiENDOMISIO IgA (EMA)" name="anti_endomisio_ig_a" v-model="autoimmunita.anti_endomisio_ig_a" type="number" step="0.01"></CInput>
        </CCol>
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'autoimmunita',
    components: {
    },
  data () {
    return {
      autoimmunita:new Form({
          ana: '',
          ama: '',
          asma: '',
          ena: '',
          anti_dna: '',
          c_anca: '',
          p_anca: '',
          b2_glicoproteina: '',
          c3: '',
          c4: '',
          b2_microglobulina_ig_g: '',
          b2_microglobulina_ig_m: '',
          ig_a_tot: '',
          ig_m_tot: '',
          ig_g_tot: '',
          ab_anti_citrullina: '',
          ab_anti_scl_70: '',
          ab_anti_centromero: '',
          crioglobulinemia: '',
          coombos_diretto: '',
          coombs_indiretto: '',
          waaler_rose: '',
          transglutaminas_ig_a: '',
          transglutaminasi_ig_g: '',
          anti_gliadina_ig_a: '',
          anti_gliadina_ig_g: '',
          anti_endomisio_ig_a: ''
      })
    }
},

  mounted(){
    this.autoimmunita.reset();
    this.changeAutoimmunita();
  },

  methods:{
  changeAutoimmunita: function() {
    this.$emit("aggiornaEsame",this.autoimmunita);
    },

  setEsame: function(data) {
      this.autoimmunita.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
