<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>Coagulazione</h4>
        </CCol>
        <CCol sm="6">
          <CInput label="AP %" id="apperc" type="number" step="0.01" v-model="coagulazione.apperc" name="apperc"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="INR" id="inr" type="number" step="0.01" v-model="coagulazione.inr" name="inr"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="PTT" id="ptt" type="number" step="0.01" v-model="coagulazione.ptt" name="ptt"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="Fibrinogeno" id="fibrinogeno" type="number" step="0.01" v-model="coagulazione.fibrinogeno" name="fibrinogeno"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="Antitrombina III %" id="antitrombinatreperc" type="number" step="0.01" v-model="coagulazione.antitrombinatreperc" name="antitrombinatreperc"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="d-Dimero" id="ddimero" type="number" step="0.01" v-model="coagulazione.ddimero" name="ddimero"></CInput>
        </CCol>
         <CCol sm="6">
          <CInput label="Omocisteina" id="omocisteina" type="number" step="0.01" v-model="coagulazione.omocisteina" name="omocisteina"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="FDP" id="fdp" step="0.01" type="number" v-model="coagulazione.fdp" name="fdp"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="LAC" id="lac" type="number" step="0.01" v-model="coagulazione.lac" name="lac"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="IgG anti Cardiolipina" id="igg" type="number" step="0.01" v-model="coagulazione.igg" name="igg"></CInput>
        </CCol>
         <CCol sm="6">
          <CInput label="IgM anti Cardiolipina" id="igm" type="number" step="0.01" v-model="coagulazione.igm" name="igm"></CInput>
        </CCol>
         <CCol sm="6">
          <CInput label="c-ANCA" id="c_anca" type="number" step="0.01" v-model="coagulazione.c_anca" name="c_anca"></CInput>
        </CCol>
         <CCol sm="6">
          <CInput label="p-ANCA" id="p_anca" type="number" step="0.01" v-model="coagulazione.p_anca" name="p_anca"></CInput>
        </CCol>
         <CCol sm="6">
          <CInput label="Prot. C Coagulazione" id="protc" type="number" step="0.01" v-model="coagulazione.protc" name="protc"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="Prot. S Coagulazione" id="prots" type="number" step="0.01" v-model="coagulazione.prots" name="prots"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="IgG anti B2 glicoproteina" id="iggantib2" type="number" step="0.01" v-model="coagulazione.iggantib2" name="iggantib2"></CInput>
        </CCol>
          <CCol sm="6">
          <CInput label="IgM anti B2 glicoproteina" id="igmantib2" type="number" step="0.01" v-model="coagulazione.igmantib2" name="igmantib2"></CInput>
        </CCol>
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'coagulazione',
    components: {
    },
  data () {
    return {
      coagulazione:new Form({
        apperc: '',
        inr: '',
        ptt: '',
        fibrinogeno: '',
        antitrombinatreperc: '',
        ddimero: '',
        omocisteina: '',
        fdp: '',
        lac: '',
        igg: '',
        igm: '',
        c_anca: '',
        p_anca: '',
        protc: '',
        prots: '',
        iggantib2: '',
        igmantib2: ''
      })
    }
},

  mounted(){
    this.coagulazione.reset();
    this.changeCoagulazione();
  },

  methods:{
  changeCoagulazione: function() {
    this.$emit("aggiornaEsame",this.coagulazione);
    },

  setEsame: function(data) {
      this.coagulazione.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
