<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>COLTURALE</h4>
        </CCol>
        <CCol sm="6">
            <CInput label="MATERIALE"  v-model="colturale.materiale" name="materiale"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="BATTERIO ISOLATO" v-model="colturale.batterio_isolato" name="batterio_isolato"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="Antibiotico1" v-model="colturale.antibiotico1" name="antibiotico1"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="MIC AB 1" v-model="colturale.micab1" name="micab1"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="Antibiotico2" v-model="colturale.antibiotico2" name="antibiotico2"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="MIC AB 2" v-model="colturale.micab2" name="micab2"></CInput>
        </CCol>
         <CCol sm="6">
            <CInput label="Antibiotico3" v-model="colturale.antibiotico3" name="antibiotico3"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="MIC AB 3" v-model="colturale.micab3" name="micab3"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="MICETE ISOLATO" v-model="colturale.miceteisolato" name="miceteisolato"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="Antimicotico1" v-model="colturale.antimicotico1" name="antimicotico1"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="MIC am 1" v-model="colturale.micam1" name="micam1"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="Antimicotico2 sensibile" v-model="colturale.antimicotico2_sensibile" name="antimicotico2_sensibile"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="MIC am 2" v-model="colturale.micam2" name="micam2"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="Antimicotico3 sensibile" v-model="colturale.antimicotico3_sensibile" name="antimicotico3_sensibile"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="MIC am 3" v-model="colturale.micam3" name="micam3"></CInput>
        </CCol>
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'colturale',
    components: {
    },
  data () {
    return {
      colturale:new Form({

      })
    }
},

  mounted(){
    this.colturale.reset();
    this.changeColturale();
  },

  methods:{
  changeColturale: function() {
    this.$emit("aggiornaEsame",this.this.colturale);
    },

  setEsame: function(data) {
      this.colturale.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
