<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>CORONAROGRAFIA</h4>
        </CCol>
        <CCol sm="6">
            <div class="form-group">
                <label>VASO</label>
                <select name="vaso" id="" class="form-control" v-model="coronarografia.vaso">
                    <option value="tc">TC</option>
                    <option value="iva">IVA</option>
                    <option value="d1">D1</option>
                    <option value="d2">D2</option>
                    <option value="cx">CX</option>
                    <option value="m01">M01</option>
                    <option value="m02">M02</option>
                     <option value="ri">RI</option>
                    <option value="cd">CD</option>
                    <option value="ivp">IVP</option>
                    <option value="cl">CL</option>
                </select>
            </div>
        </CCol>
        <CCol sm="6">
            <div class="form-group">
                <label>SEDE</label>
                <select name="sede" v-model="coronarografia.sede" class="form-control">
                    <option value="ostiale">Ostiale</option>
                    <option value="prossimale">Prossimale</option>
                    <option value="media">Media</option>
                    <option value="distale">Distale</option>
                </select>
            </div>
        </CCol>
        <CCol sm="6">
            <CInput label="STENOSI (%)" v-model="coronarografia.stenosi_perc" name="stenosi_perc"></CInput>
        </CCol>
        <CCol>
            <div class="form-group">
                <label>Tipo</label>
                <select name="tipo" class="form-control" v-model="coronarografia.tipo">
                    <option value="lipidica">Lipidica</option>
                    <option value="calcifica">Calcifica</option>
                    <option value="lunga">Lunga</option>
                </select>
            </div>
        </CCol>
        <CCol sm="6">
            <div class="form-group">
                <label>PCI (S/N)</label>
                <select  v-model="coronarografia.pci_sn" name="pci_sn" class="form-control">
                    <option value="0">No</option>
                    <option value="1">Si</option>
                </select>
            </div>
        </CCol>
        <CCol>
            <CInput label="STENT Tipo" name="stent_tipo" v-model="coronarografia.stent_tipo"></CInput>
        </CCol>
        <CCol sm="12">
	        <div class="form-group">
            <label>Commento</label>
					  <textarea  name="commento" v-model="coronarografia.commento" class="form-control"></textarea>
          </div>
        </CCol>
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'coronarografia',
    components: {
    },
  data () {
    return {
      coronarografia:new Form({
          vaso: '',
          sede: '',
          stenosi_perc:'',
          tipo: '',
          pci_sn: '',
          stent_tipo: '',
          commento:'',
      })
    }
},
  mounted(){
    this.coronarografia.reset();
    this.changeCoronaroGrafia();
  },

  methods:{
  resetEsame: function() {
    this.coronarografia.reset();
  },

  changeCoronaroGrafia: function() {
    this.$emit("aggiornaEsame",this.coronarografia);
    },

  setEsame: function(data) {
      this.coronarografia.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
