<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>DATI TECNICI VAD</h4>
        </CCol>
        <CCol sm="6">
            <CInput label="WATT" type="number" step="0.01" v-model="dati_tecnici_vad.watt" name="watt"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="RPM (GIRI/M)" type="number" step="0.01" v-model="dati_tecnici_vad.rpm_giri_m" name="rpm_giri_m"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CO (l/m)" type="number" step="0.01" v-model="dati_tecnici_vad.co" name="co"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CI (l/m/m2)" type="number" step="0.01" v-model="dati_tecnici_vad.ci" name="ci"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CI (l/m/m2)" type="number" step="0.01" v-model="dati_tecnici_vad.ci" name="ci"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="PI (PULSATILITY INDEX)" type="number" step="0.01" v-model="dati_tecnici_vad.pi" name="pi"></CInput>
        </CCol>
     </CRow> 
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'
import { mapGetters } from 'vuex'

export default {
  name: 'derivati_emoglobina',
    components: {
    },
  data () {
    return {
      dati_tecnici_vad:new Form({
          watt: '',
          rpm_giri_m: '',
          co: '',
          ci: '',
          pi: ''
      })
    }
},

  mounted(){
    this.dati_tecnici_vad.reset();
    this.changeDatiTecniciVad();
  },

  methods:{
  changeDatiTecniciVad: function() {
    this.$emit("aggiornaEsame",this.dati_tecnici_vad);
    },

  setEsame: function(data) {
      this.dati_tecnici_vad.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
