<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>DERIVATI EMOGLOBINA</h4>
        </CCol>
        <CCol sm="6">
            <CInput label="APTOGLOBINA" type="number" step="0.01" v-model="derivati_emoglobina.aptoglobina" name="aptoglobina"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="HBA 1C" type="number" step="0.01" v-model="derivati_emoglobina.hba_1c" name="hba_1c"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="MIOGLOBINA" type="number" step="0.01" v-model="derivati_emoglobina.mioglobina" name="mioglobina"></CInput>
        </CCol>
     </CRow> 
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'derivati_emoglobina',
    components: {
    },
  data () {
    return {
      derivati_emoglobina:new Form({
        aptoglobina: '',
        hba_1c: '',
        mioglobina: '',
      })
    }
},

  mounted(){
    this.derivati_emoglobina.reset();
    this.changeDerivatiEmoglobina();
  },

  methods:{
  changeDerivatiEmoglobina: function() {
    this.$emit("aggiornaEsame",this.derivati_emoglobina);
    },

  setEsame: function(data) {
      this.derivati_emoglobina.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
