<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>DOSAGGIO FARMACI</h4>
        </CCol>
        <CCol sm="6">
            <CInput label="CyA T0" type="number" step="0.01" v-model="dosaggio_farmaci.cyat0" name="cyat0"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CyA T2" type="number" step="0.01" v-model="dosaggio_farmaci.cyat2" name="cyat2"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="SIROLIMUS" type="number" step="0.01" v-model="dosaggio_farmaci.sirolimus" name="sirolimus"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="TACROLIMUS (FK 506)" type="number" step="0.01" v-model="dosaggio_farmaci.tacrolimus_fk506" name="tacrolimus_fk506"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="EVEROLIMUS" type="number" step="0.01" v-model="dosaggio_farmaci.everolimus" name="everolimus"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="DIGOSSINEMIA" type="number" step="0.01" v-model="dosaggio_farmaci.digossinemia" name="digossinemia"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CARBAMAZEPINEMIA" type="number" step="0.01" v-model="dosaggio_farmaci.carbamazepinemia" name="carbamazepinemia"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="KEPPRA" type="number" step="0.01" v-model="dosaggio_farmaci.keppra" name="keppra"></CInput>
        </CCol>
     </CRow> 
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'dosaggio_farmaci',
    components: {
    },
  data () {
    return {
      dosaggio_farmaci:new Form({
          cyat0: '',
          cyat2: '',
          sirolimus: '',
          tacrolimus_fk506: '',
          everolimus: '',
          digossinemia: '',
          carbamazepinemia: '',
          keppra: ''
      })
    }
},

  mounted(){
    this.dosaggio_farmaci.reset();
    this.changeDosaggioFarmaci();
  },

  methods:{
  changeDosaggioFarmaci: function() {
    this.$emit("aggiornaEsame",this.dosaggio_farmaci);
    },

  setEsame: function(data) {
      this.dosaggio_farmaci.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
