<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>ECG</h4>
        </CCol>
        <CCol sm="6">
          <label>Ritmo</label>
          <select class="form-control" v-model="ecg.ritmo_ecg" name="ritmo_ecg">
            <option value="sinusale">Sinusale</option>
            <option value="fibrillazione_atriale">Fibrillazione Atriale</option>
            <option value="flutter_atriale">Flutter Atriale</option>
            <option value="pace_maker">Da Pace Maker</option>
            <option value="giunzionale">Giunzionale</option>
            <option value="ventricolare">Ventricolare</option>
          </select>
        </CCol>
        <CCol sm="6">
            <CInput type="number" label="FC (b/m)" step="0.01" v-model="ecg.fc_ecg" name="fc_ecg"></CInput>
        </CCol>
        <CCol class="mt-2" sm="6">
            <CInput type="number" step="0.01" label="PQ Valore (sec)" v-model="ecg.pq_ecg" name="pq_ecg"></CInput>
        </CCol>
        <CCol class="mt-2" sm="6">
            <label>PQ Condizione</label>
            <select class="form-control" v-model="ecg.pq_select_ecg" name="pq_select_ecg">
                <option value="bav_i">BAV I</option>
                <option value="bav_ii">BAV II</option>
                <option value="bav_iii">BAV III</option>
            </select>
        </CCol>
           <CCol sm="12">
            <label>Asse Elettrico</label>
            <select class="form-control" v-model="ecg.asse_ecg" name="asse_ecg">
               <option value="equilibrato">Equilibrato</option>
               <option value="tendente_sn">Tendente a sn</option>
               <option value="deviato_sn">Deviato a sn</option>
               <option value="tendente_dx">Tendente a dx</option>
               <option value="deviato_dx">Deviato a dx</option>
               <option value="non_definibile">Non Definibile</option>
            </select>
        </CCol>
        <CCol sm="12" class="mt-3">
            <label>Conduzione Intraventicolare</label> <br/>
            <input type="checkbox" name="bbdx" id="bbdx" v-model="ecg.bbdx"><label for="bbdx"> BBDX</label> <br/>
            <input type="checkbox" name="bbsn" id="bbsn" v-model="ecg.bbsn"><label for="bbsn"> BBSN</label> <br/>
            <input type="checkbox" name="eas"  id="eas"  v-model="ecg.eas"><label for="eas"> EAS</label> <br/>
            <input type="checkbox" name="eadx" id="eadx" v-model="ecg.eadx"><label for="eadx"> EADX</label>
        </CCol>
        <CCol sm="12">
            <input type="checkbox" name="ischemiche" id="ischemiche" v-model="ecg.ischemiche"><label for="ischemiche"> Ischemiche</label> <br/>
            <input type="checkbox" name="aspecifiche" id="aspecifiche" v-model="ecg.aspecifiche"><label for="aspecifiche"> Aspecifiche</label> <br/>
            <input type="checkbox" name="sovraccarico" id="sovraccarico" v-model="ecg.sovraccarico"><label for="sovraccarico"> Sovraccarico</label>  <br/>
            <input type="checkbox" name="alterazioni_elettroliti" id="alterazioni_elettroliti" v-model="ecg.alterazioni_elettroliti"><label for="alterazioni_elettroliti"> Alterazioni Elettroliti</label>
        </CCol>
        <CCol sm="6" class="mt-3">
            <CInput type="number" step="0.01" label="QT Valore (msec)" v-model="ecg.qt_ecg" name="qt_ecg"></CInput>
        </CCol>
         <CCol sm="6" class="mt-3">
            <CInput type="number" step="0.01" label="QTC Valore (msec)" v-model="ecg.qtc_ecg" name="qtc_ecg"></CInput>
        </CCol>
        <CCol sm="12">
            <label class="mb-2">Ipertrofia/sovraccarico</label><br/>
            <input type="checkbox" name="vsn" id="vsn" v-model="ecg.vsn"><label for="vsn"> VSN</label> <br/>
            <input type="checkbox" name="vdx" id="vdx" v-model="ecg.vdx"><label for="vdx"> VDX</label> <br/>
            <input type="checkbox" name="atrio_sn" id="atrio_sn" v-model="ecg.atrio_sn"><label for="atrio_sn"> Atrio sn</label> <br/>
            <input type="checkbox" name="atrio_dx" id="atrio_dx" v-model="ecg.atrio_dx"><label for="atrio_dx"> Atrio dx</label> 
        </CCol>
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'Ecg',
    components: {
  },
  data () {
    return {
      ecg:new Form({
        ritmo_ecg: '',
        fc_ecg: '',
        pq_ecg: '',
        pq_select_ecg: '',
        asse_ecg: '',
        bbdx: false,
        bbsn: false,
        eas: false,
        eadx: false,
        ischemiche: false,
        aspecifiche: false,
        sovraccarico: false,
        alterazioni_elettroliti: false,
        qt_ecg: '',
        qtc_ecg: '',
        vsn: false,
        vdx: false,
        atrio_sn: false,
        atrio_dx: false
      })
  }
},

  mounted(){
    this.ecg.reset();
    this.changeEcg();
  },

  methods:{
  changeEcg: function() {
    this.$emit("aggiornaEsame",this.ecg);
    },

  setEsame: function(data) {
      this.ecg.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
