<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>Ecocardiogramma</h4>
        </CCol>
        <CCol sm="6">
          <CInput label="Disfunzione Sistolica (%)" id="disfunzionesistolica" type="number" step="0.01"  v-model="ecocardiogramma.disfunzione_sistolica" name="disfunzione_sistolica"></CInput>
        </CCol>
        <CCol sm="6">
          <div class="form-group">
          <label>Disfunzione diastolica</label>
          <select id="Disfunzionediastolica" class="form-control" v-model="ecocardiogramma.disfunzione_diastolica" name="disfunzione_diastolica"> 
            <option value="assente">Assente</option>
            <option value="Grado I">Grado I (Alterato rilasciamento)</option>
            <option value="Grado II">Grado II (Pattern pseudonormale)</option><option value="Grado III">Grado III (Pattern restrittivo)</option>
          </select>
          </div>
        </CCol>
        <CCol sm="6">
          <CInput label="PAPS" id="paps" type="number" v-model="ecocardiogramma.paps" name="paps"></CInput>
        </CCol>
        <CCol sm="6">
          <div class="form-group">
          <label>Insufficienza Mitralica</label>
          <select id="mitralica" class="form-control" v-model="ecocardiogramma.mitralica" name="mitralica"> 
            <option value="assente">Assente</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          </div>
        </CCol>
        <CCol sm="6">
          <CTextarea label="Altro" id="altro" v-model="ecocardiogramma.altro" name="altro"></CTextarea>
        </CCol>
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'ecocardiogramma',
    components: {
  },
  data () {
    return {
      ecocardiogramma:new Form({
          disfunzione_sistolica:'',
          disfunzione_diastolica: '',
          paps: '',
          mitralica:'',
          altro: ''
      })
    }
},

  mounted(){
    this.ecocardiogramma.reset();
    this.changeEcocardiogramma();
  },

  methods:{
  changeEcocardiogramma: function() {
    this.$emit("aggiornaEsame",this.ecocardiogramma);
    },

  setEsame: function(data) {
      this.ecocardiogramma.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
