<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>Ecocardiogramma Color Doppler</h4>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Diametro diastolico VSn (LVDD) (mm)" name="lvdd" v-model="ecocardiogramma_color_doppler.lvdd"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Diametro diastolico VSn (LVSD) (mm)" name="lvsd" v-model="ecocardiogramma_color_doppler.lvsd"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Spessore SIV diastole (mm)" name="siv_diastole" v-model="ecocardiogramma_color_doppler.siv_diastole"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Spessore SIV sistole (mm)" name="siv_sistole" v-model="ecocardiogramma_color_doppler.siv_sistole"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Spessore PP diastole (mm)" name="pp_diastole" v-model="ecocardiogramma_color_doppler.pp_diastole"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Spessore PP sistole (mm)" name="pp_sistole" v-model="ecocardiogramma_color_doppler.pp_sistole"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Volume diastolico Vsn (LVDV) (ml)" name="lvdv" v-model="ecocardiogramma_color_doppler.lvdv"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Volume sistolico VSn (LVSV) (ml)" name="lvsv" v-model="ecocardiogramma_color_doppler.lvsv"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="EF % (Frazione di Eiezione)" name="ef" v-model="ecocardiogramma_color_doppler.ef"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Onda E (mm/s)" name="onda_e" v-model="ecocardiogramma_color_doppler.onda_e"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Onda A (mm/s)" name="onda_a" v-model="ecocardiogramma_color_doppler.onda_a"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Rapporto E/A" name="rapporto_ea" v-model="ecocardiogramma_color_doppler.rapporto_ea"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Deceleration Time (DT) (msec)" name="dt" v-model="ecocardiogramma_color_doppler.dt"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Pressure Half Time (PHT) (msec)" name="pht" v-model="ecocardiogramma_color_doppler.pht"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Area Valvolare Mitralica (cm2)" name="avm" v-model="ecocardiogramma_color_doppler.avm"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Area Jet regurgito Mitrale  (cm2)" name="ajrm" v-model="ecocardiogramma_color_doppler.ajrm"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Area Jet regurgito Tricuspidale  (cm2)" name="ajrt" v-model="ecocardiogramma_color_doppler.ajrt"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Area Jet regurgito Aortico (cm2)" name="ajra" v-model="ecocardiogramma_color_doppler.ajra"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Gradiente Max Aortico (mmHg)" name="gmaxa" v-model="ecocardiogramma_color_doppler.gmaxa"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Gradiente Medio Aortico  (mmHg)" name="gmeda" v-model="ecocardiogramma_color_doppler.gmeda"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Gradiente Insufficienza Tricuspidale (mmHg)" name="git" v-model="ecocardiogramma_color_doppler.git"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Pressione Polmonare stimata (PAPs)  (mmHg)" name="paps" v-model="ecocardiogramma_color_doppler.paps"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Versamento Pericardico (mm) " name="vp" v-model="ecocardiogramma_color_doppler.vp"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Vena Cava Inf.  (mm) " name="vci" v-model="ecocardiogramma_color_doppler.vci"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Vena Cava Inf. inspirazione (mm) " name="vcii" v-model="ecocardiogramma_color_doppler.vcii"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Diametro  basale ventricolo  Dx (mm) " name="dbv_dx" v-model="ecocardiogramma_color_doppler.dbv_dx"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Escursione Anulus Tricuspidale (TAPSE) (mm)" name="tapse" v-model="ecocardiogramma_color_doppler.tapse"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Atrio Sn (mm)" name="asn" v-model="ecocardiogramma_color_doppler.asn"/>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" label="Ao ascendente (mm)" name="aoasc" v-model="ecocardiogramma_color_doppler.aoasc"/>
        </CCol> 
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'ecocardiogramma_color_doppler',
    components: {
  },
  data () {
    return {
      ecocardiogramma_color_doppler:new Form({
       lvdd: '',
       lvsd: '',
       siv_diastole: '',
       siv_sistole: '',
       pp_diastole: '',
       pp_sistole: '',
       lvdv: '',
       lvsv: '',
       ef: '',
       onda_e: '',
       onda_a: '',
       rapporto_ea: '',
       dt: '',
       pht: '',
       avm: '',
       ajrm: '',
       ajrt: '',
       ajra: '',
       gmaxa: '',
       gmeda: '',
       git: '',
       paps: '',
       vp: '',
       vci: '',
       vcii: '',
       dbv_dx: '',
       tapse: '',
       asn: '',
       aoasc: '',
      })
    }
},

  mounted(){
    this.ecocardiogramma_color_doppler.reset();
    this.changeEcocardiogrammaColorDoppler();
  },

  methods:{
  changeEcocardiogrammaColorDoppler: function() {
    this.$emit("aggiornaEsame",this.ecocardiogramma_color_doppler);
    },

  setEsame: function(data) {
      this.ecocardiogramma_color_doppler.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
