<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>Emocromo</h4>
        </CCol>
        <CCol sm="6">
          <CInput label="GL.Rossi(RBC)" id="glrossi" type="number" step="0.01" v-model="emocromo.glrossi" name="glrossi"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="Emoglobina(Hb)" id="emoglobina" type="number" step="0.01" v-model="emocromo.emoglobina" name="emoglobina"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="Ematocrito(HT)" id="ematocrito" type="number" step="0.01" v-model="emocromo.ematocrito" name="ematocrito"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="MVC" id="mvc" type="number" v-model="emocromo.mvc" step="0.01" name="mvc"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="GL.Bianchi(WBC)" id="mvc" type="number" v-model="emocromo.glbianchi" step="0.01" name="glbianchi"></CInput>
        </CCol>
        <CCol sm="6">

        </CCol>
        <CCol sm="6">
          <CInput readonly label="Neutrofili % " id="neutrofiliperc" type="number" step="0.01" v-model="emocromo.neutrofiliperc" name="neutrofiliperc"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="Neutrofili" id="neutrofili" type="number" step="0.01" v-model="emocromo.neutrofili" name="neutrofili"></CInput>
        </CCol> 
         <CCol sm="6">
          <CInput readonly label="Linfociti %" id="linfocitiperc" type="number" step="0.01" v-model="emocromo.linfocitiperc" name="linfocitiperc"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="Linfociti" id="linfociti" type="number" step="0.01" v-model="emocromo.linfociti" name="linfociti"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput readonly label="Monociti %" id="monocitiperc" type="number" step="0.01" v-model="emocromo.monocitiperc" name="monocitiperc"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="Monociti" id="monociti" type="number" step="0.01" v-model="emocromo.monociti" name="monociti"></CInput>
        </CCol>
         <CCol sm="6">
          <CInput readonly label="Eosinofili %" id="eosinofiliperc" type="number" step="0.01" v-model="emocromo.eosinofiliperc" name="eosinofiliperc"></CInput>
        </CCol> 
         <CCol sm="6">
          <CInput label="Eosinofili" id="eosinofili" type="number" step="0.01" v-model="emocromo.eosinofili" name="eosinofili"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput readonly label="Basofili %" id="basofiliperc" type="number" step="0.01" v-model="emocromo.basofiliperc" name="basofiliperc"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="Basofili" id="basofili" type="number" step="0.01" v-model="emocromo.basofili" name="basofili"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="Piastrine" id="piastrine" type="number" step="0.01" v-model="emocromo.piastrine" name="piastrine"></CInput>
        </CCol> 
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'emocromo',
    components: {
    },
  data () {
    return {
      emocromo:new Form({
        glrossi: '',
        emoglobina: '', 
        ematocrito: '',
        mvc: '',
        glbianchi: '',
        neutrofiliperc: '',
        neutrofili: '',
        linfocitiperc: '',
        linfociti: '',
        monocitiperc: '',
        monociti: '',
        eosinofiliperc: '',
        eosinofili: '',
        basofiliperc: '',
        basofili: '',
        piastrine: ''
      })
    }
},

  mounted(){
    this.emocromo.reset();
    this.changeEmocromo();
  },

  methods:{
  changeEmocromo: function() {
    this.$emit("aggiornaEsame",this.emocromo);
    },

  setEsame: function(data) {
      this.emocromo.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
