<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>Emogas Arterioso</h4>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" v-model="emogas_arterioso.ph" label="PH" name="ph"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" v-model="emogas_arterioso.pao2" label="PaO2" name="pa02"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" v-model="emogas_arterioso.pac" label="PaCO2" name="pac02"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" v-model="emogas_arterioso.hc" label="HCO3" name="hco3"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" v-model="emogas_arterioso.o2sata" label="O2 SAT%A " name="o2sata"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" v-model="emogas_arterioso.be" label="BE" name="be"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" v-model="emogas_arterioso.lattati" label="Lattati" name="lattati"></CInput>
        </CCol>
     </CRow>
</template>


<script>

import Form from 'vform'

export default {
  name: 'emogas_arterioso',

  components: {

  },

  data () {
    return {
      emogas_arterioso: new Form({
        ph: '',
        pa02: '',
        pac02: '',
        hc03: '',
        o2sata: '',
        be: '',
        lattati: ''
      })
    }
  },

  mounted(){
    this.changeEmogasArterioso();
  },

  methods:{
    changeEmogasArterioso: function(event) {
      this.$emit("aggiornaEsame", this.emogas_arterioso);
    },

    setEsame: function(data) {
      this.emogas_arterioso.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
