<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>Emogas Venoso</h4>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" v-model="emogas_venoso.ph" label="PH" name="ph"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" v-model="emogas_venoso.pvo2" label="PVO2" name="pvo2"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" v-model="emogas_venoso.pvco2" label="PVCO2" name="pvco2"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" v-model="emogas_venoso.hco3" label="HCO3" name="hco3"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" v-model="emogas_venoso.o2sata" label="O2 SAT%A " name="o2sata"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" v-model="emogas_venoso.be" label="BE" name="be"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput type="number" step="0.01" v-model="emogas_venoso.lattati" label="Lattati" name="lattati"></CInput>
        </CCol>
     </CRow>
</template>


<script>

import Form from 'vform'

export default {
  name: 'emogas_venoso',
  
  components: {

  },

  data () {
    return {
      emogas_venoso: new Form({
        ph: '',
        pvo2: '',
        pvco2: '',
        hco3: '',
        o2sata: '',
        be: '',
        lattati: ''
      })
    }
  },

  mounted(){
    this.changeEmogas();
  },

  methods:{
    changeEmogas: function(event) {
      this.$emit("aggiornaEsame", this.emogas_venoso);
    },

    setEsame: function(data) {
      this.emogas_venoso.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
