<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>Enzimi</h4>
        </CCol>
        <CCol sm="6">
          <CInput label="Troponina I" id="tropninauno" type="number" step="0.01" v-model="enzimi.tropninauno" name="tropninauno"></CInput>
        </CCol> 
  
        <CCol sm="6">
          <CInput label="Troponina T " id="tropninat" type="number" step="0.01" v-model="enzimi.tropninat" name="tropninat"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="Troponina HS" id="tropninahs" type="number" step="0.01" v-model="enzimi.tropninahs" name="tropninahs"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="CPK" id="cpk" type="number" step="0.01" v-model="enzimi.cpk" name="cpk"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="CK MB" id="ckmb" type="number" step="0.01" v-model="enzimi.ckmb" name="ckmb"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="LDH" id="ldh" type="number" step="0.01" v-model="enzimi.ldh" name="ldh"></CInput>
        </CCol> 
         <CCol sm="6">
          <CInput label="aHBDH" id="ahbdh" type="number" step="0.01" v-model="enzimi.ahbdh" name="ahbdh"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="AST" id="ast" step="0.01" type="number" v-model="enzimi.ast" name="ast"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="ALT" id="alt" type="number" step="0.01" v-model="enzimi.alt" name="alt"></CInput>
        </CCol> 
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'enzimi',
    components: {
    },
  data () {
    return {
      enzimi:new Form({
        tropninauno: '',
        tropninat: '',
        tropninahs: '',
        cpk: '',
        ckmb: '',
        ldh: '',
        ahbdh: '',
        ast: '',
        alt: '',
      })
    }
},

  mounted(){
    this.enzimi.reset();
    this.changeEnzimi();
  },

  methods:{
  changeEnzimi: function() {
    this.$emit("aggiornaEsame",this.enzimi);
    },

  setEsame: function(data) {
      this.enzimi.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
