<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>Funzione Renale</h4>
        </CCol>
        <CCol sm="6">
          <CInput label="Azotemia" id="azotemia" type="number" step="0.01" v-model="funzione_renale.azotemia" name="azotemia"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="Creatinina mg/dl" id="creatinina" type="number" step="0.01" v-model="funzione_renale.creatinina" name="creatinina"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="Uricemia" id="uricemia" type="number" step="0.01" v-model="funzione_renale.uricemia" name="uricemia"></CInput>
        </CCol>
        <CCol sm="12">
          <CInput readonly label="Cr Cl Cockroft & Gault (ml/min)" id="gault" type="number" step="0.01"  v-model="funzione_renale.gault" name="gault"></CInput>
        </CCol>
        <CCol sm="12">
          <CInput readonly label="Cr Cl MDRD (ml/min)" id="mdrd" type="number" step="0.01" v-model="funzione_renale.mdrd" name="mdrd"></CInput>
        </CCol> 
        <CCol sm="12">
          <CInput readonly label="Epi (ml/min)" id="epi" type="number" step="0.01" v-model="funzione_renale.epi" name="epi"></CInput>
        </CCol> 
        <CCol sm="12">
          <CButton class="mb-4 btn-block" color="info" @click="calcola_creatina()"> Calcola Valori</CButton>
        </CCol> 
         <CCol sm="6">
          <CInput label="Cr. Clearance misurata" id="clearance" type="number" step="0.01" v-model="funzione_renale.clearance" name="clearance"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="PTH (Paratormone)" id="pth" type="number" step="0.01" v-model="funzione_renale.pth" name="pth"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="CISTATINA C" id="cistatina_c" type="number" step="0.01" v-model="funzione_renale.cistatina_c" name="cistatina_c"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="N GAL" id="ngal" type="number" step="0.01" v-model="funzione_renale.ngal" name="ngal"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="ACE" id="ace" type="number" step="0.01" v-model="funzione_renale.ace" name="ace"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="Aldosterone" id="aldosterone" type="number" step="0.01" v-model="funzione_renale.aldosterone" name="aldosterone"></CInput>
        </CCol> 
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'
import Button from '../../../../components/Button.vue';

export default {
  name: 'funzionerenale',
    components: {
    Button
},
  data () {
    return {
      funzione_renale:new Form({
        azotemia: '',
        creatinina: '',
        uricemia: '',
        gault: '',
        mdrd: '',
        epi: '',
        clearance: '',
        pth: '',
        cistatina_c: '',
        ngal: '',
        ace: '',
        aldosterone: '',
      })
    }
},

  mounted(){
    this.funzione_renale.reset();
    this.changeFunzioneRenale();
  },

  methods:{
  changeFunzioneRenale: function() {
    this.$emit("aggiornaEsame",this.funzione_renale);
    },

  setEsame: function(data) {
      this.funzione_renale.fill(data);
    },
    calcola_creatina(){
      this.calcola_gault();
    },

    calcola_gault(){
      
    },
  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
