<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>Funzione Tiroidea</h4>
        </CCol>
        <CCol sm="6">
          <CInput label="FT3 " id="ft3" type="number" step="0.01" v-model="funzione_tiroidea.ft3" name="ft3"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="FT4" id="ft4" type="number" step="0.01" v-model="funzione_tiroidea.ft4" name="ft4"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="TSH" id="tsh" type="number" step="0.01" v-model="funzione_tiroidea.tsh" name="tsh"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="Tireoglobulina" id="tireoglobulina" type="number" step="0.01" v-model="funzione_tiroidea.tireoglobulina" name="tireoglobulina"></CInput>
        </CCol>
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'urine',
    components: {
    },
  data () {
    return {
      funzione_tiroidea:new Form({
        ft3: '',
        ft4: '',
        tsh: '',
        tireoglobulina: ''
      })
    }
},

  mounted(){
    this.funzione_tiroidea.reset();
    this.changeUrine();
  },

  methods:{
  changeUrine: function() {
    this.$emit("aggiornaEsame",this.funzione_tiroidea);
    },

  setEsame: function(data) {
      this.funzione_tiroidea.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
