<template>
     <CRow>
        <CCol sm="6">
          <div class="form-group">
            <label>Ritmo</label>
            <select class="form-control" v-model="holter_ecg.ritmo" name="ritmo">
            <option value="sinusale">Sinusale</option>
            <option value="fibrillazione_atriale">Fibrillazione Atriale</option>
            <option value="pace_maker">Pace Maker</option>
            <option value="giunzionale">giunzionale</option>
            <option value="ventricolare">ventricolare</option>
            </select>
           </div>
        </CCol>
         <CCol sm="6">
            <CInput label="FC (b/m)" type="number" step="0.01" v-model="holter_ecg.fc_min" name="fc_min"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="BEV (n)" type="number"  step="0.01" v-model="holter_ecg.bev" name="bev"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="Coppie V (n)" type="number"  step="0.01" v-model="holter_ecg.coppie_v" name="coppie_v"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="Run V/TV (n)" type="number" step="0.01" v-model="holter_ecg.run" name="run"/>
        </CCol>
        <CCol sm="6">
            <CInput label="TV battiti (n)" type="number" step="0.01" v-model="holter_ecg.tv" name="tv"/>
        </CCol>
         <CCol sm="6">
            <CInput label="TV FC Max (n)" type="number" step="0.01" v-model="holter_ecg.fc_max" name="fc_max"/>
        </CCol>
        <CCol sm="6">
            <CInput label="BESV" type="number" step="0.01" v-model="holter_ecg.besv" name="besv"/>
        </CCol>
        <CCol sm="6">
            <CInput label="RUN SV (n)" type="number" step="0.01" v-model="holter_ecg.run_sv" name="run_sv"/>
        </CCol>
        <CCol sm="6">
            <CInput label="BAVI (sec)" type="number" step="0.01" v-model="holter_ecg.bavi" name="bavi"/>
        </CCol>
        <CCol sm="6">
            <CInput label="BAVII (n)" type="number" step="0.01" v-model="holter_ecg.bavii" name="bavii"/>
        </CCol>
        <CCol sm="6">
            <CInput label="BAVIII (n)" type="number" step="0.01" v-model="holter_ecg.baviii" name="baviii"/>
        </CCol>
        <CCol sm="6">
            <CInput label="Pausa max (sec)" type="number" step="0.01" v-model="holter_ecg.pause_max" name="pause_max" />
        </CCol>
        <CCol sm="6">
            <CInput label="Pausa > 2,5 (n)" type="number" step="0.01" v-model="holter_ecg.pause_25" name="pause_25" />
        </CCol>
        <CCol sm="12">
            <CTextarea label="Note" v-model="holter_ecg.note" name="note">

            </CTextarea>
        </CCol>
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'holter_ecg',
    components: {
    },
  data () {
    return {
      holter_ecg:new Form({
         ritmo: '',
         fc_min: '',
         bev: '',
         coppie_v: '',
         run: '',
         tv: '',
         fc_max: '',
         besv: '',
         run_sv: '',
         bavi: '',
         bavii: '',
         baviii: '',
         pause_max: '',
         pause_25: '',
         note: '',
      })
    }
},

  mounted(){
    this.holter_ecg.reset();
    this.changeHolterEcg();
  },

  methods:{

  changeHolterEcg: function() {
    this.$emit("aggiornaEsame",this.holter_ecg);
    },

  setEsame: function(data) {
      this.holter_ecg.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
