<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>IMMUNITÀ</h4>
        </CCol>
        <CCol sm="6">
            <CInput label="ANA" type="number" step="0.01" v-model="immunita.ana" name="ana"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="AMA" type="number" step="0.01" v-model="immunita.ama" name="ama"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="ASMA" type="number" step="0.01" v-model="immunita.asma" name="asma"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="ANCA" type="number" step="0.01" v-model="immunita.anca" name="anca"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="ENA/TITOLO" type="number" step="0.01" v-model="immunita.ena_titolo" name="ena_titolo"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="ANTI dsDNA" type="number" step="0.01" v-model="immunita.anti_dsdna" name="anti_dsdna"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CRIOGLOBULINE" type="number" step="0.01" v-model="immunita.crioglobuline" name="crioglobuline"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="ANTI FOSFOLIPIDI" type="number" step="0.01" v-model="immunita.anit_fosfolipidi" name="anit_fosfolipidi"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="C - ANCA" type="number" step="0.01" v-model="immunita.c_anca" name="c_anca"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="P - ANCA" type="number" step="0.01" v-model="immunita.p_anca" name="p_anca"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="P - ANCA" type="number" step="0.01" v-model="immunita.p_anca" name="p_anca"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="β2 GLICOPROTEINA" type="number" step="0.01" v-model="immunita.b2_glicoproteina" name="b2_glicoproteina"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="C3" type="number" step="0.01" v-model="immunita.c3" name="c3"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="C4" type="number" step="0.01" v-model="immunita.c4" name="c4"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="β2 MICROGLOBULINA IgG" type="number" step="0.01" v-model="immunita.b2_microglobulinaigg" name="b2_microglobulinaigg"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="β2 MICROGLOBULINA IgM" type="number" step="0.01" v-model="immunita.b2_microglobulinaigm" name="b2_microglobulinaigm"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="Ig A Tot" type="number" step="0.01" v-model="immunita.igatot" name="igatot"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="Ig M Tot" type="number" step="0.01" v-model="immunita.igmtot" name="igmtot"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="Ig G Tot" type="number" step="0.01" v-model="immunita.iggtot" name="iggtot"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="IMMUNOCOMPLESSI" type="number" step="0.01" v-model="immunita.immunocomplessi" name="immunocomplessi"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="Ab anti HLA I Classe" type="number" step="0.01" v-model="immunita.abantihlaiclasse" name="abantihlaiclasse"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="Ab anti HLA II Classe" type="number" step="0.01" v-model="immunita.abantihlaiiclasse" name="abantihlaiiclasse"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="Ab anti citrullina" type="number" step="0.01" v-model="immunita.abanticitrullina" name="abanticitrullina"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="Ab anti Scl-70" type="number" step="0.01" v-model="immunita.abantiscl70" name="abantiscl70"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="Ab anti centromero" type="number" step="0.01" v-model="immunita.abanticentromero" name="abanticentromero"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="ACRIOGLOBULINEMIA" type="number" step="0.01" v-model="immunita.acrioglobulinemia" name="acrioglobulinemia"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CRIOGLOBULINEMIA" type="number" step="0.01" v-model="immunita.crioglobulinemia" name="crioglobulinemia"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="COOMBS DIRETTO" type="number" step="0.01" v-model="immunita.coombsdiretto" name="coombsdiretto"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="COOMBS INDIRETTO" type="number" step="0.01" v-model="immunita.coombsindiretto" name="coombsindiretto"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="WAALER ROSE" type="number" step="0.01" v-model="immunita.waaler_rose" name="waaler_rose"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="TRANSGLUTAMINASI IgA" type="number" step="0.01" v-model="immunita.transglutaminasiiga" name="transglutaminasiiga"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="TRANSGLUTAMINASI IgG" type="number" step="0.01" v-model="immunita.transglutaminasiigg" name="transglutaminasiigg"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="AntiGLIADINA IgA" type="number" step="0.01" v-model="immunita.antigliadinaiga" name="antigliadinaiga"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="AntiGLIADINA IgG" type="number" step="0.01" v-model="immunita.antigliadinaiga" name="antigliadinaiga"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="AntiENDOMISIO IgA (EMA)" type="number" step="0.01" v-model="immunita.antiendomisioiga" name="antiendomisioiga"></CInput>
        </CCol>
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'immunoelettroforesi',
    components: {
    },
  data () {
    return {
      immunita:new Form({
          ana: '',
          ama: '',
          asma: '',
          anca: '',
          ena_titolo: '',
          anti_dsdna: '',
          crioglobuline: '',
          antifosfolipidi: '',
          c_anca: '',
          p_anca: '',
          b2_glicoproteina: '',
          c3: '',
          c4: '',
          b2_microglobulinaigg: '',
          b2_microglobulinaigm: '',
          igatot: '',
          igmtot: '',
          iggtot: '',
          immunocomplessi: '',
          abantihlaiclasse: '',
          abantihlaiiclasse: '',
          abanticitrullina: '',
          abantiscl_70: '',
          abanticentromero: '',
          crioglobulinemia: '',
          coombsdiretto: '',
          coombsindiretto: '',
          waler_rose: '',
          transglutaminasiiga: '',
          transglutaminasiigg: '',
          antigliadinaiga: '',
          antigliadinaigg: '',
          antiendomisioiga: '',
        })
    }
},

  mounted(){
    this.immunita.reset();
    this.changeImmunita();
  },

  methods:{
  changeImmunita: function() {
    this.$emit("aggiornaEsame",this.immunita);
    },

  setEsame: function(data) {
      this.immunita.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
