<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>IMMUNITA TIROIDE</h4>
        </CCol>
        <CCol sm="6">
            <CInput label="AAT" type="number" step="0.01" v-model="immunita_tiroide.aat" name="aat"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="AAM" type="number" step="0.01" v-model="immunita_tiroide.aam" name="aam"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="ATPO" type="number" step="0.01" v-model="immunita_tiroide.atpo" name="atpo"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="TRAB" type="number" step="0.01" v-model="immunita_tiroide.trab" name="trab"></CInput>
        </CCol>
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'immunita_tiroide',
    components: {
    },
  data () {
    return {
      immunita_tiroide:new Form({
       aat: '',
       aam: '',
       atpo: '',
       trab: ''
      })
    }
},

  mounted(){
    this.immunita_tiroide.reset();
    this.changeImmunitaTiroide();
  },

  methods:{
  changeImmunitaTiroide: function() {
    this.$emit("aggiornaEsame",this.immunita_tiroide);
    },

  setEsame: function(data) {
      this.immunita_tiroide.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
