<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>IMMUNOELETTROFORESI</h4>
        </CCol>
        <CCol sm="6">
            <CInput label="CATENE κ – U" type="number" step="0.01" v-model="immunoelettroforesi.cateneκu" name="cateneκu"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CATENE λ – U" type="number" step="0.01" v-model="immunoelettroforesi.catenλu" name="catenλu"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CATENE κ – S" type="number" step="0.01" v-model="immunoelettroforesi.cateneκs" name="cateneκs"></CInput>
        </CCol>
         <CCol sm="6">
            <CInput label="CATENE λ – S" type="number" step="0.01" v-model="immunoelettroforesi.cateneλs" name="cateneλs"></CInput>
        </CCol>
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'immunoelettroforesi',
    components: {
    },
  data () {
    return {
      immunoelettroforesi:new Form({
          cateneκu: '',
          catenλu: '',
          cateneκs: '',
          cateneλs: '',
      })
    }
},

  mounted(){
    this.immunoelettroforesi.reset();
    this.changeImmunoelettroforesi();
  },

  methods:{
  changeImmunoelettroforesi: function() {
    this.$emit("aggiornaEsame",this.immunoelettroforesi);
    },

  setEsame: function(data) {
      this.immunoelettroforesi.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
