<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>Infiammazione</h4>
        </CCol>
        <CCol sm="6">
          <CInput label="Ves (IK) " id="vesik" type="number" step="0.01" v-model="infiammazione.vesik" name="vesik"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="PCR" id="pcr" type="number" step="0.01" v-model="infiammazione.pcr" name="pcr"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="TAS" id="tas" type="number" step="0.01" v-model="infiammazione.tas" name="tas"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="Reuma Test" id="reumatest" type="number" step="0.01" v-model="infiammazione.reumatest" name="reumatest"></CInput>
        </CCol>
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'urine',
    components: {
    },
  data () {
    return {
      infiammazione:new Form({
        vesik: '',
        pcr: '',
        tas: '',
        reumatest: ''
      })
    }
},

  mounted(){
    this.infiammazione.reset();
    this.changeInfiammazione();
  },

  methods:{
  changeInfiammazione: function() {
    this.$emit("aggiornaEsame",this.infiammazione);
    },

  setEsame: function(data) {
      this.infiammazione.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
