<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>MARKERS TUMORALI</h4>
        </CCol>
        <CCol sm="6">
            <CInput label="CEA" type="number" step="0.01" v-model="markers_tumorali.cea" name="cea"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CA 19.9" type="number" step="0.01" v-model="markers_tumorali.ca19_9" name="ca19_9"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CA 125" type="number" step="0.01" v-model="markers_tumorali.ca125" name="ca125"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CA 15.3" type="number" step="0.01" v-model="markers_tumorali.ca15_3" name="ca15_3"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CA 50" type="number" step="0.01" v-model="markers_tumorali.ca50" name="ca50"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CA 72.4" type="number" step="0.01" v-model="markers_tumorali.ca72_4" name="ca72_4"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="α FETOPROTEINA" type="number" step="0.01" v-model="markers_tumorali.a_fetoproteina" name="a_fetoproteina"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CALCITONINA" type="number" step="0.01" v-model="markers_tumorali.calcitonina" name="calcitonina"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="PSA TOT" type="number" step="0.01" v-model="markers_tumorali.psatot" name="psatot"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="PSA FREE" type="number" step="0.01" v-model="markers_tumorali.psafree" name="psafree"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="PSA RATIO" type="number" step="0.01" v-model="markers_tumorali.psaratio" name="psaratio"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="PCA 3" type="number" step="0.01" v-model="markers_tumorali.pca3" name="pca3"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CALCITONINA (CT)" type="number" step="0.01" v-model="markers_tumorali.calcitonina_ct" name="calcitonina_ct"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CROMOGRANINA A" type="number" step="0.01" v-model="markers_tumorali.cromogranian_a" name="cromogranian_a"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="ENOLASI (NSE)" type="number" step="0.01" v-model="markers_tumorali.enolasi_nse" name="enolasi_nse"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CITOCHERATINA 19" type="number" step="0.01" v-model="markers_tumorali.citocheratina_19" name="citocheratina_19"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="GONADOTROPINA (HCG)" type="number" step="0.01" v-model="markers_tumorali.gonadotropina_hcg" name="gonadotropina_hcg"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="S-100" type="number" step="0.01" v-model="markers_tumorali.s100" name="s100"></CInput>
        </CCol>
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'markers_infettivi',
    components: {
    },
  data () {
    return {
      markers_tumorali:new Form({
          cea: '',
          ca19_9: '',
          ca125: '',
          ca15_3: '',
          ca50: '',
          ca72_4: '',
          a_fetoproteina: '',
          calcitonina: '',
          psa_tot: '',
          psa_free: '',
          psa_ratio: '',
          pca3: '',
          calictonina_ct: '',
          cromgranina_a: '',
          enolasi_nse: '',
          citocheratina19: '',
          gonadotropina_hcg: '',
          s100: '',
      }),
    }
},

  mounted(){
    this.markers_tumorali.reset();
    this.changeMarkersTumorali();
  },

  methods:{
  changeMarkersTumorali: function() {
    this.$emit("aggiornaEsame",this.markers_tumorali);
    },

  setEsame: function(data) {
      this.markers_infettivi.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
