<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>Markers Scompenso</h4>
        </CCol>
        <CCol sm="6">
          <CInput label="NT pro BNP" id="bnpproingresso" type="number" step="0.01" v-model="markers_scompenso.bnpproingresso" name="bnpproingresso"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="BNP " id="bnpingresso" type="number" step="0.01" v-model="markers_scompenso.bnpingresso" name="bnpingresso"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="ST2" id="st2" type="number" step="0.01" v-model="markers_scompenso.st2" name="st2"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="Impedenza" id="impedenza" type="number" step="0.01" v-model="markers_scompenso.impedenza" name="impedenza"></CInput>
        </CCol>
         <CCol sm="6">
          <CInput label="GALECTIN-3" id="galectin3" type="number" step="0.01" v-model="markers_scompenso.galectin3" name="galectin3"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="NGAL" id="ngal" type="number" step="0.01" v-model="markers_scompenso.ngal" name="ngal"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="Cistatina C" id="cistatina" type="number" step="0.01" v-model="markers_scompenso.cistatina" name="cistatina"></CInput>
        </CCol>
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'markers_scompenso',
    components: {
    },
  data () {
    return {
      markers_scompenso:new Form({
        bnpproingresso: '',
        bnpingresso: '',
        st2: '',
        impedenza: '',
        galectin3: '',
        ngal: '',
        cistatina: ''
      })
    }
},

  mounted(){
    this.markers_scompenso.reset();
    this.changeMarkersScompenso();
  },

  methods:{
  changeMarkersScompenso: function() {
    this.$emit("aggiornaEsame",this.markers_scompenso);
    },

  setEsame: function(data) {
      this.markers_scompenso.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
