<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>MARKERS INFETTIVI</h4>
        </CCol>
        <CCol sm="6">
            <CInput label="BETA GLUCANO" type="number" step="0.01" v-model="markers_infettivi.betaglucano" name="betaglucano"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="GALATTO MANNANO" type="number" step="0.01" v-model="markers_infettivi.galattomannano" name="galattomannano"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="TPHA" type="number" step="0.01" v-model="markers_infettivi.tpha" name="tpha"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="VDRL" type="number" step="0.01" v-model="markers_infettivi.vdrl" name="vdrl"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="WEIL-FELIX" type="number" step="0.01" v-model="markers_infettivi.weil_felix" name="weil_felix"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="WIDAL-WRIGHT" type="number" step="0.01" v-model="markers_infettivi.widal_wright" name="widal_wright"></CInput>
        </CCol>
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'markers_infettivi',
    components: {
    },
  data () {
    return {
      markers_infettivi:new Form({
         betaglucano: '',
         galattomannano: '',
         procalcitonina: '',
         tpha: '',
         vdrl: '',
         weil_felix: '',
         widal_wright: '',
      })
    }
},

  mounted(){
    this.markers_infettivi.reset();
    this.changeMarkersInfettivi();
  },

  methods:{
  changeMarkersInfettivi: function() {
    this.$emit("aggiornaEsame",this.markers_infettivi);
    },

  setEsame: function(data) {
      this.markers_infettivi.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
