<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>Metabolico</h4>
        </CCol>
        <CCol sm="6">
          <CInput label="Glicemia" id="glicemia" type="number" step="0.01" v-model="metabolico.glicemia" name="glicemia"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="Sodio" id="sodio" type="number" step="0.01" v-model="metabolico.sodio" name="sodio"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="Potassio" id="potassio" type="number" step="0.01" v-model="metabolico.potassio" name="potassio"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="Cloro" id="cloro" type="number" step="0.01" v-model="metabolico.cloro" name="cloro"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="Magnesio" id="magnesio" type="number" step="0.01" v-model="metabolico.magnesio" name="magnesio"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="Calcio" id="calcio" type="number" step="0.01" v-model="metabolico.calcio" name="calcio"></CInput>
        </CCol> 
         <CCol sm="6">
          <CInput label="Fosforo" id="fosforo" type="number" step="0.01" v-model="metabolico.fosforo" name="fosforo"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="Fosfatasi Alcalina" id="fosfatasialcalina" step="0.01" type="number" v-model="metabolico.fosfatasialcalina" name="fosfatasialcalina"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="AST" id="ast" type="number" step="0.01" v-model="metabolico.ast" name="ast"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="ALT" id="alt" type="number" step="0.01" v-model="metabolico.alt" name="alt"></CInput>
        </CCol>
         <CCol sm="6">
          <CInput label="Y GT" id="ygt" type="number" step="0.01" v-model="metabolico.ygt" name="ygt"></CInput>
        </CCol> 
         <CCol sm="6">
          <CInput label="Pseudocolinestarasi" id="pseudocolinestarasi" type="number" step="0.01" v-model="metabolico.pseudocolinestarasi" name="pseudocolinestarasi"></CInput>
        </CCol> 
         <CCol sm="6">
          <CInput label="BIL. TOT." id="biltot" type="number" step="0.01" v-model="metabolico.biltot" name="biltot"></CInput>
        </CCol> 
         <CCol sm="6">
          <CInput label="BIL. DIR. " id="bildir" type="number" step="0.01" v-model="metabolico.bildir" name="bildir"></CInput>
        </CCol>  
        <CCol sm="6">
          <CInput label="BIL. IND." id="bilind" type="number" step="0.01" v-model="metabolico.bilind" name="bilind"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="Ammoniemia" id="ammoniemia" type="number" step="0.01" v-model="metabolico.ammoniemia" name="ammoniemia"></CInput>
        </CCol>  
         <CCol sm="6">
          <CInput label="Colesterolo TOT." id="colesterolotot" type="number" step="0.01" v-model="metabolico.colesterolotot" name="colesterolotot"></CInput>
        </CCol>  
         <CCol sm="6">
          <CInput label="Colesterolo HDL" id="colesterolohdl" type="number" step="0.01" v-model="metabolico.colesterolohdl" name="colesterolohdl"></CInput>
        </CCol>  
         <CCol sm="6">
          <CInput label="Colesterolo LDL" id="colesterololdl" type="number" step="0.01" v-model="metabolico.colesterololdl" name="colesterololdl"></CInput>
        </CCol>  
         <CCol sm="6">
          <CInput label="Trigliceridi" id="trigliceridi" type="number" step="0.01" v-model="metabolico.trigliceridi" name="trigliceridi"></CInput>
        </CCol>  
         <CCol sm="6">
          <CInput label="Amilasi" id="amilasi" type="number" step="0.01" v-model="metabolico.amilasi" name="amilasi"></CInput>
        </CCol>  
         <CCol sm="6">
          <CInput label="Lipasi" id="lipasi" type="number" step="0.01" v-model="metabolico.lipasi" name="lipasi"></CInput>
        </CCol>  
         <CCol sm="6">
          <CInput label="CPK" id="cpk" type="number" step="0.01" v-model="metabolico.cpk" name="cpk"></CInput>
        </CCol>  
         <CCol sm="6">
          <CInput label="LDH" id="ldh" type="number" step="0.01" v-model="metabolico.ldh" name="ldh"></CInput>
        </CCol>  
        <CCol sm="6">
          <CInput label="Hb Glicata" id="hbglicata" type="number" step="0.01" v-model="metabolico.hbglicata" name="hbglicata"></CInput>
        </CCol>  
        <CCol sm="6">
          <CInput label="Glucosio 6 P DH" id="glucosio" type="number" step="0.01" v-model="metabolico.glucosio" name="glucosio"></CInput>
        </CCol>  
        <CCol sm="6">
          <CInput label="Acidi Biliari" id="acidibilari" type="number" step="0.01" v-model="metabolico.acidibilari" name="acidibilari"></CInput>
        </CCol>  
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'metabolico',
    components: {
    },
  data () {
    return {
      metabolico:new Form({
        glicemia: '',
        sodio: '',
        potassio: '',
        cloro: '',
        magnesio: '',
        calcio: '',
        fosforo: '',
        fosfatasialcalina: '',
        ast: '',
        alt: '',
        ygt: '',
        pseudocolinestarasi: '',
        biltot: '',
        bildir: '',
        bilind: '',
        ammoniemia: '',
        colesterolotot: '',
        colesterolohdl: '',
        colesterololdl: '',
        trigliceridi: '',
        amilasi: '',
        lipasi: '',
        cpk: '',
        ldh: '',
        hbglicata: '',
        glucosio: '',
        acidibilari: ''
      })
    }
},

  mounted(){
    this.metabolico.reset();
    this.changeMetabolico();
  },

  methods:{
  changeMetabolico: function() {
    this.$emit("aggiornaEsame",this.metabolico);
    },

  setEsame: function(data) {
      this.metabolico.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
