<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>Protidogramma</h4>
        </CCol>
        <CCol sm="6">
          <CInput label="Proteine TOT" id="proteinetot" type="number" step="0.01" v-model="protidogramma.proteinetot" name="proteinetot"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="Albumina" id="albumina" type="number" step="0.01" v-model="protidogramma.albumina" name="albumina"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="Albumina %" id="albuminaperc" type="number" step="0.01" v-model="protidogramma.albuminaperc" name="albuminaperc"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="Alfa 1 " id="alfa1" type="number" step="0.01" v-model="protidogramma.alfa1" name="alfa1"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="Alfa 1 %" id="alfa1perc" type="number" step="0.01" v-model="protidogramma.alfa1perc" name="alfa1perc"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="Alfa2" id="alfa2" type="number" step="0.01" v-model="protidogramma.alfa2" name="alfa2"></CInput>
        </CCol> 
         <CCol sm="6">
          <CInput label="Alfa2%" id="alfa2perc" type="number" step="0.01" v-model="protidogramma.alfa2perc" name="alfa2perc"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="Beta" id="beta" step="0.01" type="number" v-model="protidogramma.beta" name="beta"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="Beta %" id="betaperc" type="number" step="0.01" v-model="protidogramma.betaperc" name="betaperc"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="Gamma" id="gamma" type="number" step="0.01" v-model="protidogramma.gamma" name="gamma"></CInput>
        </CCol>
         <CCol sm="6">
          <CInput label="Gamma %" id="gammaperc" type="number" step="0.01" v-model="protidogramma.gammaperc" name="gammaperc"></CInput>
        </CCol> 
         <CCol sm="6">
          <CInput label="A/G" id="ag" type="number" step="0.01" v-model="protidogramma.ag" name="ag"></CInput>
        </CCol> 
         <CCol sm="6">
          <CInput label="Apoliprot A1/B" id="apoliprot" type="number" step="0.01" v-model="protidogramma.apoliprot" name="apoliprot"></CInput>
        </CCol> 
         <CCol sm="6">
          <CInput label="Gamma Monoclonale" id="gammamonoclonale" type="number" step="0.01" v-model="protidogramma.gammamonoclonale" name="gammamonoclonale"></CInput>
        </CCol>  
        <CCol sm="6">
          <CInput label="Gamma Monoclonale % " id="gammamonoclonaleperc" type="number" step="0.01" v-model="protidogramma.gammamonoclonaleperc" name="gammamonoclonaleperc"></CInput>
        </CCol>
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'protidogramma',
    components: {
    },
  data () {
    return {
      protidogramma:new Form({
       proteinetot: '',
       albumina: '',
       albuminaperc: '',
       alfa1: '',
       alfa1perc: '',
       beta: '',
       betaperc: '',
       gamma: '',
       gammaperc: '',
       ag: '',
       apoliprot: '',
       gammamonoclonale: '',
       gammamonoclonaleperc: '' 
      })
    }
},

  mounted(){
    this.protidogramma.reset();
    this.changeProtidogramma();
  },

  methods:{
  changeProtidogramma: function() {
    this.$emit("aggiornaEsame",this.protidogramma);
    },

  setEsame: function(data) {
      this.protidogramma.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
