<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>Risonanza Magnetica</h4>
        </CCol>
        <CCol sm="12">
          <CTextarea label="Dettagli Esame " id="dettagli_esame" v-model="risonanaza_magnetica.dettagli_esame" name="dettagli_esame"></CTextarea>
        </CCol>
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'risonanza_magnetica',
    components: {

    },
  data () {
    return {
      risonanaza_magnetica: new Form({
        dettagli_esame: ''
      })
    }
},

  mounted(){
    this.risonanaza_magnetica.reset();
    this.changeRisonanzaMagnetica();
  },

  methods:{
  changeRisonanzaMagnetica: function() {
    this.$emit("aggiornaEsame",this.risonanaza_magnetica);
    },

  setEsame: function(data) {
      this.risonanaza_magnetica.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
