<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>SOTTOPOPOLAZIONI LINFOCITARIE</h4>
        </CCol>
        <CCol sm="6">
            <CInput label="LINFOCITI %" type="number" step="0.01" v-model="sottopopolazioni_linfocitarie.linfocitiperc" name="linfocitiperc"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="LINFOCITI" type="number" step="0.01" v-model="sottopopolazioni_linfocitarie.linfociti" name="linfociti"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CD3" type="number" step="0.01" v-model="sottopopolazioni_linfocitarie.cd3" name="cd3"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CD3 %" type="number" step="0.01" v-model="sottopopolazioni_linfocitarie.cd3perc" name="cd3perc"></CInput>
        </CCol>
         <CCol sm="6">
            <CInput label="CD4" type="number" step="0.01" v-model="sottopopolazioni_linfocitarie.cd4" name="cd4"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CD4 %" type="number" step="0.01" v-model="sottopopolazioni_linfocitarie.cd4perc" name="cd4perc"></CInput>
        </CCol>
          <CCol sm="6">
            <CInput label="CD8" type="number" step="0.01" v-model="sottopopolazioni_linfocitarie.cd8" name="cd8"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CD8 %" type="number" step="0.01" v-model="sottopopolazioni_linfocitarie.cd8perc" name="cd8perc"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CD16" type="number" step="0.01" v-model="sottopopolazioni_linfocitarie.cd16" name="cd16"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CD16 %" type="number" step="0.01" v-model="sottopopolazioni_linfocitarie.cd16perc" name="cd16perc"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CD24" type="number" step="0.01" v-model="sottopopolazioni_linfocitarie.cd24" name="cd24"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CD24 %" type="number" step="0.01" v-model="sottopopolazioni_linfocitarie.cd24perc" name="cd24perc"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="CD4/CD8" type="number" step="0.01" v-model="sottopopolazioni_linfocitarie.cd4_cd8" name="cd4_cd8"></CInput>
        </CCol> 
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: '',
    components: {
    },
  data () {
    return {
      sottopopolazioni_linfocitarie:new Form({
          linfocitiperc: '',
          linfociti: '',
          cd3: '',
          cd3perc: '',
          cd4: '',
          cd4perc: '',
          cd8: '',
          cd8perc: '',
          cd16: '',
          cd16perc: '',
          cd24: '',
          cd24perc: '',
          cd4_cd8: '',
      })
    }
},

  mounted(){
    this.sottopopolazioni_linfocitarie.reset();
    this.changeSottopopolazioniLinfocitari();
  },

  methods:{
  changeSottopopolazioniLinfocitari: function() {
    this.$emit("aggiornaEsame",this.sottopopolazioni_linfocitarie);
    },

  setEsame: function(data) {
      this.sottopopolazioni_linfocitarie.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
