<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>TAC CORONARICA</h4>
        </CCol>
        <CCol sm="6">
            <div class="form-group">
                <label>VASO</label>
                <select name="vaso" id="" class="form-control" v-model="tac_coronarica.vaso">
                    <option value="tc">TC</option>
                    <option value="iva">IVA</option>
                    <option value="d1">D1</option>
                    <option value="d2">D2</option>
                    <option value="cx">CX</option>
                    <option value="mod1">MOD1</option>
                    <option value="mod2">MOD2</option>
                    <option value="cd">CD</option>
                    <option value="ivp">IVP</option>
                    <option value="mo">MO</option>
                </select>
            </div>
        </CCol> 
        <CCol sm="6">
            <div class="form-group">
                <label>SEDE</label>
                <select name="sede" v-model="tac_coronarica.sede" class="form-control">
                    <option value="ostiale">Ostiale</option>
                    <option value="prossimale">Prossimale</option>
                    <option value="media">Media</option>
                    <option value="distale">Distale</option>
                </select>
            </div>
        </CCol>
        <CCol sm="6">
            <CInput label="STENOSI (%)" v-model="tac_coronarica.stenosi_perc" name="stenosi_perc"></CInput>
        </CCol>
        <CCol>
            <div class="form-group">
                <label>Tipo</label>
                <select name="tipo" class="form-control" v-model="tac_coronarica.tipo">
                    <option value="lipidica">Lipidica</option>
                    <option value="calcifica">Calcifica</option>
                    <option value="lunga">Lunga</option>
                </select>
            </div>
        </CCol>
        <CCol sm="6">
            <div class="form-group">
                <label>PTCA (S/N)</label>
                <select  v-model="tac_coronarica.ptca_sn" name="ptca_sn" id="" class="form-control">
                    <option value="0">No</option>
                    <option value="1">Si</option>
                </select>
            </div>
        </CCol>
        <CCol>
            <CInput label="STENT Tipo" name="stent_tipo" v-model="tac_coronarica.stent_tipo"></CInput>
        </CCol>
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'tac_coronarica',
    components: {
    },
  data () {
    return {
      tac_coronarica:new Form({
          vaso: '',
          sede: '',
          stenosi_perc:'',
          tipo: '',
          ptca_sn: '',
          stent_tipo: '',
      })
    }
},

  mounted(){
    this.tac_coronarica.reset();
    this.changeTacCoronarica();
  },

  methods:{
  changeTacCoronarica: function() {
    this.$emit("aggiornaEsame",this.tac_coronarica);
    },

  setEsame: function(data) {
      this.tac_coronarica.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
