<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>TIPIZZAZIONE TISSUTALE</h4>
        </CCol>
        <CCol sm="6">
            <CInput label="Codice" v-model="tipizzazione_tissutale.codice" name="codice"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="A" type="number" step="0.01" v-model="tipizzazione_tissutale.a" name="a"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="B" type="number" step="0.01" v-model="tipizzazione_tissutale.b" name="b"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="Cw" type="number" step="0.01" v-model="tipizzazione_tissutale.cw" name="cw"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="DRB1" type="number" step="0.01" v-model="tipizzazione_tissutale.drb1" name="drb1"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="DRB" type="number" step="0.01" v-model="tipizzazione_tissutale.drb" name="drb"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="DQB1" type="number" step="0.01" v-model="tipizzazione_tissutale.dqb1" name="dqb1"></CInput>
        </CCol>
        <CCol sm="6">
            <CInput label="DQA1" type="number" step="0.01" v-model="tipizzazione_tissutale.dqa1" name="dqa1"></CInput>
        </CCol>
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'tipizzazione_tissutale',
    components: {
    },
  data () {
    return {
      tipizzazione_tissutale:new Form({
         codice: '',
         a: '',
         b: '',
         cw: '',
         drb1:'',
         drb: '',
         dqb1: '',
         dqa1: '',
      })
    }
},

  mounted(){
    this.tipizzazione_tissutale.reset();
    this.changeTipizzazioneTissutale();
  },

  methods:{
  changeTipizzazioneTissutale: function() {
    this.$emit("aggiornaEsame",this.tipizzazione_tissutale);
    },

  setEsame: function(data) {
      this.tipizzazione_tissutale.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
