<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>TROMBOFILIA FUNZIONALE</h4>
        </CCol>
        <CCol sm="6">
          <CInput label="PROTEINA C COAG" type="number" step="0.01" v-model="trombofilia_funzionale.proteina_c_coag" name="proteina_c_coag"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="PROTEINA S COAG" type="number" step="0.01" v-model="trombofilia_funzionale.proteina_s_coag" name="proteina_s_coag"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="FATTORE II" type="number" step="0.01" v-model="trombofilia_funzionale.fattoreii" name="fattoreii"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="FATTORE V" type="number" step="0.01" v-model="trombofilia_funzionale.fattorev" name="fattorev"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="FATTORE VIII" type="number" step="0.01" v-model="trombofilia_funzionale.fattoreviii" name="fattoreviii"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="FATTORE XII" type="number" step="0.01" v-model="trombofilia_funzionale.fattorexii" name="fattorexii"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="FATTORE V WILLEMBRAND"  step="0.01" type="number" v-model="trombofilia_funzionale.fattorevwillembrand" name="fattorevwillembrand"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="IgG ANTI CARDIOLIPINA"  step="0.01" type="number" v-model="trombofilia_funzionale.igganticardiolipina" name="igganticardiolipina"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="IgM ANTI CARDIOLIPINA" step="0.01" type="number" v-model="trombofilia_funzionale.igmanticardiolipina" name="igmanticardiolipina"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="IgG BETA2 GLICOPROTEINA1" step="0.01" type="number" v-model="trombofilia_funzionale.iggbeta2glicoproteina1" name="iggbeta2glicoproteina1"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="IgM BETA2 GLICOPROTEINA1" step="0.01" type="number" v-model="trombofilia_funzionale.igmbeta2glicoproteina1" name="igmbeta2glicoproteina1"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="OMOCISTEINEMIA" step="0.01" type="number" v-model="trombofilia_funzionale.omocisteinemia" name="omocisteinemia"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="APCR (Resistenza alla Proteina C Attivata)" step="0.01" type="number" v-model="trombofilia_funzionale.apcr" name="apcr"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="MTHFR A1298C" step="0.01" type="number" v-model="trombofilia_funzionale.mthfra1298c" name="mthfra1298c"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="MTHFR C 677T" step="0.01" type="number" v-model="trombofilia_funzionale.mthfrc677t" name="mthfrc677t"></CInput>
        </CCol>
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: '',
    components: {
    },
  data () {
    return {
      trombofilia_funzionale:new Form({
          proteina_c_coag: '',
          proteina_s_coag: '',
          lac: '',
          fattoreii: '',
          fattorev: '',
          fattoreviii: '',
          fattorexii: '',
          fattorevwillembrand: '',
          igganticardiolipina: '',
          igmanticardiolipina: '',
          iggbeta2glicoproteina1: '',
          igmbeta2glicoproteina1: '',
          omocisteinemia: '',
          apcr: '',
          mthfra1298c: '',
          mthfrc677t: ''
      })
    }
},

  mounted(){
    this.trombofilia_funzionale.reset();
    this.changeTrombofillaFunzionale();
  },

  methods:{
  changeTrombofillaFunzionale: function() {
    this.$emit("aggiornaEsame",this.trombofilia_funzionale);
    },

  setEsame: function(data) {
      this.trombofilia_funzionale.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
