<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>Urine</h4>
        </CCol>
        <CCol sm="6">
          <CInput label="Diuresi 24H" type="number" step="0.01" v-model="urine_24h.diuresi_24h" name="diuresi_24h"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="MICROALBUMINURIA" type="number" step="0.01"  v-model="urine_24h.microalbuminuria" name="microalbuminuria"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="ALBUMINURIA" type="number" step="0.01"  v-model="urine_24h.albuminuria" name="albuminuria"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="CREATININURIA"  type="number" step="0.01" v-model="urine_24h.creatininuria" name="creatininuria"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="PROTEINURIA 24H"  type="number" step="0.01" v-model="urine_24h.proteinuria_24h" name="proteinuria_24h"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="Album. / Creatinuria" type="number" step="0.01"  v-model="urine_24h.album_creatinuria" name="album_creatinuria"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="SODIO – URINARIO"  type="number" step="0.01" v-model="urine_24h.sodio" name="sodio"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="POTASSIO – URINARIO" type="number" step="0.01"  v-model="urine_24h.potassio" name="potassio"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="CALCIO – URINARIO"  type="number" step="0.01" v-model="urine_24h.calcio" name="calcio"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="FOSFORO – URINARIO"  type="number" step="0.01" v-model="urine_24h.fosforo" name="fosforo"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="AZOTO – URINARIO" type="number" step="0.01"  v-model="urine_24h.azoto" name="azoto"></CInput>
        </CCol> 
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'urine_24h',
    components: {
    },
  data () {
    return {
      urine_24h:new Form({
        diuresi_24h: '',
        microalbuminuria: '',
        albuminuria:'',
        creatinuria: '',
        proteinuria_24h: '',
        album_creatinuria: '',
        sodio: '',
        potassio: '',
        calcio: '',
        fosforo: '',
        azoto: '',
      })
    }
},

  mounted(){
    this.urine_24h.reset();
    this.changeUrine24h();
  },

  methods:{
  changeUrine24h: function() {
    this.$emit("aggiornaEsame",this.urine_24h);
    },

  setEsame: function(data) {
      this.urine_24h.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
