<template>
     <CRow>
        <CCol sm="12" class="text-center">
            <h4>Urine</h4>
        </CCol>
        <CCol sm="6">
          <CInput label="Aspetto" id="glicemia"  v-model="urine.aspetto" name="aspetto"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="Colore" id="colore" type="number" v-model="urine.colore" name="colore"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="PH" id="ph" type="number" v-model="urine.ph" name="ph"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="P.S." id="ps" type="number" v-model="urine.ps" name="ps"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="Glucosio" id="glucosio" type="number" v-model="urine.glucosio" name="glucosio"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="Proteine" id="proteine" type="number" v-model="urine.proteine" name="proteine"></CInput>
        </CCol> 
         <CCol sm="6">
          <CInput label="Emoglobina" id="emoglobina" type="number" v-model="urine.emoglobina" name="emoglobina"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="Esterasi Leuc." id="esterasileuc" type="number" v-model="urine.esterasileuc" name="esterasileuc"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="Nitriti" id="nitriti" type="number" v-model="urine.nitriti" name="nitriti"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="Urobilina" id="urobilina" type="number" v-model="urine.urobilina" name="urobilina"></CInput>
        </CCol>
         <CCol sm="6">
          <CInput label="Emazie" id="emazie" type="number" v-model="urine.emazie" name="emazie"></CInput>
        </CCol> 
         <CCol sm="6">
          <CInput label="Leucociti" id="leucociti" type="number" v-model="urine.leucociti" name="leucociti"></CInput>
        </CCol> 
         <CCol sm="6">
          <CInput label="CBV - CAV" id="cbvcav" type="number" v-model="urine.cbvcav" name="cbvcav"></CInput>
        </CCol> 
         <CCol sm="6">
          <CInput label="Cilindri" id="cilindri" type="number" v-model="urine.cilindri" name="cilindri"></CInput>
        </CCol>  
        <CCol sm="6">
          <CInput label="Batteri" id="batteri" type="number" v-model="urine.batteri" name="batteri"></CInput>
        </CCol>
        <CCol sm="6">
          <CInput label="Microalbuminuria" id="microalbuminuria" type="number" v-model="urine.microalbuminuria" name="microalbuminuria"></CInput>
        </CCol>  
         <CCol sm="6">
          <CInput label="Proteinuria" id="proteinuria" type="number" v-model="urine.proteinuria" name="proteinuria"></CInput>
        </CCol>  
         <CCol sm="6">
          <CInput label="Proteina B-Jones" id="proteinabjones" type="number" v-model="urine.proteinabjones" name="proteinabjones"></CInput>
        </CCol>  
        <CCol sm="6">
          <CInput label="ACIDO VANILMANDELICO" id="acidovanilmandelico" type="number" v-model="urine.acidovanilmandelico" name="acidovanilmandelico"></CInput>
        </CCol>  
        <CCol sm="6">
          <CInput label="ACIDO 5 OH INDOLACETICO" id="acido5ohindolacetico" type="number" v-model="urine.acido5ohindolacetico" name="acido5ohindolacetico"></CInput>
        </CCol> 
        <CCol sm="6">
          <CInput label="METANEFRINA" id="metanferina" type="number" v-model="urine.metanferina" name="metanferina"></CInput>
        </CCol>  
        <CCol sm="6">
          <CInput label="NOR/ADRENALINA" id="metanferina" type="number" v-model="urine.non_adrenila" name="non_adrenila"></CInput>
        </CCol>  
     </CRow>
</template>
<script>
import vSelect from 'vue-select'
import Form from 'vform'

export default {
  name: 'urine',
    components: {
    },
  data () {
    return {
      urine:new Form({
         aspetto: '',
         colore: '',
         ph: '',
         ps: '',
         glucosio: '',
         proteine: '',
         emoglobina: '',
         esterasileuc: '',
         nitriti: '',
         urobilina: '',
         emazie: '',
         leucociti: '',
         cbvcav: '',
         cilindri: '',
         batteri: '',
         microalbuminuria: '',
         proteinuria: '',
         proteinabjones: '',
      })
    }
},

  mounted(){
    this.urine.reset();
    this.changeUrine();
  },

  methods:{
  changeUrine: function() {
    this.$emit("aggiornaEsame",this.urine);
    },

  setEsame: function(data) {
      this.urine.fill(data);
    },

  }
}
</script>

<style>
.form-ecg{
    width: 100%;
}
</style>
