<template>
  <div>
  <ul data-v-3738b722="" class="c-sidebar-nav h-100 ps" style="position: relative;">
    <li class="c-sidebar-nav-item">
      <router-link :to="{ name: 'private.homeinfermiere' }">
        <a href="" @click="selected = 1" :class="{'router-link-exact-active c-active' :selected == 1}" class=" c-sidebar-nav-link">
          <fa class="icon-nav" icon="home"/> Home
        </a>
      </router-link>
    </li>
    <li class="c-sidebar-nav-item">
      <router-link :to="{ name: 'private.pazienti' }">
        <a href="" @click="selected = 2" :class="{'router-link-exact-active c-active' :selected == 2}" class=" c-sidebar-nav-link">
          <fa class="icon-nav" icon="users"/> Pazienti
        </a>
      </router-link>
    </li>
    <li class="c-sidebar-nav-item" >
      <router-link :to="{ name: 'private.richieste-pazienti-infermieri'}">
        <a href="" @click="selected = 3" :class="{'router-link-exact-active c-active' :selected == 3}" class=" c-sidebar-nav-link">
          <fa class="icon-nav" icon="user-plus"/> Richieste Pazienti
        </a>
      </router-link>
    </li>
    <!--<li class="c-sidebar-nav-item" >
      <router-link :to="{ name: 'private.messaggi' }">
        <a href="" @click="selected = 4" :class="{'router-link-exact-active c-active' :selected == 4}" class=" c-sidebar-nav-link">
          <fa class="icon-nav" icon="comments"/> Messaggi
        </a>
      </router-link>
    </li>-->
     <!--   <li class="c-sidebar-nav-item" >
      <router-link :to="{ name: 'private.appuntamenti' }">
        <a href="" @click="selected = 5" :class="{'router-link-exact-active c-active' :selected == 5}" class=" c-sidebar-nav-link">
          <fa class="icon-nav" icon="calendar-alt"/> Appuntamenti
        </a>
      </router-link>
    </li>-->
    <li class="c-sidebar-nav-item" >
      <router-link :to="{ name: 'private.profiloinfermiere' }">
        <a href="" @click="selected = 6" :class="{'router-link-exact-active c-active' :selected == 6}" class=" c-sidebar-nav-link">
          <fa class="icon-nav" icon="user"/> Il tuo profilo
        </a>
      </router-link>
    </li>
  <!--  <li class="c-sidebar-nav-item" >
      <router-link :to="{ name: 'private.impostazioni' }">
        <a href="" @click="selected = 7" :class="{'router-link-exact-active c-active' :selected == 7}" class=" c-sidebar-nav-link">
          <fa class="icon-nav" icon="cog"/> Impostazioni
        </a>
      </router-link>
    </li>-->
  </ul>
  </div>
</template>

<script>
export default {
  name: 'InfermiereNav',

    data () {
    return {
      selected: null
    }
  },
}
</script>
