<template>
  <div>
  <ul data-v-3738b722="" class="c-sidebar-nav h-100 ps" style="position: relative;">
    <li class="c-sidebar-nav-item">
      <router-link :to="{ name: 'private.homemedico' }">
        <div @click="selected = 1" :class="{'router-link-exact-active c-active' :selected == 1}" class=" c-sidebar-nav-link">
          <fa class="icon-nav" icon="home"/> Home
        </div>
      </router-link>
    </li>
    <li class="c-sidebar-nav-item">
      <router-link :to="{ name: 'private.allarmi_scattati' }">
        <div @click="selected = 2" :class="{'router-link-exact-active c-active' :selected == 2}" class=" c-sidebar-nav-link">
          <fa class="icon-nav" icon="bell"/> Allarmi
          <CBadge color="info" shape="pill"> {{allarmi_attivi}}</CBadge>
        </div>
      </router-link>
    </li>
    <li class="c-sidebar-nav-item">
      <router-link :to="{ name: 'private.messaggidaleggere' }">
        <div @click="selected = 3" :class="{'router-link-exact-active c-active' :selected == 3}" class=" c-sidebar-nav-link">
          <fa class="icon-nav" icon="comments"/> Messaggi
          <CBadge color="info" shape="pill"> {{messaggi}}</CBadge>
        </div>
      </router-link>
    </li>
    <li class="c-sidebar-nav-item">
      <router-link :to="{ name: 'private.pazienti' }">
        <div @click="selected = 4" :class="{'router-link-exact-active c-active' :selected == 4}" class=" c-sidebar-nav-link">
          <fa class="icon-nav" icon="users"/> Pazienti
        </div>
      </router-link>
    </li>
     <li class="c-sidebar-nav-item" >
      <router-link :to="{ name: 'private.calendario' }">
        <div @click="selected = 8" :class="{'router-link-exact-active c-active' :selected == 8}" class=" c-sidebar-nav-link">
          <fa class="icon-nav" icon="calendar-alt"/> Calendario Visite
        </div>
      </router-link>
    </li>
    <li class="c-sidebar-nav-item" >
      <router-link :to="{ name: 'private.richieste-pazienti' }">
        <div @click="selected = 5" :class="{'router-link-exact-active c-active' :selected == 5}" class=" c-sidebar-nav-link">
          <fa class="icon-nav" icon="user-plus"/> Richieste Pazienti
          <CBadge color="info" shape="pill"> {{richieste_pazienti}}</CBadge>
        </div>
      </router-link>
    </li>
    <li class="c-sidebar-nav-item">
      <router-link :to="{ name: 'private.videochat' }">
        <div @click="selected = 9" :class="{'router-link-exact-active c-active' :selected == 9}" class="c-sidebar-nav-link">
           <fa class="icon-nav" icon="video"/>  Video Chiamate
        </div>
      </router-link>
    </li>
    <li class="c-sidebar-nav-item" >
      <router-link :to="{ name: 'private.richieste-teleconsulto' }">
        <div @click="selected = 6" :class="{'router-link-exact-active c-active' :selected == 6}" class=" c-sidebar-nav-link">
           <fa class="icon-nav" icon="headset"/>  Richieste Teleconsulto
        </div>
      </router-link>
    </li>
    <li class="c-sidebar-nav-item" >
      <router-link :to="{ name: 'private.profilomedico' }">
        <div @click="selected = 7" :class="{'router-link-exact-active c-active' :selected == 7}" class=" c-sidebar-nav-link">
          <fa class="icon-nav" icon="user"/> Il tuo profilo
        </div>
      </router-link>
    </li>
  </ul>
  </div>
</template>

<script>

import axios from "axios";

import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
  name: 'MedicoNav',

    data () {
      return {
        selected: null,
        //allarmi_attivi: 0,
        //messaggi: 0
      }
    },

  computed: {
    ...mapGetters({
      allarmi_attivi:'private/getCounterAllarmiAttivi',
      messaggi: 'private/getCounterMessaggi',
      richieste_pazienti: 'private/getCounterRichiestePazienti'
    })
  },

    mounted(){
      this.countAllarmiAttivi()
      this.countMessaggi()
      this.countRichiestePazienti()
    },

    methods: {

      ...mapActions({
        countAllarmiAttivi: 'private/countAllarmiAttivi',
        countMessaggi: 'private/countMessaggi',
        countRichiestePazienti: 'private/countRichiestePazienti'
      }),


    }


}
</script>
