<template>
  <div>
  <ul data-v-3738b722="" class="c-sidebar-nav h-100 ps" style="position: relative;">
    <li class="c-sidebar-nav-item">
      <router-link :to="{ name: 'private.homepaziente' }">
        <a href="" @click="selected = 1" :class="{'router-link-exact-active c-active' :selected == 1}" class=" c-sidebar-nav-link">
          <fa class="icon-nav" icon="home"/> Home
        </a>
      </router-link>
    </li>
    <li class="c-sidebar-nav-item">
      <router-link :to="{ name: 'private.dati-clinici' }">
        <a href="" @click="selected = 13" :class="{'router-link-exact-active c-active' :selected == 13}" class=" c-sidebar-nav-link">
          <fa icon="file-medical-alt"></fa> Dati Clinici
        </a>
      </router-link>
    </li>
    <!--
    <li class="c-sidebar-nav-item">
      <router-link :to="{path: '#'}">
        <a href="" @click="selected = 17" :class="{'router-link-exact-active c-active' :selected == 17}" class=" c-sidebar-nav-link">
          <fa icon="rss"></fa>
            Monitoraggio Remoto
        </a>
      </router-link>
    </li>
    -->
    <li class="c-sidebar-nav-item">
      <router-link :to="{ name: 'private.diagnosi' }">
        <a href="" @click="selected = 2" :class="{'router-link-exact-active c-active' :selected == 2}" class=" c-sidebar-nav-link">
           <fa icon="stethoscope"></fa> Diagnosi
        </a>
      </router-link>
    </li>
    <li class="c-sidebar-nav-item" >
      <router-link :to="{ name: 'private.terapia' }">
        <a href="" @click="selected = 3" :class="{'router-link-exact-active c-active' :selected == 3}" class=" c-sidebar-nav-link">
          <fa icon="pills"></fa>Terapia
        </a>
      </router-link>
    </li>
    <li class="c-sidebar-nav-item" >
      <router-link :to="{ name: 'private.esami' }">
        <a href="" @click="selected = 4" :class="{'router-link-exact-active c-active' :selected == 4}" class=" c-sidebar-nav-link">
            <fa icon="file-medical"></fa> Esami
        </a>
      </router-link>
    </li>
    <li class="c-sidebar-nav-item" >
      <router-link :to="{ name: 'private.esami_strumentale'}">
        <a href="" @click="selected = 5" :class="{'router-link-exact-active c-active' :selected == 5}" class=" c-sidebar-nav-link">
            <fa icon="laptop-medical"></fa> Esami Strumentali
        </a>
      </router-link>
    </li>
        <li class="c-sidebar-nav-item" >
      <router-link :to="{ name: 'private.piani_terapeutici' }">
        <a href="" @click="selected = 6" :class="{'router-link-exact-active c-active' :selected == 6}" class=" c-sidebar-nav-link">
            <fa icon="file-invoice"></fa>Piani Terapeutici
        </a>
      </router-link>
    </li>
    <li class="c-sidebar-nav-item" >
      <router-link :to="{ name: 'private.interventi' }">
        <a href="" @click="selected = 7" :class="{'router-link-exact-active c-active' :selected == 7}" class=" c-sidebar-nav-link">
            <fa icon="heartbeat"></fa>Interventi
        </a>
      </router-link>
    </li>
    <li class="c-sidebar-nav-item" >
      <router-link :to="{ name: 'private.medici_assegnati' }">
        <a href="" @click="selected = 8" :class="{'router-link-exact-active c-active' :selected == 8}" class=" c-sidebar-nav-link">
            <fa icon="user-md"></fa> I tuoi Medici
        </a>
      </router-link>
    </li>
    <li class="c-sidebar-nav-item" >
      <router-link :to="{ name: 'private.infermieri_assegnati' }">
        <a href="" @click="selected = 9" :class="{'router-link-exact-active c-active' :selected == 9}" class=" c-sidebar-nav-link">
            <fa icon="user-md"></fa> I tuoi Infermieri
        </a>
      </router-link>
    </li>
    <li class="c-sidebar-nav-item" >
      <router-link :to="{ name: 'private.appuntamenti_paziente' }">
        <a href="" @click="selected = 10" :class="{'router-link-exact-active c-active' :selected == 10}" class=" c-sidebar-nav-link">
          <fa class="icon-nav" icon="calendar-alt"/> Appuntamenti
        </a>
      </router-link>
    </li>
        <li class="c-sidebar-nav-item" >
      <router-link :to="{ name: 'private.videochat' }">
        <div @click="selected = 18" :class="{'router-link-exact-active c-active' :selected == 18}" class="c-sidebar-nav-link">
           <fa class="icon-nav" icon=""/>  Video Chiamate
        </div>
      </router-link>
    </li>
    <li class="c-sidebar-nav-item" >
      <router-link :to="{ name: 'private.teleconsulto' }">
        <a href="" @click="selected = 11" :class="{'router-link-exact-active c-active' :selected == 11}" class=" c-sidebar-nav-link">
          <fa class="icon-nav" icon="headset"/> Teleconsulto
        </a>
      </router-link>
    </li>
    <li class="c-sidebar-nav-item">
      <router-link :to="{ name: 'private.prescrizioni' }">
        <a href="" @click="selected = 14" :class="{'router-link-exact-active c-active' :selected == 14}" class=" c-sidebar-nav-link">
          <fa icon="file-alt"></fa> Prescrizioni Farmaci
        </a>
      </router-link>
    </li>
     <li class="c-sidebar-nav-item">
      <router-link :to="{ name: 'private.prescrizioni_esami' }">
        <a href="" @click="selected = 15" :class="{'router-link-exact-active c-active' :selected == 15}" class=" c-sidebar-nav-link">
          <fa icon="file-alt"></fa> Prescrizioni Esami
        </a>
      </router-link>
    </li>
    <li class="c-sidebar-nav-item">
      <router-link :to="{ name: 'private.anticoagulanti' }">
        <a href="" @click="selected = 16" :class="{'router-link-exact-active c-active' :selected == 16}" class=" c-sidebar-nav-link">
          <fa icon="file-medical"></fa> Anticoagulante
        </a>
      </router-link>
    </li>
    <li class="c-sidebar-nav-item" >
      <router-link :to="{ name: 'private.profilopaziente' }">
        <a href="" @click="selected = 12" :class="{'router-link-exact-active c-active' :selected == 12}" class=" c-sidebar-nav-link">
          <fa class="icon-nav" icon="user"/> Il tuo Profilo
        </a>
      </router-link>
    </li>

  </ul>
  </div>
</template>

<script>
export default {
  name: 'PazienteNav',

    data () {
    return {
      selected: null
    }
  },
}
</script>
