<template>
  <div>
    <PazienteSelezionato></PazienteSelezionato>
    <iframe class="wrapper_monitoraggio" src="https://prdcvd19tlm.gpi.it/DOC/DEMO/bin/Frame/Dashboard.pl?app=DOC/DEMO&token=q5iqZ_XCruEBmNk929ohfpLxUK-nyWBAiUtuCpUfp8GQITr3ABB2l4UQcnZb77j0Nl_hjD4SR2L6RyuQKZa9x1z550iJueZLgAHCLAPDQ6l6GzuU2wmogpyrXr3uDOAbzVjvi6QyuTfjDkU8XtL9pg">
    </iframe>
  </div>
</template>

<script>

import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'
import { mapGetters, mapMutations, mapActions } from 'vuex'


export default {
  name: 'ecg_holter_t1',
  components: {
    PazienteSelezionato
  },

  data () {
    return{

    }
  },
  computed: {
  },

  mounted () {
  },


/*
  METODI
*/
  methods: {

  }
}
</script>

<style>
</style>
