<template>
  <div>
    <PazienteSelezionato></PazienteSelezionato>
  </div>
</template>

<script>

import PazienteSelezionato from '~/components/private/pazienteSelezionato.vue'
import { mapGetters, mapMutations, mapActions } from 'vuex'


export default {
  name: 'Smartwatch',
  components: {
    PazienteSelezionato
  },

  data () {
    return{

    }
  },
  computed: {
  },

  mounted () {
  },


/*
  METODI
*/
  methods: {

  }
}
</script>

<style>
</style>
