<template>
    <div>
         <form @submit.prevent="getAllMedici()">
            <CRow>
                <CCol sm="12">
                    <h4 class="sub_heading">Medici</h4>
                </CCol>
                <CCol sm="12">
                    <CCard>
                    <CCardHeader class="text-center">
                    </CCardHeader>
                    <CCollapse :show="collapse">
                    <CCardBody>
                        <CRow  class="row-center">
                        <CCol sm="9">
                        <CInput v-model="formRicerca.keyword" label="Cerca per Nome o Cognome" name="keyword"></CInput>
                        </CCol>
                        <CCol sm="3">
                            <CButton class="btn-block" color="primary" type="submit"><i class="fas fa-search"></i> Cerca</CButton>
                        </CCol>
                        </CRow>
                    </CCardBody>
                    </CCollapse>
                    </CCard>
                </CCol>
            </CRow>
          </form>
           <div>
            <vuetable ref="vuetable"
                    :api-mode="false"
                        :fields="fields"
                        :per-page="perPage"
                    :data-manager="dataManager"
                    no-data-template="Nessun Risultato"
                    pagination-path="pagination"
                        :css="css.table"
                    @vuetable:pagination-data="onPaginationData"
            >
               <div slot="actions" slot-scope="props" class="text-right">
                  <CButton  v-c-tooltip="'Visualizza Pazienti'" color="info" @click="apriModalPazienti(props.rowData.idUser)">
                      Visualizza Pazienti 
                  </CButton>
                </div>
            </vuetable>
                <vuetable-pagination-info ref="paginationInfo"
                    info-template="Visualizzati da {from} a {to} di {total} totali"
                    no-data-template="Nessun Risultato"
                ></vuetable-pagination-info>

            <div style="padding-top:10px">
            <vuetable-pagination ref="pagination" :css="css.pagination"
                    @vuetable-pagination:change-page="onChangePage"
            />
            </div>
            </div>
          
           <CModal
            title="Pazienti "
            color="primary"
            :show.sync="modalPazienti">
            <CRow>
              <CCol sm="12">
                <table class="table table-bordered" v-if="pazienti.length > 0">
                  <tr>
                    <th>Paziente</th>
                    <th>Codice Fiscale</th>
                    <th>Stato</th>
                  </tr>
                  <tr v-for="(paziente) in pazienti" :key="paziente.idPazienteMedico">
                      <td>{{paziente.name}}</td>
                      <td>{{paziente.meta.codice_fiscale}}</td>
                      <td :class="['text-uppercase',
                      paziente.stato == 1 ? 'text-success':'text-danger']"><b>{{paziente.stato == '1' ? 'Accettato' : 'Sospeso'}}</b></td>
                  </tr>            
                </table>
                <div v-else>
                    <h4 class="text-uppercase text-center">Nessun Paziente</h4>
                </div>
              </CCol>
            </CRow>
            <template #footer>
              <CButton color="default" @click="modalPazienti = false">
                Chiudi
              </CButton>
            </template>
          </CModal>
    </div>
</template>


<script>

import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'
import axios from 'axios'
import _ from 'lodash'
import Form from 'vform'
import vSelect from 'vue-select'
  
import Datepicker from 'vuejs-datepicker';
import {it} from 'vuejs-datepicker/dist/locale'

import { mapGetters, mapMutations, mapActions } from 'vuex'


export default {

    components: {
        Vuetable,
        VuetablePagination,
        vSelect,
        Datepicker,
        VuetablePaginationInfo
    },

    data () {
        return {
            css: TableStyle,
            it: it,
            format: "dd/MM/yyyy",
            titlemodal: '',
            resource: this.$resource_url,
            modalConferma: false,
            modalPazienti: false,
            formRicerca: new Form({
            keyword: '',
            }),
            fields: [
                {
                name: 'url_media',
                title: '',
                formatter: (value) => {
                    if(value== null){
                    return '<img class="icon-image" src="'+this.resource+'images/user.png">';
                    }
                    else{
                return '<img class="icon-image" src="'+this.resource+'uploads/'+value+'">';
                    }

                }
                },
                {
                name: 'name',
                title: 'Medico',
                sortField: 'name',
                dataClass:'text-capitalize'
                },
                {
                name: 'actions',
                title: 'Azioni'
                }
            ],
            perPage: 10,
            data: [],
            collapse: true,
            innerCollapse: false,
            pazienti: []
        }
    },


    computed: {

    },

    mounted(){
        this.getAllMedici()
    },

  watch: {
    data (newVal, oldVal) {
      this.$refs.vuetable.refresh()
    }
  },
 
    methods: {

    getAllMedici(){
     this.$store.commit('private/setPreload', true)
      var url = '/api/all-medici';
      axios.get(url,{
      params:{
        keyword:this.formRicerca.keyword,
      }
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            console.log(res.data)
            this.data = res.data
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
     },

    getPazientiMedico(idMedico){
     this.$store.commit('private/setPreload', true)
      var url = '/api/pazienti-medico/'+ idMedico;
      axios.get(url)
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.data = res.data
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
     },


    apriModalPazienti(idMedico){
      this.modalPazienti = true
      this.idMedico = idMedico
      this.visualizzaPazienti()
    },

    visualizzaPazienti(){
       this.$store.commit('private/setPreload', true)
      var url = '/api/pazienti-medico/'+ this.idMedico;
      axios.get(url,{
      params:{
        keyword:this.formRicerca.keyword,
      }
      })
        .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.pazienti = res.data
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },
    
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
          this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },

    removeRow (idPaziente) {
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idPaziente == idPaziente) {
          this.data.splice(i, 1)
          break
        }
      }
    },

    aggiornaRow(){
      var idPaziente=this.formPaziente.idPaziente;
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idPaziente == idPaziente) {
          this.data[i]=this.formRichiesta;
           this.$refs.vuetable.refresh()
          break
        }
      }
    },

    dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    },

    }

}
  

</script>
