<template>
    <CRow>
        <CCol sm="12">
            <div id="chart">
                <apexchart type="area" height="350"  ref="chart" :options="chartOptions" :series="series"></apexchart>
            </div>
        </CCol>
    </CRow>
</template>

<script>
import apexchart from 'vue-apexcharts'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import axios from 'axios'
import Form from 'vform'

export default {
    name: 'grafico_urine',
    components: {
        apexchart
    },

    data(){
        return{
          series_glucosio: [],
          series_proteine: [],
          series_microalbuminuria: [],
          series_proteinuria: [],
          series: [],
          chartOptions: {
            chart: {
                locales: [{
                  "name": "it",
                  "options": {
                    "shortMonths": ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"],
                  }
                }],
              defaultLocale:'it',
              type: 'area',
              stacked: false,
              height: 350,
              zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
              },
              toolbar: {
                autoSelected: 'zoom'
              }
            },
            dataLabels: {
              enabled: false
            },
            markers: {
              size: 0,
            },
            title: {
              text: 'Trend',
              align: 'left'
            },
            fill: {
              type: 'gradient',
              gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
              },
            },
            xaxis: {
              type: 'datetime',
            },
            yaxis: {
               type: 'decimal',
                labels: {
                  show: true,
                }
              },
          },

        }
    },

/*
  METODI
*/
  methods: {

/*
  IMPOSTA DATI TECNICI VAD
*/
  setDati(risultati){

    if(this.series_glucosio.length > 0 ||
      this.series_proteine.length > 0 || 
      this.series_microalbuminuria.length > 0 ||
      this.series_proteinuria.length > 0){
        return;
      }

    this.series_glucosio = [];
    this.series_proteine = [];
    this.series_microalbuminuria = [];
    this.series_proteinuria= [];

        this.$refs.chart.appendSeries ({
            name:'Glucosio',
            data:this.series_glucosio
        })

        
        this.$refs.chart.appendSeries ({
            name:'Proteine',
            data:this.series_proteine
        })

        this.$refs.chart.appendSeries ({
            name:'Microalbuminuria',
            data:this.series_microalbuminuria
        })

        
        this.$refs.chart.appendSeries ({
            name:'Proteinuria',
            data:this.series_proteinuria
        })

    for(var i=0;i<risultati.length;i++){

        if(risultati[i]['caricamento']=='manuale'){
            var d = new Date(risultati[i]['data']);
            var data=(d.getMonth()+1)+'-'+d.getDate()+'-'+d.getFullYear();


          if(risultati[i]['esame']['glucosio']!= null && risultati[i]['esame']['glucosio']!= ''){
            var glucosio={
              x:data,
              y:parseFloat(risultati[i]['esame']['glucosio'])   
            }

            this.series_glucosio.push(glucosio);
          }

          if(risultati[i]['esame']['proteine']!= null && risultati[i]['esame']['proteine']!= ''){
            var proteine={
              x:data,
              y:parseFloat(risultati[i]['esame']['proteine'])   
            }

            this.series_proteine.push(proteine);
          }

          if(risultati[i]['esame']['microalbuminuria']!= null && risultati[i]['esame']['microalbuminuria']!= ''){
            var microalbuminuria={
              x:data,
              y:parseFloat(risultati[i]['esame']['microalbuminuria'])   
            }

            this.series_microalbuminuria.push(microalbuminuria);
          }

          if(risultati[i]['esame']['proteinuria']!= null && risultati[i]['esame']['proteinuria']!= ''){
            var proteinuria={
              x:data,
              y:parseFloat(risultati[i]['esame']['proteinuria'])   
            }

            this.series_proteinuria.push(proteinuria);
          }
      }
      }

    
 
    return true;
  },
  },
}
</script>
