<template>
    <CRow>
        <CCol sm="12">
            <div id="chart">
                <apexchart type="area" height="350"  ref="chart" :options="chartOptions" :series="series"></apexchart>
            </div>
        </CCol>
    </CRow>
</template>

<script>
import apexchart from 'vue-apexcharts'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import axios from 'axios'
import Form from 'vform'

export default {
    name: 'grafico_urine_24h',
    components: {
        apexchart
    },

    data(){
        return{
          series_microalbuminuria: [],
          series_albuminuria: [],
          series_proteinuria_24h: [],
          series: [],
          chartOptions: {
            chart: {
                locales: [{
                  "name": "it",
                  "options": {
                    "shortMonths": ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"],
                  }
                }],
              defaultLocale:'it',
              type: 'area',
              stacked: false,
              height: 350,
              zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
              },
              toolbar: {
                autoSelected: 'zoom'
              }
            },
            dataLabels: {
              enabled: false
            },
            markers: {
              size: 0,
            },
            title: {
              text: 'Trend',
              align: 'left'
            },
            fill: {
              type: 'gradient',
              gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
              },
            },
            xaxis: {
              type: 'datetime',
            },
            yaxis: {
               type: 'decimal',
                labels: {
                  show: true,
                }
              },
          },

        }
    },

/*
  METODI
*/
  methods: {

/*
  IMPOSTA DATI TECNICI VAD
*/
  setDati(risultati){

    if(this.series_microalbuminuria.length > 0 ||
       this.series_albuminuria.length > 0 || 
       this.series_proteinuria_24h.length > 0 ){
         return;
       }

      this.series_microalbuminuria = [];
      this.series_albuminuria = [];
      this.series_proteinuria_24h = [];


        this.$refs.chart.appendSeries ({
            name:'Microalbuminuria',
            data:this.series_microalbuminuria
        })

        
        this.$refs.chart.appendSeries ({
            name:'Albuminuria',
            data:this.series_albuminuria
        })

        
        this.$refs.chart.appendSeries ({
            name:'Proteinuria 24h',
            data:this.series_proteinuria_24h
        })
    
    for(var i=0;i<risultati.length;i++){

        if(risultati[i]['caricamento']=='manuale'){
            var d = new Date(risultati[i]['data']);
            var data=(d.getMonth()+1)+'-'+d.getDate()+'-'+d.getFullYear();


          if(risultati[i]['esame']['microalbuminuria']!= null && risultati[i]['esame']['microalbuminuria']!= ''){
            var microalbuminuria={
              x:data,
              y:parseFloat(risultati[i]['esame']['microalbuminuria'])   
            }

            this.series_microalbuminuria.push(microalbuminuria);
          }

          if(risultati[i]['esame']['albuminuria']!= null && risultati[i]['esame']['albuminuria']!= ''){
            var albuminuria={
              x:data,
              y:parseFloat(risultati[i]['esame']['albuminuria'])   
            }

            this.series_albuminuria.push(albuminuria);
          }

          if(risultati[i]['esame']['proteinuria_24h']!= null && risultati[i]['esame']['proteinuria_24h']!= ''){
            var proteinuria_24h={
              x:data,
              y:parseFloat(risultati[i]['esame']['proteinuria_24h'])   
            }

            this.series_proteinuria_24h.push(proteinuria_24h);
          }
      }
      }

    return true;
  },
  },
}
</script>
