<template>
    <CRow>
        <CCol sm="12">
            <div id="chart">
                <apexchart type="area" height="350"  ref="chart" :options="chartOptions" :series="series"></apexchart>
            </div>
        </CCol>
    </CRow>
</template>

<script>
import apexchart from 'vue-apexcharts'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import axios from 'axios'
import Form from 'vform'

export default {
    name: 'grafico_emocromo',
    components: {
        apexchart
    },

    data(){
        return{
        series_emoglobina: [],
        series_glbianchi: [],
        series_ematocrito: [],
        series_piastrine: [],
          series: [],
          chartOptions: {
            chart: {
                locales: [{
                  "name": "it",
                  "options": {
                    "shortMonths": ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"],
                  }
                }],
              defaultLocale:'it',
              type: 'area',
              stacked: false,
              height: 350,
              zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
              },
              toolbar: {
                autoSelected: 'zoom'
              }
            },
            dataLabels: {
              enabled: false
            },
            markers: {
              size: 0,
            },
            title: {
              text: 'Trend',
              align: 'left'
            },
            fill: {
              type: 'gradient',
              gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
              },
            },
            xaxis: {
              type: 'datetime',
            },
            yaxis: {
               type: 'decimal',
                labels: {
                  show: true,
                }
              },
          },

        }
    },

/*
  METODI
*/
  methods: {

/*
  IMPOSTA EMOCROMO
*/
  setDati(risultati){

     if(this.series_emoglobina.length > 0 || this.series_glbianchi.length > 0 || this.series_ematocrito.length > 0 || this.series_piastrine.length > 0){
      return;
    }

      this.series_emoglobina = [];
      this.series_glbianchi = [];
      this.series_ematocrito = [];
      this.series_piastrine = [];

       this.$refs.chart.appendSeries ({
            name:'Emoglobina',
            data:this.series_emoglobina
        })

        this.$refs.chart.appendSeries ({
            name:'GL. BIANCHI',
            data:this.series_glbianchi
        })


        this.$refs.chart.appendSeries ({
            name:'Ematocrito',
            data:this.series_ematocrito
        })


        this.$refs.chart.appendSeries ({
            name:'Piastrine',
            data:this.series_piastrine
        })


    for(var i=0;i<risultati.length;i++){

        if(risultati[i]['caricamento']=='manuale'){
            var d = new Date(risultati[i]['data']);
            var data=(d.getMonth()+1)+'-'+d.getDate()+'-'+d.getFullYear();


          if(risultati[i]['esame']['emoglobina']!= null && risultati[i]['esame']['emoglobina']!= ''){
            var emoglobina={
              x:data,
              y:parseFloat(risultati[i]['esame']['emoglobina'])
            }

            this.series_emoglobina.push(emoglobina);
          }


        if(risultati[i]['esame']['glbianchi']!= null && risultati[i]['esame']['glbianchi']!= ''){
          var glbianchi={
            x:data,
            y:parseFloat(risultati[i]['esame']['glbianchi'])
          }
           this.series_glbianchi.push(glbianchi);
        }



        if(risultati[i]['esame']['ematocrito']!= null && risultati[i]['esame']['ematocrito']!= ''){
          var ematocrito={
            x:data,
            y:parseFloat(risultati[i]['esame']['ematocrito'])
          }
           this.series_ematocrito.push(ematocrito);
        }

        if(risultati[i]['esame']['piastrine']!= null && risultati[i]['esame']['piastrine']!= ''){
          var piastrine={
            x:data,
            y:parseFloat(risultati[i]['esame']['piastrine'])
          }
           this.series_piastrine.push(piastrine);
        }

      }
      }

    return true;
  },
  },
}
</script>
