<template>
    <CRow>
        <CCol sm="12">
            <div id="chart">
                <apexchart type="area" height="350"  ref="chart" :options="chartOptions" :series="series"></apexchart>
            </div>
        </CCol>
    </CRow>
</template>

<script>
import apexchart from 'vue-apexcharts'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import axios from 'axios'
import Form from 'vform'

export default {
    name: 'grafico_derivati_emoglobina',
    components: {
        apexchart
    },

    data(){
        return{
        series_apto: [],
        series_mio: [],
          series: [],
          chartOptions: {
            chart: {
                locales: [{
                  "name": "it",
                  "options": {
                    "shortMonths": ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"],
                  }
                }],
              defaultLocale:'it',
              type: 'area',
              stacked: false,
              height: 350,
              zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
              },
              toolbar: {
                autoSelected: 'zoom'
              }
            },
            dataLabels: {
              enabled: false
            },
            markers: {
              size: 0,
            },
            title: {
              text: 'Trend',
              align: 'left'
            },
            fill: {
              type: 'gradient',
              gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
              },
            },
            xaxis: {
              type: 'datetime',
            },
            yaxis: {
               type: 'decimal',
                labels: {
                  show: true,
                }
              },
          },

        }
    },

/*
  METODI
*/
  methods: {

/*
  IMPOSTA DATI TECNICI VAD
*/
  setDati(risultati){


    if(this.series_apto.length>0 || this.series_mio.length > 0 ){
      return;
    }

    this.series_apto=[];
    this.series_mio=[];
    

    this.$refs.chart.appendSeries ({
        name:'Apto',
        data:this.series_apto
    })

    this.$refs.chart.appendSeries ({
        name:'Mio',
        data:this.series_mio
    })


    for(var i=0;i<risultati.length;i++){

        if(risultati[i]['caricamento']=='manuale'){
            var d = new Date(risultati[i]['data']);
            var data=(d.getMonth()+1)+'-'+d.getDate()+'-'+d.getFullYear();


          if(risultati[i]['esame']['aptoglobina']!= null && risultati[i]['esame']['aptoglobina']!= ''){
            var apto={
              x:data,
              y:parseFloat(risultati[i]['esame']['aptoglobina'])
            }

            this.series_apto.push(apto);
          }


        if(risultati[i]['esame']['mioglobina']!= null && risultati[i]['esame']['mioglobina']!= ''){
          var mioglobina={
            x:data,
            y:parseFloat(risultati[i]['esame']['mioglobina'])
          }
           this.series_mio.push(mioglobina);
        }
      }
      }

    return true;
  },
  },
}
</script>
