<template>
  <CRow>
    <CCol sm="12">
      <div id="chart">
        <apexchart type="area" height="350"  ref="chart" :options="chartOptions" :series="series"></apexchart>
      </div>
    </CCol>
  </CRow>
</template>

<script>
import apexchart from 'vue-apexcharts'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import axios from 'axios'
import Form from 'vform'

export default {
  name: 'grafico_dati_clinici',
  components: {
    apexchart
  },

  data() {
    return {

      series_pa_max: [],
      series_pa_min: [],
      series_fc: [],
      series_saturazione_arteriosa: [],
      series_peso: [],

      series: [],
      chartOptions: {
        chart: {
          locales: [{
            "name": "it",
            "options": {
              "shortMonths": ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"],
            }
          }],
          defaultLocale: 'it',
          type: 'area',
          stacked: false,
          height: 350,
          zoom: {
            type: 'x',
            enabled: true,
            autoScaleYaxis: true
          },
          toolbar: {
            autoSelected: 'zoom'
          }
        },
        dataLabels: {
          enabled: false
        },
        markers: {
          size: 0,
        },
        title: {
          text: 'Trend',
          align: 'left'
        },
        fill: {
          type: 'gradient',
          gradient: {
            shadeIntensity: 1,
            inverseColors: false,
            opacityFrom: 0.5,
            opacityTo: 0,
            stops: [0, 90, 100]
          },
        },
        xaxis: {
          type: 'datetime',
        },
        yaxis: {
          type: 'decimal',
          labels: {
            show: true,
          }
        },
      },

    }
  },

  /*
    METODI
  */
  methods: {

    /*
      IMPOSTA DATI COAGULAZIONE
    */
    setDati(risultati) {


      if(this.series_pa_max.length>0
        || this.series_pa_min.length>0
        || this.series_fc.length > 0
        || this.series_saturazione_arteriosa.length > 0
        || this.series_peso.length > 0){
        return;
      }

      this.series_pa_max = [];
      this.series_pa_min = [];
      this.series_fc = [];
      this.series_saturazione_arteriosa = [];
      this.series_peso = [];

      this.$refs.chart.appendSeries({
        name: 'PA Max',
        data: this.series_pa_max
      })

      this.$refs.chart.appendSeries({
        name: 'PA Min',
        data: this.series_pa_min
      })

      this.$refs.chart.appendSeries({
        name: 'FC',
        data: this.series_fc
      })

      this.$refs.chart.appendSeries({
        name: 'SAPO2',
        data: this.series_saturazione_arteriosa
      })

      this.$refs.chart.appendSeries({
        name: 'Peso',
        data: this.series_peso
      })


      for (var i = 0; i < risultati.length; i++) {

        var d = new Date(risultati[i]['data']);
        var data = (d.getMonth() + 1) + '-' + d.getDate() + '-' + d.getFullYear();

        if (risultati[i]['dati_clinici']['pa_max'] != null && risultati[i]['dati_clinici']['pa_max'] != '') {

          var pa_max = {
            x: data,
            y: parseFloat(risultati[i]['dati_clinici']['pa_max'])
          }

          this.series_pa_max.push(pa_max);

        }

        if (risultati[i]['dati_clinici']['pa_min'] != null && risultati[i]['dati_clinici']['pa_min'] != '') {

          var pa_min = {
            x: data,
            y: parseFloat(risultati[i]['dati_clinici']['pa_min'])
          }

          this.series_pa_min.push(pa_min);

        }

        if (risultati[i]['dati_clinici']['fc'] != null && risultati[i]['dati_clinici']['fc'] != '') {

          var fc = {
            x: data,
            y: parseFloat(risultati[i]['dati_clinici']['fc'])
          }

          this.series_fc.push(fc);

        }

        if (risultati[i]['dati_clinici']['saturazione_arteriosa'] != null && risultati[i]['dati_clinici']['saturazione_arteriosa'] != '') {

          var saturazione_arteriosa = {
            x: data,
            y: parseFloat(risultati[i]['dati_clinici']['saturazione_arteriosa'])
          }

          this.series_saturazione_arteriosa.push(saturazione_arteriosa);

        }

        if (risultati[i]['dati_clinici']['saturazione_arteriosa'] != null && risultati[i]['dati_clinici']['saturazione_arteriosa'] != '') {

          var saturazione_arteriosa = {
            x: data,
            y: parseFloat(risultati[i]['dati_clinici']['saturazione_arteriosa'])
          }

          this.series_saturazione_arteriosa.push(saturazione_arteriosa);

        }

        if (risultati[i]['dati_clinici']['peso'] != null && risultati[i]['dati_clinici']['peso'] != '') {

          var peso = {
            x: data,
            y: parseFloat(risultati[i]['dati_clinici']['peso'])
          }

          this.series_peso.push(peso)

        }

      }

      return true;
    },
  }
}
</script>
