<template>
    <CRow>
        <CCol sm="12">
            <div id="chart">
                <apexchart type="area" height="350"  ref="chart" :options="chartOptions" :series="series"></apexchart>
            </div>
        </CCol>
    </CRow>
</template>

<script>
import apexchart from 'vue-apexcharts'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import axios from 'axios'
import Form from 'vform'

export default {
    name: 'grafico_emogas_venoso',
    components: {
        apexchart
    },

    data(){
        return{
          series_ph: [],
          series_be: [],
          series_pvo2: [],
          series_hco3: [],
          series_lattati: [],
          series: [],
          chartOptions: {
            chart: {
                locales: [{
                  "name": "it",
                  "options": {
                    "shortMonths": ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"],
                  }
                }],
              defaultLocale:'it',
              type: 'area',
              stacked: false,
              height: 350,
              zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
              },
              toolbar: {
                autoSelected: 'zoom'
              }
            },
            dataLabels: {
              enabled: false
            },
            markers: {
              size: 0,
            },
            title: {
              text: 'Trend',
              align: 'left'
            },
            fill: {
              type: 'gradient',
              gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
              },
            },
            xaxis: {
              type: 'datetime',
            },
            yaxis: {
               type: 'decimal',
                labels: {
                  show: true,
                }
              },
          },

        }
    },

/*
  METODI
*/
  methods: {

/*
  IMPOSTA DATI TECNICI VAD
*/
  setDati(risultati){

    if(this.series_ph.length > 0 || 
       this.series_be.length > 0 || 
       this.series_pvo2.length > 0 || 
       this.series_hco3.length > 0 || 
       this.series_lattati.length > 0){

        return;
    }

    this.series_ph = [];
    this.series_be = [];
    this.series_pvo2 = [];
    this.series_hco3 = [];
    this.series_lattati = [];

      this.$refs.chart.appendSeries ({
          name:'PH',
          data:this.series_ph
      })

      this.$refs.chart.appendSeries ({
          name:'be',
          data:this.series_be
      })


      this.$refs.chart.appendSeries ({
          name:'pvo2',
          data:this.series_pvo2
      })

      this.$refs.chart.appendSeries ({
          name:'hco3',
          data:this.series_hco3
      })

      this.$refs.chart.appendSeries ({
          name:'lattati',
          data:this.series_lattati
      })


    for(var i=0;i<risultati.length;i++){

        if(risultati[i]['caricamento']=='manuale'){
            var d = new Date(risultati[i]['data']);
            var data=(d.getMonth()+1)+'-'+d.getDate()+'-'+d.getFullYear();


          if(risultati[i]['esame']['ph']!= null && risultati[i]['esame']['ph']!= ''){
            var ph={
              x:data,
              y:parseFloat(risultati[i]['esame']['ph'])
            }

            this.series_ph.push(ph);
          }


        if(risultati[i]['esame']['be']!= null && risultati[i]['esame']['be']!= ''){
          var be={
            x:data,
            y:parseFloat(risultati[i]['esame']['be'])
          }
           this.series_be.push(be)
        }

        if(risultati[i]['esame']['pvo2']!= null && risultati[i]['esame']['pvo2']!= ''){
          var pvo2={
            x:data,
            y:parseFloat(risultati[i]['esame']['pvo2'])
          }
           this.series_pvo2.push(pvo2)
        }

        if(risultati[i]['esame']['hco3']!= null && risultati[i]['esame']['hco3']!= ''){
          var hco3={
            x:data,
            y:parseFloat(risultati[i]['esame']['hco3'])
          }
           this.series_hco3.push(hco3)
        }


        if(risultati[i]['esame']['lattati']!= null && risultati[i]['esame']['lattati']!= ''){
          var lattati={
            x:data,
            y:parseFloat(risultati[i]['esame']['lattati'])
          }
           this.series_lattati.push(lattati)
        }

      }

      }

    return true;
  },
  },
}
</script>
