<template>
    <CRow>
        <CCol sm="12">
            <div id="chart">
                <apexchart type="area" height="350"  ref="chart" :options="chartOptions" :series="series"></apexchart>
            </div>
        </CCol>
    </CRow>
</template>

<script>
import apexchart from 'vue-apexcharts'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import axios from 'axios'
import Form from 'vform'

export default {
    name: 'grafico_metabolico',
    components: {
        apexchart
    },

    data(){
        return{
          series_glicemia: [],
          series_sodio: [],
          series_potassio: [],
          series_calcio: [],
          series_fosforo: [],
          series_biltot: [],
          series_colesterolotot: [],
          series_ldh: [],
          series_trigliceridi: [],
          series: [],
          chartOptions: {
            chart: {
                locales: [{
                  "name": "it",
                  "options": {
                    "shortMonths": ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"],
                  }
                }],
              defaultLocale:'it',
              type: 'area',
              stacked: false,
              height: 350,
              zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
              },
              toolbar: {
                autoSelected: 'zoom'
              }
            },
            dataLabels: {
              enabled: false
            },
            markers: {
              size: 0,
            },
            title: {
              text: 'Trend',
              align: 'left'
            },
            fill: {
              type: 'gradient',
              gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
              },
            },
            xaxis: {
              type: 'datetime',
            },
            yaxis: {
               type: 'decimal',
                labels: {
                  show: true,
                }
              },
          },

        }
    },

/*
  METODI
*/
  methods: {

/*
  IMPOSTA DATI TECNICI VAD
*/
  setDati(risultati){

    if(this.series_glicemia.length > 0 ||
       this.series_sodio.length > 0 ||
       this.series_potassio.length > 0 ||
       this.series_calcio.length > 0 ||
       this.series_fosforo.length > 0 ||
       this.series_biltot.length > 0 ||
       this.series_colesterolotot.length > 0 ||
       this.series_ldh.length > 0 ||
       this.series_trigliceridi.length > 0){
         return;
       }

    this.series_glicemia = [];
    this.series_sodio = [];
    this.series_potassio = [];
    this.series_calcio = [];
    this.series_fosforo = [];
    this.series_biltot = [];
    this.series_colesterolotot = [];
    this.series_ldh = [];
    this.series_trigliceridi = [];


         this.$refs.chart.appendSeries ({
            name:'Glicemia',
            data:this.series_glicemia
        })

        this.$refs.chart.appendSeries ({
            name:'Sodio',
            data:this.series_sodio
        })

        this.$refs.chart.appendSeries ({
            name:'Potassio',
            data:this.series_potassio
        })

        this.$refs.chart.appendSeries ({
            name:'Calcio',
            data:this.series_calcio
        })

        this.$refs.chart.appendSeries ({
            name:'Fosforo',
            data:this.series_fosforo
        })

        this.$refs.chart.appendSeries ({
            name:'BIL TOT.',
            data:this.series_biltot
        })

        this.$refs.chart.appendSeries ({
            name:'Colesterolo TOT',
            data:this.series_colesterolotot
        })

        this.$refs.chart.appendSeries ({
            name:'LDH',
            data:this.series_ldh
        })

        this.$refs.chart.appendSeries ({
            name:'Trigliceridi',
            data:this.series_trigliceridi
        })



    for(var i=0;i<risultati.length;i++){

        if(risultati[i]['caricamento']=='manuale'){
            var d = new Date(risultati[i]['data']);
            var data=(d.getMonth()+1)+'-'+d.getDate()+'-'+d.getFullYear();


          if(risultati[i]['esame']['glicemia']!= null && risultati[i]['esame']['glicemia']!= ''){
            var glicemia={
              x:data,
              y:parseFloat(risultati[i]['esame']['glicemia'])
            }

            this.series_glicemia.push(glicemia);
          }


        if(risultati[i]['esame']['sodio']!= null && risultati[i]['esame']['sodio']!= ''){
            var sodio={
              x:data,
              y:parseFloat(risultati[i]['esame']['sodio'])
            }

            this.series_sodio.push(sodio);
          }


        if(risultati[i]['esame']['potassio']!= null && risultati[i]['esame']['potassio']!= ''){
          var potassio={
            x:data,
            y:parseFloat(risultati[i]['esame']['potassio'])
          }
           this.series_potassio.push(potassio)
        }


        if(risultati[i]['esame']['calcio']!= null && risultati[i]['esame']['calcio']!= ''){
          var calcio={
            x:data,
            y:parseFloat(risultati[i]['esame']['calcio'])
          }
           this.series_calcio.push(calcio)
        }


        if(risultati[i]['esame']['fosforo']!= null && risultati[i]['esame']['fosforo']!= ''){
          var fosforo={
            x:data,
            y:parseFloat(risultati[i]['esame']['fosforo'])
          }
           this.series_fosforo.push(fosforo)
        }

        if(risultati[i]['esame']['biltot']!= null && risultati[i]['esame']['biltot']!= ''){
          var biltot={
            x:data,
            y:parseFloat(risultati[i]['esame']['biltot'])
          }
           this.series_biltot.push(biltot)
        }


        if(risultati[i]['esame']['coltot']!= null && risultati[i]['esame']['coltot']!= ''){
          var coltot={
            x:data,
            y:parseFloat(risultati[i]['esame']['coltot'])
          }
           this.series_coltot.push(coltot)
        }

        if(risultati[i]['esame']['ldh']!= null && risultati[i]['esame']['ldh']!= ''){
          var ldh={
            x:data,
            y:parseFloat(risultati[i]['esame']['ldh'])
          }
           this.series_ldh.push(ldh)
        }


        if(risultati[i]['esame']['trigliceridi']!= null && risultati[i]['esame']['trigliceridi']!= ''){
          var trigliceridi={
            x:data,
            y:parseFloat(risultati[i]['esame']['trigliceridi'])
          }
           this.series_trigliceridi.push(trigliceridi)
        }

      }
      }

    return true;
  },
  },
}
</script>
