<template>
    <CRow>
        <CCol sm="12">
            <div id="chart">
                <apexchart type="area" height="350"  ref="chart" :options="chartOptions" :series="series"></apexchart>
            </div>
        </CCol>
    </CRow>
</template>

<script>
import apexchart from 'vue-apexcharts'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import axios from 'axios'
import Form from 'vform'

export default {
    name: 'grafico_funzione_tiroidea',
    components: {
        apexchart
    },

    data(){
        return{
          series: [{
            name:'',
            data:[
              ]
            }
          ],
          chartOptions: {
            chart: {
                locales: [{
                  "name": "it",
                  "options": {
                    "shortMonths": ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"],
                  }
                }],
              defaultLocale:'it',
              type: 'area',
              stacked: false,
              height: 350,
              zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
              },
              toolbar: {
                autoSelected: 'zoom'
              }
            },
            dataLabels: {
              enabled: false
            },
            markers: {
              size: 0,
            },
            title: {
              text: 'Trend',
              align: 'left'
            },
            fill: {
              type: 'gradient',
              gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
              },
            },
            xaxis: {
              type: 'datetime',
            },
            yaxis: {
               type: 'decimal',
                labels: {
                  show: true,
                }
              },
          },

        }
    },

/*
  METODI
*/
  methods: {

/*
  IMPOSTA DATI TECNICI VAD
*/
  setDati(risultati){
    var series_fcmax = [];
    var series_media = [];
    var series_min = [];
    var series_bev = [];
    var series_besv = [];

   this.$refs.chart.resetSeries();

    for(var i=0;i<risultati.length;i++){

        if(risultati[i]['caricamento']=='manuale'){
            var d = new Date(risultati[i]['data']);
            var data=(d.getMonth()+1)+'-'+d.getDate()+'-'+d.getFullYear();


          if(risultati[i]['esame']['fcmax']!= null && risultati[i]['esame']['fcmax']!= ''){
            var fcmax={
              x:data,
              y:parseFloat(risultati[i]['esame']['fcmax'])
            }

            series_fcmax.push(fcmax);
          }


        if(risultati[i]['esame']['media']!= null && risultati[i]['esame']['media']!= ''){
            var media={
              x:data,
              y:parseFloat(risultati[i]['esame']['media'])
            }

            series_media.push(media);
          }


        if(risultati[i]['esame']['min']!= null && risultati[i]['esame']['min']!= ''){
          var min={
            x:data,
            y:parseFloat(risultati[i]['esame']['min'])
          }
           series_min.push(min)
        }

         if(risultati[i]['esame']['bev']!= null && risultati[i]['esame']['bev']!= ''){
          var bev={
            x:data,
            y:parseFloat(risultati[i]['esame']['bev'])
          }
           series_bev.push(bev)
        }

        if(risultati[i]['esame']['besv']!= null && risultati[i]['esame']['besv']!= ''){
          var bev={
            x:data,
            y:parseFloat(risultati[i]['esame']['besv'])
          }
           series_besv.push(besv)
        }

      }
      }

        this.$refs.chart.appendSeries ({
            name:'FC MAX',
            data:series_fcmax
        })

        this.$refs.chart.appendSeries ({
            name:'Media',
            data:series_media
        })

        this.$refs.chart.appendSeries ({
            name:'Min',
            data:series_min
        })

        this.$refs.chart.appendSeries ({
            name:'BEV',
            data:series_bev
        })

        this.$refs.chart.appendSeries ({
            name:'BESV',
            data:series_besv
        })

    return true;
  },
  },
}
</script>
