<template>
    <CRow>
        <CCol sm="12">
            <div id="chart">
                <apexchart type="area" height="350"  ref="chart" :options="chartOptions" :series="series"></apexchart>
            </div>
        </CCol>
    </CRow>
</template>

<script>
import apexchart from 'vue-apexcharts'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import axios from 'axios'
import Form from 'vform'

export default {
    name: 'grafico_ecg',
    components: {
        apexchart
    },

    data(){
        return{
          series: [{
            name:'',
            data:[
              ]
            }
          ],
          chartOptions: {
            chart: {
                locales: [{
                  "name": "it",
                  "options": {
                    "shortMonths": ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"],
                  }
                }],
              defaultLocale:'it',
              type: 'area',
              stacked: false,
              height: 350,
              zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
              },
              toolbar: {
                autoSelected: 'zoom'
              }
            },
            dataLabels: {
              enabled: false
            },
            markers: {
              size: 0,
            },
            title: {
              text: 'Trend',
              align: 'left'
            },
            fill: {
              type: 'gradient',
              gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
              },
            },
            xaxis: {
              type: 'datetime',
            },
            yaxis: {
               type: 'decimal',
                labels: {
                  show: true,
                }
              },
          },

        }
    },

/*
  METODI
*/
  methods: {

/*
  IMPOSTA DATI ECG
*/
  setDati(risultati){
    var series_fc=[];
    var series_pq=[];
this.$refs.chart.resetSeries();

    for(var i=0;i<risultati.length;i++){

        if(risultati[i]['caricamento']=='manuale'){
            var d = new Date(risultati[i]['data']);
            var data=(d.getMonth()+1)+'-'+d.getDate()+'-'+d.getFullYear();

          if(risultati[i]['esame']['fc_ecg']!= null && risultati[i]['esame']['fc_ecg']!= ''){
            var fc_ecg={
              x:data,
              y:parseFloat(risultati[i]['esame']['fc_ecg'])
            }
          }
            var pq_ecg={
              x:data,
              y:parseFloat(risultati[i]['esame']['pq_ecg'])
            }
            series_fc.push(fc_ecg);
            series_pq.push(pq_ecg);
          }
      }
        this.$refs.chart.appendSeries ({
            name:'FC',
            data:series_fc
            })

        this.$refs.chart.appendSeries ({
            name:'PQ',
            data:series_pq
            })

    return true;
  },
  },
}
</script>
