<template>
    <CRow>
        <CCol sm="12">
            <div id="chart">
                <apexchart type="area" height="350"  ref="chart" :options="chartOptions" :series="series"></apexchart>
            </div>
        </CCol>
    </CRow>
</template>

<script>
import apexchart from 'vue-apexcharts'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import axios from 'axios'
import Form from 'vform'

export default {
    name: 'grafico_funzione_tiroidea',
    components: {
        apexchart
    },

    data(){
        return{
          series_tsh: [],
          series_ft3: [],
          series_ft4: [],
          series: [],
          chartOptions: {
            chart: {
                locales: [{
                  "name": "it",
                  "options": {
                    "shortMonths": ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"],
                  }
                }],
              defaultLocale:'it',
              type: 'area',
              stacked: false,
              height: 350,
              zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
              },
              toolbar: {
                autoSelected: 'zoom'
              }
            },
            dataLabels: {
              enabled: false
            },
            markers: {
              size: 0,
            },
            title: {
              text: 'Trend',
              align: 'left'
            },
            fill: {
              type: 'gradient',
              gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
              },
            },
            xaxis: {
              type: 'datetime',
            },
            yaxis: {
               type: 'decimal',
                labels: {
                  show: true,
                }
              },
          },

        }
    },

/*
  METODI
*/
  methods: {

/*
  IMPOSTA DATI TECNICI VAD
*/
  setDati(risultati){


      if(this.series_tsh.length > 0 || 
        this.series_ft3.length > 0 ||
        this.series_ft4.length > 0 ){
          return;
        }

        this.series_tsh = [];
        this.series_ft3 = [];
        this.series_ft4 = [];

        this.$refs.chart.appendSeries ({
            name:'TSH',
            data:this.series_tsh
        })

        this.$refs.chart.appendSeries ({
            name:'FT3',
            data:this.series_ft3
        })


        this.$refs.chart.appendSeries ({
            name:'FT4',
            data:this.series_ft4
        })


    for(var i=0;i<risultati.length;i++){

        if(risultati[i]['caricamento']=='manuale'){
            var d = new Date(risultati[i]['data']);
            var data=(d.getMonth()+1)+'-'+d.getDate()+'-'+d.getFullYear();


          if(risultati[i]['esame']['tsh']!= null && risultati[i]['esame']['tsh']!= ''){
            var tsh={
              x:data,
              y:parseFloat(risultati[i]['esame']['tsh'])
            }

            this.series_tsh.push(tsh);
          }


        if(risultati[i]['esame']['ft3']!= null && risultati[i]['esame']['ft3']!= ''){
            var ft3={
              x:data,
              y:parseFloat(risultati[i]['esame']['ft3'])
            }

            this.series_ft3.push(ft3);
          }


        if(risultati[i]['esame']['ft4']!= null && risultati[i]['esame']['ft4']!= ''){
          var ft4={
            x:data,
            y:parseFloat(risultati[i]['esame']['ft4'])
          }
           this.series_ft4.push(ft4)
        }
      }
      }

    return true;
  },
  },
}
</script>
