<template>
    <CRow>
        <CCol sm="12">
            <div id="chart">
                <apexchart type="area" height="350"  ref="chart" :options="chartOptions" :series="series"></apexchart>
            </div>
        </CCol>
    </CRow>
</template>

<script>
import apexchart from 'vue-apexcharts'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import axios from 'axios'
import Form from 'vform'

export default {
    name: 'grafico_markers_scompenso',
    components: {
        apexchart
    },

    data(){
        return{
          series_ntprobnp: [],
          series_bnp: [],
          series_st2: [],
          series_impedenza: [],
          series: [],
          chartOptions: {
            chart: {
                locales: [{
                  "name": "it",
                  "options": {
                    "shortMonths": ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"],
                  }
                }],
              defaultLocale:'it',
              type: 'area',
              stacked: false,
              height: 350,
              zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
              },
              toolbar: {
                autoSelected: 'zoom'
              }
            },
            dataLabels: {
              enabled: false
            },
            markers: {
              size: 0,
            },
            title: {
              text: 'Trend',
              align: 'left'
            },
            fill: {
              type: 'gradient',
              gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
              },
            },
            xaxis: {
              type: 'datetime',
            },
            yaxis: {
               type: 'decimal',
                labels: {
                  show: true,
                }
              },
          },

        }
    },

/*
  METODI
*/
  methods: {

/*
  IMPOSTA DATI TECNICI VAD
*/
  setDati(risultati){

        if(this.series_ntprobnp.length > 0 ||
          this.series_bnp.length > 0 ||
          this.series_st2.length > 0 ||
          this.series_impedenza.length > 0){
            return;
          }

        this.series_ntprobnp = [];
        this.series_bnp = [];
        this.series_st2 = [];
        this.series_impedenza = [];
  
         this.$refs.chart.appendSeries ({
            name:'NT Pro BNP',
            data:this.series_ntprobnp
        })

        this.$refs.chart.appendSeries ({
            name:'BNP',
            data:this.series_bnp
        })

        this.$refs.chart.appendSeries ({
            name:'ST2',
            data:this.series_st2
        })

        this.$refs.chart.appendSeries ({
            name:'Impedenza',
            data:this.series_impedenza
        })

    for(var i=0;i<risultati.length;i++){

        if(risultati[i]['caricamento']=='manuale'){
            var d = new Date(risultati[i]['data']);
            var data=(d.getMonth()+1)+'-'+d.getDate()+'-'+d.getFullYear();


          if(risultati[i]['esame']['bnpproingresso']!= null && risultati[i]['esame']['bnpproingresso']!= ''){
            var ntprobnp={
              x:data,
              y:parseFloat(risultati[i]['esame']['bnpproingresso'])
            }

            this.series_ntprobnp.push(ntprobnp);
          }


        if(risultati[i]['esame']['bnpingresso']!= null && risultati[i]['esame']['bnpingresso']!= ''){
            var bnpingresso={
              x:data,
              y:parseFloat(risultati[i]['esame']['bnpingresso'])
            }

            this.series_bnp.push(bnpingresso);
          }


        if(risultati[i]['esame']['st2']!= null && risultati[i]['esame']['st2']!= ''){
          var st2={
            x:data,
            y:parseFloat(risultati[i]['esame']['st2'])
          }
           this.series_st2.push(st2)
        }


        if(risultati[i]['esame']['impedenza']!= null && risultati[i]['esame']['impedenza']!= ''){
          var impedenza={
            x:data,
            y:parseFloat(risultati[i]['esame']['impedenza'])
          }
           this.series_impedenza.push(impedenza)
        }

      }
      }

    return true;
  },
  },
}
</script>
