<template>
    <CRow>
        <CCol sm="12">
            <div id="chart">
                <apexchart type="area" height="350"  ref="chart" :options="chartOptions" :series="series"></apexchart>
            </div>
        </CCol>
    </CRow>
</template>

<script>
import apexchart from 'vue-apexcharts'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import axios from 'axios'
import Form from 'vform'

export default {
    name: 'grafico_funzione_renale',
    components: {
        apexchart
    },

    data(){
        return{
          series_azotemia: [],
          series_creatinina: [],
          series_uricemia: [],
          series_cockroft: [],
          series_epi: [],
          series: [],
          chartOptions: {
            chart: {
                locales: [{
                  "name": "it",
                  "options": {
                    "shortMonths": ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"],
                  }
                }],
              defaultLocale:'it',
              type: 'area',
              stacked: false,
              height: 350,
              zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
              },
              toolbar: {
                autoSelected: 'zoom'
              }
            },
            dataLabels: {
              enabled: false
            },
            markers: {
              size: 0,
            },
            title: {
              text: 'Trend',
              align: 'left'
            },
            fill: {
              type: 'gradient',
              gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
              },
            },
            xaxis: {
              type: 'datetime',
            },
            yaxis: {
               type: 'decimal',
                labels: {
                  show: true,
                }
              },
          },

        }
    },

/*
  METODI
*/
  methods: {

/*
  IMPOSTA DATI TECNICI VAD
*/
  setDati(risultati){ 

    if(this.series_azotemia.length > 0 ||
       this.series_creatinina.length > 0 ||
       this.series_uricemia.length > 0 ||
       this.series_cockroft.length > 0 ||
       this.series_epi.length > 0 ){
         return;
       }

    this.series_azotemia = [];
    this.series_creatinina = [];
    this.series_uricemia = [];
    this.series_cockroft = [];
    this.series_epi = [];


        this.$refs.chart.appendSeries ({
            name:'azotemia',
            data:this.series_azotemia
        })

        this.$refs.chart.appendSeries ({
            name:'creatinia',
            data:this.series_creatinina
        })


        this.$refs.chart.appendSeries ({
            name:'uricemia',
            data:this.series_uricemia
        })

        this.$refs.chart.appendSeries ({
            name:'cockroft',
            data:this.series_cockroft
        })


        this.$refs.chart.appendSeries ({
            name:'epi',
            data:this.series_epi
        })

  
    for(var i=0;i<risultati.length;i++){

        if(risultati[i]['caricamento']=='manuale'){
            var d = new Date(risultati[i]['data']);
            var data=(d.getMonth()+1)+'-'+d.getDate()+'-'+d.getFullYear();


          if(risultati[i]['esame']['azotemia']!= null && risultati[i]['esame']['azotemia']!= ''){
            var azotemia={
              x:data,
              y:parseFloat(risultati[i]['esame']['azotemia'])
            }

            this.series_azotemia.push(azotemia);
          }


        if(risultati[i]['esame']['creatinina']!= null && risultati[i]['esame']['creatinina']!= ''){
            var creatinina={
              x:data,
              y:parseFloat(risultati[i]['esame']['creatinina'])
            }

            this.series_creatinina.push(creatinina);
          }


        if(risultati[i]['esame']['uricemia']!= null && risultati[i]['esame']['uricemia']!= ''){
          var uricemia={
            x:data,
            y:parseFloat(risultati[i]['esame']['uricemia'])
          }
           this.series_uricemia.push(uricemia)
        }


        if(risultati[i]['esame']['cockroft']!= null && risultati[i]['esame']['cockroft']!= ''){
          var cockroft={
            x:data,
            y:parseFloat(risultati[i]['esame']['cockroft'])
          }
           this.series_cockroft.push(cockroft);
        }

          if(risultati[i]['esame']['epi']!= null && risultati[i]['esame']['epi']!= ''){
          var epi={
            x:data,
            y:parseFloat(risultati[i]['esame']['epi'])
          }
           this.series_epi.push(epi);
        }

      }
      }

    return true;
  },
  },
}
</script>
