<template>
    <CRow>
        <CCol sm="12">
            <div id="chart">
                <apexchart type="area" height="350"  ref="chart" :options="chartOptions" :series="series"></apexchart>
            </div>
        </CCol>
    </CRow>
</template>

<script>
import apexchart from 'vue-apexcharts'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import axios from 'axios'
import Form from 'vform'

export default {
    name: 'grafico_protidogramma',
    components: {
        apexchart
    },

    data(){
        return{
          series_proteinetot: [],
          series_alfa1: [],
          series_alfa2: [],
          series_gamma: [],
          series_gammamonoclonale: [],
          series: [],
          chartOptions: {
            chart: {
                locales: [{
                  "name": "it",
                  "options": {
                    "shortMonths": ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"],
                  }
                }],
              defaultLocale:'it',
              type: 'area',
              stacked: false,
              height: 350,
              zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
              },
              toolbar: {
                autoSelected: 'zoom'
              }
            },
            dataLabels: {
              enabled: false
            },
            markers: {
              size: 0,
            },
            title: {
              text: 'Trend',
              align: 'left'
            },
            fill: {
              type: 'gradient',
              gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
              },
            },
            xaxis: {
              type: 'datetime',
            },
            yaxis: {
               type: 'decimal',
                labels: {
                  show: true,
                }
              },
          },

        }
    },

/*
  METODI
*/
  methods: {

/*
  IMPOSTA DATI TECNICI VAD
*/
  setDati(risultati){

    if(this.series_proteinetot.length > 0 ||
       this.series_alfa1.length > 0 || 
       this.series_alfa2.length > 0 ||
       this.series_gamma.length > 0 ||
       this.series_gammamonoclonale.length > 0){
         return;
       }

      this.series_proteinetot = [];
      this.series_alfa1 = [];
      this.series_alfa2 = [];
      this.series_gamma = [];
      this.series_gammamonoclonale = [];

        this.$refs.chart.appendSeries ({
            name:'Proteina TOT',
            data:this.series_proteinetot
        })

        this.$refs.chart.appendSeries ({
            name:'alfa1',
            data:this.series_alfa1
        })

        this.$refs.chart.appendSeries ({
            name:'alfa2',
            data:this.series_alfa2
        })

        this.$refs.chart.appendSeries ({
            name:'gamma',
            data:this.series_gamma
        })

        this.$refs.chart.appendSeries ({
            name:'gamma monoclonale',
            data:this.series_gammamonoclonale
        })


    for(var i=0;i<risultati.length;i++){

        if(risultati[i]['caricamento']=='manuale'){
            var d = new Date(risultati[i]['data']);
            var data=(d.getMonth()+1)+'-'+d.getDate()+'-'+d.getFullYear();


          if(risultati[i]['esame']['proteinetot']!= null && risultati[i]['esame']['proteinetot']!= ''){
            var proteinetot={
              x:data,
              y:parseFloat(risultati[i]['esame']['proteinetot'])
            }

            this.series_proteinetot.push(proteinetot);
          }


        if(risultati[i]['esame']['alfa1']!= null && risultati[i]['esame']['alfa1']!= ''){
            var alfa1={
              x:data,
              y:parseFloat(risultati[i]['esame']['alfa1'])
            }

            this.series_alfa1.push(alfa1);
          }


        if(risultati[i]['esame']['alfa2']!= null && risultati[i]['esame']['alfa2']!= ''){
          var alfa2={
            x:data,
            y:parseFloat(risultati[i]['esame']['alfa2'])
          }
           this.series_alfa2.push(alfa2)
        }


        if(risultati[i]['esame']['gamma']!= null && risultati[i]['esame']['gamma']!= ''){
          var gamma={
            x:data,
            y:parseFloat(risultati[i]['esame']['gamma'])
          }
           this.series_gamma.push(gamma)
        }


        if(risultati[i]['esame']['gammamonoclonale']!= null && risultati[i]['esame']['gammamonoclonale']!= ''){
          var gammamonoclonale={
            x:data,
            y:parseFloat(risultati[i]['esame']['gammamonoclonale'])
          }
           this.series_gammamonoclonale.push(gammamonoclonale)
        }

      }
      }

    return true;
  },
  },
}
</script>
