<template>
    <CRow>
        <CCol sm="12">
            <div id="chart">
                <apexchart type="area" height="350"  ref="chart" :options="chartOptions" :series="series"></apexchart>
            </div>
        </CCol>
    </CRow>
</template>

<script>
import apexchart from 'vue-apexcharts'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import axios from 'axios'
import Form from 'vform'

export default {
    name: 'grafico_assetto_marziale',
    components: {
        apexchart
    },

    data(){
        return{
          series: [{
            name:'',
            data:[
              ]
            }
          ],
          chartOptions: {
            chart: {
                locales: [{
                  "name": "it",
                  "options": {
                    "shortMonths": ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"],
                  }
                }],
              defaultLocale:'it',
              type: 'area',
              stacked: false,
              height: 350,
              zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
              },
              toolbar: {
                autoSelected: 'zoom'
              }
            },
            dataLabels: {
              enabled: false
            },
            markers: {
              size: 0,
            },
            title: {
              text: 'Trend',
              align: 'left'
            },
            fill: {
              type: 'gradient',
              gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
              },
            },
            xaxis: {
              type: 'datetime',
            },
            yaxis: {
               type: 'decimal',
                labels: {
                  show: true,
                }
              },
          },

        }
    },

/*
  METODI
*/
  methods: {

/*
  IMPOSTA DATI TECNICI VAD
*/
  setDati(risultati){
    var series_disfunzione_sistolica=[];
    var series_paps=[];

this.$refs.chart.resetSeries();

    for(var i=0;i<risultati.length;i++){

        if(risultati[i]['caricamento']=='manuale'){
            var d = new Date(risultati[i]['data']);
            var data=(d.getMonth()+1)+'-'+d.getDate()+'-'+d.getFullYear();


          if(risultati[i]['esame']['disfunzione_sistolica']!= null && risultati[i]['esame']['disfunzione_sistolica']!= ''){
            var disfunzione_sistolica={
              x:data,
              y:parseFloat(risultati[i]['esame']['disfunzione_sistolica'])
            }

            series_disfunzione_sistolica.push(disfunzione_sistolica);
          }


        if(risultati[i]['esame']['paps']!= null && risultati[i]['esame']['paps']!= ''){
          var paps={
            x:data,
            y:parseFloat(risultati[i]['esame']['paps'])
          }
           series_paps.push(paps);
        }
      }
      }

        this.$refs.chart.appendSeries ({
            name:'Disfunzione Sistolica',
            data:series_disfunzione_sistolica
        })

        this.$refs.chart.appendSeries ({
            name:'PAPS',
            data:series_paps
        })

    return true;
  },
  },
}
</script>
