<template>
    <CRow>
        <CCol sm="12">
            <div id="chart">
                <apexchart type="area" height="350"  ref="chart" :options="chartOptions" :series="series"></apexchart>
            </div>
        </CCol>
    </CRow>
</template>

<script>
import apexchart from 'vue-apexcharts'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import axios from 'axios'
import Form from 'vform'

export default {
    name: 'grafico_assetto_marziale',
    components: {
        apexchart
    },

    data(){
        return{
          series: [{
            name:'',
            data:[
              ]
            }
          ],
          chartOptions: {
            chart: {
                locales: [{
                  "name": "it",
                  "options": {
                    "shortMonths": ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"],
                  }
                }],
              defaultLocale:'it',
              type: 'area',
              stacked: false,
              height: 350,
              zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
              },
              toolbar: {
                autoSelected: 'zoom'
              }
            },
            dataLabels: {
              enabled: false
            },
            markers: {
              size: 0,
            },
            title: {
              text: 'Trend',
              align: 'left'
            },
            fill: {
              type: 'gradient',
              gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
              },
            },
            xaxis: {
              type: 'datetime',
            },
            yaxis: {
               type: 'decimal',
                labels: {
                  show: true,
                }
              },
          },

        }
    },

/*
  METODI
*/
  methods: {

/*
  IMPOSTA DATI TECNICI VAD
*/
  setDati(risultati){
    var series_watt=[];
    var series_rpm=[];
    var series_co = [];
    var series_pi = [];

this.$refs.chart.resetSeries();

    for(var i=0;i<risultati.length;i++){

        if(risultati[i]['caricamento']=='manuale'){
            var d = new Date(risultati[i]['data']);
            var data=(d.getMonth()+1)+'-'+d.getDate()+'-'+d.getFullYear();


          if(risultati[i]['esame']['watt']!= null && risultati[i]['esame']['watt']!= ''){
            var watt={
              x:data,
              y:parseFloat(risultati[i]['esame']['watt'])
            }

            series_watt.push(watt);
          }


        if(risultati[i]['esame']['rpm_giri_m']!= null && risultati[i]['esame']['rpm_giri_m']!= ''){
          var rpm={
            x:data,
            y:parseFloat(risultati[i]['esame']['rpm_giri_m'])
          }
           series_rpm.push(rpm);
        }

        if(risultati[i]['esame']['co']!= null && risultati[i]['esame']['co']!= ''){
          var co={
            x:data,
            y:parseFloat(risultati[i]['esame']['co'])
          }
           series_co.push(co);
        }


        if(risultati[i]['esame']['pi']!= null && risultati[i]['esame']['pi']!= ''){
          var pi={
            x:data,
            y:parseFloat(risultati[i]['esame']['pi'])
          }
           series_pi.push(pi);
        }
      }
      }

        this.$refs.chart.appendSeries ({
            name:'Watt',
            data:series_watt
        })

        this.$refs.chart.appendSeries ({
            name:'RPM',
            data:series_rpm
        })

        this.$refs.chart.appendSeries ({
            name:'CO',
            data:series_co
        })

        this.$refs.chart.appendSeries ({
            name:'PI',
            data:series_pi
        })

    return true;
  },
  },
}
</script>
