<template>
    <CRow>
        <CCol sm="12">
            <div id="chart">
                <apexchart type="area" height="350"  ref="chart" :options="chartOptions" :series="series"></apexchart>
            </div>
        </CCol>
    </CRow>
</template>

<script>
import apexchart from 'vue-apexcharts'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import axios from 'axios'
import Form from 'vform'

export default {
    name: 'grafico_sottopopolazioni_linfocitarie',
    components: {
        apexchart
    },

    data(){
        return{
          series_linfociti: [],
          series_cd4: [],
          series_cd8: [],
          series: [],
          chartOptions: {
            chart: {
                locales: [{
                  "name": "it",
                  "options": {
                    "shortMonths": ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"],
                  }
                }],
              defaultLocale:'it',
              type: 'area',
              stacked: false,
              height: 350,
              zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
              },
              toolbar: {
                autoSelected: 'zoom'
              }
            },
            dataLabels: {
              enabled: false
            },
            markers: {
              size: 0,
            },
            title: {
              text: 'Trend',
              align: 'left'
            },
            fill: {
              type: 'gradient',
              gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
              },
            },
            xaxis: {
              type: 'datetime',
            },
            yaxis: {
               type: 'decimal',
                labels: {
                  show: true,
                }
              },
          },

        }
    },

/*
  METODI
*/
  methods: {

/*
  IMPOSTA DATI TECNICI VAD
*/
  setDati(risultati){

    if(this.series_linfociti.length > 0 || 
       this.series_cd4.length > 0 || 
       this.series_cd8.length > 0){
         return;
       }

    this.series_linfociti = [];
    this.series_cd4 = [];
    this.series_cd8 = [];

        this.$refs.chart.appendSeries ({
            name:'Linfociti',
            data:this.series_linfociti
        })

        this.$refs.chart.appendSeries ({
            name:'cd4',
            data:this.series_cd4
        })

        this.$refs.chart.appendSeries ({
            name:'cd8',
            data:this.series_cd8
        })


    for(var i=0;i<risultati.length;i++){

        if(risultati[i]['caricamento']=='manuale'){
            var d = new Date(risultati[i]['data']);
            var data=(d.getMonth()+1)+'-'+d.getDate()+'-'+d.getFullYear();


          if(risultati[i]['esame']['linfociti']!= null && risultati[i]['esame']['linfociti']!= ''){
            var linfociti={
              x:data,
              y:parseFloat(risultati[i]['esame']['linfociti'])
            }

            this.series_linfociti.push(linfociti);
          }


        if(risultati[i]['esame']['cd4']!= null && risultati[i]['esame']['cd4']!= ''){
            var cd4={
              x:data,
              y:parseFloat(risultati[i]['esame']['cd4'])
            }

            this.series_cd4.push(cd4);
          }


        if(risultati[i]['esame']['cd8']!= null && risultati[i]['esame']['cd8']!= ''){
          var cd8={
            x:data,
            y:parseFloat(risultati[i]['esame']['cd8'])
          }
           this.series_cd8.push(cd8)
        }

      }
      }

    return true;
  },
  },
}
</script>
