<template>
    <CRow>
        <CCol sm="12">
            <div id="chart">
                <apexchart type="area" height="350"  ref="chart" :options="chartOptions" :series="series"></apexchart>
            </div>
        </CCol>
    </CRow>
</template>

<script>
import apexchart from 'vue-apexcharts'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import axios from 'axios'
import Form from 'vform'

export default {
    name: 'grafico_infiammazione',
    components: {
        apexchart
    },

    data(){
        return{
          series_ves: [],
          series_pcr: [],
          series_reumatest: [],
          series: [],
          chartOptions: {
            chart: {
                locales: [{
                  "name": "it",
                  "options": {
                    "shortMonths": ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"],
                  }
                }],
              defaultLocale:'it',
              type: 'area',
              stacked: false,
              height: 350,
              zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
              },
              toolbar: {
                autoSelected: 'zoom'
              }
            },
            dataLabels: {
              enabled: false
            },
            markers: {
              size: 0,
            },
            title: {
              text: 'Trend',
              align: 'left'
            },
            fill: {
              type: 'gradient',
              gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
              },
            },
            xaxis: {
              type: 'datetime',
            },
            yaxis: {
               type: 'decimal',
                labels: {
                  show: true,
                }
              },
          },

        }
    },

/*
  METODI
*/
  methods: {

/*
  IMPOSTA DATI TECNICI VAD
*/
  setDati(risultati){

    if(this.series_ves.length > 0 ||
       this.series_pcr.length > 0 ||
       this.series_reumatest > 0 ){
         return;
       }

    this.series_ves = [];
    this.series_pcr = [];
    this.series_reumatest = [];

      this.$refs.chart.appendSeries ({
            name:'VES',
            data:this.series_ves
        })

        this.$refs.chart.appendSeries ({
            name:'PCR',
            data:this.series_pcr
        })

        this.$refs.chart.appendSeries ({
            name:'Reuma test',
            data:this.series_reumatest 
        })


    for(var i=0;i<risultati.length;i++){

        if(risultati[i]['caricamento']=='manuale'){
            var d = new Date(risultati[i]['data']);
            var data=(d.getMonth()+1)+'-'+d.getDate()+'-'+d.getFullYear();


          if(risultati[i]['esame']['ves']!= null && risultati[i]['esame']['ves']!= ''){
            var ves={
              x:data,
              y:parseFloat(risultati[i]['esame']['ves'])
            }

            this.series_ves.push(ves);
          }


        if(risultati[i]['esame']['pcr']!= null && risultati[i]['esame']['pcr']!= ''){
            var pcr={
              x:data,
              y:parseFloat(risultati[i]['esame']['pcr'])
            }

            this.series_pcr.push(pcr);
          }


        if(risultati[i]['esame']['reumatest']!= null && risultati[i]['esame']['reumatest']!= ''){
          var reumatest={
            x:data,
            y:parseFloat(risultati[i]['esame']['reumatest'])
          }
           this.series_reumatest.push(reumatest)
        }

      }
      }

    return true;
  },
  },
}
</script>
