<template>
    <CRow>
        <CCol sm="12">
            <div id="chart">
                <apexchart type="area" height="350"  ref="chart" :options="chartOptions" :series="series"></apexchart>
            </div>
        </CCol>
    </CRow>
</template>

<script>
import apexchart from 'vue-apexcharts'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import axios from 'axios'
import Form from 'vform'

export default {
    name: 'grafico_enzimi',
    components: {
        apexchart
    },

    data(){
        return{
          series_tropninauno: [],
          series_troponinat: [],
          series_troponinahs: [],
          series_cpk: [],
          series_ckmb: [],
          series: [],
          chartOptions: {
            chart: {
                locales: [{
                  "name": "it",
                  "options": {
                    "shortMonths": ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"],
                  }
                }],
              defaultLocale:'it',
              type: 'area',
              stacked: false,
              height: 350,
              zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
              },
              toolbar: {
                autoSelected: 'zoom'
              }
            },
            dataLabels: {
              enabled: false
            },
            markers: {
              size: 0,
            },
            title: {
              text: 'Trend',
              align: 'left'
            },
            fill: {
              type: 'gradient',
              gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
              },
            },
            xaxis: {
              type: 'datetime',
            },
            yaxis: {
               type: 'decimal',
                labels: {
                  show: true,
                }
              },
          },

        }
    },

/*
  METODI
*/
  methods: {

/*
  IMPOSTA DATI TECNICI VAD
*/
  setDati(risultati){

    if(this.series_tropninauno.length > 0 ||
       this.series_troponinat.length > 0 ||
       this.series_troponinahs.length > 0 ||
       this.series_cpk.length > 0 || 
       this.series_ckmb.length > 0 ){
        
      return;
    }

    this.series_tropninauno =[];
    this.series_troponinat = [];
    this.series_troponinahs= [];
    this.series_cpk = [];
    this.series_ckmb = [];

       this.$refs.chart.appendSeries ({
            name:'Troponina I',
            data:this.series_tropninauno
        })

        this.$refs.chart.appendSeries ({
            name:'Troponinat',
            data:this.series_troponinat
        })


        this.$refs.chart.appendSeries ({
            name:'Troponinahs',
            data:this.series_troponinahs
        })


        this.$refs.chart.appendSeries ({
            name:'cpk',
            data:this.series_cpk
        })

        this.$refs.chart.appendSeries ({
            name:'ckmb',
            data:this.series_ckmb
        })

  
    for(var i=0;i<risultati.length;i++){

        if(risultati[i]['caricamento']=='manuale'){
            var d = new Date(risultati[i]['data']);
            var data=(d.getMonth()+1)+'-'+d.getDate()+'-'+d.getFullYear();


          if(risultati[i]['esame']['tropninauno']!= null && risultati[i]['esame']['tropninauno']!= ''){
            var tropninauno={
              x:data,
              y:parseFloat(risultati[i]['esame']['tropninauno'])
            }

            this.series_tropninauno.push(tropninauno);
          }


        if(risultati[i]['esame']['troponinat']!= null && risultati[i]['esame']['troponinat']!= ''){
          var troponinat={
            x:data,
            y:parseFloat(risultati[i]['esame']['troponinat'])
          }
           this.series_troponinat.push(troponinat);
        }



        if(risultati[i]['esame']['troponinahs']!= null && risultati[i]['esame']['troponinahs']!= ''){
          var troponinahs={
            x:data,
            y:parseFloat(risultati[i]['esame']['troponinahs'])
          }
           this.series_troponinahs.push(troponinahs);
        }

        if(risultati[i]['esame']['cpk']!= null && risultati[i]['esame']['cpk']!= ''){
          var cpk={
            x:data,
            y:parseFloat(risultati[i]['esame']['cpk'])
          }
           this.series_cpk.push(cpk);
        }

        if(risultati[i]['esame']['ckmb']!= null && risultati[i]['esame']['ckmb']!= ''){
          var ckmb={
            x:data,
            y:parseFloat(risultati[i]['esame']['ckmb'])
          }
           this.series_ckmb.push(ckmb);
        }
      }
      }

    return true;
  },
  },
}
</script>
