<template>
    <CRow>
        <CCol sm="12">
            <div id="chart">
                <apexchart type="area" height="350"  ref="chart" :options="chartOptions" :series="series"></apexchart>
            </div>
        </CCol>
    </CRow>
</template>

<script>
import apexchart from 'vue-apexcharts'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import axios from 'axios'
import Form from 'vform'

export default {
    name: 'grafico_assetto_marziale',
    components: {
        apexchart
    },

    data(){
        return{
        series_sitermia:[],
        series_ferritina:[],
        series: [],
          chartOptions: {
            chart: {
                locales: [{
                  "name": "it",
                  "options": {
                    "shortMonths": ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"],
                  }
                }],
              defaultLocale:'it',
              type: 'area',
              stacked: false,
              height: 350,
              zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
              },
              toolbar: {
                autoSelected: 'zoom'
              }
            },
            dataLabels: {
              enabled: false
            },
            markers: {
              size: 0,
            },
            title: {
              text: 'Trend',
              align: 'left'
            },
            fill: {
              type: 'gradient',
              gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
              },
            },
            xaxis: {
              type: 'datetime',
            },
            yaxis: {
               type: 'decimal',
                labels: {
                  show: true,
                }
              },
          },

        }
    },

/*
  METODI
*/
  methods: {

/*
  IMPOSTA DATI ASSETTO_MARZIALE
*/
  setDati(risultati){
      if(this.series_ferritina.length>0 || this.series_sitermia.length>0){
        return;
      }

    this.series_ferritina=[];
    this.series_sitermia=[];

    this.$refs.chart.appendSeries ({
        name:'Sitermia',
        data:this.series_sitermia
        })

    this.$refs.chart.appendSeries ({
        name:'Ferritina',
        data:this.series_ferritina
        })

    for(var i=0;i<risultati.length;i++){

        if(risultati[i]['caricamento']=='manuale'){
            var d = new Date(risultati[i]['data']);
            var data=(d.getMonth()+1)+'-'+d.getDate()+'-'+d.getFullYear();

          if(risultati[i]['esame']['sitermia']!= null && risultati[i]['esame']['sitermia']!= ''){
            var sitermia={
              x:data,
              y:parseFloat(risultati[i]['esame']['sitermia'])
            }

            this.series_sitermia.push(sitermia);
        }


        if(risultati[i]['esame']['sitermia']!= null && risultati[i]['esame']['sitermia']!= ''){
          var ferritina={
            x:data,
            y:parseFloat(risultati[i]['esame']['ferritina'])
          }
           this.series_ferritina.push(ferritina);
        }
      }
    }
    return true;
  },
  },
}
</script>
