<template>
    <CRow>
        <CCol sm="12">
            <div id="chart">
                <apexchart type="area" height="350"  ref="chart" :options="chartOptions" :series="series"></apexchart>
            </div>
        </CCol>
    </CRow>
</template>

<script>
import apexchart from 'vue-apexcharts'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import axios from 'axios'
import Form from 'vform'

export default {
    name: 'grafico_coagulazione',
    components: {
        apexchart
    },

    data(){
        return{
        series_inr:[],
        series_antitrombinatreperc:[],
        series_ddimero : [],

        series: [],
          chartOptions: {
            chart: {
                locales: [{
                  "name": "it",
                  "options": {
                    "shortMonths": ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"],
                  }
                }],
              defaultLocale:'it',
              type: 'area',
              stacked: false,
              height: 350,
              zoom: {
                type: 'x',
                enabled: true,
                autoScaleYaxis: true
              },
              toolbar: {
                autoSelected: 'zoom'
              }
            },
            dataLabels: {
              enabled: false
            },
            markers: {
              size: 0,
            },
            title: {
              text: 'Trend',
              align: 'left'
            },
            fill: {
              type: 'gradient',
              gradient: {
                shadeIntensity: 1,
                inverseColors: false,
                opacityFrom: 0.5,
                opacityTo: 0,
                stops: [0, 90, 100]
              },
            },
            xaxis: {
              type: 'datetime',
            },
            yaxis: {
               type: 'decimal',
                labels: {
                  show: true,
                }
              },
          },

        }
    },

/*
  METODI
*/
  methods: {

/*
  IMPOSTA DATI COAGULAZIONE
*/
  setDati(risultati){

      if(this.series_inr.length>0 || this.series_antitrombinatreperc.length>0 || this.series_ddimero.length>0 ){
        return;
      }

    this.series_inr=[];
    this.series_antitrombinatreperc=[];
    this.series_ddimero = [];

    this.$refs.chart.appendSeries ({
        name:'INR',
        data:this.series_inr
    })

    this.$refs.chart.appendSeries ({
        name:'Antitrombina III %',
        data:this.series_antitrombinatreperc
    })

    this.$refs.chart.appendSeries ({
        name:'d-Dimero',
        data:this.series_ddimero
    })

    for(var i=0;i<risultati.length;i++){

        if(risultati[i]['caricamento']=='manuale'){
            var d = new Date(risultati[i]['data']);
            var data=(d.getMonth()+1)+'-'+d.getDate()+'-'+d.getFullYear();

          if(risultati[i]['esame']['inr']!= null && risultati[i]['esame']['inr']!= ''){
            var inr={
              x:data,
              y:parseFloat(risultati[i]['esame']['inr'])
            }

            this.series_inr.push(inr);
          }
        if(risultati[i]['esame']['antitrombinatreperc']!= null && risultati[i]['esame']['antitrombinatreperc']!= ''){
          var antitrombinatreperc={
            x:data,
            y:parseFloat(risultati[i]['esame']['antitrombinatreperc'])
          }
          this.series_antitrombinatreperc.push(antitrombinatreperc);
        }

        if(risultati[i]['esame']['ddimero']!= null && risultati[i]['esame']['ddimero']!= ''){
          var ddimero={
            x:data,
            y:parseFloat(risultati[i]['esame']['ddimero'])
          }
           this.series_ddimero.push(ddimero);
        }
      }
      }

    return true;
  },
  },
}
</script>
