<template>
<div>
<!--SEZIONE ESAME-->
    <CRow>
      <CCol sm="12">
        <CCard>
          <CCardHeader>
            <CRow>
              <CCol sm="12">
                <CButton v-if="User.role!='paziente'" @click="mostraModal('aggiungi')" color="primary"><span><i class="fas fa-plus"></i> Aggiungi Appuntamento</span></CButton>
              </CCol>
              <CCol sm="4" class="mt-3">
                <div class="form-group">
                    <label>Data Inizio</label>
                    <input type="date" class="form-control" v-model="dataInizio" name="datainizio"/>
                </div>
              </CCol>
              <CCol sm="4" class="mt-3">
                <div class="form-group">
                    <label>Data Fine</label>
                    <input type="date" class="form-control" v-model="dataFine" name="datafine"/>
                </div>
              </CCol>
              <CCol sm="4" class="mt-3">
                <CButton color="info" class="mt-3" @click="caricaAppuntamenti()"><span><i class="fas fa-filter"></i></span> Filtra </CButton>
              </CCol>
            </CRow>
          </CCardHeader>
          <CCardBody>
    <!--SEZIONE TABELLA  MEDICI-->
          <vuetable ref="vuetable"
                :api-mode="false"
                :fields="fields"
                :per-page="perPage"
                :data-manager="dataManager"
                no-data-template="Nessun Risultato"
                pagination-path="pagination"
                :css="css.table"
                @vuetable:pagination-data="onPaginationData">
          <div slot="actions" slot-scope="props">
          <CButton  v-c-tooltip="'Apri Appuntamento'" color="primary" @click="mostraModal('modifica', props.rowData)">
            <i class="fas fa-edit"></i>
          </CButton>
          <CButton  v-c-tooltip="'Elimina Appuntamento'" color="danger" @click="apriConferma(props.rowData.idAppuntamento)">
            <i class="fas fa-trash"></i>
          </CButton>
        </div>
      </vuetable>
      <vuetable-pagination-info ref="paginationInfo" info-template="Visualizzati da {from} a {to} di {total} totali" no-data-template="Nessun Risultato"
          ></vuetable-pagination-info>
      <div style="padding-top:10px">
        <vuetable-pagination ref="pagination" :css="css.pagination" @vuetable-pagination:change-page="onChangePage" />
      </div>
 <!--FINE TABELLA MEDICI-->
          </CCardBody>
        </CCard>
      </CCol>
     </CRow>
      <CModal :title="titlemodal" color="primary" :show.sync="modalAppuntamento">
      <CRow>
        <CCol sm="6">
            <CInput type="date" v-model="formAppuntamento.dataAppuntamento" label="Data Visita" name="dataVisita"/>
        </CCol>
        <CCol sm="6">
            <CInput type="time" v-model="formAppuntamento.ora_inizio" label="Ora Visita" name="ora"/>
        </CCol>
        <CCol sm="6">
            <CInput type="time" v-model="formAppuntamento.ora_fine" label="Ora fine Visita" name="ora"/>
        </CCol>
        <CCol sm="6">
            <CTextarea label="Descrizione" v-model="formAppuntamento.descrizione" name="descirzione"></CTextarea>
        </CCol>
      </CRow>
      <template #footer>
        <CButton color="default" @click="modalAppuntamento = false">
          Chiudi
        </CButton>
        <CButton v-if="statomodal == 'aggiungi'"  @click="inserisciAppuntamento()" color="success">
          Inserisci
        </CButton>
        <CButton v-if="statomodal == 'modifica'" @click="modificaAppuntamento()" color="success">
          Aggiorna
        </CButton>
      </template>
    </CModal>

    <!-- MODAL CANCELLAZIONE -->

    <form id="formAllegato" @submit.prevent="caricaAllegato()">
    <CModal
      title="Carica Allegato"
      color="info"
      :show.sync="modalConferma">

      <template #footer>
        <CButton color="default" @click="modalConferma = false">
          Chiudi
        </CButton>
        <CButton color="info" @click="cancellaAppuntamento()">
          Conferma
        </CButton>
      </template>
    </CModal>
    </form>

    <!-- MODAL CANCELLAZIONE -->
    <CModal
      title="Conferma Cancellazione"
      color="danger"
      :show.sync="modalConferma">
      Sei sicuro?
      <template #footer>
        <CButton color="default" @click="modalConferma = false">
          Chiudi
        </CButton>
        <CButton color="danger" @click="cancellaAppuntamento()">
          Conferma
        </CButton>
      </template>
    </CModal>
  </div>
<!--FINE SEZIONE ESAMI-->
</template>

<script>
import axios from 'axios'
import Form from 'vform'
import vSelect from 'vue-select'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import TableStyle from '~/plugins/table.js'

import { mapGetters, mapMutations, mapActions } from 'vuex'


export default {
  name: 'Medici',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    vSelect,
  },

  data () {
    return {
      modalConferma: false,
      modalAppuntamento: false,
      idAppuntamento: '',
      titlemodal:'',
      statomodal: '',
      dataInizio: '',
      dataFine: '',
      formAppuntamento: new Form({
          dataAppuntamento: '',
          ora_inizio: '',
          ora_fine: '',
          descrizione: ''
      }),
      disabled: false,
      css: TableStyle,
      perPage: 5,
      data: [],
      fields: [
            {
                name: 'dataAppuntamento',
                title: 'Data Appuntamento',
                sortField: 'dataAppuntamento',
              formatter: (value) => {
                return this.$date(value, "DD/M/YYYY");
              }
            },
            {
                name: 'ora_inizio',
                title: 'Ora Appuntamento',
                sortField: 'ora_inizio'
            },
               {
                name: 'ora_fine',
                title: 'Ora Fine',
                sortField: 'ora_fine'
            },
            {
                name: 'descrizione',
                title: 'Descrizione',
                sortField: 'descrizione'
            },
            {
                name: 'actions',
                title: 'Azioni'
            }
      ],
    }
  },

  computed: {
   ...mapGetters({
     'idPaziente': 'pazienti/getIdPaziente',
      User: 'auth/user'
   })
  },

  mounted () {
    if(this.idPaziente == ''){
      this.$router.push('pazienti');
    }
  },



//WATCH TABELLA
  watch: {
    data (newVal, oldVal) {
      this.$refs.vuetable.refresh()
    }
  },
/*
  METODI
*/
  methods: {

    mostraModal (stato,appuntamento){
        this.formAppuntamento.reset();
        if(stato == 'aggiungi'){
            this.statomodal = 'aggiungi'
            this.titlemodal = 'Aggiungi Appuntamento ';
            this.formAppuntamento.operazione = 'inserimento';
            this.modalAppuntamento = true;
        }
        else if(stato == 'modifica'){
            this.titlemodal = 'Modifica Appuntamento';
            this.statomodal = 'modifica';
            this.modalAppuntamento= true;
            this.idAppuntamento = appuntamento.idAppuntamento
            this.formAppuntamento.fill(appuntamento);
        }
    },

     inserisciAppuntamento(){
        var url="api/appuntamento"
        var payload = this.formAppuntamento
        payload.idPaziente = this.idPaziente
        this.$store.commit('private/setPreload', true)
        axios.post(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success === true){
            this.$store.commit('private/setMessaggioSuccesso', 'Inserimento Riuscito')
            this.modalAppuntamento = false;
            this.caricaAppuntamenti();
        }
        else {
        this.$store.commit('private/setMessaggioErrore', res.data.message)
        }
        })
        .catch(err => {
        this.$store.commit('private/setPreload', false)
        this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },


    /*MODIFICA VISITE*/
      modificaAppuntamento(){
        var url = '/api/appuntamento/' + this.idAppuntamento
        var payload = this.formAppuntamento
        this.$store.commit('private/setPreload', true)
        axios.put(url,payload)
          .then(res => {
          this.$store.commit('private/setPreload', false)
            if (res.data.success === true) {
              this.$store.commit('private/setMessaggioSuccesso', 'Aggiornamento Riuscito')
              this.modalAppuntamento = false;
              this.caricaAppuntamenti();
            } else {
              this.$store.commit('private/setMessaggioErrore', res.data.message)
            }
          })
          .catch(err => {
            this.$store.commit('private/setPreload', false)
            this.$store.commit('private/setMessaggioErrore', 'Errore Aggiornamento')
          })
        },


/*CARICAMENTO VISITE*/
    caricaAppuntamenti(){
        this.$store.commit('private/setPreload', true)
        var url="api/appuntamenti/" + this.idPaziente
        axios.get(url,{
          params: {
            dataInizio: this.dataInizio,
            dataFine: this.dataFine
          }
        })
         .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data) {
            this.data = res.data['0'];
          } else {
            this.$store.commit('private/ setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },


    /** APRI CONFERMA CANCELLAZIONE */
    apriConferma(id){
      this.modalConferma = true;
      this.idAppuntamento = id;
    },

    /** CANCELLA APPUNTAMENTO */
    cancellaAppuntamento(){
        this.$store.commit('private/setPreload', true)
        var url="api/appuntamento/" + this.idAppuntamento
        axios.delete(url)
         .then(res => {
        this.$store.commit('private/setPreload', false)
          if (res.data.success === true) {
              this.$store.commit('private/setMessaggioSuccesso', 'Cancellazione Riuscita');
              this.caricaAppuntamenti();
          } else {
            this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Caricamento')
        })
    },


  /*
    FUNZIONI PER LA TABELLA
  */
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },

    removeRow (id) {
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idEsame == id) {
          this.data.splice(i, 1)
          break
        }
      }
    },
    aggiornaRow(){
      for (var i = 0; i <= this.data.length; i++) {
        if (this.data[i].idEsame == this.idEsame) {
          this.data[i]=this.formEsame;
           this.$refs.vuetable.refresh()
          break
        }
      }
    },

    dataManager (sortOrder, pagination) {
      let local = this.data
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        )
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      )
      let from = pagination.from - 1
      let to = from + this.perPage

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      }
    }

  }
}
</script>

<style>
</style>
