<template>
  <div>
     <CRow>
    <CCol sm="12 mb-2">
        <h5 class="sub_heading">Registra Nuovo Paziente</h5>
      </CCol>
      <CCol sm="12">
        <CCard>
          <CCardBody>
              <CRow>
                 <!--DATI ANAGRAFICI-->
            <CCol sm="12 mb-2">
              <h5 class="sub_heading">Dati Anagrafici</h5>
            </CCol>
            <CCol sm="3">
              <CInput label="Nome" name="nome" v-model="formUtente.nome"></CInput>
            </CCol>
            <CCol sm="3">
              <CInput label="Cognome" name="cognome" v-model="formUtente.cognome"></CInput>
            </CCol>
            <CCol sm="3">
               <CInput type="date" label="Data nascita" v-model="formUtente.data_nascita"></CInput>
            </CCol>
            <CCol sm="3">
               <CInput  label="Provincia Nascita" v-model="formUtente.provincia_nascita"></CInput>
            </CCol>
          <CCol sm="3">
               <CInput  label="Comune Nascita" v-model="formUtente.comune_nascita"></CInput>
            </CCol>
           <CCol sm="3">
               <CInput  label="Provincia Residenza" v-model="formUtente.provincia_residenza"></CInput>
            </CCol>
          <CCol sm="3">
               <CInput  label="Comune Residenza" v-model="formUtente.comune_residenza"></CInput>
            </CCol>
          <CCol sm="3">
               <CInput  label="Provincia ASL" v-model="formUtente.provincia_asl"></CInput>
            </CCol>
            <CCol sm="3">
               <CInput  label="Comune ASL" v-model="formUtente.comune_asl"></CInput>
            </CCol>
           <CCol sm="3">
               <CInput label="Codice Fiscale" name="cf" v-model="formUtente.codice_fiscale"></CInput>
            </CCol>
            <CCol sm="3">
              <CInput label="Email" type="email" name="email" v-model="formUtente.email"></CInput>
            </CCol>
             <CCol sm="3">
               <CInput label="Telefono" name="telefono" v-model="formUtente.telefono"></CInput>
            </CCol>
            <CCol sm="3">
              <CInput label="Password" type="password" name="password" v-model="formUtente.password"></CInput>
            </CCol>
            <CCol sm="3">
              <CInput label="Conferma Password" type="password" name="password_2" v-model="formUtente.password_2"></CInput>
            </CCol>
            <!-- SELEZIONA MEDICO-->
            <!--
            <CCol sm="12">
              <h5 class="sub_heading">Scegli Medico</h5>
            </CCol>
            <CCol sm="4">
              <div class="form-group">
                <label>Scegli Medico</label>
                <select class="form-control" v-model="formUtente.idMedico">
                    <option :value="medico.idUser" v-for="(medico) in medici" :key="medico.idUser">{{medico.cognome}} {{medico.nome}}</option>
                </select>
              </div>
            </CCol>
            -->
            <!-- DATI CLINICI -->
            <CCol sm="12 mb-2">
              <h5 class="sub_heading">Dati Clinici</h5>
            </CCol>
          <CCol sm="1">
               <CInput type="number" step="0.01" label="Sup. Corp." v-model="formUtente.superficie_corporea"></CInput>
            </CCol>
          <CCol sm="1">
               <CInput type="number" label="Peso" name="peso(Kg)" v-model="formUtente.peso"></CInput>
            </CCol>
          <CCol sm="1">
               <CInput type="number" label="Altezza (cm)" name="altezza" v-model="formUtente.altezza"></CInput>
            </CCol>
          <CCol sm="2">
              <div class="form-group">
                <label>Sesso</label>
                    <select class="form-control" v-model="formUtente.sesso">
                    <option value="maschio">Maschio</option>
                    <option value="femmina">Femmmina</option>
                    </select>
              </div>
            </CCol>
            <CCol sm="2">
              <div class="form-group">
                <label>Gruppo Sanguigno</label>
                <select class="form-control" v-model="formUtente.gruppo">
                <option value="0rh-">0 Rh-</option>
                <option value="0rh+">0 Rh+</option>
                <option value="arh-">A Rh-</option>
                <option value="arh+">A Rh+</option>
                <option value="brh-">B Rh-</option>
                <option value="brh+">B Rh+</option>
                <option value="abrh-">AB Rh-</option>
                <option value="abrh+">AB Rh+</option>
                </select>
              </div>
            </CCol>
            <CCol sm="2">
              <div class="form-group">
                <label>Fumatore</label>
                <select class="form-control" v-model="formUtente.fumo">
                  <option value="0">No</option>
                  <option value="1">Sì</option>
                </select>
              </div>
            </CCol>
            <CCol sm="2">
              <div class="form-group">
                <label>Diabete</label>
                <select class="form-control" v-model="formUtente.diabete">
                  <option value="0">No</option>
                  <option value="1">Tipo I</option>
                  <option value="2">Tipo II</option>
                </select>
              </div>
            </CCol>
            <CCol sm="2">
                <CInput type="number" label="Anni Diabete" v-model="formUtente.anni_diabete"></CInput>
            </CCol>
            <CCol sm="2">
                 <div class="form-group">
                <label>Ipertensione Arteriosa</label>
                <select class="form-control" v-model="formUtente.ipertensione_arteriosa">
                  <option value="0">No</option>
                  <option value="1">Sì</option>
                </select>
              </div>
            </CCol>
            <CCol sm="2">
                <CInput type="number" label="Anni Ipertensione" v-model="formUtente.anni_ipertensione"></CInput>
            </CCol>
            <CCol sm="2">
              <div class="form-group">
                <label>Anemia</label>
                <select class="form-control" v-model="formUtente.anemia" name="anemia">
                  <option value="1">Si</option>
                  <option value="0">No</option>
                </select>
              </div>
            </CCol>
            <CCol sm="2">
              <div class="form-group">
                <label>Fibrillazione Atriale</label>
                <select class="form-control" v-model="formUtente.fibrillazioneatriale" name="fibirllazioneatriale">
                  <option value="1">Si</option>
                  <option value="0">No</option>
                </select>
              </div>
            </CCol>
            <CCol sm="2">
              <div class="form-group">
                <label>Terapia Ottimale</label>
                <select class="form-control" v-model="formUtente.terapiaottimale" name="terapiaottimale">
                  <option value="1">Si</option>
                  <option value="0">No</option>
                </select>
              </div>
            </CCol>
            <CCol sm="6">
            </CCol>
            <CCol sm="12 mb-4">
                  <h5 class="mb-2">Familiarità</h5>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" v-model="familiarita.fami_1" id="Anteriore" name="c.i" value="C.I.">C.I
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" v-model="familiarita.fami_2" value="">Diabete
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" v-model="familiarita.fami_3" value="" >Iper.
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" v-model="familiarita.fami_4" value="" >Cereb.Vasc.
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" v-model="familiarita.fami_5" value="" > I.Ren.
                      </label>
                    </div>
            </CCol>
            <CCol sm="9">
            </CCol>
            <CCol sm="12">
               <CTextarea  label="Epicrisi" name="epicrisi" v-model="formUtente.epicrisi"></CTextarea>
            </CCol>
            <CCol sm="12">
               <CTextarea  label="Diagnosi Discorsiva" name="epicrisi" v-model="formUtente.diagnosi_discorsiva"></CTextarea>
            </CCol>
            <CCol sm="12">
               <CTextarea  label="Problematiche Aperte" v-model="formUtente.problematiche"></CTextarea>
            </CCol>
            <CCol sm="12 text-center">
              <CButton color="primary btn-block" class="mt-3" @click="inserisciPaziente()">Inserisci Paziente</CButton>
            </CCol>
            </CRow>
          </CCardBody>
        </CCard>
      </CCol>
     </CRow>
<!--FINE SEZIONE SCHEDA UTENTE -->
  </div>
</template>

<script>
import axios from 'axios'
import _ from 'lodash'
import Form from 'vform'


import { mapGetters, mapMutations, mapActions } from 'vuex'


export default {
  name: 'Pazienti',
  components: {
  },

  data () {
    return {
      medici: '',
      familiarita:{
        fami_1:false,
        fami_2:false,
        fami_3:false,
        fami_4:false,
        fami_5:false,
      },
      formUtente: new Form({
        idMedico: '',
        nome:'',
        cognome:'',
        cognome:'',
        telefono:'',
        indirizzo:'',
        data_nascita:'',
        provincia_nascita:'',
        comune_nascita:'',
        codice_fiscale:'',
        provincia_residenza:'',
        comune_residenza:'',
        provincia_asl:'',
        comune_asl:'',
        sesso:'',
        peso:'',
        altezza:'',
        superficie_corporea:'',
        gruppo:'',
        epicrisi:'',
        problematiche:'',
        fumo:'',
        diabete:'',
        anni_diabete:'',
        ipertensione_arteriosa:'',
        anni_ipertensione:'',
        anemia: '0',
        fibrillazioneatriale: '0',
        terapiaottimale: '0',
        diagnosi_discorsiva: '',
        password: '',
        password_2: ''
      }),
    }
  },

  computed: {

  },

  mounted () {
     this.caricaMedici();
  },

/*
  METODI
*/
methods: {

    /* INSERSICI PAZIENTE */
    inserisciPaziente(){
      var url = '/api/paziente';
      var payload = this.formUtente;
      payload.familiarita = this.familiarita;
      this.$store.commit('private/setPreload', true)

      axios.post(url,payload)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data.success === true){
            this.formUtente.reset();
            this.$store.commit('private/setMessaggioSuccesso', 'Inserimento Riuscito')
            this.$router.push({path: '/private/pazienti'})
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    },

    caricaMedici(){
      this.$store.commit('private/setPreload', true)
      var url = '/api/medici';
      axios.get(url)
        .then(res => {
        this.$store.commit('private/setPreload', false)
        if(res.data){
            this.medici = res.data['0']
            console.log(this.medici);
          }
        else {
           this.$store.commit('private/setMessaggioErrore', res.data.message)
          }
        })
        .catch(err => {
          this.$store.commit('private/setPreload', false)
          this.$store.commit('private/setMessaggioErrore', 'Errore Inserimento')
        })
    }

  },
}
</script>
