<template>
<div>
  <!--
   <div class="panel-heading">Accedi</div>
  <div class="row">
    <div class="col-lg-3 m-auto">
      <card :title="$t('login')">
        <form @submit.prevent="login" @keydown="form.onKeydown($event)">

          <div class="form-group row">
            <div class="col-md-12">
               <label>Email</label>
              <input v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" class="form-control" type="email" name="email">
              <has-error :form="form" field="email" />
            </div>
          </div>


          <div class="form-group row">

            <div class="col-md-12">
                <label>Password</label>
              <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" class="form-control" type="password" name="password">
              <has-error :form="form" field="password" />
            </div>
          </div>


          <div class="form-group row">
            <div class="col-md-3" />
            <div class="col-md-7 d-flex">
              <checkbox v-model="remember" name="remember">
                {{ $t('remember_me') }}
              </checkbox>

              <router-link :to="{ name: 'password.request' }" class="small ml-auto my-auto">
                {{ $t('forgot_password') }}
              </router-link>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-7 offset-md-3 d-flex">

              <v-button :loading="form.busy">
                {{ $t('login') }}
              </v-button>


            </div>
          </div>
        </form>
      </card>
    </div>
  </div>-->

  <div class="wrapper-login p-0">
  <div id="formContent">
    <!-- Login Form -->
    <div class="text-center">
     <img class="logo" :src="''+resource+'images/logo.jpg'">
     </div>
    <form @submit.prevent="login_2" @keydown="form.onKeydown($event)">
     <div class="form-group">
        <div class="col-md-12">
          <label>Email</label>
          <input v-model="form.email" class="form-control" type="email" name="email" placeholder="Email">
        </div>
      <div class="mt-2 col-md-12">
         <label>Password</label>
          <input v-model="form.password"  class="form-control" type="password" name="password" placeholder="Password">
     </div>
     </div>
    <transition name="fade" @after-enter="afterEnter">
        <div  v-if="error">
          <div class=" mt-2 alert alert-danger" role="alert">
            Email o Password Errate
          </div>
        </div>
      </transition>
      <div class="col-md-12">
        <button type="submit" :disabled="loading" class="btn-block p-2  btn btn-primary" :class="[{'btn-loading':loading},{'btn-danger':error}]">
          Accedi <fa icon="sign-in-alt"/>
        </button>
      </div>
      <div class="mt-4 col-md-12">
        <router-link :to="{ name: 'registrazionemedico' }" >
          <button type="submit" class="btn-block mt-3 btn btn-secondary">
            <fa icon="user-md"/> Registrazione Medici
          </button>
        </router-link>
      </div>
      <div class="col-md-12">
        <router-link :to="{ name: 'registrazioneinfermiere' }" >
          <button type="submit" class="btn-block mt-3 btn btn-secondary">
            <fa icon="user-md"/> Registrazione Infermieri
          </button>
        </router-link>
      </div>
        <div class="col-md-12">
          <router-link :to="{ name: 'registrazionepaziente' }" >
            <button type="submit" class="btn-block mt-3 btn btn-info" >
            <fa icon="user"/> Registrazione Pazienti
            </button>
          </router-link>
      </div>

    </form>

    <!-- Remind Passowrd -->
   <!-- <div id="formFooter">
        <router-link :to="{ name: 'password.request' }" >
          Password dimenticata?
        </router-link>
    </div>-->

  </div>
</div>
  </div>
</template>

<script>
import axios from 'axios'
import Form from 'vform'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import resource_url from '~/plugins/variables.js'


export default {
  middleware: 'guest',

  components: {
  },

  metaInfo () {
    return { title: this.$t('login') }
  },

  data () {
    return {
    resource: this.$resource_url,
    loading:false,
    error:false,
    form: new Form({
      email: '',
      password: ''
    }),
    remember: false
    }
  },

  computed: {
    ...mapGetters({
      User: 'auth/user'
    }),
  },

  methods: {

    afterEnter: function (el) {
      this.error = false
    },
/*
  INIZIALIZZO LA CREAZIONE DELLA PRIMA RICHIESTA
*/
    login_2 () {
      var url = '/api/login'
      this.loading = true
      this.error=false;
      var payload=this.form;
      axios.post(url, payload)
      .then(res => {
      this.$store.dispatch('auth/saveToken', {
          token: res.data.token,
      })
        this.$router.push({ name: 'private' })
      })
        .catch(err => {
          this.loading = false;
          this.error=true;
        })
    },
/*
    async login () {
      this.loading=true;
      // Submit the form.
      const { data,loading=false } = await this.form.post('/api/login')


      // Save the token.
      this.$store.dispatch('auth/saveToken', {
        token: data.token,
        //remember: this.remember
      })
        this.loading=false,
      // Fetch the user.
      // await this.$store.dispatch('auth/fetchUser')

      // Redirect home.
      this.$router.push({ name: 'private.dashboard' })
    }
*/
  }
}
</script>
