<template>
<div>
    <CRow >
            <CCol sm="12 px-5 pt-3">
            <router-link :to="{path: '../login'}">
                <CButton color="primary">
                   Torna al Login
                </CButton>
            </router-link>
            </CCol>
        </CRow>
  <div class="wrapper-login mt-5 p-0">
  <div id="formContent" class="mt-0">
    <!-- Login Form -->

    <form @submit.prevent="checkForm()"  class="registrazione">
 <!--     <input type="text" v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" id="login" class=" second" name="login" placeholder="Email">
      <input type="password" v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" id="password" class=" third" name="login" placeholder="Password">
-->
    <h3 class="text-primary text-center">Registrazione Infermiere</h3>
    <div class="form-group row">
      <div class="col-md-12">
          <label>Nome* </label>
          <input v-model="registrazione.meta.nome" type="text" id="nome" class="form-control" name="nome">
        </div>
          <div class="mt-2 col-md-12">
          <label>Cognome* </label>
          <input v-model="registrazione.meta.cognome" type="text" id="cognome"  class="form-control" name="cognome">
        </div>
        <div class="mt-2  col-md-12">
          <label>Email *</label>
          <input v-model="registrazione.email" class="form-control" id="email"  type="email" name="email">
        </div>
        <div class="mt-2  col-md-12">
          <label>Telefono</label>
          <input v-model="registrazione.meta.telefono" type="text" class="form-control" name="telefono">
        </div>
         <div class="mt-2  col-md-12">
          <label>Provincia di residenza</label>
          <input v-model="registrazione.meta.provincia_residenza" type="text" class="form-control" name="provincia_residenza">
        </div>
        <div class="mt-2  col-md-12">
          <label>Comune di residenza</label>
          <input v-model="registrazione.meta.comune_residenza" type="text" class="form-control" name="comune_residenza">
        </div>
        <div class="mt-2 col-md-12">
          <label>Password *</label>
          <input v-model="registrazione.password"  class="form-control" type="password" name="password">
        </div>
      <div class="mt-2 col-md-12">
          <label>Conferma Password *</label>
          <input v-model="registrazione.password_confirmation"  class="form-control" type="password" name="password">
      </div>
      <div class="mt-2 col-md-12 text-center">
          <div class="form-check form-check-inline">
            <input id="privacy" v-model="registrazione.meta.privacy" name="privacy" type="checkbox">
            <label for="privacy">PRIVACY POLICY * - Acconsento alla gestione dei miei dati secondo quanto stabilito dal regolamento europeo per la protezione dei dati personali n. 679/2016, GDPR *</label>
          </div>
           <div><a target="_blank" href="" @click.prevent="apriModalPrivacy()">Leggi la Privacy Policy</a></div>
      </div>
      <div class="mt-2 col-md-12 text-center">
          <div class="form-check form-check-inline">
            <input id="statistiche" v-model="registrazione.meta.statistiche" name="statistiche" type="checkbox">
            <label for="statistiche">Finalità di Ricerca  - Acconsento alla gestione dei miei dati clinici per finalità di ricerca </label>
          </div>
      </div>
     </div>
    <div  v-if="error">
        <div class="alert alert-danger text-center" role="alert">
          <div>{{messaggio}}</div>
        </div>
    </div>
    <div v-if="result">
       <div class="alert alert-success text-center" role="alert">
            Registrazione Completata, Clicca sul link di verifica che ti abbiamo inviato per email per poter accedere
      </div>
    </div>
        <button type="submit" :disabled="loading" class="btn-block btn btn-primary" :class="[{'btn-loading':loading}]">
            Registrati
        </button>
    </form>
  </div>
</div>

  <CModal
      title="Privacy Policy"
      color="info"
      :show.sync="modalPrivacy">
      <PrivacyPolicy/>
      <template #footer>
        <CButton color="default" @click="modalPrivacy = false">
          Chiudi
        </CButton>
      </template>
  </CModal>

</div>
</template>

<script>
import Form from 'vform'
import axios from 'axios'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import resource_url from '~/plugins/variables.js'
import PrivacyPolicy from '~/components/privacypolicy.vue'



export default {
  middleware: 'guest',

  components: {
    PrivacyPolicy
  },

  metaInfo () {
    //return { title: this.$t('register') }
  },

  data () {
    return {
    resource: this.$resource_url,
    loading:false,
    csrf_token:'',
    modalPrivacy: false,
    result:false,
    recuperaEmail:false,
    giorno:0,
    mese:0,
    anno:0,
    messaggio:'',
    error:false,
    registrazione:{
      meta:{
        nome: '',
        cognome: '',
        telefono: '',
        provincia_residenza: '',
        comune_residenza:'',
        privacy: '',
        statistiche: '',
    },
      email:'',
      password: '',
      password_confirmation: '',
      ruolo:'infermiere',
    },
    mustVerifyEmail: false
    }
  },
mounted(){

},
  methods: {

    apriModalPrivacy(){
      this.modalPrivacy = true
    },

    checkForm(){
       this.messaggio ='';
      if(this.registrazione.meta.nome == ''){
        this.messaggio = 'Inserisci Nome';
      }
      else if(this.registrazione.meta.cognome == ''){
        this.messaggio = 'Inserisci Cognome';
      }
      else if(this.registrazione.email == ''){
        this.messaggio = 'Inserisci Email';
      }
      else if(this.registrazione.meta.telefono == ''){
        this.messaggio = 'Inserisci Telefono';
      }
      else if(this.registrazione.meta.provincia_residenza == ''){
        this.messaggio = 'Inserisci Provincia Residenza'
      }
      else if(!this.registrazione.meta.privacy){
        this.messaggio = 'Devi Accettare la Privacy Policy per la gestione dei dati';
      }
       if(this.registrazione.password == ''){
        this.messaggio = 'Inserisci Password';
      }
       if(this.registrazione.password.length < 6){
        this.messaggio = 'Password Troppo Corta';
        }
       if(this.registrazione.password_confirmation == ''){
        this.messsaggio = 'Conferma Password';
      }
       if(this.registrazione.password !==  this.registrazione.password_confirmation){
        this.messaggio = 'Le Password non combaciano';
      }

      if( this.messaggio==''){
         this.register();
      }
      else{
           this.error = true;
      }

    },

/*
  INIZIALIZZO LA CREAZIONE DELLA PRIMA RICHIESTA
*/
  register () {
      var url = '/api/registrazione'
      this.loading = true;
      this.error=false;
      this.result=false;

      var payload=this.registrazione;
      axios.post(url, payload)
      .then(res => {
         this.loading = false;
        if(res.data.success === true){
           this.result=true;
          }
        else {
          this.messaggio=res.data.message;
           this.error=true;
          }
        })
        .catch(err => {
          this.loading = false;
          this.error=true;
          if(err.response.data.errors.email[0]=='la email risulta già registrata.'){
            this.messaggio='Email già Registrata';
            this.recuperaEmail=true;
          }
          if(err.response.data.errors.password[0]=='validation.required'){
            this.messaggio='Password errata o mancante';
          }
          else{
            this.messaggio='Dati Mancanti';
          }

        })
    },
  },
    /*
    async register () {

      // Register the user.
      const { data } = await this.form.post('/api/register')

      // Must verify email fist.
      if (data.status) {
        this.mustVerifyEmail = true
      } else {
        // Log in the user.
        const { data: { token } } = await this.form.post('/api/login')

        // Save the token.
        this.$store.dispatch('auth/saveToken', { token })

        // Update the user.
        await this.$store.dispatch('auth/updateUser', { user: data })

        // Redirect home.
        this.$router.push({ name: 'home' })
      }
    }*/
  }

</script>
