<template>
<div>
  <!--
  <div class="row">
    <div class="col-lg-8 m-auto">
      <card v-if="mustVerifyEmail" :title="$t('register')">
        <div class="alert alert-success" role="alert">
          {{ $t('verify_email_address') }}
        </div>
      </card
      <card v-else :title="$t('register')">
        <form @submit.prevent="register" @keydown="form.onKeydown($event)">

          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('Nome') }}</label>
            <div class="col-md-7">
              <input v-model="form.nome" :class="{ 'is-invalid': form.errors.has('nome') }" class="form-control" type="text" name="nome">
              <has-error :form="form" field="nome" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('Cognome') }}</label>
            <div class="col-md-7">
              <input v-model="form.cognome" :class="{ 'is-invalid': form.errors.has('cognome') }" class="form-control" type="text" name="cognome">
              <has-error :form="form" field="cognome" />
            </div>
          </div>


          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('email') }}</label>
            <div class="col-md-7">
              <input v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" class="form-control" type="email" name="email">
              <has-error :form="form" field="email" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('password') }}</label>
            <div class="col-md-7">
              <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" class="form-control" type="password" name="password">
              <has-error :form="form" field="password" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('confirm_password') }}</label>
            <div class="col-md-7">
              <input v-model="form.password_confirmation" :class="{ 'is-invalid': form.errors.has('password_confirmation') }" class="form-control" type="password" name="password_confirmation">
              <has-error :form="form" field="password_confirmation" />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-7 offset-md-3 d-flex">

              <v-button :loading="form.busy">
                {{ $t('register') }}
              </v-button>

            </div>
          </div>
        </form>
      </card>
    </div>
  </div>-->
        <CRow >
            <CCol sm="12 px-5 pt-3">
            <router-link :to="{path: '../login'}">
                <CButton color="primary">
                  <fa icon="arrow-left"></fa> Torna al Login
                </CButton>
            </router-link>
            </CCol>
        </CRow>
  <div class="wrapper-login mt-5 p-0">
  <div id="formContent" class="mt-0">
    <!-- Login Form -->


    <!-- TODO: ALERT EMAIL GIà ESISTENTE - ALERT CHECK PASSWORD -->

    <form @submit.prevent="checkForm()" novalidate :class="errore === true ? 'was-validated registrazione' : 'registrazione'">
        <!--  <input type="text" v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" id="login" class=" second" name="login" placeholder="Email">
              <input type="password" v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" id="password" class=" third" name="login" placeholder="Password">
        -->
    <h3 class="text-primary text-center">Registrazione Paziente</h3>
    <div class="form-group row">
      <div class="col-md-12">
          <label>Nome *</label>
          <input v-model="registrazione.meta.nome" type="text" class="form-control" name="nome" required>
          <div class="invalid-feedback">
            Inserisci Nome
          </div>
        </div>
          <div class="mt-2 col-md-12">
          <label>Cognome *</label>
          <input v-model="registrazione.meta.cognome" type="text" class="form-control" name="cognome" required>
          <div class="invalid-feedback">
            Inserici Cognome
          </div>
        </div>
        <div class="mt-2  col-md-12">
          <label>Data Nascita *</label>
          <input v-model="registrazione.meta.data_nascita" class="form-control" type="date" name="data_nascita" required>
          <div class="invalid-feedback">
            Inserisci Data Nascita
          </div>
        </div>
        <div class="mt-2 col-md-12">
          <label>Sesso *</label>
          <select  class="form-control" v-model="registrazione.meta.sesso"  id="sesso" name="sesso" required>
              <option value="">--SELEZIONA SESSO--</option>
              <option value="M">Uomo</option>
              <option value="F">Donna</option>
            </select>
          <div class="invalid-feedback">
            Seleziona Sesso
          </div>
        </div>
        <div class="mt-2 col-md-12">
          <label class="label_form">Regione Nascita *</label>
          <v-select @input="caricaProvince()" id="regione"  append-to-body :options="regioni"
                  :reduce="select => select.value" v-model="registrazione.meta.regione_nascita">
            <template #search="{attributes,events}">
                 <input
                  class="vs__search"
                  :required="!registrazione.meta.regione_nascita"
                  v-bind="attributes"
                  v-on="events"
              />
            <div class="invalid-feedback">
              Seleziona Regione Nascita
            </div>
            </template>
          <span slot="no-options">Nessun risultato</span>
          </v-select>

        </div>
        <div class="mt-2 col-md-12">
          <label class="label_form">Provincia Nascita *</label>
          <v-select id="regione" append-to-body :options="province_select"
                  :reduce="select => select.value" v-model="registrazione.meta.provincia_nascita">
              <template #search="{attributes,events}">
                 <input
                  class="vs__search"
                  :required="!registrazione.meta.provincia_nascita"
                  v-bind="attributes"
                  v-on="events"
              />
            <div class="invalid-feedback">
              Seleziona Provincia Nascita
            </div>
            </template>
          <span slot="no-options">Seleziona una Regione</span>
          </v-select>
        </div>
        <div class="mt-2 col-md-12">
          <label>Comune Nascita *</label>
          <input v-model="registrazione.meta.comune_nascita" class="form-control"  name="comune_nascita" required>
          <div class="invalid-feedback">
            Inserisci Comune Nascita
          </div>
        </div>
        <div class="mt-2  col-md-12">
          <label>Codice Fiscale *</label>
          <input  v-model="registrazione.meta.cf" class="form-control"  name="cf" required>
          <div class="invalid-feedback">
            Inserisci tutti i campi per calcolare il Codice fiscale
          </div>
          <button class="btn btn-info btn-block mt-2" @click="calcola_cf()">Calcola Codice Fiscale</button>
        </div>
        <div class="mt-2  col-md-12">
          <label class="label_form">Regione Residenza *</label>
          <v-select @input="caricaProvinceResidenza()" id="regione_residenza" append-to-body :options="regioni_residenza"
                  :reduce="select => select.value" v-model="registrazione.meta.regione_residenza">
             <template #search="{attributes,events}">
                 <input
                  class="vs__search"
                  :required="!registrazione.meta.regione_residenza"
                  v-bind="attributes"
                  v-on="events"
              />
            <div class="invalid-feedback">
              Seleziona Regione Residenza
            </div>
          </template>
          </v-select>
        </div>
        <div class="mt-2  col-md-12">
          <label class="label_form">Provincia Residenza *</label>
          <v-select id="provincia_residenza" append-to-body :options="province_residenza"
                  :reduce="select => select.value" v-model="registrazione.meta.provincia_residenza">
          <template #search="{attributes,events}">
                 <input
                  class="vs__search"
                  :required="!registrazione.meta.provincia_residenza"
                  v-bind="attributes"
                  v-on="events"
              />
            <div class="invalid-feedback">
              Seleziona Provincia Residenza
            </div>
          </template>
          <span slot="no-options">Seleziona Regione Residenza</span>
          </v-select>
        </div>
        <div class="mt-2  col-md-12">
          <label>Comune Residenza *</label>
          <input v-model="registrazione.meta.comune_residenza" class="form-control"  name="comune_residenza" required>
          <div class="invalid-feedback">
            Inserisci Comune Residenza
          </div>
        </div>
        <div class="mt-2  col-md-12">
          <label class="label_form">Regione ASL *</label>
            <v-select @input="caricaProvinceAsl()" id="regione_asl" append-to-body :options="regioni_asl"
                  :reduce="select => select.value" v-model="registrazione.meta.regione_asl">
             <template #search="{attributes,events}">
                 <input
                  class="vs__search"
                  :required="!registrazione.meta.regione_asl"
                  v-bind="attributes"
                  v-on="events"
              />
            <div class="invalid-feedback">
              Seleziona Regione ASL
            </div>
          </template>
          <span slot="no-options">Nessun risultato</span>
          </v-select>
        </div>
        <div class="mt-2  col-md-12">
          <label>Provincia ASL *</label>
                <v-select id="provincia_asl" append-to-body :options="province_asl"
                  :reduce="select => select.value" v-model="registrazione.meta.provincia_asl">
          <template #search="{attributes,events}">
                 <input
                  class="vs__search"
                  :required="!registrazione.meta.provincia_asl"
                  v-bind="attributes"
                  v-on="events"
              />
            <div class="invalid-feedback">
              Seleziona Provincia ASL
            </div>
          </template>
            <span slot="no-options">Seleziona Regione ASL</span>
          </v-select>
        </div>
        <div class="mt-2  col-md-12">
          <label>Comune ASL *</label>
          <input v-model="registrazione.meta.comune_asl" class="form-control"  name="comune_asl" required>
          <div class="invalid-feedback">
            Inserisci Comune ASL
          </div>
        </div>
        <div class="mt-2  col-md-12">
          <label>Email*</label>
          <input v-model="registrazione.email" class="form-control" type="email" name="email" required>
          <div class="invalid-feedback">
            Inserisci Email
          </div>
        </div>
        <div class="mt-2  col-md-12">
          <label>Telefono *</label>
          <input v-model="registrazione.meta.telefono" type="tel" class="form-control" name="telefono" required>
          <div class="invalid-feedback">
            Inserisci Telefono
          </div>
        </div>
        <div class="mt-2 col-md-12">
          <label>Password *</label>
          <input v-model="registrazione.password"  class="form-control" type="password" name="password" required>
          <div class="invalid-feedback">
            Inserisci Password
          </div>
        </div>
      <div class="mt-2 col-md-12">
          <label>Conferma Password *</label>
          <input v-model="registrazione.password_confirmation"  class="form-control" type="password" name="password" required>
          <div class="invalid-feedback">
            Conferma Password
          </div>
      </div>
      <div class="mt-2 col-md-12  text-center">
          <div class="form-check form-check-inline">
            <label for="privacy">
              <input id="privacy" v-model="registrazione.meta.privacy" name="privacy" type="checkbox" required>
              PRIVACY POLICY * - Acconsento alla gestione dei miei dati secondo quanto stabilito dal regolamento europeo per la protezione dei dati personali n. 679/2016, GDPR *

              <div class="invalid-feedback">
                  Accetta Privacy Policy
              </div>
            </label>
          </div>
           <div><a target="_blank" href="" @click.prevent="apriModalPrivacy()">Leggi la Privacy Policy</a></div>
      </div>
      <div class="mt-2 col-md-12 text-center">
          <div class="form-check form-check-inline">
            <input id="statistiche" v-model="registrazione.meta.statistiche" name="statistiche" type="checkbox">
            <label for="statistiche">Finalità di Ricerca  - Acconsento alla gestione dei miei dati clinici per finalità di ricerca</label>
          </div>
      </div>
     </div>
    <div v-if="result">
       <div class="alert alert-success text-center" role="alert">
            Registrazione Completata, Clicca sul link di verifica che ti abbiamo inviato per email per poter accedere
      </div>
    </div>
        <button type="submit" :disabled="loading" class="btn-block btn btn-primary" :class="[{'btn-loading':loading}]">
            Registrati
        </button>
    </form>
  </div>
</div>

  <CModal
    title="Privacy Policy"
    color="info"
    :show.sync="modalPrivacy">
    <PrivacyPolicy/>
    <template #footer>
      <CButton color="default" @click="modalPrivacy = false">
        Chiudi
      </CButton>
    </template>
  </CModal>

</div>
</template>

<script>
import Form from 'vform'
import axios from 'axios'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import resource_url from '~/plugins/variables.js'
import PrivacyPolicy from '~/components/privacypolicy.vue'
var CodiceFiscale = require('codice-fiscale-js');
import siglaComuni from '~/components/json/siglacomuni.json'
import regioni from '~/components/json/siglaRegioni.json'
import province from '~/components/json/siglaProvince.json'
import 'vue-select/dist/vue-select.css';
import vSelect from 'vue-select'

export default {
  middleware: 'guest',
  components: {
    PrivacyPolicy,
    siglaComuni,
    regioni,
    province,
    vSelect,
  },

  metaInfo () {
    //return { title: this.$t('register') }
  },

  data () {
    return {
    siglaComuni: siglaComuni,
    province:province,
    regioni: regioni,
    province_select:[],
    regioni_residenza: regioni,
    province_residenza: [],
    regioni_asl: regioni,
    province_asl: [],
    errore: false,
    modalPrivacy: false,
    resource: this.$resource_url,
    loading:false,
    csrf_token:'',
    result:false,
    recuperaEmail:false,
    giorno:0,
    mese:0,
    anno:0,
    messaggio:'',
    error:false,
    registrazione:{
      meta:{
        nome: '',
        cognome: '',
        data_nascita: '',
        sesso:'',
        regione_nascita:'',
        provincia_nascita: '',
        comune_nascita: '',
        cf:'',
        regione_residenza: '',
        provincia_residenza: '',
        comune_residenza: '',
        regione_asl: '',
        provincia_asl: '',
        comune_asl: '',
        telefono: '',
        privacy: '',
    },
      email:'',
      password: '',
      password_confirmation: '',
      ruolo:'paziente',
    },
    mustVerifyEmail: false
    }
  },
mounted(){

},
  methods: {

    apriModalPrivacy(){
      this.modalPrivacy = true
    },


    checkForm(){

      this.errore = false

      if(this.registrazione.meta.nome === ''){
        this.errore = true
      }
      else if(this.registrazione.meta.cognome == ''){
       this.errore = true
      }
      else if(this.registrazione.email == ''){
       this.errore = true
      }
      else if(this.registrazione.meta.telefono == ''){
       this.errore = true
      }
      else if(this.registrazione.meta.data_nascita == ''){
        this.errore = true
      }
      else if(this.registrazione.meta.provincia_nascita == ''){
        this.errore = true
      }
      else if(this.registrazione.meta.comune_nascita == ''){
        this.errore = true
      }
      else if(this.registrazione.meta.provincia_residenza == ''){
        this.errore = true
      }
      else if(this.registrazione.meta.comune_residenza == ''){
        this.errore = true
      }
      else if(this.registrazione.meta.regione_asl == ''){
        this.errore = true
      }
      else if(this.registrazione.meta.provincia_asl == ''){
        this.errore = true
      }
      else if(this.registrazione.meta.comune_asl == ''){
        this.errore = true
      }
      else if(this.registrazione.meta.cf == ''){
        this.errore = true
      }
      else if(!this.registrazione.meta.privacy){
        this.errore = true
      }


      if(this.registrazione.password == ''){
        this.errore = true
        //this.messaggio = 'Inserisci Password';
      }
       if(this.registrazione.password.length < 6){
         this.errore = true
        //this.messaggio = 'Password Troppo Corta';
        }
       if(this.registrazione.password_confirmation == ''){
         this.errore = true
        //this.messsaggio = 'Conferma Password';
      }
       if(this.registrazione.password !==  this.registrazione.password_confirmation){
         this.errore = true
        //this.messaggio = 'Le Password non combaciano';
      }

      if(!this.errore){
        this.register();
      }


    },

calcola_cf(){

  this.errore = false

  var data =  this.registrazione.meta.data_nascita.split("-");
  var giorno=data['2'];
  var  mese=data['1'];
  var  anno=data['0'];

  if(this.registrazione.meta.nome=='' || this.registrazione.meta.cognome=='' || this.registrazione.meta.sesso=='' || this.registrazione.meta.provincia_nascita==''){
    this.errore = true
    return false;
    //this.$store.commit('private/setMessaggioErrore',' Inserisci tutti i dati')
  }

    var cf = new CodiceFiscale({
      name: this.registrazione.meta.nome,
      surname: this.registrazione.meta.cognome,
      gender: this.registrazione.meta.sesso,
      day: giorno,
      month: mese,
      year: anno,
      birthplace: this.registrazione.meta.provincia_nascita,
      birthplaceProvincia: this.registrazione.meta.provincia_nascita.sigla
  });

  this.registrazione.meta.cf=cf.code;
},

  caricaProvince(){
    this.registrazione.meta.provincia_nascita='';
    var regione = this.registrazione.meta.regione_nascita;
    this.province_select=[];

    for (var i=0 ; i < province.length ; i++)
      {
        if(province[i].regione == regione) {
          var provincia = {value:province[i].value, label:province[i].label};
          this.province_select.push(provincia);
        }
      }
  },

  caricaProvinceResidenza(){
    this.registrazione.meta.province_residenza='';
    var regione = this.registrazione.meta.regione_residenza;
    this.province_residenza=[];

    for (var i=0 ; i < this.province.length ; i++)
      {
        if(province[i].regione == regione) {
          var provincia = {value:province[i].value, label:province[i].label};
          this.province_residenza.push(provincia);
        }
      }
  },

  caricaProvinceAsl(){
    this.registrazione.meta.province_asl='';
    var regione = this.registrazione.meta.regione_asl;
    this.province_asl=[];

    for (var i=0 ; i < this.province.length ; i++)
      {
        if(province[i].regione == regione) {
          var provincia = {value:province[i].value, label:province[i].label};
          this.province_asl.push(provincia);
        }
      }
  },


/*
  INIZIALIZZO LA CREAZIONE DELLA PRIMA RICHIESTA
*/
    register () {
      var url = '/api/registrazione'
      this.loading = true;
      this.error=false;
      this.result=false;

      var payload=this.registrazione;
      axios.post(url, payload)
      .then(res => {
         this.loading = false;
        if(res.data.success === true){
           this.result=true;
          }
        else {
          this.messaggio=res.data.message;
           this.error=true;
          }
        })
        .catch(err => {
          this.loading = false;
          this.error=true;
          if(err.response.data.errors.email[0]=='la email risulta già registrata.'){
            this.messaggio='Email già Registrata';
            this.recuperaEmail=true;
          }
          if(err.response.data.errors.password[0]=='validation.required'){
            this.messaggio='Password errata o mancante';
          }
          else{
            this.messaggio='Dati Mancanti';
          }

        })
    },
  },
    /*
    async register () {

      // Register the user.
      const { data } = await this.form.post('/api/register')

      // Must verify email fist.
      if (data.status) {
        this.mustVerifyEmail = true
      } else {
        // Log in the user.
        const { data: { token } } = await this.form.post('/api/login')

        // Save the token.
        this.$store.dispatch('auth/saveToken', { token })

        // Update the user.
        await this.$store.dispatch('auth/updateUser', { user: data })

        // Redirect home.
        this.$router.push({ name: 'home' })
      }
    }*/
  }

</script>
